Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Add support for RBS, Ruby type signature
  .github/workflows/test_ruby.yml
  protobuf.bzl
  ruby/lib/google/protobuf/ffi/message.rb
  src/file_lists.cmake
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
  src/google/protobuf/compiler/ruby/rbs_generator_unittest.cc
  src/google/protobuf/compiler/ruby/ruby_generated_code.proto
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

ruby codegen: support generation of rbs files
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
Owners: @protocolbuffers/protobuf-ruby

Move LazilyBuildDependenciesTest into its own .cc file and CMake test binary
  cmake/tests.cmake
  pkg/BUILD.bazel
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Auto-generate files after cl/752313710
  src/file_lists.cmake
Owners: none

Add `keep open` label to the janitor exceptions.
  .github/workflows/janitor.yml
Owners: none

hpb: push DeepCopy impl to backend::
  hpb/backend/cpp/cpp.h
  hpb/backend/upb/upb.h
  hpb/hpb.h
Owners: none

Add support for import option for protoc.
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Move LazilyBuildDependenciesTest into its own .cc file and CMake test binary
  cmake/tests.cmake
  pkg/BUILD.bazel
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Add support for import option for protoc.
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Move LazilyBuildDependenciesTest into its own .cc file and CMake test binary
  cmake/tests.cmake
  pkg/BUILD.bazel
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Check that layout optimizer places all split fields at the end.
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Fixed Python source wheel breakage caused by https://github.com/protocolbuffers/protobuf/pull/21423
  python/dist/setup.py
Owners: @protocolbuffers/protobuf-python

overflow checks in unknown field realloc
  upb/message/internal/message.c
  upb/message/message.c
Owners: none

C++: Fix readability-uppercase-literal-suffix clang-tidy warning (#21066)
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
Owners: @protocolbuffers/protobuf-java

Fix python upb crashes on map/repeated reference stub destructor
  python/google/protobuf/internal/message_test.py
  python/map.c
  python/map.h
  python/message.c
  python/repeated.c
  python/repeated.h
Owners: @protocolbuffers/protobuf-python

update platforms with musttail support
  src/google/protobuf/port_def.inc
Owners: none

feat: Reserve RepeatedFields when read packed elements
  src/google/protobuf/wire_format_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/inlined_string_field_unittest.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

hpb: make hpb::CreateMessage backend agnostic
  hpb/backend/cpp/cpp.h
  hpb/backend/upb/upb.h
  hpb/hpb.h
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

Regenerate src/file_lists.cmake
  src/file_lists.cmake
Owners: none

Internal change
  bazel/private/upb_proto_library_internal/aspect.bzl
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  bazel/upb_proto_library.bzl
  bazel/upb_proto_reflection_library.bzl
  hpb/bazel/hpb_proto_library.bzl
  upb/BUILD
Owners: none

Patch `rules_ruby` to apply `neverlink = True` to the `jars` rule (#21416)
  MODULE.bazel
  Neverlink_jruby_jars.patch
Owners: none

Patch `rules_ruby` to apply `neverlink = True` to the `jars` rule (#21416) (#21505)
  MODULE.bazel
  Neverlink_jruby_jars.patch
Owners: none

Update cmake staleness
  src/file_lists.cmake
Owners: none

Cherry pick import option for protoc (#21489)
  cmake/tests.cmake
  pkg/BUILD.bazel
  src/file_lists.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

hpb: remove stale friends in gen_messages
  hpb/hpb.h
  hpb_generator/gen_messages.cc
Owners: none

Use RAII instead of explicit delete.
  src/google/protobuf/text_format.cc
Owners: none

Fix upb tests to make some python source wheel tests for ubuntu presubmit blocking instead of continuous-only.
  .github/workflows/test_upb.yml
Owners: none

Internal change
  upb/wire/decode_fast/BUILD
Owners: none

Internal change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
