Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Fix name of a death test
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

[php][ext] Prevent Seg fault if constructor is not called (#21240)
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Fix readability-uppercase-literal-suffix clang-tidy warning in generated sources
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
Owners: none

Rewrite tests for proto_common.declare_generated_files
  bazel/tests/BUILD
  bazel/tests/proto_common_declare_generated_files_tests.bzl
Owners: none

Use canonical names for death tests in repeated_ptr_field_unittest.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Mark Py JSON float_precision deprecated.
  python/google/protobuf/json_format.py
Owners: @protocolbuffers/protobuf-python

Removed redundant final keyword from the static method generation of Java Enum (#20676)
  src/google/protobuf/compiler/java/full/enum.cc
Owners: @protocolbuffers/protobuf-java

Rewrite test for proto_common.compile override progress message
  bazel/tests/proto_common_compile_tests.bzl
Owners: none

Make Py JSON `float_precision` apply to both float and double fields.
  python/google/protobuf/json_format.py
Owners: @protocolbuffers/protobuf-python

Move map_test_util.inc logic into map_test_util.h as templates.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_lite_test_util.cc
  src/google/protobuf/map_lite_test_util.h
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test_util.h
  src/google/protobuf/map_test_util.inc
  src/google/protobuf/map_test_util_impl.h
  src/google/protobuf/util/BUILD.bazel
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Reduce cost of symbol lookup.
  src/google/protobuf/descriptor.cc
Owners: none

Auto-generate files after cl/747976758
  src/file_lists.cmake
Owners: none

hpb: stub support for multi-backend::Serialize
  hpb/backend/cpp/cpp.h
  hpb/backend/cpp/cpp_backend_test.cc
  hpb/hpb.h
Owners: none

hpb: obliterate .upb.proto.h in favor of .hpb.h - bye! 👋
  hpb/bazel/hpb_proto_library.bzl
  hpb_generator/gen_messages.cc
  hpb_generator/names.cc
  hpb_generator/names.h
  hpb_generator/protoc-gen-hpb.cc
  hpb_generator/tests/test_generated.cc
Owners: none

Simplified upb's TSAN annotations. The two sets of macros are replaced with a single set:
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Auto-generate files after cl/748053633
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Promote fields up hotness classes to fill in padding.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/unittest.proto
Owners: none

Automated rollback of commit 7ee262894d3e9cea730a35f4ff2e2dc75afe678f.
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

[php][ext] - Remove duplicate assertion
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Auto-generate files after cl/748073845
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add file for use in staleness tests of the Ruby FFI bindings
  ruby/tests/golden-ruby_ffi_bindings.txt
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Rewrite tests for proto_common.check_collocated
  bazel/tests/BUILD
  bazel/tests/proto_common_check_collocated_tests.bzl
  bazel/tests/testdata/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Internal change
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/nested.proto
Owners: none

Make protoc use upb_generator stage1
  BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
  upb_generator/bootstrap_compiler.bzl
  upb_generator/minitable/BUILD
Owners: none

hpb: remove most refs to upb_cc inside hpb_proto_library.bzl
  hpb/bazel/hpb_proto_library.bzl
Owners: none

Fix bootstrap nobzlmod failure
  upb_generator/bootstrap_compiler.bzl
Owners: none

Internal changes
  python/google/protobuf/internal/reflection_test.py
Owners: @protocolbuffers/protobuf-python

Add Clang nullability annotations to arena.h APIs
  src/google/protobuf/arena.cc
  src/google/protobuf/arena.h
  src/google/protobuf/arena_cleanup.h
Owners: none

Rustdoc edits for repeated
  rust/repeated.rs
Owners: none

Add @Nullable to legacy/testonly valueOf APIs
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
Owners: @protocolbuffers/protobuf-java

Fixed LTO-only linker error in upb linker arrays.
  upb/mini_table/extension_registry.c
  upb/port/def.inc
Owners: none

Auto-generate files after cl/748395156
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Implement WriteDelimitedTo(BufferWriter<byte> output)
  csharp/src/Google.Protobuf/MessageExtensions.cs
Owners: @protocolbuffers/protobuf-csharp

#PDProto analyze_profile_proto_main: Reduce noisiness of logging
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_main.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
