Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Auto-generate files after PR #20287
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Valdiate extension submessage types
  upb/mini_table/extension.h
  upb/mini_table/internal/extension.h
Owners: none

Ensure that 64 bit scalar fields are always 64 bit aligned on 32 bit platforms.
  upb/message/BUILD
  upb/message/test.cc
  upb/message/test.proto
  upb/mini_descriptor/decode.c
Owners: none

Auto-generate files after cl/729311667
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Change SerializeToCodedStream() to SerializeToString() in python proto_api. CodedOutputStream may have unused space in the underlying buffer with --config=asan
  python/google/protobuf/proto_api.cc
Owners: @protocolbuffers/protobuf-python

Improve performace of repeated packed fixedSize fields (#19667)
  csharp/src/Google.Protobuf/Collections/RepeatedField.cs
  csharp/src/Google.Protobuf/ParsingPrimitives.cs
Owners: @protocolbuffers/protobuf-csharp

Rewrite testJavaProtoInfoAspect to Starlark
  bazel/tests/BUILD
  bazel/tests/java_proto_library_tests.bzl
  bazel/tests/testdata/my_rule_with_aspect.bzl
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Internal change
  src/google/protobuf/service.h
Owners: none

Internal change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  upb/bazel/BUILD
Owners: none

Format Python Protobuf well-known types module and test module.
  python/google/protobuf/internal/well_known_types.py
  python/google/protobuf/internal/well_known_types_test.py
Owners: @protocolbuffers/protobuf-python

[ObjC] Retire GPBRuntimeMatchFailure()
  objectivec/GPBDescriptor.m
  objectivec/GPBUtilities.m
  objectivec/GPBUtilities_PackagePrivate.h
Owners: @protocolbuffers/protobuf-objc

Internal Change
  objectivec/GPBDescriptor.m
Owners: @protocolbuffers/protobuf-objc

Delete repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1 flag from .bazelrc since it is not needed and causing errors.
  .bazelrc
Owners: none

Minor cleanups to includes and address compiler warnings.
  src/google/protobuf/compiler/ruby/ruby_generator.cc
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

`upb_c_proto_library`: add support for clearing oneofs
  upb_generator/c/generator.cc
Owners: none

Ruby: Remove condition for unsupported JRuby (#20411)
  ruby/tests/basic.rb
  ruby/tests/common_tests.rb
Owners: @protocolbuffers/protobuf-ruby

Automated rollback of commit 729f444db2a668d9af9d78d77d8ae9737721e04f.
  bazel/common/proto_info.bzl
Owners: none

Internal change
  src/google/protobuf/text_format.cc
Owners: none

Internal Change.
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/field_chunk.cc
  src/google/protobuf/compiler/cpp/field_chunk.h
  src/google/protobuf/compiler/cpp/field_chunk_test.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
Owners: none

Auto-generate files after cl/729679665
  src/file_lists.cmake
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated rollback of commit 729f444db2a668d9af9d78d77d8ae9737721e04f.
  bazel/common/proto_info.bzl
Owners: none

Internal change
  third_party/utf8_range/BUILD.bazel
Owners: none

fix: contains check segfaults on empty map
  python/google/protobuf/internal/well_known_types_test.py
  python/message.c
Owners: @protocolbuffers/protobuf-python

Implement typing for proto Timestamp/Duration assignments.
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/timestamp_test.py
  src/google/protobuf/compiler/python/pyi_generator.cc
  src/google/protobuf/compiler/python/pyi_generator.h
Owners: @protocolbuffers/protobuf-python

[utf8_validity] Inline all functions
  third_party/utf8_range/BUILD.bazel
  third_party/utf8_range/CMakeLists.txt
  third_party/utf8_range/utf8_validity.cc
  third_party/utf8_range/utf8_validity.h
Owners: none

Fixes #18726 by backslash escaping descriptor data containing `#` if the hashmark appears immediately before any of `$`, `{`, or `@`.
  src/google/protobuf/compiler/ruby/ruby_generator.cc
Owners: @protocolbuffers/protobuf-ruby

Remove upb_Message_GetUnknown() from public API.
  upb/message/message.h
Owners: none

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Auto-generate files after cl/730456440
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Internal
  src/google/protobuf/text_format.cc
Owners: none

Internal change
  third_party/utf8_range/BUILD.bazel
Owners: none

Internal change
  editions/golden/compare_cpp_codegen_failure.xml
Owners: none

Automated rollback of commit 0c1f9788a8300d3b3bc723c6dd67557b11e67a8a.
  editions/golden/compare_cpp_codegen_failure.xml
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
