Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Fix warning C4141: 'inline': used more than once
  third_party/utf8_range/utf8_range.c
Owners: none

Remove reference to nonexistent `wrap_memcpy`
  ruby/google-protobuf.gemspec
  ruby/lib/google/tasks/ffi.rake
Owners: @protocolbuffers/protobuf-ruby

drop-deprecated-pkg-resources-declare
  python/google/__init__.py
Owners: @protocolbuffers/protobuf-python

Adding wrapper script around setup.py to fix setuptools
  python/dist/BUILD.bazel
  python/dist/setup_wrapper.sh
Owners: @protocolbuffers/protobuf-python

Remove reference to nonexistent `wrap_memcpy` (#22441)
  ruby/google-protobuf.gemspec
  ruby/lib/google/tasks/ffi.rake
Owners: @protocolbuffers/protobuf-ruby

Automated rollback of commit c256302461b4223ddec008d6ecb05fc0e3b7ce01.
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Fix benign error in calculation of cache prefetch amount in `Arena::CopyConstruct()`
  src/google/protobuf/arena.h
Owners: none

try hermetic python for 3.12 (#22296)
  MODULE.bazel
  WORKSPACE
  protobuf_deps.bzl
  python/build_targets.bzl
  python/dist/BUILD.bazel
  python/dist/dist.bzl
  python/internal.bzl
  python/py_extension.bzl
Owners: @protocolbuffers/protobuf-python

Internal Change.
  src/google/protobuf/generated_message_tctable_decl.h
Owners: none

Support the JSType FieldOption in Python's JSON format
  python/google/protobuf/internal/json_format_test.py
  python/google/protobuf/json_format.py
  src/google/protobuf/util/json_format_proto3.proto
Owners: @protocolbuffers/protobuf-python

Ignore files for doc
  ruby/.gitignore
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Ignore files for doc (#22449)
  ruby/.gitignore
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Propagate .pyi files via direct_pyi_files and transitive_pyi_files
  bazel/py_proto_library.bzl
Owners: none

Generate .pyi files in py_proto_library (#10366)
  bazel/py_proto_library.bzl
Owners: none

internal change
  .github/workflows/test_cpp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_rust.yml
Owners: none

Internal change
  .github/workflows/test_rust.yml
Owners: none

Generate .pyi files in py_proto_library (#10366) (#21567)
  bazel/py_proto_library.bzl
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
Owners: none

Internal change
  java/core/src/test/java/com/google/protobuf/DelegatingExtensionRegistryTest.java
Owners: @protocolbuffers/protobuf-java

Upgrade Clang on Windows test runs and work around MSVC error
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
  src/google/protobuf/descriptor.cc
Owners: none

Upgrade Clang on Windows test runs and work around MSVC error
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Upgrade to Bazel 7.6.1
  .github/workflows/test_cpp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Internal change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
Owners: none
