Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Use `if constexpr` instead of `absl::utility_internal::IfConstexprElseIfConstexprElse`
  src/google/protobuf/arena.h
Owners: none

Remove upb gencode from upb/cmake/
  regenerate_stale_files.sh
  upb/cmake/BUILD.bazel
  upb/cmake/google/protobuf/descriptor.upb.c
  upb/cmake/google/protobuf/descriptor.upb.h
  upb/cmake/google/protobuf/descriptor.upb_minitable.c
  upb/cmake/google/protobuf/descriptor.upb_minitable.h
Owners: none

Move upb minitable code generator into protoc
  .github/workflows/test_cpp.yml
  .github/workflows/test_upb.yml
  cmake/libprotoc.cmake
  pkg/BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/main.cc
  upb/bazel/build_defs.bzl
  upb_generator/bootstrap_compiler.bzl
  upb_generator/minitable/BUILD
  upb_generator/minitable/generator.cc
  upb_generator/minitable/generator.h
  upb_generator/minitable/main.cc
Owners: none

[ObjC] Add symbol to use for better generated code validation.
  objectivec/GPBBootstrap.h
  objectivec/GPBUtilities.m
Owners: @protocolbuffers/protobuf-objc

Auto-generate files after cl/728785507
  src/file_lists.cmake
Owners: none

Internal change.
  upb/mini_table/internal/extension.h
Owners: none

Fix a bug in handling of implicit-presence string_view fields.
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/tracker.cc
  src/google/protobuf/string_view_test.cc
  src/google/protobuf/unittest_string_view.proto
Owners: none

Fix a bug in handling of implicit-presence string_view fields. (#20403)
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/tracker.cc
  src/google/protobuf/string_view_test.cc
  src/google/protobuf/unittest_string_view.proto
Owners: none

Expose the `upb_ByteSize` function to upb clients. Note that the current naive implementation is no more efficient than serializing the message yourself and noting the resulting size.
  upb/BUILD
Owners: none

Fix a bug in handling of implicit-presence string_view fields.
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/tracker.cc
  src/google/protobuf/string_view_test.cc
  src/google/protobuf/unittest_string_view.proto
Owners: none

Internal change
  bazel/tests/BUILD
  bazel/tests/proto_lang_toolchain_tests.bzl
Owners: none

Introduce type alias for `std::vector<const FieldDescriptor*>`.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

upb: Add iterator functions on inttable to get ready as an internal data structure for upb_Map.
  upb/hash/common.c
  upb/hash/int_table.h
  upb/hash/test.cc
Owners: none

Auto-generate files after cl/728885909
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove condition for unsupported JRuby
  ruby/tests/basic.rb
  ruby/tests/common_tests.rb
Owners: @protocolbuffers/protobuf-ruby

protobuf: add //:go_features_proto Bazel alias
  BUILD.bazel
  go/BUILD.bazel
Owners: none

Run buildifier
  BUILD.bazel
  bazel/java_lite_proto_library.bzl
  bazel/java_proto_library.bzl
  bazel/private/toolchains/BUILD.bazel
  bazel/proto_library.bzl
  bazel/toolchains/proto_lang_toolchain.bzl
  compatibility/BUILD.bazel
  conformance/BUILD.bazel
  conformance/test_protos/BUILD.bazel
  editions/BUILD
  examples/BUILD.bazel
  java/internal/BUILD.bazel
  java/kotlin-lite/BUILD.bazel
  java/kotlin/BUILD.bazel
  java/lite/BUILD.bazel
  java/util/BUILD.bazel
  lua/BUILD.bazel
  protobuf.bzl
  python/BUILD.bazel
  ruby/lib/google/BUILD.bazel
  rust/BUILD
  rust/defs.bzl
  rust/test/cpp/interop/BUILD
  upb/bazel/BUILD
  upb/cmake/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change
  bazel/common/proto_info.bzl
Owners: none

[ObjC] Add new apis generated code interfaces for 40310.
  objectivec/GPBDescriptor.m
  objectivec/GPBDescriptor_PackagePrivate.h
Owners: @protocolbuffers/protobuf-objc

[ObjC] Add new File generated state support.
  objectivec/GPBDescriptor.m
  objectivec/GPBDescriptor_PackagePrivate.h
Owners: @protocolbuffers/protobuf-objc

[ObjC] Raise the library version and enable new generated code.
  objectivec/GPBBootstrap.h
  objectivec/GPBMessage.m
  src/google/protobuf/compiler/objectivec/enum.cc
  src/google/protobuf/compiler/objectivec/extension.cc
  src/google/protobuf/compiler/objectivec/field.cc
  src/google/protobuf/compiler/objectivec/file.cc
  src/google/protobuf/compiler/objectivec/map_field.cc
  src/google/protobuf/compiler/objectivec/message.cc
Owners: @protocolbuffers/protobuf-objc

Auto-generate files after cl/729120445
  objectivec/GPBAny.pbobjc.h
  objectivec/GPBAny.pbobjc.m
  objectivec/GPBApi.pbobjc.h
  objectivec/GPBApi.pbobjc.m
  objectivec/GPBDuration.pbobjc.h
  objectivec/GPBDuration.pbobjc.m
  objectivec/GPBEmpty.pbobjc.h
  objectivec/GPBEmpty.pbobjc.m
  objectivec/GPBFieldMask.pbobjc.h
  objectivec/GPBFieldMask.pbobjc.m
  objectivec/GPBSourceContext.pbobjc.h
  objectivec/GPBSourceContext.pbobjc.m
  objectivec/GPBStruct.pbobjc.h
  objectivec/GPBStruct.pbobjc.m
  objectivec/GPBTimestamp.pbobjc.h
  objectivec/GPBTimestamp.pbobjc.m
  objectivec/GPBType.pbobjc.h
  objectivec/GPBType.pbobjc.m
  objectivec/GPBWrappers.pbobjc.h
  objectivec/GPBWrappers.pbobjc.m
Owners: @protocolbuffers/protobuf-objc

[ObjC] Mark some internal apis for when they can be removed.
  objectivec/GPBUtilities.m
Owners: @protocolbuffers/protobuf-objc

Remove `absl::if_constexpr` from list of used Abseil targets
  cmake/abseil-cpp.cmake
Owners: none

improve duplicate fields checks
  python/google/protobuf/internal/json_format_test.py
  python/google/protobuf/json_format.py
Owners: @protocolbuffers/protobuf-python

protobuf: add //:go_features_proto Bazel alias
  BUILD.bazel
  go/BUILD.bazel
Owners: none

protobuf: add //:go_features_proto Bazel alias (#20419)
  BUILD.bazel
  go/BUILD.bazel
Owners: none

Expose the `upb_ByteSize` function to upb clients. Note that the current naive implementation is no more efficient than serializing the message yourself and noting the resulting size.
  upb/BUILD
Owners: none

[ObjC] Add a new test for generated file support
  objectivec/ProtocolBuffers_OSX.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_iOS.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_tvOS.xcodeproj/project.pbxproj
  objectivec/Tests/GPBMessage40310FormatTest.m
Owners: @protocolbuffers/protobuf-objc

Add API for linking Enum extensions.
  upb/mini_table/internal/extension.h
Owners: none

Update BCR presubmit maintainers.
  .bcr/metadata.template.json
Owners: none

Validate that subs are enums when linking an enum
  upb/mini_descriptor/link.c
Owners: none

Auto-generate files after cl/729222842
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Auto-generate files after cl/729227124
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Replace README templates with real README.md files
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf/README.md
  rust/release_crates/protobuf_codegen/BUILD
  rust/release_crates/protobuf_codegen/README.md
  rust/release_crates/protobuf_example/BUILD
  rust/release_crates/protobuf_example/README.md
  rust/release_crates/substitute_rust_release_version.bzl
  src/google/protobuf/compiler/rust/generator.cc
Owners: none

Remove protoc-gen-upb_minitable from CMake build and protobuf_codegen crate
  cmake/install.cmake
  cmake/installed_bin_golden.txt
  cmake/tests.cmake
  cmake/upb_generators.cmake
  pkg/BUILD.bazel
  rust/release_crates/BUILD
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf_codegen/src/lib.rs
  rust/release_crates/release.sh
Owners: none

Auto-generate files after cl/729244034
  src/file_lists.cmake
Owners: none

Filter out empty buffers when creating a CodedInputStream (#19890)
  java/core/src/main/java/com/google/protobuf/IterableByteBufferInputStream.java
  java/core/src/test/java/com/google/protobuf/IterableByteBufferInputStreamTest.java
Owners: @protocolbuffers/protobuf-java

Ruby: Allow to get a file descriptor by a file name (#20287)
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  ruby/lib/google/protobuf/ffi/descriptor_pool.rb
  ruby/lib/google/protobuf/ffi/file_descriptor.rb
  ruby/lib/google/protobuf/ffi/internal/pointer_helper.rb
  ruby/lib/google/protobuf_ffi.rb
  ruby/src/main/java/com/google/protobuf/jruby/RubyDescriptorPool.java
  ruby/tests/basic.rb
  upb/reflection/def_pool.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal pure python fixes
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python
