Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

accomodate lists of absolute paths
  src/google/protobuf/compiler/command_line_interface.cc
Owners: none

Add nodiscard to several Repeated Field APIs.
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

hpb: push strip_nonfunction_codegen to Context and remove fasttable_enabled
  hpb_generator/context.h
  hpb_generator/protoc-gen-hpb.cc
Owners: none

MicroString: Fix MapEntry generated classes to avoid a mismatch between the generated member and the flags used in TDP and reflection.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/edition_message_unittest.cc
Owners: none

Remove erroneous claim that JsonFormat only supports Proto3 on the JavaDoc of the JsonFormat entry point.
  java/util/src/main/java/com/google/protobuf/util/JsonFormat.java
Owners: @protocolbuffers/protobuf-java

hpb: introduce hpb(cpp) stubs in gencode
  hpb_generator/context.h
  hpb_generator/protoc-gen-hpb.cc
Owners: none

Fix unqualified use of std::string in generated code.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/test_bad_identifiers_proto2.proto
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/753626389
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Owners: none

Moved and split fasttable decoder into the `decode_fast` directory.
  upb/BUILD
  upb/bazel/amalgamate.py
  upb/generated_code_support.h
  upb/wire/BUILD
  upb/wire/decode_fast/BUILD
  upb/wire/decode_fast/cardinality.h
  upb/wire/decode_fast/dispatch.h
  upb/wire/decode_fast/field_fixed.c
  upb/wire/decode_fast/field_message.c
  upb/wire/decode_fast/field_parsers.h
  upb/wire/decode_fast/field_string.c
  upb/wire/decode_fast/field_varint.c
  upb/wire/decode_fast/select.cc
  upb/wire/decode_fast/select.h
  upb/wire/internal/decode_fast.c
  upb_generator/minitable/BUILD
  upb_generator/minitable/generator.cc
Owners: none

Auto-generate files after cl/753643607
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
  src/file_lists.cmake
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
  upb_generator/cmake/google/protobuf/compiler/plugin.upb_minitable.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  upb/mini_table/internal/field.h
Owners: none

Add explicit cast to char in _upb_MiniTableField_HasbitMask
  upb/mini_table/internal/field.h
Owners: none

Auto-generate files after cl/753667809
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal changes
  python/google/protobuf/descriptor_pool.py
Owners: @protocolbuffers/protobuf-python

upb: add support for size returning malloc
  python/protobuf.c
  ruby/ext/google/protobuf_c/protobuf.c
  upb/mem/alloc.c
  upb/mem/alloc.h
  upb/mem/arena.c
  upb/mem/arena_test.cc
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Auto-generate files after cl/753681000
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

MicroString: Use unowned inputs for default values in dynamic message and reflection.
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

hpb: skeleton impl for hpb(cpp) to plumb ::Serialize
  hpb_generator/context.h
  hpb_generator/protoc-gen-hpb.cc
Owners: none

Internal changes
  go/google/protobuf/go_features.proto
  upb/message/utf8_test.proto
Owners: none

hpb: elide hpb:: prefixes in interop.h
  hpb/backend/upb/interop.h
Owners: none

avoid preprocessor conditional in favor of ternary
  src/google/protobuf/compiler/command_line_interface.cc
Owners: none

Internal change
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Include also ARM build of protoc in nuget package
  csharp/Google.Protobuf.Tools.nuspec
  csharp/Google.Protobuf.Tools.targets
  csharp/build_tools.sh
Owners: @protocolbuffers/protobuf-csharp

Generate .pyi files in py_proto_library (#10366)
  bazel/py_proto_library.bzl
Owners: none

Fix field hooks for MicroString fields.
  src/google/protobuf/compiler/cpp/tracker.cc
Owners: none

Fix field hooks for MicroString fields.
  src/google/protobuf/compiler/cpp/tracker.cc
Owners: none

Fix unused parameter warnings (#21038)
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_util.h
  src/google/protobuf/inlined_string_field.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: @protocolbuffers/protobuf-java

Streamline creation of new elements in `RepeatedPtrField` (redux)
  rust/cpp_kernel/repeated.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Minor cleanup: omit Impl_ declaration when using the simple base class.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/descriptor.pb.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/754100850
  src/google/protobuf/empty.pb.h
Owners: none

Add a FieldMaskUtil#trim overload that accepts TrimOptions and allows retaining unset primitive field state.
  java/util/src/main/java/com/google/protobuf/util/FieldMaskUtil.java
  java/util/src/test/java/com/google/protobuf/util/FieldMaskUtilTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Internal change
  src/google/protobuf/port.h
Owners: none

Internal change
  src/google/protobuf/port.h
Owners: none
