Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal changes
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
Owners: @protocolbuffers/protobuf-java

Change pre-22 poison pill to only log once per affected message type.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Add missing hashset import.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix static set being declared in method instead of in class.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix messageType->messageName
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Make warnPre22 non-static so getClass() can be used, fixed type of the synchronized set.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

hpb: update internal tests upb::arena -> hpb::arena
  hpb/internal/message_lock_test.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_generated.cc
Owners: none

Make warnPre22 static again and pass class, so it can be called from GeneratedMessageV3
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java
Owners: @protocolbuffers/protobuf-java

Fix Class<T> -> Class<?>
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Add test case that clearly shows the logging per specific type.
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Correct qualified name of TestMessage1 inner class.
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Extract helpers for manipulating binary wireformat in conformance tests
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/binary_wireformat.cc
  conformance/binary_wireformat.h
  conformance/binary_wireformat_test.cc
Owners: none

Auto-generate files after cl/759264980
  src/file_lists.cmake
Owners: none

Fix tests
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Make test more accurate.
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Only maintain the set of logged types if we are logging not throwing.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix erroneous )
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix capitalization
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix breakage from refactor moving messageName
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix test
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Change pre-22 poison pill to only log once per affected message type. (#21754)
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Add `option_deps` to `proto_library` for `import option`.
  bazel/private/proto_info.bzl
  bazel/private/proto_library_rule.bzl
Owners: none

Add --option_dependencies flag to protoc
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface.h
  src/google/protobuf/compiler/command_line_interface_tester.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
Owners: none

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/test_zero_copy_stream_test.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  conformance/BUILD
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_probe_benchmark.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/preserve_unknown_enum_test.cc
  src/google/protobuf/proto3_arena_lite_unittest.cc
  src/google/protobuf/proto3_lite_unittest.cc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/retention_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none
