Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Fast path for non-aliased unknown fields.
  upb/mem/arena.h
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/message/internal/message.h
  upb/message/message.c
  upb/message/promote_test.cc
Owners: none

Auto-generate files after cl/734258255
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Switch `rules_ruby` to the supported version from `bazel-contrib` (#19808)
  Disable_bundle_install.patch
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  cmake/dependencies_generator.py
  conformance/BUILD.bazel
  conformance/conformance_ruby.rb
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/defs.bzl
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/google-protobuf.gemspec
  ruby/lib/google/BUILD.bazel
  ruby/src/main/java/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Use absl::Span<const T> instead of const std::vector<T>&.
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
Owners: none

Auto-generate files after PR #19808
  cmake/dependencies.cmake
Owners: none

Poison and unpoison on realloc
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/734278556
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated rollback of commit 5fc0e22b9f912c2aa94a34502887c3719e805834.
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Add ifdef guards to prevent tests from consistently failing ASAN and UBSAN.
  src/google/protobuf/no_field_presence_map_test.cc
Owners: none

Add ifdef guards to prevent tests from consistently failing ASAN and UBSAN.
  src/google/protobuf/no_field_presence_map_test.cc
Owners: none

Register Scalar/MessageMapContainerTypes as virtual subclasses of MutableMapping instead of inheriting directly in python cpp extension.
  python/google/protobuf/pyext/map_container.cc
Owners: @protocolbuffers/protobuf-python

Validate extension submessage types
  upb/mini_table/extension.h
  upb/mini_table/internal/extension.h
Owners: none

Validate extension submessage types
  upb/mini_table/extension.h
  upb/mini_table/internal/extension.h
Owners: none

Auto-generate files after cl/734307552
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Track cumulative size; this means we no longer strictly depend on using the diff between the current block and `end` to calculate the size of the current block. This will permit:
  upb/mem/arena.c
Owners: none

upb: Implement decoding of zero id fields
  upb/message/test.cc
  upb/wire/decode.c
  upb/wire/decode.h
Owners: none

Halve the size of `struct upb_table`; the extra members are computable in fewer cycles than separate load.
  upb/hash/common.c
  upb/hash/common.h
  upb/hash/int_table.h
  upb/hash/str_table.h
Owners: none

Auto-generate files after cl/734325926
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated rollback of commit ee294a8e298057c5dad5cd14a65c279bdc496d79.
  upb/hash/common.c
  upb/hash/common.h
  upb/hash/int_table.h
  upb/hash/str_table.h
Owners: none

Auto-generate files after cl/734341041
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove Java runtime classes from kotlin release.
  java/core/BUILD.bazel
  java/kotlin/BUILD.bazel
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

Remove Java runtime classes from kotlin release.
  java/core/BUILD.bazel
  java/kotlin/BUILD.bazel
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

Fix ruby release tests
  .github/workflows/test_ruby.yml
  ruby/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Avoid technical UB from NULL+0
  upb/mem/internal/arena.h
Owners: none

Avoid NULL + 0 UB
  upb/mem/internal/arena.h
Owners: none

Auto-generate files after cl/734413759
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Halve the size of `struct upb_table`; the extra members are computable in fewer cycles than separate load.
  upb/hash/common.c
  upb/hash/common.h
  upb/hash/int_table.h
  upb/hash/str_table.h
Owners: none

Auto-generate files after cl/734527181
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Don't deep copy strtable contents when resizing
  upb/hash/common.c
Owners: none

Auto-generate files after cl/734553082
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove Java runtime classes from kotlin release. (#20607)
  java/core/BUILD.bazel
  java/kotlin/BUILD.bazel
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

Save 64 bits for size of upb_tabent on 32 bit platforms by reducing struct padding
  upb/hash/common.h
Owners: none

Auto-generate files after cl/734591514
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add support in inttable to support upb_Map of primitive keys.
  editions/golden/test_messages_proto2_editions.proto
  src/google/protobuf/test_messages_proto2.proto
  upb/hash/common.c
  upb/hash/common.h
  upb/hash/test.cc
  upb/message/accessors.c
  upb/message/internal/map.h
  upb/message/internal/map_sorter.h
  upb/message/map_sorter.c
  upb/message/promote_test.cc
  upb/message/test.cc
  upb/text/BUILD
  upb/text/encode.c
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/734614535
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto2.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto2Editions.pb.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Actually enables using inttable for primitive keys and small values (size <= 4) in upb_Map.
  upb/message/map.c
Owners: none

Auto-generate files after cl/734625113
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

internal exp
  java/core/src/main/resources/google/protobuf/java_features.proto
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java

Internal changes
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.h
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_main.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
