Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  .github/workflows/test_rust.yml
Owners: none

Upgrade GHA test runs to Bazel 8
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Fail early for messages with more than 65k fields.
  python/google/protobuf/internal/proto_builder_test.py
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-python

Improve Java gencode static initialization to avoid unnecessary temporaries
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/helpers.cc
Owners: @protocolbuffers/protobuf-java

Strip extensions from option imports that are known in CollectExtensions due to polluted pool from protoc parse when used with protoc full + java built in generator.
  java/core/BUILD.bazel
  java/core/src/test/java/com/google/protobuf/ImportOptionTest.java
  python/build_targets.bzl
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/generator_unittest.cc
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Auto-generate files after cl/794764601
  src/file_lists.cmake
Owners: none

Cleanup unused kRawString enum.
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Add conformance tests for utf8 validation.
  conformance/binary_json_conformance_suite.cc
  conformance/binary_json_conformance_suite.h
  conformance/failure_list_cpp.txt
  conformance/failure_list_csharp.txt
  conformance/failure_list_java.txt
  conformance/failure_list_java_lite.txt
  conformance/failure_list_jruby.txt
  conformance/failure_list_objc.txt
  conformance/failure_list_python.txt
  conformance/failure_list_rust_cc.txt
  conformance/failure_list_rust_upb.txt
  conformance/test_protos/test_messages_edition2023.proto
  editions/golden/test_messages_proto2_editions.proto
  src/google/protobuf/test_messages_proto2.proto
Owners: none

Refactor cmake/README.md to be workflow-oriented.
  cmake/README.md
Owners: none

Add generated message reflection unittest for `import option` and `option_deps` test proto in edition 2024.
  bazel/tests/protobuf_test_proto_library.bzl
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/unittest_custom_options_unlinked.proto
  src/google/protobuf/unittest_import_option.proto
Owners: none

Migrates some Java test protos using java_features.proto to edition 2024
  bazel/tests/protobuf_test_proto_library.bzl
  java/core/BUILD.bazel
  java/core/src/test/proto/com/google/protobuf/large_open_enum.proto
  java/core/src/test/proto/com/google/protobuf/test_check_utf8.proto
Owners: @protocolbuffers/protobuf-java

Manually migrate top-level protobuf unittest protos from edition 2023 to edition 2024.
  cmake/tests.cmake
  csharp/generate_protos.sh
  java/core/BUILD.bazel
  python/build_targets.bzl
  python/google/protobuf/internal/descriptor_test.py
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/edition_unittest.proto
  src/google/protobuf/internal_options.proto
  src/google/protobuf/late_loaded_option.proto
  src/google/protobuf/late_loaded_option_user.proto
  src/google/protobuf/map_proto3_unittest.proto
  src/google/protobuf/only_one_enum_test.proto
  src/google/protobuf/sample_messages_edition.proto
  src/google/protobuf/unittest_arena.proto
  src/google/protobuf/unittest_delimited.proto
  src/google/protobuf/unittest_delimited_import.proto
  src/google/protobuf/unittest_drop_unknown_fields.proto
  src/google/protobuf/unittest_lazy_dependencies.proto
  src/google/protobuf/unittest_lazy_dependencies_custom_option.proto
  src/google/protobuf/unittest_lazy_dependencies_enum.proto
  src/google/protobuf/unittest_legacy_features.proto
  src/google/protobuf/unittest_no_field_presence.proto
  src/google/protobuf/unittest_preserve_unknown_enum.proto
  src/google/protobuf/unittest_preserve_unknown_enum2.proto
  src/google/protobuf/unittest_redaction.proto
  src/google/protobuf/unittest_string_type.proto
  src/google/protobuf/unittest_string_view.proto
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Strip extensions from option imports that are known in CollectExtensions due to polluted pool from protoc parse when used with protoc full + java built in generator.
  java/core/BUILD.bazel
  java/core/src/test/java/com/google/protobuf/ImportOptionTest.java
  python/build_targets.bzl
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/generator_unittest.cc
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

update staleness
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestLegacyFeatures.pb.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-csharp

Fix a typo in ruby ffi backend (#22740)
  ruby/lib/google/protobuf/ffi/message.rb
Owners: @protocolbuffers/protobuf-ruby

Add another typescript protobuf plugin
  docs/third_party.md
Owners: @protocolbuffers/protobuf-docs

Fix `DynamicMessage.Builder.setField` to clear repeated fields when appropriate
  java/core/src/main/java/com/google/protobuf/DynamicMessage.java
  java/core/src/test/java/com/google/protobuf/DynamicMessageTest.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
  java/core/src/test/java/com/google/protobuf/TestUtil.java
Owners: @protocolbuffers/protobuf-java

Short-circuit IsDescendent if none of the descendents are of the right type.
  src/google/protobuf/generated_message_reflection.cc
Owners: none

Updating version.json and repo version numbers to: 32.0
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

this is not important
  hpb_generator/BUILD
  hpb_generator/gen_enums.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/text_format.cc
  src/google/protobuf/util/message_differencer.cc
  upb_generator/c/BUILD
  upb_generator/c/generator.cc
Owners: none

Fixed mypy errors by setting `__slots__` to empty in `.pyi` files.
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Remove protobuf-util usages of guava except annotations.
  java/util/src/main/java/com/google/protobuf/util/Durations.java
  java/util/src/main/java/com/google/protobuf/util/FieldMaskTree.java
  java/util/src/main/java/com/google/protobuf/util/FieldMaskUtil.java
  java/util/src/main/java/com/google/protobuf/util/JsonFormat.java
  java/util/src/main/java/com/google/protobuf/util/Timestamps.java
Owners: @protocolbuffers/protobuf-java

Remove vestigal protected in generated code.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/795132742
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Owners: none

Add software prefetchers to GrowNoAnnotate to improve performance.
  src/google/protobuf/repeated_field.h
Owners: none

pbtk: add dev_dependency for local_runtime_repo and local_runtime_toolchains_repo
  MODULE.bazel
Owners: none

Fix inaccurate JSON parsing error offset (#22749)
  src/google/protobuf/json/BUILD.bazel
  src/google/protobuf/json/internal/lexer.h
  src/google/protobuf/json/internal/lexer_test.cc
Owners: none

Break dependency on python/dist from python/BUILD.bazel (#22633)
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

Add construction support for datetime/timedelta in repeated Timestamp/Duration
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/internal/well_known_types_test.proto
  python/google/protobuf/pyext/message.cc
  python/message.c
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/arena.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/serial_arena.h
  src/google/protobuf/thread_safe_arena.h
Owners: none

Use ACLE __crc32cd intrinsic on Arm
  src/google/protobuf/port.h
Owners: none

Reduce the amount of upb internals exposed to Rust gencode
  rust/internal.rs
  rust/string.rs
  rust/upb/lib.rs
Owners: none

Include more tests in `protobuf_tests` crate
  rust/release_crates/protobuf_tests/BUILD
  rust/release_crates/protobuf_tests/Cargo-template.toml
  rust/release_crates/protobuf_tests/build.rs
  rust/release_crates/protobuf_tests/tests/protos/mod.rs
  rust/test/BUILD
  rust/test/shared/BUILD
  rust/test/shared/accessors_map_test.rs
  rust/test/shared/accessors_proto3_test.rs
  rust/test/shared/accessors_repeated_test.rs
  rust/test/shared/accessors_test.rs
  rust/test/shared/bad_names_test.rs
  rust/test/shared/child_parent_test.rs
  rust/test/shared/ctype_cord_test.rs
  rust/test/shared/edition2023_test.rs
  rust/test/shared/enum_test.rs
  rust/test/shared/fields_with_imported_types_test.rs
  rust/test/shared/import_public_test.rs
  rust/test/shared/message_copy_merge_test.rs
  rust/test/shared/nested_types_test.rs
  rust/test/shared/package_test.rs
  rust/test/shared/serialization_test.rs
  rust/test/shared/simple_nested_test.rs
Owners: none

Fix a few Rust warnings
  rust/release_crates/protobuf/build.rs
  rust/test/shared/ctype_cord_test.rs
  rust/upb/mini_table.rs
  rust/upb/sys/text/text.rs
  src/google/protobuf/compiler/rust/generator.cc
Owners: none

Add Generated annotation to generated Kotlin code
  src/google/protobuf/compiler/kotlin/file.cc
Owners: none

Enable hint hasbits for repeated fields.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/port.h
Owners: none

Use const cast for default instance.
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
Owners: none

Auto-generate files after cl/795565621
  src/google/protobuf/struct.pb.h
Owners: none

Convert list to string for COMMENT argument (#22316)
  cmake/protobuf-generate.cmake
Owners: none

Remove all usages of std::is_trivial. (#22763)
  src/google/protobuf/arena.h
  src/google/protobuf/arenastring.h
  src/google/protobuf/map.h
  src/google/protobuf/repeated_field.h
Owners: none
