Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

give hpb_generator tests visibility into `//hpb/backend/upb:interop`
  hpb/backend/upb/BUILD
Owners: none

Refactor descriptors to avoid duplicate fields
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Refactor field descriptors by using a single field for the resolved `type_name` reference
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Move the implementation of `ProxiedInRepeated` fully into the upb runtime
  rust/upb.rs
  src/google/protobuf/compiler/rust/enum.cc
Owners: none

internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_accessors.h
  hpb_generator/gen_enums.cc
  hpb_generator/gen_enums.h
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_messages.cc
  hpb_generator/gen_messages.h
Owners: none

give hpb_generator visibility into `//upb:fasttable_enabled_setting`
  upb/BUILD
Owners: none

Introduce a new bootstrapped proto for sending option dependencies to plugins in a side-channel.
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/option_dependencies.pb.cc
  src/google/protobuf/compiler/option_dependencies.pb.h
  src/google/protobuf/compiler/option_dependencies.proto
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/plugin.proto
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.proto
  upb_generator/stage0/google/protobuf/compiler/plugin.upb.c
Owners: none

Add C++ language feature handling to 2024 transform.
  editions/codegen_tests/edition2023_ctype.proto
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
  editions/codegen_tests/edition2023_naming_style.proto
  editions/codegen_tests/edition2023_string_type.proto
  editions/codegen_tests/edition2023_string_type_view_default.proto
  editions/codegen_tests/edition2023_symbol_visibility.proto
  editions/codegen_tests/edition2023_symbol_visibility_use.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-java

Add global feature handling for 2024 transform
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
  editions/codegen_tests/edition2023_naming_style.proto
  editions/codegen_tests/edition2023_symbol_visibility.proto
  editions/codegen_tests/edition2023_symbol_visibility_use.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-java

Add Go language features (API level) to 2024 transform
  editions/codegen_tests/edition2023_ctype.proto
  editions/codegen_tests/edition2023_go_api_flag.proto
  editions/codegen_tests/edition2023_go_api_flag_nested.proto
  editions/codegen_tests/edition2023_go_api_level.proto
  editions/codegen_tests/edition2023_go_google3_go_api_default.proto
  editions/codegen_tests/edition2023_go_oss_go_api_default.proto
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
  editions/codegen_tests/edition2023_naming_style.proto
  editions/codegen_tests/edition2023_string_type.proto
  editions/codegen_tests/edition2023_string_type_view_default.proto
  editions/codegen_tests/edition2023_symbol_visibility.proto
  editions/codegen_tests/edition2023_symbol_visibility_use.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-java

fix `IsOkAndHolds` in `extension_test.cc` to point to the one in `absl/status/status_matchers.h`
  hpb_generator/tests/BUILD
  hpb_generator/tests/extension_test.cc
Owners: none

Internal changes
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
Owners: @protocolbuffers/protobuf-java

Internal changes
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor.cc
Owners: none

make `ExtensionNotFound` function signature from defintion in `hpb/status.cc` conform to its signature from declaration in `hpb/status.h`
  hpb/status.cc
Owners: none

add missing `field_mask` upb proto targets to `src/google/protobuf/BUILD.bazel`
  src/google/protobuf/BUILD.bazel
Owners: none

internal change
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/java/helpers.cc
Owners: @protocolbuffers/protobuf-java

hpb/oss: fix linker error - ExtensionNotFoundError takes in uint32_t, not int!
  hpb/status.cc
Owners: none

Refactor `RuntimeAssertInBounds` to remove repeated logic and make `Get`/`Mutable` easier to read.
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

after we are sure n is greater than zero, it is safe to cast to unsigned
  upb/io/string.h
Owners: none

Make message Muts `Send`
  rust/test/shared/BUILD
  rust/test/shared/threading_test.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/importer.h
  src/google/protobuf/compiler/importer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/text_format.h
  src/google/protobuf/text_format_unittest.cc
Owners: none

Internal change
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/arena.cc
  src/google/protobuf/arenastring.cc
  src/google/protobuf/arenaz_sampler_test.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/reflection_ops.cc
  src/google/protobuf/reflection_visit_field_info.h
Owners: none

pbtk: upgrade rules_python to 1.6.0
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

remove unused import in `rust/cpp.rs
  rust/cpp.rs
Owners: none

Add `isPlaceholder()` accessors to file, message, and enum descriptors
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/DescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/803009438
  cmake/dependencies.cmake
Owners: none

Suppress some SelfAssertion warnings on a couple tests.
  java/core/src/test/java/com/google/protobuf/MapForProto2LiteTest.java
  java/core/src/test/java/com/google/protobuf/MapLiteTest.java
Owners: @protocolbuffers/protobuf-java

Migrate `proto_descriptor_set`.
  bazel/BUILD.bazel
  bazel/proto_descriptor_set.bzl
  bazel/tests/BUILD
  bazel/tests/proto_descriptor_set_test.cc
  tools/file_concat/BUILD.bazel
  tools/file_concat/main.cc
Owners: none

Optimize redaction state calculation
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Fix janitor yaml config
  .github/workflows/janitor.yml
Owners: none

fix(php): phpstan errors on repeated field
  php/src/Google/Protobuf/Internal/RepeatedField.php
Owners: @protocolbuffers/protobuf-php

Optimize gencode `<clinit>` by reducing string copies when parsing `FileDescriptorProto`
  java/core/src/main/java/com/google/protobuf/CodedInputStream.java
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/Strings.java
Owners: @protocolbuffers/protobuf-java

pbtk: mirror rules_python local toolchain deltas from MODULE.bazel to WORKSPACE
  MODULE.bazel
  WORKSPACE
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

fix: remove provide from composer.json
  php/composer.json
  php/composer.json.dist
  php/tests/ComposerJsonTest.php
Owners: @protocolbuffers/protobuf-php

Cut guava dep from the Java Protobuf-Util package.
  java/util/BUILD.bazel
  java/util/src/main/java/com/google/protobuf/util/Durations.java
  java/util/src/main/java/com/google/protobuf/util/Timestamps.java
Owners: @protocolbuffers/protobuf-java

internal change
  hpb/internal/BUILD
  hpb/internal/message_lock_test.cc
Owners: none

Move as much as possible of mini table generation into the runtime
  rust/upb.rs
  rust/upb/associated_mini_table.rs
  rust/upb/lib.rs
  src/google/protobuf/compiler/rust/enum.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none
