Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Set up Rust crates as members of a Cargo workspace
  rust/BUILD
  rust/release_crates/BUILD
  rust/release_crates/Cargo.toml
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf_codegen/BUILD
  rust/release_crates/protobuf_example/BUILD
  rust/release_crates/protobuf_macros/BUILD
  rust/release_crates/protobuf_well_known_types/BUILD.bazel
Owners: none

Add Windows test run exercising the Cargo build
  .github/workflows/test_rust.yml
  rust/release_crates/cargo_test.sh
Owners: none

internal change
  hpb_generator/keywords.h
Owners: none

migrate unittest_features.proto with java features
  cmake/tests.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/unittest_features.proto
Owners: none

pbtk: introduce python_version.bzl - fetch python version from toolchain
  python/dist/python_version.bzl
Owners: @protocolbuffers/protobuf-python

internal change
  hpb_generator/context.h
Owners: none

Moved `assumeLiteRuntime` to Android.java, which avoids pulling in `MessageSchema`.
  java/core/src/main/java/com/google/protobuf/Android.java
  java/core/src/main/java/com/google/protobuf/ExtensionRegistryFactory.java
  java/core/src/main/java/com/google/protobuf/ExtensionRegistryLite.java
  java/core/src/main/java/com/google/protobuf/ExtensionSchemas.java
  java/core/src/main/java/com/google/protobuf/ListFieldSchemas.java
  java/core/src/main/java/com/google/protobuf/ManifestSchemaFactory.java
  java/core/src/main/java/com/google/protobuf/MapFieldSchemas.java
  java/core/src/main/java/com/google/protobuf/NewInstanceSchemas.java
  java/core/src/main/java/com/google/protobuf/Protobuf.java
  java/core/src/main/java/com/google/protobuf/SchemaUtil.java
Owners: @protocolbuffers/protobuf-java

avoid using deprecated `@bazel_tools//src/conditions:host_windows`
  python/build_targets.bzl
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

Fix compilation with NVCC + Clang
  src/google/protobuf/stubs/port.h
Owners: none

avoid using deprecated `@bazel_tools//src/conditions:host_windows` (#23119)
  python/build_targets.bzl
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/plugin.cc
  src/google/protobuf/compiler/zip_writer.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  objectivec/GPBExtensionInternals.h
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  objectivec/GPBExtensionInternals.h
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  objectivec/GPBExtensionInternals.h
Owners: @protocolbuffers/protobuf-objc

hpb: implement bare bones of hpb::Status and hpb::StatusOr, which we will be using as our api return types going forward.
  hpb/BUILD
  hpb/status.h
Owners: none

pbtk: update py headers to use rules_python
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

avoid using deprecated `@bazel_tools//src/conditions:host_windows` (#23119) (#23122)
  python/build_targets.bzl
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

avoid using deprecated `@bazel_tools//src/conditions:host_windows` (#23119)
  python/build_targets.bzl
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

pbtk: update upb to use rules_python for py_cc_headers
  python/py_extension.bzl
Owners: @protocolbuffers/protobuf-python

pbtk: update rules_python to 1.5.3
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Delete the declarative `proto!` macro and fully switch over to the proc version
  rust/BUILD
  rust/proto_macro.rs
  rust/protobuf_macros/BUILD
  rust/protobuf_macros/proto_proc_macro_impl.rs
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf_macros/BUILD
  rust/shared.rs
Owners: none

Add new protobuf_tests crate
  rust/release_crates/BUILD
  rust/release_crates/Cargo.toml
  rust/release_crates/protobuf_codegen/src/lib.rs
  rust/release_crates/protobuf_tests/BUILD
  rust/release_crates/protobuf_tests/Cargo-template.toml
  rust/release_crates/protobuf_tests/build.rs
  rust/release_crates/protobuf_tests/tests/protos/mod.rs
  rust/test/BUILD
  rust/test/shared/BUILD
  rust/test/shared/proto_macro_test.rs
  src/google/protobuf/compiler/rust/naming.cc
Owners: none

Fixed buffer overflow on 32-bit systems.
  php/ext/google/protobuf/convert.c
Owners: @protocolbuffers/protobuf-php

Add arena ownership APIs
  hpb/arena.h
  hpb/backend/upb/extension.cc
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_generated.cc
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena.hpp
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
Owners: none

Automated Code Change
  src/google/protobuf/text_format.h
  src/google/protobuf/text_format_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/type_resolver.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.cc
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/primitive_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/importer.h
  src/google/protobuf/compiler/importer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Automated Code Change
  bazel/private/upb_proto_library_internal/aspect.bzl
  bazel/private/upb_proto_library_internal/cc_library_func.bzl
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  bazel/upb_proto_reflection_library.bzl
  build_defs/cc_proto_blacklist_test.bzl
  build_defs/compiler_config_setting.bzl
  hpb/bazel/hpb_proto_library.bzl
  pkg/cc_dist_library.bzl
  rust/bazel/aspects.bzl
  toolchain/cc_toolchain_config.bzl
Owners: none

hpb/oss: rm UPB_DEFAULT_CPPOPTS from hpb_generator
  hpb_generator/BUILD
Owners: none

pbtk: add local py runtime to WORKSPACE
  WORKSPACE
Owners: none

hpb/oss: expand namespace in gen_utils and names
  hpb_generator/gen_utils.cc
  hpb_generator/gen_utils.h
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none
