Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Implement `#to_hash` for message classes
  ruby/lib/google/protobuf/message_exts.rb
  ruby/tests/basic.rb
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  upb/bazel/BUILD
Owners: none

Automated Code Change
  upb/reflection/BUILD
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Update rake-compiler and rake-compiler-dock (#20779)
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Add debug checks on reflection accessors.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message.h
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Add get_mut method to Repeated messages
  rust/repeated.rs
  rust/test/shared/accessors_repeated_test.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Update Rust crate README.md files to recommend downloading protoc from GitHub release page
  rust/release_crates/protobuf/README.md
  rust/release_crates/protobuf_codegen/README.md
  rust/release_crates/protobuf_example/README.md
Owners: none

Remove dead code.
  src/google/protobuf/map_type_handler.h
  src/google/protobuf/wire_format.cc
  src/google/protobuf/wire_format.h
  src/google/protobuf/wire_format_lite.cc
  src/google/protobuf/wire_format_lite.h
Owners: none

Add nontemporal software prefetcher to repeated ptr field dtor to improve performance.
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Remove the Rust publish_release.sh script since we are no longer using it
  rust/release_crates/BUILD
  rust/release_crates/publish_release.sh
Owners: none

Renaming/reordering/IWYU in repeated_ptr_field_unittest.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Internal Change.
  src/google/protobuf/repeated_field.h
Owners: none

Change & enforce element factory signature in `RepeatedPtrField::AddInternal`
  rust/cpp_kernel/repeated.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/AbstractMessage.java
  java/core/src/main/java/com/google/protobuf/TextFormat.java
  java/core/src/test/java/com/google/protobuf/CallerLogTextFormatTest.java
Owners: @protocolbuffers/protobuf-java

Introduce descriptor change for edition 2024 proto message/enum visibility.
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.h
Owners: none

Auto-generate files after cl/741268124
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Reflection/Descriptor.pb.cs
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  php/src/GPBMetadata/Google/Protobuf/Internal/Descriptor.php
  php/src/Google/Protobuf/Internal/DescriptorProto.php
  php/src/Google/Protobuf/Internal/EnumDescriptorProto.php
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Deprecate the MessageSet schema and discourage its use for new fields.
  src/google/protobuf/bridge/message_set.proto
Owners: none

Deprecate Descriptor Label. As an alternative, add helper methods for checking whether a field is required or repeated. This is for PHP and Ruby.
  php/ext/google/protobuf/def.c
  php/src/Google/Protobuf/FieldDescriptor.php
  php/src/Google/Protobuf/Internal/FieldDescriptor.php
  php/src/Google/Protobuf/Internal/Message.php
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/message.c
  ruby/lib/google/protobuf/ffi/field_descriptor.rb
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove our vendored copy of lunit
  lua/BUILD.bazel
  lua/main.c
  lua/test_upb.lua
  third_party/lunit/BUILD.bazel
  third_party/lunit/LICENSE
  third_party/lunit/README.google
  third_party/lunit/console.lua
  third_party/lunit/lunit.lua
  upb/BUILD
Owners: none

Add Python deprecation warnings for Descriptor Label. Also, minimize calls to Label within Protobuf.
  python/google/protobuf/descriptor.py
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/internal/extension_dict.py
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/reflection_test.py
  python/google/protobuf/internal/unknown_fields_test.py
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Cache-friendly `RepeatedPtrField`: Plumb allocation traits to `InternalExtend`
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

DO NOT SUBMIT: Remove this section when diffbase is submitted.
  src/google/protobuf/compiler/objectivec/enum.cc
  src/google/protobuf/compiler/objectivec/extension.cc
Owners: @protocolbuffers/protobuf-objc

Fix segment fault for UPB Pyhon 'in' method of empty repeated extensions
  python/extension_dict.c
  python/google/protobuf/internal/reflection_test.py
Owners: @protocolbuffers/protobuf-python

Minor fixes to support certain toolchains.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Remove unused code
  src/google/protobuf/any.cc
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any_lite.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/arena.cc
  src/google/protobuf/arena_align.cc
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/arenaz_sampler.cc
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser_traits.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
  src/google/protobuf/message.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Objc code generator: Annotate missing enum and extension symbols.
  src/google/protobuf/compiler/objectivec/enum.cc
  src/google/protobuf/compiler/objectivec/extension.cc
Owners: @protocolbuffers/protobuf-objc

Cleanup endian-ness handling.
  cmake/installed_include_golden.txt
  conformance/BUILD.bazel
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_cpp.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/endian.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/coded_stream.cc
  src/google/protobuf/io/coded_stream.h
  src/google/protobuf/parse_context.h
  src/google/protobuf/port.h
  src/google/protobuf/wire_format_lite.cc
  src/google/protobuf/wire_format_lite.h
Owners: none

Improve MemoizeProjection by allowing any kind of descriptor.
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/text_format.cc
Owners: none

Automated rollback of commit 177036a37e83a2bcb732e817b94b5fabb1b07713.
  src/google/protobuf/bridge/message_set.proto
Owners: none

Cache-friendly `RepeatedPtrField`: Plumb allocation traits to `InternalExtend`
  rust/cpp_kernel/repeated.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Introduce a `Generated` annotation to eventually replace `javax.annotation.Generated`
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/Generated.java
  src/google/protobuf/compiler/java/helpers.cc
Owners: @protocolbuffers/protobuf-java

Remove Lua dependency from WORKSPACE.bzlmod and get it from BCR instead
  MODULE.bazel
  WORKSPACE.bzlmod
  lua/BUILD.bazel
  lua/upb.c
Owners: none

Allow parsing textprotos with unknown types in 'any' fields
  src/google/protobuf/text_format.cc
Owners: none

Auto-generate files after cl/741575531
  cmake/dependencies.cmake
Owners: none

Implement Protobuf Java Immutable API `nest_in_file_class` feature for Edition 2024.
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/generator.h
  src/google/protobuf/compiler/java/generator_unittest.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java
