Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal Change.
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
Owners: none

Remove cc_library hack for Bazel 6 workaround
  pkg/BUILD.bazel
  upb_generator/c/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: none

Drop Ruby 3.0
  .github/workflows/test_ruby.yml
  ruby/Gemfile.lock
  ruby/Rakefile
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Add Java concurrent descriptors tests
  java/core/BUILD.bazel
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Inline store the array if it's a single element
  upb/hash/common.c
  upb/hash/int_table.h
  upb/text/encode.c
  upb/wire/encode.c
Owners: none

Improve the `Set` overload set.
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Allow parsing textprotos with unknown types in 'any' fields
  src/google/protobuf/text_format.cc
Owners: none

Refactor type family layout optimization to message_layout_helper.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
Owners: none

Fix incorrect location of port_undef.inc include.
  src/google/protobuf/micro_string.h
Owners: none

Introduce the descriptor changes for edition 2024 proto message/enum visibility.
  editions/generated_files_test.cc
  src/google/protobuf/compiler/code_generator_unittest.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/cpp_edition_defaults.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/feature_resolver.cc
  src/google/protobuf/feature_resolver_test.cc
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.h
Owners: none

Restore custom protobuf maven namespaces to avoid polluting main maven namespace for non-dev dependencies as well.
  MODULE.bazel
  WORKSPACE
  examples/WORKSPACE
  java/core/BUILD.bazel
  java/internal/BUILD.bazel
  java/kotlin-lite/BUILD.bazel
  java/kotlin/BUILD.bazel
  java/lite/BUILD.bazel
  java/osgi/BUILD.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Internal change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Rewrite testJavaProto2CompilerArgs to Starlark
  MODULE.bazel
  WORKSPACE
  bazel/tests/java_proto_library_tests.bzl
Owners: none

Auto-generate files after cl/738381506
  cmake/dependencies.cmake
Owners: none

Change how we decide which empty string implementation to use. (#20708)
  src/google/protobuf/port.cc
  src/google/protobuf/port.h
Owners: none

Clean up upb/hash stuff since we aren't constrained by C89isms in 2025.
  upb/hash/common.c
  upb/hash/common.h
  upb/message/internal/map_sorter.h
  upb/message/map_sorter.c
Owners: none

Auto-generate files after cl/738418824
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Optimize field search during parsing, specifically for the case where we encounter unknown fields and extensions - this no longer does a full scan of the minitable for each encountered field.
  upb/wire/decode.c
Owners: none

Auto-generate files after cl/738440135
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Rust: rename well-known types crate target to `:protobuf_well_known_types_crate`.
  rust/release_crates/BUILD
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf_well_known_types/BUILD.bazel
Owners: none

Add some missing operations used by the codegen.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Restore generator headers in cmake install until the next breaking C++ release
  cmake/installed_include_golden.txt
  pkg/BUILD.bazel
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/csharp/BUILD.bazel
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/kotlin/BUILD.bazel
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/ruby/BUILD.bazel
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Restore generator headers in cmake install until the next breaking C++ release
  cmake/installed_include_golden.txt
  pkg/BUILD.bazel
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/csharp/BUILD.bazel
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/kotlin/BUILD.bazel
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/ruby/BUILD.bazel
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Regenerate stale files
  csharp/src/Google.Protobuf.Test/testprotos.pb
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-csharp

Auto-generate files after cl/738463411
  src/file_lists.cmake
Owners: none

Fix Java concurrency issue in feature resolution for old <=3.25.x gencode using lazy feature resolution.
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Fix Java concurrency issue in feature resolution for old <=3.25.x gencode using lazy feature resolution.
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Fix Java concurrency issue in feature resolution for old <=3.25.x gencode using lazy feature resolution.
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Restore generator headers in cmake install until the next breaking C++ release
  cmake/installed_include_golden.txt
  pkg/BUILD.bazel
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/csharp/BUILD.bazel
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/kotlin/BUILD.bazel
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/ruby/BUILD.bazel
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Improve handling of protobuf temporary directory.
  src/google/protobuf/testing/googletest.cc
Owners: none

Fix Java concurrency issue in feature resolution for old <=3.25.x gencode using lazy feature resolution. (#20751)
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Fix proto2_unittest -> protobuf_unittest for unit_test.proto package name
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Fix Java concurrency issue in feature resolution for old <=3.25.x gencode using lazy feature resolution. (#20750)
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Define Google::Protobuf::VERSION constant
  ruby/google-protobuf.gemspec
  ruby/lib/google/protobuf/version.rb
Owners: @protocolbuffers/protobuf-ruby

Add support for a full debug build as well as an optional symbols file in non-debug builds
  ruby/ext/google/protobuf_c/extconf.rb
Owners: @protocolbuffers/protobuf-ruby

Restore custom protobuf maven namespaces to avoid polluting main maven namespace for non-dev dependencies as well. (#20739)
  MODULE.bazel
  WORKSPACE
  examples/WORKSPACE
  java/core/BUILD.bazel
  java/internal/BUILD.bazel
  java/kotlin-lite/BUILD.bazel
  java/kotlin/BUILD.bazel
  java/lite/BUILD.bazel
  java/osgi/BUILD.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
