Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Restore JDK8 compatibility in Bazel for libraries with dependencies from Maven (e.g. //java/util)
  .github/workflows/test_java.yml
  MODULE.bazel
Owners: none

Remove dllexport attribute on variable definition.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Sanity check testing pure python only with bzlmod since this shouldn't use system_python outside of //python/dist/...
  .github/workflows/test_python.yml
Owners: none

[ObjC] Introduce a new generated file format.
  objectivec/GPBBootstrap.h
  objectivec/GPBDescriptor.m
  objectivec/GPBMessage.m
  objectivec/GPBUtilities.m
Owners: @protocolbuffers/protobuf-objc

Hold a pointer to the message descriptor in MessageLayoutHelper.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

reserve new extensions for aep.dev
  docs/options.md
Owners: @protocolbuffers/protobuf-docs

Replace `ABSL_ATTRIBUTE_UNUSED` with `[[maybe_unused]]`
  src/google/protobuf/repeated_field.h
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Restore JDK8 compatibility in Bazel for libraries with dependencies from Maven (e.g. //java/util) (#20832)
  .github/workflows/test_java.yml
  MODULE.bazel
Owners: none

hpb: make ExtensionNumber inside ExtensionIdentifier accessible in a constexpr context
  hpb/extension.h
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_extensions.h
  hpb_generator/gen_messages.cc
  hpb_generator/protoc-gen-hpb.cc
  hpb_generator/tests/extension_test.cc
Owners: none

staleness update
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Fix lite classes in the protobuf-java Maven release to be JDK8 compatible.
  java/core/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Fix lite classes in the protobuf-java Maven release to be JDK8 compatible.
  java/core/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Remove dllexport attribute on variable definition. (#20833)
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: @protocolbuffers/protobuf-java

Fix lite classes in the protobuf-java Maven release to be JDK8 compatible. (#20843)
  java/core/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

[ObjC] Move the runtime support check to a helper.
  objectivec/GPBDescriptor.m
Owners: @protocolbuffers/protobuf-objc

[ObjC] Move generation to the new format without `GPBFieldOptional`.
  objectivec/GPBBootstrap.h
  src/google/protobuf/compiler/objectivec/field.cc
  src/google/protobuf/compiler/objectivec/file.cc
Owners: @protocolbuffers/protobuf-objc

Updating version.json and repo version numbers to: 30.2
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Auto-generate files after cl/740773590
  objectivec/GPBAny.pbobjc.h
  objectivec/GPBAny.pbobjc.m
  objectivec/GPBApi.pbobjc.h
  objectivec/GPBApi.pbobjc.m
  objectivec/GPBDuration.pbobjc.h
  objectivec/GPBDuration.pbobjc.m
  objectivec/GPBEmpty.pbobjc.h
  objectivec/GPBEmpty.pbobjc.m
  objectivec/GPBFieldMask.pbobjc.h
  objectivec/GPBFieldMask.pbobjc.m
  objectivec/GPBSourceContext.pbobjc.h
  objectivec/GPBSourceContext.pbobjc.m
  objectivec/GPBStruct.pbobjc.h
  objectivec/GPBStruct.pbobjc.m
  objectivec/GPBTimestamp.pbobjc.h
  objectivec/GPBTimestamp.pbobjc.m
  objectivec/GPBType.pbobjc.h
  objectivec/GPBType.pbobjc.m
  objectivec/GPBWrappers.pbobjc.h
  objectivec/GPBWrappers.pbobjc.m
Owners: @protocolbuffers/protobuf-objc

Rust: update protoc version checking to tolerate trailing newline
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Update hpb generator to include full containing-type prefix for enums
  hpb_generator/gen_enums.cc
  hpb_generator/tests/test_enum.proto
  hpb_generator/tests/test_generated.cc
Owners: none

[ObjC] Add a new compile test for the new generated code format.
  objectivec/ProtocolBuffers_OSX.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_iOS.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_tvOS.xcodeproj/project.pbxproj
  objectivec/Tests/GPBMessage40311FormatTest.m
Owners: @protocolbuffers/protobuf-objc

Improve submessage parsing on map nodes.
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Improve bound checking in next available field calculation.
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
Owners: none

[ObjC] Add a test for unknown runtime markers.
  objectivec/ProtocolBuffers_OSX.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_iOS.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_tvOS.xcodeproj/project.pbxproj
  objectivec/Tests/GPBMessageBadVersionFormatTest.m
Owners: @protocolbuffers/protobuf-objc

Re-enable aarch64 tests.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Re-enable aarch64 tests.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

[ObjC] Add a C Preprocessor Check for removing some code in the future
  objectivec/GPBDescriptor.m
Owners: @protocolbuffers/protobuf-objc

Remove dllexport attribute on variable definition.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/740888753
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Fix bazel image in php
  .github/workflows/test_php.yml
Owners: none

Re-enable aarch64 tests.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Improve the ABI of the enum range validator for the table-driven parser.
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: @protocolbuffers/protobuf-java

Add on-demand construction of enum validation data for dynamic messages.
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Re-enable aarch64 tests. (#20854)
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Re-enable aarch64 tests. (#20853)
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Internal change.
  src/google/protobuf/compiler/cpp/options.h
Owners: none

Make Rust crates add a `-release` suffix for all non-RC versions
  rust/release_crates/substitute_rust_release_version.bzl
  src/google/protobuf/compiler/rust/generator.cc
Owners: none

Add standalone protoc plugin binaries
  CMakeLists.txt
  cmake/install.cmake
  cmake/protoc-gen-cpp.cmake
  cmake/protoc-gen-csharp.cmake
  cmake/protoc-gen-java.cmake
  cmake/protoc-gen-kotlin.cmake
  cmake/protoc-gen-objectivec.cmake
  cmake/protoc-gen-php.cmake
  cmake/protoc-gen-pyi.cmake
  cmake/protoc-gen-python.cmake
  cmake/protoc-gen-ruby.cmake
  cmake/protoc-gen-rust.cmake
  cmake/protoc-plugins.cmake
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/csharp/BUILD.bazel
  src/google/protobuf/compiler/csharp/main.cc
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/java/main.cc
  src/google/protobuf/compiler/kotlin/BUILD.bazel
  src/google/protobuf/compiler/kotlin/main.cc
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/objectivec/main.cc
  src/google/protobuf/compiler/php/BUILD.bazel
  src/google/protobuf/compiler/php/main.cc
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/main.cc
  src/google/protobuf/compiler/python/pyi_main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/main.cc
  src/google/protobuf/compiler/rust/BUILD.bazel
  src/google/protobuf/compiler/rust/main.cc
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Keep unimportant fields when possible when compressing the fast-parse table.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none
