Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  src/google/protobuf/generated_enum_util.cc
  src/google/protobuf/generated_message_bases.h
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Internal change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/text_format.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Internal change
  src/google/protobuf/arena_align.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/test_zero_copy_stream_test.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
Owners: none

Automated Code Change
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/test_util.h
  src/google/protobuf/test_util_lite.cc
  src/google/protobuf/unknown_field_set.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/drop_unknown_fields_test.cc
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/feature_resolver.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/inlined_string_field_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_lite_test_util.cc
  src/google/protobuf/map_probe_benchmark.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/preserve_unknown_enum_test.cc
  src/google/protobuf/proto3_arena_lite_unittest.cc
  src/google/protobuf/proto3_lite_unittest.cc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/retention_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
Owners: none

Update test_runner.yml
  .github/workflows/test_runner.yml
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
Owners: none

Add standalone protoc plugin binaries (#13308)
  CMakeLists.txt
  cmake/install.cmake
  cmake/installed_bin_golden.txt
  cmake/protoc-gen-cpp.cmake
  cmake/protoc-gen-csharp.cmake
  cmake/protoc-gen-java.cmake
  cmake/protoc-gen-kotlin.cmake
  cmake/protoc-gen-objectivec.cmake
  cmake/protoc-gen-php.cmake
  cmake/protoc-gen-pyi.cmake
  cmake/protoc-gen-python.cmake
  cmake/protoc-gen-ruby.cmake
  cmake/protoc-gen-rust.cmake
  cmake/protoc-plugins.cmake
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/csharp/BUILD.bazel
  src/google/protobuf/compiler/csharp/main.cc
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/java/main.cc
  src/google/protobuf/compiler/kotlin/BUILD.bazel
  src/google/protobuf/compiler/kotlin/main.cc
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/objectivec/main.cc
  src/google/protobuf/compiler/php/BUILD.bazel
  src/google/protobuf/compiler/php/main.cc
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/main.cc
  src/google/protobuf/compiler/python/pyi_main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/main.cc
  src/google/protobuf/compiler/rust/BUILD.bazel
  src/google/protobuf/compiler/rust/main.cc
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/io/coded_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php
