Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Change 'getLabel is deprecated' to E_USER_DEPRECATED
  php/ext/google/protobuf/def.c
Owners: @protocolbuffers/protobuf-php

Silence unused parens warning on proto_macro_test
  rust/test/shared/proto_macro_test.rs
Owners: none

Move extension identifier definitions to the header when possible.
  src/google/protobuf/compiler/cpp/extension.cc
  src/google/protobuf/compiler/cpp/extension.h
  src/google/protobuf/extension_set_unittest.cc
Owners: none

Unpoison memory before writing to it in SetInChunks.
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Remove fast-path check for non-clang compilers in MessageCreator. (#21612)
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: none

fix test
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
Owners: none

Fix typos (#21634)
  src/google/protobuf/compiler/cpp/helpers.cc
  upb/bazel/build_defs.bzl
Owners: none

Clean up ForkPipeRunner API
  conformance/BUILD
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/fork_pipe_runner.cc
  conformance/fork_pipe_runner.h
  conformance/test_runner.h
Owners: none

Enable C++17 on all platforms
  CMakeLists.txt
  cmake/libprotobuf-lite.cmake
  cmake/libprotobuf.cmake
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
Owners: none

Fixed a few edge cases around depth limits in encode, decode, and compare.
  upb/message/internal/compare_unknown.c
  upb/message/internal/compare_unknown_test.cc
  upb/message/promote.c
  upb/wire/decode.c
  upb/wire/decode.h
  upb/wire/encode.c
  upb/wire/encode.h
Owners: none

Auto-generate files after cl/760911128
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Change from_message_mut to take a RawMessage instead of a *mut upb_Message
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Fix edge case for MicroRep allocation.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

fix(php): use count instead of ->count() to avoid bug in c-extension
  php/tests/GeneratedClassTest.php
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Internal pure python fixes
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
Owners: @protocolbuffers/protobuf-python

Add recursion depth limits to pure python
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/message_test.py
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
Owners: none

Manually add recursion unit tests
  python/build_targets.bzl
  python/google/protobuf/internal/decoder_test.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Add helpers for length delimited sub-messages and packed wire format
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/binary_wireformat.cc
  conformance/binary_wireformat.h
  conformance/binary_wireformat_test.cc
Owners: none

Automated rollback of commit 97f6eb8aacf3f18f3de626141ed0bfc86f6bbc46.
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/generator_unittest.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java

Introduce a new test manager class for handling conformance results.
  conformance/BUILD
  conformance/test_manager.cc
  conformance/test_manager.h
  conformance/test_manager_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
Owners: none

Required a minimum of C++17 in CMake project (#21803)
  CMakeLists.txt
  cmake/libprotobuf-lite.cmake
  cmake/libprotobuf.cmake
Owners: none

Internal pure python fixes
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Add recursion depth limits to pure python
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/decoder_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Add recursion depth limits to pure python
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/decoder_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/util/message_differencer.cc
Owners: none
