Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

pbtk: rm ignore_root_user_error = True since this is now the default
  MODULE.bazel
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/unknown_field_set.h
  src/google/protobuf/wire_format.cc
Owners: none

Internal Change
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/message_lite_test.cc
Owners: none

Automated rollback of commit c256302461b4223ddec008d6ecb05fc0e3b7ce01.
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Automated rollback of commit c256302461b4223ddec008d6ecb05fc0e3b7ce01.
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Automated rollback of commit c256302461b4223ddec008d6ecb05fc0e3b7ce01.
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/copy_unittest.cc
  src/google/protobuf/compiler/cpp/enum.cc
Owners: none

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  hpb_generator/BUILD
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Internal change
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Internal change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  hpb/repeated_field_iterator_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Conversions from possibly-null char* to string_view.
  src/google/protobuf/arenastring.h
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Protobuf Rust: remove `c_include_paths` from `Dependency` struct
  rust/release_crates/protobuf_codegen/src/lib.rs
  rust/release_crates/protobuf_well_known_types/src/lib.rs
Owners: none

Use `DescriptorDatabase` overridden virtual methods to use `StringViewArg` alias.
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

pbtk: add `defaults` to dependencies_generator
  cmake/dependencies_generator.py
Owners: none
