Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Auto-generate files after cl/803702133
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

Add Java immutable nest_in_file_class handling to 2024 transform.
  editions/codegen_tests/edition2023_ctype.proto
  editions/codegen_tests/edition2023_go_api_flag.proto
  editions/codegen_tests/edition2023_go_api_flag_nested.proto
  editions/codegen_tests/edition2023_go_api_level.proto
  editions/codegen_tests/edition2023_go_google3_go_api_default.proto
  editions/codegen_tests/edition2023_go_oss_go_api_default.proto
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
  editions/codegen_tests/edition2023_java_dual_multiple_files.proto
  editions/codegen_tests/edition2023_java_multiple_files.proto
  editions/codegen_tests/edition2023_java_mutable_multiple_files.proto
  editions/codegen_tests/edition2023_java_no_multiple_files.proto
  editions/codegen_tests/edition2023_java_outer_classname.proto
  editions/codegen_tests/edition2023_java_outer_classname_future.proto
  editions/codegen_tests/edition2023_java_proto1_multiple_files.proto
  editions/codegen_tests/edition2023_java_proto1_no_multiple_files.proto
  editions/codegen_tests/edition2023_java_proto1_outer_classname_future.proto
  editions/codegen_tests/edition2023_naming_style.proto
  editions/codegen_tests/edition2023_string_type.proto
  editions/codegen_tests/edition2023_string_type_view_default.proto
  editions/codegen_tests/edition2023_symbol_visibility.proto
  editions/codegen_tests/edition2023_symbol_visibility_use.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-java

Add Java (mutable) language feature handling to 2024 transform.
  editions/codegen_tests/edition2023_ctype.proto
  editions/codegen_tests/edition2023_go_api_flag.proto
  editions/codegen_tests/edition2023_go_api_flag_nested.proto
  editions/codegen_tests/edition2023_go_api_level.proto
  editions/codegen_tests/edition2023_go_google3_go_api_default.proto
  editions/codegen_tests/edition2023_go_oss_go_api_default.proto
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
  editions/codegen_tests/edition2023_java_dual_multiple_files.proto
  editions/codegen_tests/edition2023_java_multiple_files.proto
  editions/codegen_tests/edition2023_java_mutable_multiple_files.proto
  editions/codegen_tests/edition2023_java_no_multiple_files.proto
  editions/codegen_tests/edition2023_java_outer_classname.proto
  editions/codegen_tests/edition2023_java_outer_classname_future.proto
  editions/codegen_tests/edition2023_java_proto1_multiple_files.proto
  editions/codegen_tests/edition2023_java_proto1_no_multiple_files.proto
  editions/codegen_tests/edition2023_java_proto1_outer_classname_future.proto
  editions/codegen_tests/edition2023_naming_style.proto
  editions/codegen_tests/edition2023_string_type.proto
  editions/codegen_tests/edition2023_string_type_view_default.proto
  editions/codegen_tests/edition2023_symbol_visibility.proto
  editions/codegen_tests/edition2023_symbol_visibility_use.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-java

Migrate callers of the RepeatedPtrField(Arena*) constructor to `ArenaSafeUniquePtr`.
  src/google/protobuf/arena_unittest.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_macros/BUILD
Owners: none

Internal change
  rust/release_crates/protobuf/BUILD
Owners: none

Update bazel/BUILD.bazel
  bazel/BUILD.bazel
Owners: none

Automated rollback of changelist 803156408.
  hpb/BUILD
  hpb/bazel/hpb_proto_library.bzl
  hpb/internal/BUILD
  hpb/internal/os_macros_restore.inc
  hpb/internal/os_macros_undef.inc
  hpb_generator/generator.cc
  hpb_generator/tests/naming_conflict.proto
  src/google/protobuf/os_macros_restore.inc
  src/google/protobuf/os_macros_undef.inc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Internal change
  src/google/protobuf/compiler/java/generator.cc
  src/google/protobuf/compiler/java/options.h
Owners: @protocolbuffers/protobuf-java

hpb/oss: add missing dep: status matchers for extension_test
  hpb_generator/tests/BUILD
Owners: none

hpb/oss: add missing dep: status matchers for extension_test
  hpb_generator/tests/BUILD
Owners: none

Factored out logic for undefing/restoring OS macros so it can be reused by hpb.
  cmake/installed_include_golden.txt
  hpb/BUILD
  hpb/bazel/hpb_proto_library.bzl
  hpb/internal/BUILD
  hpb/internal/os_macros_restore.inc
  hpb/internal/os_macros_undef.inc
  hpb_generator/generator.cc
  hpb_generator/tests/naming_conflict.proto
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/os_macros_restore.inc
  src/google/protobuf/os_macros_undef.inc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Factored out logic for undefing/restoring OS macros so it can be reused by hpb.
  cmake/installed_include_golden.txt
  hpb/BUILD
  hpb/bazel/hpb_proto_library.bzl
  hpb/internal/BUILD
  hpb/internal/os_macros_restore.inc
  hpb/internal/os_macros_undef.inc
  hpb_generator/generator.cc
  hpb_generator/tests/naming_conflict.proto
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/os_macros_restore.inc
  src/google/protobuf/os_macros_undef.inc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Auto-generate files after cl/804513731
  src/file_lists.cmake
Owners: none

Add construction support for repeated Timestamp/Duration/Struct/ListValue.
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/internal/well_known_types_test.proto
  python/google/protobuf/internal/well_known_types_test.py
  python/google/protobuf/pyext/message.cc
  python/message.c
Owners: @protocolbuffers/protobuf-python

hpb/oss: correct IsOkayAndHolds using for oss
  hpb_generator/tests/extension_test.cc
Owners: none

Refactor GenerateFastFieldEntries in protoc to use io::Printer and Emit.
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Internal Change.
  src/google/protobuf/port.h
Owners: none

Internal Change.
  src/google/protobuf/port.h
Owners: none

Auto-generate files after cl/804575738
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Internal changes
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
Owners: none

Disable symbol visibility enforcement by default in C++ runtime
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Use `RawMiniTable` instead of raw pointers to `upb_MiniTable`
  rust/upb.rs
  rust/upb/associated_mini_table.rs
  rust/upb/lib.rs
  rust/upb/sys/message/message.rs
  rust/upb/sys/mini_table/mini_table.rs
  rust/upb/sys/text/text.rs
  rust/upb/sys/wire/wire.rs
  src/google/protobuf/compiler/rust/enum.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Add global feature handling for 2024 transform
  editions/codegen_tests/edition2023_naming_style.proto
  editions/codegen_tests/edition2023_symbol_visibility.proto
  editions/codegen_tests/edition2023_symbol_visibility_use.proto
Owners: none

Add upb_MiniTableExtension_ToField().
  upb/mini_table/extension.h
  upb/mini_table/internal/extension.h
Owners: none

Auto-generate files after cl/804636350
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Refactor `RuntimeAssertInBounds` to remove repeated logic and make `Get`/`Mutable` easier to read.
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_macros/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/UnknownFieldSet.java
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
