Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/php/php_generator.h
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_enum.h
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.h
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/java/full/message_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.h
  src/google/protobuf/compiler/java/lite/field_generator.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/python/generator.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/java/lite/enum.h
  src/google/protobuf/compiler/java/lite/field_generator.h
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/plugin.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/zero_copy_sink_test.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/plugin.cc
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/zero_copy_sink_test.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer.cc
Owners: none

Improve DynamicMessage tests to exercise more types.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/dynamic_message_unittest.cc
Owners: none

Internal change
  bazel/private/cc_proto_support.bzl
Owners: none

Change upb_Array_GetMutable() to return a upb_Message* directly.
  rust/upb/array.rs
  src/google/protobuf/compiler/rust/message.cc
  upb/message/accessors_test.cc
  upb/message/array.c
  upb/message/array.h
Owners: none

Auto-generate files after cl/742287802
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add basic bzlmod support to 25.x branch
  MODULE.bazel
  examples/MODULE.bazel
  non_module_deps.bzl
  protobuf.bzl
Owners: @protocolbuffers/protobuf-docs

Make python text_format able to skip unknown fields for repeated messages
  python/google/protobuf/internal/text_format_test.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Update rules_apple to 3.16.0
  MODULE.bazel
  protobuf_deps.bzl
Owners: none

Auto-generate files after cl/742307927
  cmake/dependencies.cmake
Owners: none

Removed unused descriptor rules.
  upb/reflection/BUILD
Owners: none

Introduce `FastParseTableBuilder` class template.
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/fast_parse_table_builder.cc
  src/google/protobuf/fast_parse_table_builder.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/test_util2.cc
  src/google/protobuf/test_util2.h
  src/google/protobuf/unittest.proto
Owners: none

Add upb_Map_GetMutable API to upb
  rust/upb/lib.rs
  rust/upb/map.rs
  upb/message/map.c
  upb/message/map.h
Owners: none

Auto-generate files after cl/742338581
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

hpb: delegate the internals of hpb::Serialize to upb.h
  hpb/backend/upb/upb.h
  hpb/hpb.h
Owners: none

Add get_mut method for Maps with messages
  rust/cpp.rs
  rust/map.rs
  rust/test/shared/accessors_map_test.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Refactor out logic related to fast parse field eligibility.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

Make `rules_rust` a dev dependency in `MODULE.bazel` for now
  MODULE.bazel
Owners: none

Generate a better human readable error when names are too long.
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Include google/protobuf/compiler/plugin.proto
  ruby/Rakefile
Owners: @protocolbuffers/protobuf-ruby

Fix typo in `TextFormat.shortDebugString(MessageOrBuilder)` deprecation instructions.
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Fix template function issues from helpers.h/cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
Owners: @protocolbuffers/protobuf-java

hpb: update genned .upb.proto.cc -> .hpb.cc
  hpb/bazel/hpb_proto_library.bzl
  hpb_generator/names.cc
  hpb_generator/protoc-gen-hpb.cc
Owners: none

bazelisk build //ruby:release works on macOS now
  ruby/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Make gem installable as a git source in a Gemfile
  ruby/Rakefile
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/java/lite/enum.h
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.h
  src/google/protobuf/compiler/java/lite/message.h
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.h
  src/google/protobuf/compiler/java/lite/primitive_field.h
  src/google/protobuf/compiler/java/lite/string_field.h
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/php/php_generator.h
Owners: @protocolbuffers/protobuf-php

Internal change
  hpb_generator/gen_accessors.h
  hpb_generator/gen_enums.h
  hpb_generator/gen_extensions.h
  hpb_generator/gen_messages.h
  hpb_generator/gen_repeated_fields.h
  hpb_generator/gen_utils.h
  hpb_generator/keywords.h
  hpb_generator/names.h
Owners: none

Automated Code Change
  hpb/internal/message_lock.h
  hpb/internal/template_help.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/crate_mapping.h
Owners: none
