Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Automated Code Change
  java/core/src/test/java/com/google/protobuf/MapForProto2Test.java
  java/core/src/test/java/com/google/protobuf/MapTest.java
Owners: @protocolbuffers/protobuf-java

Reset counters on the static fields before testing
  csharp/src/Google.Protobuf.Test/Reflection/DescriptorsTest.cs
  csharp/src/Google.Protobuf/Reflection/FileDescriptor.cs
Owners: @protocolbuffers/protobuf-csharp

Added proto files explicitely for deep dependencies tests
  csharp/generate_protos.sh
Owners: @protocolbuffers/protobuf-csharp

Update our CMake config to specify that we require C++17 or higher
  cmake/protobuf-configure-target.cmake
Owners: none

Automated rollback of commit d311374b14a87bba9c8bea6e04b972462d387743.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Make C++ always serialize tag-delimited messages
  conformance/binary_json_conformance_suite.cc
  conformance/test_protos/test_messages_edition2023.proto
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/wire_format.cc
Owners: none

Migrate repeated numeric fields to use bit field to track presence instead of using it to indicate the field mutability to potentially skip work on the field during build operations.
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/message_builder.cc
Owners: @protocolbuffers/protobuf-java

Automated rollback of commit 46e602c9149e79919ee958d763c792f666640bc4.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

upb: Support UINT64_MAX in the array part of inttable, so that we can remove the constraint that inttable table can only be used for 32-bit values for primitive keys in upb_Map.
  upb/hash/common.c
  upb/hash/int_table.h
  upb/hash/test.cc
  upb/message/map.c
  upb/port/def.inc
  upb/text/encode.c
  upb/wire/encode.c
Owners: none

fix grammar
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

fix clang codegen
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  upb/bazel/BUILD
Owners: none

use valuebarrier instead
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

Change how we decide which empty string implementation to use.
  src/google/protobuf/port.cc
  src/google/protobuf/port.h
Owners: none

Inline fast path for aliased unknown fields
  upb/message/internal/message.h
  upb/message/message.c
Owners: none

Auto-generate files after cl/737610577
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Change how we decide which empty string implementation to use.
  src/google/protobuf/port.cc
  src/google/protobuf/port.h
Owners: none

Add license file to gem files in gemspec
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

MicroString field representation for VIEW.
  cmake/installed_include_golden.txt
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Auto-generate files after cl/737637911
  src/file_lists.cmake
Owners: none

Cleanup warning for GeneratedMessage
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Cover the test case of receiving a zero-length message on the wire.
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Internal Change.
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Make RepeatedFieldBuilder use ProtobufArrayList internally instead of tracking mutability with a separate boolean.
  java/core/src/main/java/com/google/protobuf/RepeatedFieldBuilder.java
Owners: @protocolbuffers/protobuf-java

upb: Support UINT64_MAX in the array part of inttable, so that we can remove the constraint that inttable table can only be used for 32-bit values for primitive keys in upb_Map.
  upb/hash/common.c
  upb/hash/int_table.h
  upb/hash/test.cc
  upb/message/map.c
  upb/port/def.inc
  upb/reflection/enum_def.c
  upb/reflection/enum_value_def.c
  upb/reflection/field_def.c
  upb/reflection/message_def.c
  upb/reflection/oneof_def.c
  upb/reflection/service_def.c
  upb/text/encode.c
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/737811835
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add LICENSE file to gem files in gemspec
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Migrate repeated enum fields to use bit field to track presence instead of using it to indicate the field mutability to potentially skip work on the field during build operations.
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/message_builder.cc
Owners: @protocolbuffers/protobuf-java

Internal Change.
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
Owners: none

Overflow checks for attempting to insert massive strings into strtable
  upb/hash/common.c
Owners: none

Restore custom protobuf maven namespaces to avoid polluting main maven namespace for non-dev dependencies as well.
  MODULE.bazel
  WORKSPACE
  examples/WORKSPACE
  java/core/BUILD.bazel
  java/internal/BUILD.bazel
  java/kotlin-lite/BUILD.bazel
  java/kotlin/BUILD.bazel
  java/lite/BUILD.bazel
  java/osgi/BUILD.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

Auto-generate files after cl/738079034
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix aliasing Set calls.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Check upb reflection allocations for size_t overflow
  upb/reflection/BUILD
  upb/reflection/enum_def.c
  upb/reflection/enum_reserved_range.c
  upb/reflection/enum_value_def.c
  upb/reflection/extension_range.c
  upb/reflection/field_def.c
  upb/reflection/file_def.c
  upb/reflection/internal/def_builder.h
  upb/reflection/message_def.c
  upb/reflection/message_reserved_range.c
  upb/reflection/method_def.c
  upb/reflection/oneof_def.c
  upb/reflection/service_def.c
Owners: none

Auto-generate files after cl/738111974
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby
