Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  hpb_generator/BUILD
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/copy_unittest.cc
  src/google/protobuf/compiler/cpp/enum.cc
Owners: none

Internal change
  hpb/repeated_field_iterator_test.cc
Owners: none

Internal change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.cc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

btr: update rules_python to 1.4.1 for access to local python installs for toolchains
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Internal
  src/google/protobuf/compiler/java/full/message.cc
Owners: @protocolbuffers/protobuf-java

Upgrade Clang on Windows test runs and work around MSVC error (#22467)
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Upgrade Clang on Windows test runs and work around MSVC error (#22468)
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
  src/google/protobuf/descriptor.cc
Owners: none

Add Kotlin class name helpers to names.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/compiler/java/names.cc
  src/google/protobuf/compiler/java/names.h
Owners: @protocolbuffers/protobuf-java

Internal change
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Remove cord.h include from any.h
  src/google/protobuf/any.h
Owners: none

Fix warning C4141: 'inline': used more than once
  src/google/protobuf/port_def.inc
  third_party/utf8_range/utf8_range.c
Owners: none

Fix utf8_range
  third_party/utf8_range/utf8_range_neon.inc
  third_party/utf8_range/utf8_range_sse.inc
Owners: none

Make public 'TextFormat::Printer::SetRedactDebugString'
  src/google/protobuf/text_format.h
Owners: none

Internal change
  src/google/protobuf/generated_enum_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Changing setuptools path lookup failure to warning as this is expected to fail on Windows and fallback to the default python path
  python/dist/setup_wrapper.sh
Owners: @protocolbuffers/protobuf-python

Fix 'warning C4910: __declspec(dllexport) and extern are incompatible on an explicit instantiation'
  src/google/protobuf/map_field.h
Owners: none

Fix 'warning C4091: ignored on left of XXX when no variable is declared '
  src/google/protobuf/text_format.h
Owners: none

Add return values
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/compiler/objectivec/helpers.h
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_macros/BUILD
Owners: none

fix: drop usage of `pkg_resources`
  python/google/__init__.py
Owners: @protocolbuffers/protobuf-python

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
