Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Rust: small fixes to protobuf_well_known_types crate
  rust/release_crates/protobuf_well_known_types/BUILD.bazel
  rust/release_crates/protobuf_well_known_types/src/lib.rs
Owners: none

Change upb C generated map iteration function to not hand out MapEntry pointers.
  upb/message/copy_test.cc
  upb/test/test_generated_code.cc
  upb_generator/c/generator.cc
Owners: none

Add tests for older gcc versions we still support
  .github/workflows/test_cpp.yml
  .github/workflows/test_upb.yml
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map.h
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Add notices.h with information about our dependencies' licenses and add --notices flag to protoc to print the contents of that file.
  MODULE.bazel
  cmake/installed_include_golden.txt
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/notices.h
Owners: none

Auto-generate files after cl/730923037
  cmake/dependencies.cmake
  src/file_lists.cmake
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Change upb C generated map iteration function to not hand out MapEntry pointers.
  upb/message/copy_test.cc
  upb/test/test_generated_code.cc
  upb_generator/c/generator.cc
Owners: none

Change upb C generated map iteration function to not hand out MapEntry pointers. (#20462)
  upb/message/copy_test.cc
  upb/test/test_generated_code.cc
  upb_generator/c/generator.cc
Owners: none

Add tests for older gcc versions we still support (#20463)
  .github/workflows/test_cpp.yml
  .github/workflows/test_upb.yml
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map.h
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Rust: rename `bazel_crate_mapping` option to just `crate_mapping`
  rust/aspects.bzl
  src/google/protobuf/compiler/rust/context.cc
Owners: none

Fix unused variable warning on upb gencode.
  src/google/protobuf/compiler/rust/message.cc
Owners: none

upb: Update _upb_map_next signature to return a boolean and remove the _nextmutable Map iterator API.
  upb/message/internal/map.h
  upb_generator/c/generator.cc
Owners: none

Auto-generate files after cl/730964212
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

upb: Update _upb_map_next signature to return a boolean and remove the _nextmutable Map iterator API.
  upb/message/internal/map.h
  upb_generator/c/generator.cc
Owners: none

update staleness
  php/ext/google/protobuf/php-upb.h
Owners: @protocolbuffers/protobuf-php

update staleness ruby
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-ruby

Remove reference to rules_rust from .bazelrc
  .bazelrc
Owners: none

RFC: Release GIL when serializing a python proto message backed by C++.
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

upb: Update _upb_map_next signature to return a boolean and remove the _nextmutable Map iterator API. (#20467)
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/message/internal/map.h
  upb_generator/c/generator.cc
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove reference to rules_rust from .bazelrc (#20470)
  .bazelrc
Owners: none

Introduce proto_proc! which is a proc macro implementation of proto!
  rust/proto_proc_macro/BUILD
  rust/proto_proc_macro/proto_proc_macro.rs
  rust/proto_proc_macro/proto_proc_macro_impl.rs
  rust/test/shared/proto_proc_macro_test.rs
Owners: none

Introduce proto_proc! which is a proc macro implementation of proto!
  rust/proto_proc_macro/BUILD
  rust/proto_proc_macro/proto_proc_macro.rs
  rust/proto_proc_macro/proto_proc_macro_impl.rs
  rust/test/shared/proto_proc_macro_test.rs
Owners: none

Remove test platform specification from release config
  .github/workflows/test_cpp.yml
  toolchain/toolchains.bazelrc
Owners: none

Remove test platform specification from release config (#20475)
  .github/workflows/test_cpp.yml
  toolchain/toolchains.bazelrc
Owners: none

Remove test platform specification from release config
  .github/workflows/test_cpp.yml
  toolchain/toolchains.bazelrc
Owners: none

When allocating a new block, trim it to size if the new block would result in a net free space reduction from the previous block.
  upb/mem/arena.c
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
Owners: none

Auto-generate files after cl/731152420
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

reserve new extensions for protokt v1
  docs/options.md
Owners: @protocolbuffers/protobuf-docs

Add .bazelci/presubmit.yml to test protobuf on Bazel CI
  .bazelci/README.md
  .bazelci/presubmit.yml
  .bcr/presubmit.yml
Owners: none

Move rust/aspects.bzl under bazel subdirectory
  rust/bazel/BUILD
  rust/bazel/aspects.bzl
  rust/defs.bzl
  rust/test/rust_proto_library_unit_test/defs.bzl
  rust/test/rust_proto_library_unit_test/rust_proto_library_unit_test.bzl
Owners: none

Use `if constexpr` instead of `absl::utility_internal::IfConstexprElseIfConstexprElse`
  src/google/protobuf/arena.h
Owners: none

Remove `absl::if_constexpr` from list of used Abseil targets
  cmake/abseil-cpp.cmake
Owners: none

Remove references to unused if_constexpr.
  src/google/protobuf/BUILD.bazel
Owners: none

Track cumulative size; this means we no longer strictly depend on using the diff between the current block and `end` to calculate the size of the current block. This will permit:
  upb/mem/arena.c
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/generated_message_bases.cc
  src/google/protobuf/generated_message_bases.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/wire_format_lite.h
Owners: none

Automated rollback of commit 6d2f6fcf6609792798a5bfd1d078b00682c38765.
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
