Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Fix Bazel 7 to use native.proto_library
  .github/workflows/test_bazel.yml
  MODULE.bazel
  bazel/proto_library.bzl
  protobuf_deps.bzl
Owners: none

Enable if constexpr (#21875)
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/reflection_visit_fields_test.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change: enable short repeated primitives for DebugFormat
  java/core/src/main/java/com/google/protobuf/DebugFormat.java
Owners: @protocolbuffers/protobuf-java

Add `option_deps` to `proto_library` for `import option`.
  .github/workflows/test_bazel.yml
  MODULE.bazel
  bazel/private/proto_info.bzl
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
  protobuf_deps.bzl
Owners: none

Implement the `MatcherEq` trait with blanket implementations instead of gencode
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Split UPB serialize benchmark into init block and arena variant
  benchmarks/benchmark.cc
Owners: none

Internal change
  benchmarks/run_android_benchmarks/BUILD
  benchmarks/run_android_benchmarks/benchmarks.go
  benchmarks/run_android_benchmarks/environment.go
  benchmarks/run_android_benchmarks/output.go
  benchmarks/run_android_benchmarks/parsebenchy.go
  benchmarks/run_android_benchmarks/parsebenchy_test.go
  benchmarks/run_android_benchmarks/run_android_benchmarks.go
Owners: none

generated_message_tctable_decl: improve portability: avoid ambiguous bool type, use uint8_t
  src/google/protobuf/generated_message_tctable_decl.h
Owners: none

Use `DescriptorPool` to cache whether Java needs an outer class suffix.
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/descriptor.h
Owners: @protocolbuffers/protobuf-java

Added field number validation to MiniDescriptor parsing.
  upb/mini_descriptor/decode.c
Owners: none

Auto-generate files after cl/762148064
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_edition_defaults.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Unit test to ensure that `Add(T&&)` correctly overwrites cleared elements
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Unit test to ensure that `Add(T&&)` correctly overwrites cleared elements
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

Apply modernize-type-traits fix
  src/google/protobuf/any.pb.h
  src/google/protobuf/arena.h
  src/google/protobuf/arenastring.h
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_visitor_test.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/io/coded_stream.h
  src/google/protobuf/io/printer.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/writer.h
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/map.h
  src/google/protobuf/map_entry.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/parse_context.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/callback.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/unknown_field_set.h
  src/google/protobuf/varint_shuffle.h
  src/google/protobuf/wire_format_lite.cc
Owners: @protocolbuffers/protobuf-java

More fixes
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_visitor_test.cc
Owners: none

Remove absl::type_traits dependency
  cmake/abseil-cpp.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/printer.h
  src/google/protobuf/map.h
  src/google/protobuf/port.h
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Split out test util for constructing wire payloads so it can be reused in other modules.
  upb/message/BUILD
  upb/message/internal/compare_unknown.c
  upb/message/internal/compare_unknown_test.cc
  upb/wire/test_util/BUILD
  upb/wire/test_util/wire_message.cc
  upb/wire/test_util/wire_message.h
Owners: none

Remove absl::memory
  cmake/abseil-cpp.cmake
  editions/defaults_test.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/generator.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/objectivec/generator.cc
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/compiler/rust/BUILD.bazel
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/scc.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/feature_resolver.cc
  src/google/protobuf/feature_resolver_test.cc
  src/google/protobuf/internal_message_util_unittest.cc
  src/google/protobuf/message.h
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/test_textproto.h
  src/google/protobuf/text_format.cc
  src/google/protobuf/util/BUILD.bazel
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  upb_generator/c/generator.cc
  upb_generator/minitable/generator.cc
Owners: @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-python

Follow up on fixes for expected parse failures in conformance tests
  conformance/README.md
  conformance/bazel_conformance_test_runner.sh
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/failure_list_csharp.txt
  conformance/failure_list_php.txt
  conformance/failure_list_php_c.txt
  php/README.md
Owners: @protocolbuffers/protobuf-php

internal mutable change
  src/google/protobuf/compiler/cpp/extension.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
Owners: @protocolbuffers/protobuf-java

Eliminate some more `@deprecated` warnings on private member methods.
  src/google/protobuf/compiler/java/doc_comment.cc
  src/google/protobuf/compiler/java/doc_comment.h
  src/google/protobuf/compiler/java/lite/enum_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Fix noinline function called unconditionally from noinline function.
  upb/wire/encode.c
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/DebugFormat.java
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/762472874
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Relax memory ordering for list traversal in free
  upb/mem/arena.c
Owners: none

Auto-generate files after cl/762493747
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Pass current buffer position as argument and return during encode
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/762542993
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Use native.proto_library for Bazel 7 and explicitly error for Bazel 6 which is incompatible and out of support.
  .github/workflows/test_bazel.yml
  MODULE.bazel
  bazel/proto_library.bzl
  protobuf_deps.bzl
Owners: none

Auto-generate files after cl/762571203
  cmake/dependencies.cmake
Owners: none

Remove dependency descriptor sets as additional inputs to proto_library's protoc call.
  bazel/private/proto_library_rule.bzl
Owners: none

Internal change
  google3/third_party/protobuf/bazel/flags/BUILD
Owners: none

Prevent dereference and add const to bounds pointers during encode
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/762591913
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  python/google/protobuf/pyext/extension_dict.cc
Owners: @protocolbuffers/protobuf-python

Move the upb minitable generator back out of protoc
  BUILD.bazel
  bazel/private/proto_lang_toolchain_experimental.bzl
  bazel/private/proto_library_rule.bzl
  cmake/install.cmake
  cmake/installed_bin_golden.txt
  cmake/libprotoc.cmake
  cmake/tests.cmake
  cmake/upb_generators.cmake
  pkg/BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/rust/BUILD.bazel
  upb_generator/bootstrap_compiler.bzl
  upb_generator/c/BUILD
  upb_generator/minitable/BUILD
  upb_generator/minitable/generator.cc
  upb_generator/minitable/generator.h
  upb_generator/minitable/main.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
