Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Refactored Bazel rules.
  bazel/BUILD.bazel
  bazel/private/BUILD
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
Owners: none

Refactored Bazel rules.
  bazel/BUILD.bazel
  bazel/private/BUILD
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
Owners: none

Refactored Bazel rules.
  bazel/BUILD.bazel
  bazel/private/BUILD
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
Owners: none

Refactored Bazel rules.
  bazel/BUILD.bazel
  bazel/private/BUILD
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
Owners: none

Refactored Bazel rules.
  bazel/BUILD.bazel
  bazel/private/BUILD
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
  java/core/src/test/java/com/google/protobuf/UnredactedDebugFormatForTestTest.java
Owners: @protocolbuffers/protobuf-java

Ruby | Support installing the gem via git and some other small build tweaks (#21061)
  ruby/BUILD.bazel
  ruby/Rakefile
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Ruby | Add support for a protobuf debug build (#21060)
  ruby/README.md
  ruby/ext/google/protobuf_c/extconf.rb
Owners: @protocolbuffers/protobuf-ruby

Use ProtobufToStringOutput to control the output format of AbstractMessage.Builder.toString.
  java/core/src/main/java/com/google/protobuf/AbstractMessage.java
  java/core/src/main/java/com/google/protobuf/TextFormat.java
  java/core/src/test/java/com/google/protobuf/ProtobufToStringOutputTest.java
Owners: @protocolbuffers/protobuf-java

Enable python bazel 8 tests
  .github/workflows/test_python.yml
Owners: none

Add java bazel 8 tests and make java builds compatible with bazel 8.
  .github/workflows/test_java.yml
  MODULE.bazel
  patches/protobuf_v25/0007-Java-bazel8.patch
Owners: none

hpb: cleanup - rm unnecessary leading :: in hpb headers
  hpb/hpb.h
  hpb/repeated_field.h
Owners: none

Remove unused code (#20805)
  src/google/protobuf/arena.cc
  src/google/protobuf/arena_align.cc
  src/google/protobuf/json/internal/untyped_message.cc
Owners: none

Clean up usage of deprecated Descriptor label() and is_optional() methods.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/php/php_generator.cc
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message.h
  src/google/protobuf/test_util.h
  src/google/protobuf/util/type_resolver_util.cc
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python

Fix some `THIRD_PARTY` header guard name leakages from `upb`.
  upb/message/internal/iterator.h
  upb/message/merge.h
  upb/reflection/descriptor_bootstrap.h
  upb_generator/c/names.h
  upb_generator/c/names_internal.h
  upb_generator/common/cpp_to_upb_def.h
  upb_generator/common/names.h
  upb_generator/minitable/fasttable.h
  upb_generator/minitable/names.h
  upb_generator/minitable/names_internal.h
  upb_generator/plugin_bootstrap.h
  upb_generator/reflection/context.h
  upb_generator/reflection/header.h
  upb_generator/reflection/names.h
  upb_generator/reflection/source.h
Owners: none

Auto-generate files after cl/744833335
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Make C++ always serialize tag-delimited messages
  conformance/binary_json_conformance_suite.cc
  conformance/test_protos/test_messages_edition2023.proto
  java/core/src/main/java/com/google/protobuf/ArrayDecoders.java
  java/core/src/main/java/com/google/protobuf/ExtensionSchemaFull.java
  java/core/src/main/java/com/google/protobuf/ExtensionSchemaLite.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
  java/core/src/main/java/com/google/protobuf/MessageReflection.java
  java/core/src/main/java/com/google/protobuf/MessageSchema.java
  python/google/protobuf/internal/python_message.py
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/java/full/field_generator.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/generator_common.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/extension_set_inl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/message.h
  src/google/protobuf/wire_format.cc
  upb/wire/decode.c
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Simplified upb's TSAN annotations. The two sets of macros are replaced with a single set:
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Add ASan poisoning to the unused capacity of MicroString non-inline representations.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Promote fields up hotness classes to fill in padding.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/unittest.proto
Owners: none

Assign hasbits first to "important" fields, then to unimportant fields.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/unittest.proto
Owners: none

Internal change
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/internal/extension_dict.py
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/reflection_test.py
  python/google/protobuf/internal/unknown_fields_test.py
  python/google/protobuf/json_format.py
  python/google/protobuf/pyext/descriptor.cc
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Split the `TailCallTableInfo` constructor into two methods for internal use.
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/php_generator.h
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  hpb_generator/tests/extension_test.cc
Owners: none

Automated Code Change
  python/google/protobuf/pyext/map_container.cc
Owners: @protocolbuffers/protobuf-python

Remove upper bound from Guava import
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

hpb: transition protobuf's #includes from .upb.proto.h to .hpb.h
  hpb/backend/upb/interop_test.cc
  hpb/internal/message_lock_test.cc
  hpb/internal/template_help_test.cc
Owners: none

hpb: transition protobuf's #includes from .upb.proto.h to .hpb.h
  hpb/backend/upb/interop_test.cc
  hpb/internal/message_lock_test.cc
  hpb/internal/template_help_test.cc
Owners: none

Add nodiscard to several extension accessor APIs.
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Add nodiscard to several Repeated Field APIs.
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Fix debug counters to work properly when used from templates.
  src/google/protobuf/debug_counter_test.cc
  src/google/protobuf/port.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/text_format.cc
Owners: none

Add Java large enum support for edition 2024.
  java/core/BUILD.bazel
  java/core/src/main/resources/google/protobuf/java_features.proto
  java/core/src/test/java/com/google/protobuf/LargeEnumLiteTest.java
  java/core/src/test/java/com/google/protobuf/LargeEnumTest.java
  java/core/src/test/proto/com/google/protobuf/large_open_enum.proto
  src/google/protobuf/compiler/code_generator.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/full/enum.cc
  src/google/protobuf/compiler/java/generator_unittest.cc
  src/google/protobuf/compiler/java/internal_helpers.cc
  src/google/protobuf/compiler/java/internal_helpers.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/745180030
  java/core/src/main/java/com/google/protobuf/JavaEditionDefaults.java
Owners: @protocolbuffers/protobuf-java

hpb: cleanup DeductionBlocker -> DeductionBarrier
  hpb/extension.h
  hpb/repeated_field.h
Owners: none

Fully qualify std/absl names in codegen to avoid invalid name resolution when the user scope has those names defined.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/enum.cc
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/test_bad_identifiers_editions.proto
  src/google/protobuf/compiler/cpp/test_bad_identifiers_proto2.proto
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/745232154
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
Owners: none

Internal changes
  upb/BUILD
  upb/bazel/amalgamate.py
Owners: none
