Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

hpb/oss: expose upb:windows to hpb
  upb/BUILD
Owners: none

Update python edition default maximum edition to 2024
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

Update python edition default maximum edition to 2024
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

Update python edition default maximum edition to 2024 (#22889)
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

Fix permissions issue in post-submit staleness check
  .github/workflows/staleness_check.yml
Owners: none

Internal change.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

Fixed incorrect API comment.
  upb/wire/encode.h
Owners: none

Auto-generate files after cl/789455640
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix race condition before copybara merges.
  .github/workflows/staleness_check.yml
Owners: none

Update CMake build config to make utf8_validity a public dependency of libprotobuf.
  cmake/libprotobuf.cmake
  third_party/utf8_range/CMakeLists.txt
Owners: none

internal change
  upb/BUILD
Owners: none

Change FieldHotness to enum class.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

pbtk: setup local toolchain for python
  MODULE.bazel
  cmake/dependencies_generator.py
Owners: none

Internal change
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/extension_set_unittest.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
Owners: none

Add arena ownership APIs
  hpb/arena.h
  hpb/backend/upb/extension.cc
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/tests/test_generated.cc
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena.hpp
  upb/mem/arena_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/importer.h
  src/google/protobuf/compiler/importer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/plugin.cc
Owners: none

Raise warnings when assign bool to int/enum field in Python Proto. This will turn into error in 34.0 release.
  python/convert.c
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/map_container.cc
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_scalar_container.cc
Owners: @protocolbuffers/protobuf-python

Raise warnings when assign bool to int/enum field in Python Proto. This will turn into error in 34.0 release.
  python/convert.c
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/map_container.cc
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_scalar_container.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/type_resolver.h
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_database_unittest.cc
Owners: none

Forbid copying protobuf messages into a descendant of itself.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/message.cc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Avoid unnecessary state mutation in internal::IsDescendant.
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Forbid copying protobuf messages into a descendant of itself.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/message.cc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
Owners: none

Use modern io::Printer::Emit functions over Formatter in message CopyFrom generator.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/789682422
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Automated Code Change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_lite.h
  src/google/protobuf/service.cc
  src/google/protobuf/service.h
  src/google/protobuf/test_util2.h
  src/google/protobuf/text_format.cc
  src/google/protobuf/text_format.h
  src/google/protobuf/text_format_unittest.cc
Owners: none

Add NTA prefetch to protobuf message fields in dtors. This ensures that the fields are cached, and marked for quick invalidation from the cache.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/port.h
Owners: none

Add software prefetchers to repeated ptr field move to improve performance.
  src/google/protobuf/repeated_field.h
Owners: none

Fix --_BoolWarningCount to _BoolWarningCount -= 1
  python/google/protobuf/internal/type_checkers.py
Owners: @protocolbuffers/protobuf-python

Fix --_BoolWarningCount to _BoolWarningCount -= 1
  python/google/protobuf/internal/type_checkers.py
Owners: @protocolbuffers/protobuf-python

Add nontemporal software prefetcher to CrcMemcpy::ReadAndCrc to improve performance.
  src/google/protobuf/repeated_field.h
Owners: none

Manually migrate top-level protobuf unittest protos from edition 2023 to edition 2024.
  cmake/tests.cmake
  csharp/generate_protos.sh
  java/core/BUILD.bazel
  python/build_targets.bzl
  python/google/protobuf/internal/descriptor_test.py
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/edition_unittest.proto
  src/google/protobuf/unittest_arena.proto
  src/google/protobuf/unittest_delimited.proto
  src/google/protobuf/unittest_delimited_import.proto
  src/google/protobuf/unittest_drop_unknown_fields.proto
  src/google/protobuf/unittest_lazy_dependencies.proto
  src/google/protobuf/unittest_lazy_dependencies_custom_option.proto
  src/google/protobuf/unittest_lazy_dependencies_enum.proto
  src/google/protobuf/unittest_legacy_features.proto
  src/google/protobuf/unittest_string_type.proto
  src/google/protobuf/unittest_string_view.proto
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

test addl unittest protos
  src/google/protobuf/internal_options.proto
  src/google/protobuf/late_loaded_option.proto
  src/google/protobuf/map_proto3_unittest.proto
  src/google/protobuf/only_one_enum_test.proto
  src/google/protobuf/unittest_preserve_unknown_enum.proto
  src/google/protobuf/unittest_preserve_unknown_enum2.proto
  src/google/protobuf/unittest_redaction.proto
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none
