Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal Change.
  src/google/protobuf/arenastring.cc
Owners: none

Internal Change.
  src/google/protobuf/arenastring.cc
Owners: none

Remove references to unused if_constexpr.
  src/google/protobuf/BUILD.bazel
Owners: none

Backport: Remove if_constexpr usage for future Abseil compatibility (#20488)
  cmake/abseil-cpp.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arena.h
Owners: none

Internal change.
  upb/mini_table/extension.h
Owners: none

Internal change
  src/google/protobuf/extension_set.h
  src/google/protobuf/map.h
  src/google/protobuf/message_lite.h
Owners: none

Add `WithSize` helper functions to the ParseContext.
  src/google/protobuf/arenastring.cc
Owners: none

Internal changes
  src/google/protobuf/message_lite.h
Owners: none

Add Clang nullability annotations to any.h APIs
  src/google/protobuf/any.cc
  src/google/protobuf/any.h
  src/google/protobuf/any_lite.cc
Owners: none

Add Clang nullability annotations to generated_enum_reflection.h APIs
  src/google/protobuf/generated_enum_reflection.h
  src/google/protobuf/generated_message_reflection.cc
Owners: none

Add enum link methods to non-internal extension.h.
  upb/mini_table/extension.h
Owners: none

Auto-generate files after cl/731731702
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Update example crate to import a .proto file from the well-known types
  rust/release_crates/protobuf_codegen/src/lib.rs
  rust/release_crates/protobuf_example/Cargo-template.toml
  rust/release_crates/protobuf_example/build.rs
  rust/release_crates/protobuf_example/proto/proto_example/foo.proto
  rust/release_crates/protobuf_example/src/main.rs
  rust/release_crates/protobuf_well_known_types/Cargo-template.toml
  rust/release_crates/protobuf_well_known_types/src/lib.rs
Owners: none

Add notices.h with information about our dependencies' licenses and add --notices flag to protoc to print the contents of that file.
  MODULE.bazel
  cmake/installed_include_golden.txt
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/notices.h
Owners: none

Reserve new extensions for protokt v1 (#20485)
  docs/options.md
Owners: @protocolbuffers/protobuf-docs

Internal mutable changes
  java/core/src/main/java/com/google/protobuf/MessageReflection.java
  src/google/protobuf/unittest.proto
Owners: @protocolbuffers/protobuf-java

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/defs.bzl
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/lib/google/BUILD.bazel
  ruby/src/main/java/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Fixing staleness tests
  cmake/dependencies.cmake
  src/file_lists.cmake
Owners: none

Internal change
  src/google/protobuf/unittest.proto
Owners: none

upb: delete functions in map_gencode_util. They're unused after the Map iterator API change.
  upb/message/map_gencode_util.h
  upb_generator/c/generator.cc
Owners: none

Auto-generate files after cl/731883660
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add constructing unpack routine to Python Protobuf Any API.
  python/google/protobuf/any.py
  python/google/protobuf/internal/any_test.py
Owners: @protocolbuffers/protobuf-python

Use inttable for primitive keys in upb_Map (excluding uint64_t/int64_t/double values).
  upb/hash/common.c
  upb/hash/common.h
  upb/hash/test.cc
  upb/message/internal/map.h
  upb/message/internal/map_sorter.h
  upb/message/map.c
  upb/message/map_sorter.c
  upb/message/promote_test.cc
  upb/wire/encode.c
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Adjust tests for C#
  .github/workflows/test_csharp.yml
Owners: none

Run .NET 6 + .NET 8 tests on same instance
  .github/workflows/test_csharp.yml
Owners: none

Update installed SDK for .NET
  csharp/install_dotnet_sdk.ps1
Owners: @protocolbuffers/protobuf-csharp

Temporarily disable broken aarch64 test runs.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Internal change
  python/google/protobuf/proto_api.cc
Owners: @protocolbuffers/protobuf-python

Rust: add support for importing a .proto file from another crate
  rust/release_crates/protobuf_codegen/src/lib.rs
  rust/release_crates/protobuf_example/Cargo-template.toml
  rust/release_crates/protobuf_example/build.rs
  rust/release_crates/protobuf_example/proto/proto_example/foo.proto
  rust/release_crates/protobuf_example/src/main.rs
  rust/release_crates/protobuf_well_known_types/Cargo-template.toml
  rust/release_crates/protobuf_well_known_types/src/lib.rs
Owners: none

Introduce compile-time switch between `const std::string&` and `absl::string_view` arguments of virtual `DescriptorDatabase` methods.
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Parse all unknown fields when promoting a lazy extension.
  upb/message/BUILD
  upb/message/promote.c
  upb/message/promote_test.cc
Owners: none

faster varint decoding
  src/google/protobuf/parse_context.h
Owners: none

Bazel 8 compatibility clean-ups
  conformance/BUILD.bazel
  src/google/protobuf/compiler/java/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/unittest.proto
Owners: none
