Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/test_util_lite.cc
  src/google/protobuf/unknown_field_set.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/drop_unknown_fields_test.cc
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/feature_resolver.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
Owners: none

Automated Code Change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  rust/cpp_kernel/map.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Internal change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Update test_runner.yml
  .github/workflows/test_runner.yml
Owners: none

Add load statements for the shell rules where they are missing.
  editions/BUILD
Owners: none

`Repeated(Ptr)Field`: Add `back()`
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Internal change.
  src/google/protobuf/io/coded_stream.h
Owners: none

Add reference leak check to Python well_known_types_test. Fix two refleak bugs.
  python/google/protobuf/internal/well_known_types_test.py
  python/google/protobuf/pyext/message.cc
  python/message.c
Owners: @protocolbuffers/protobuf-python

Change proto_api work with custom pool for upb and pure python.
  python/descriptor_pool.c
  python/google/protobuf/pyext/message_module.cc
Owners: @protocolbuffers/protobuf-python

Internal change.
  upb/bazel/build_defs.bzl
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
Owners: none

Enable C++17 on all platforms
  CMakeLists.txt
Owners: none

Update from .NET 6 to .NET 8.
  csharp/src/AddressBook/AddressBook.csproj
  csharp/src/Google.Protobuf.Conformance/Google.Protobuf.Conformance.csproj
  csharp/src/Google.Protobuf.JsonDump/Google.Protobuf.JsonDump.csproj
  csharp/src/Google.Protobuf.Test/Google.Protobuf.Test.csproj
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  global.json
Owners: @protocolbuffers/protobuf-csharp

Enable AOT if the target is new enough.
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
Owners: @protocolbuffers/protobuf-csharp

Avoid linker errors when compiling for AOT.
  csharp/src/Google.Protobuf/Collections/RepeatedField.cs
  csharp/src/Google.Protobuf/Reflection/FeatureSetDescriptor.cs
Owners: @protocolbuffers/protobuf-csharp

Correct deprecation of has_optional_keyword()
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

Automated Code Change
  java/core/src/main/java/com/google/protobuf/CodedInputStream.java
Owners: @protocolbuffers/protobuf-java

Automated rollback of commit a811dc69435d3e73c2b47652deb8dafab228521c.
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

Automated Code Change
  hpb_generator/generator.h
Owners: none

fix(php): use count instead of ->count() to avoid bug in c-extension
  php/tests/GeneratedClassTest.php
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

clean up test
  php/tests/GeneratedClassTest.php
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Refactored the handoff logic between the regular decoder and fasttable.
  upb/wire/decode.c
  upb/wire/decode_fast/cardinality.h
  upb/wire/decode_fast/dispatch.h
  upb/wire/decode_fast/field_generic.c
  upb/wire/internal/decoder.h
Owners: none

remove uneeded line
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Auto-generate files after cl/760024649
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Introduce a new test manager class for handling conformance results.
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/binary_wireformat.cc
  conformance/binary_wireformat.h
  conformance/binary_wireformat_test.cc
  conformance/test_manager.cc
  conformance/test_manager.h
  conformance/test_manager_test.cc
Owners: none

Internal change
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
