Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Move remaining common functionality between layout optimizers to message_layout_helper.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

Auto-generate files after cl/748579487
  src/file_lists.cmake
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Fix excessive number of DeprecationWarning coming from protobuf
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

change near-deprecated utcnow()
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Reduce cost of symbol lookup.
  src/google/protobuf/descriptor_database.cc
Owners: none

Avoid including windows.h directly in time_util
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/zero_copy_stream_unittest.cc
  src/google/protobuf/util/BUILD.bazel
  src/google/protobuf/util/internal_timeval.h
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util.h
  src/google/protobuf/util/time_util_test.cc
Owners: none

Switch deprecated utcnow() to now(datetime.UTC).
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Update GetCurrentTime to use datetime.datetime.now
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Update GetCurrentTime to use datetime.datetime.now
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Reduce cost of symbol lookup.
  src/google/protobuf/descriptor_database.cc
Owners: none

Make protoc use upb_generator stage1 (#21317)
  BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
  upb_generator/bootstrap_compiler.bzl
  upb_generator/minitable/BUILD
Owners: none

Internal changes
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/message_lite.cc
Owners: none

Keep unimportant fields when possible when compressing the fast-parse table.
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/unittest.proto
Owners: none

faster varint decoding
  src/google/protobuf/parse_context.h
Owners: none

use valuebarrier instead
  src/google/protobuf/parse_context.h
Owners: none

fix clang codegen
  src/google/protobuf/parse_context.h
Owners: none

fix grammar
  src/google/protobuf/parse_context.h
Owners: none

Move `java_multiple_files` validation from protoc frontend to Java generator.
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/generator_unittest.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java

Change Python .pyi stubs to generated _Optional[] for bool fields same with other fields.
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.h
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.h
  src/google/protobuf/compiler/java/lite/message.h
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.h
  src/google/protobuf/compiler/java/lite/primitive_field.h
  src/google/protobuf/compiler/java/lite/string_field.h
Owners: @protocolbuffers/protobuf-java

Add MicroString support for generated messages.
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/cpp/generator.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/options.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/tracker.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
Owners: none

New cache-prefetching utility functions in port.h
  src/google/protobuf/port.h
  src/google/protobuf/port_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/php_generator.h
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
Owners: none

Automated rollback of commit daed66ed175339334bc9b03e85460f88c1971ff7.
  src/google/protobuf/port.h
  src/google/protobuf/port_test.cc
Owners: none

Reduce cost of symbol lookup.
  src/google/protobuf/descriptor.cc
Owners: none

Automated rollback of commit f9863dfd3c98278e703be0e3c19ded2d09e60fde.
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Automated rollback of commit f9863dfd3c98278e703be0e3c19ded2d09e60fde.
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Add release branch `31.x`
  .github/workflows/test_release_branches.yml
Owners: none

Fix breakage of Windows CMake 2019 continuous integration test with new `Prefetch()`
  src/google/protobuf/port.h
  src/google/protobuf/port_test.cc
Owners: none

Automated rollback of commit f9863dfd3c98278e703be0e3c19ded2d09e60fde. (#21355)
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

internal change
  php/composer.json
  php/composer.json.dist
Owners: @protocolbuffers/protobuf-php

Fix breakage of Windows CMake 2019 continuous integration test with new `Prefetch()`
  src/google/protobuf/port.h
  src/google/protobuf/port_test.cc
Owners: none

fix: contains check segfaults on empty map (#20446) (#20904)
  python/google/protobuf/internal/well_known_types_test.py
  python/message.c
Owners: @protocolbuffers/protobuf-python

Locked down visibility of copts.
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  bazel/upb_proto_reflection_library.bzl
  upb/BUILD
Owners: none

add tests
  php/composer.json
  php/tests/ComposerJsonTest.php
Owners: @protocolbuffers/protobuf-php

reserve new extensions for aep.dev (#20839)
  docs/options.md
Owners: @protocolbuffers/protobuf-docs

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
