Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

CppGenerator: parse generator options in GenerateAll
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
  src/google/protobuf/compiler/cpp/generator.cc
  src/google/protobuf/compiler/cpp/generator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

hpb: Introduce canonical hpb::Arena
  hpb/BUILD
  hpb/arena.h
  hpb/backend/BUILD
  hpb/backend/types.h
  hpb/backend/upb/upb.h
  hpb/extension.h
  hpb/hpb.h
  hpb/internal/internal.h
  hpb/internal/message_lock_test.cc
  hpb/multibackend.h
  hpb_generator/tests/extension_test.cc
Owners: none

Add clarification that our timestamp spec is RFC3339 as applied to ISO-8601-1-2019, which is the case where lowercase letters are not allowed.
  src/google/protobuf/timestamp.proto
Owners: none

Use Truth's `isInstanceOf(Class)` (instead of cl/774552736).
  java/core/src/test/java/com/google/protobuf/ExtensionRegistryFactoryTest.java
Owners: @protocolbuffers/protobuf-java

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MICRO>-<language> for clarity
  Protobuf.podspec
Owners: none

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MICRO>-<language> for clarity
  Protobuf.podspec
Owners: none

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MICRO>-<language> for clarity
  Protobuf.podspec
Owners: none

Update Protobuf-C++.podspec tag
  Protobuf-C++.podspec
Owners: none

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MICRO>-<language> for clarity
  Protobuf.podspec
Owners: none

Update Protobuf-C++.podspec to new tag
  Protobuf-C++.podspec
Owners: none

Introduce denylisted_protos as a preferred replacement for blacklisted_protos attribute.
  bazel/private/proto_lang_toolchain_rule.bzl
Owners: none

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MI… (#22359)
  Protobuf-C++.podspec
  Protobuf.podspec
Owners: none

Update Java gencode base class documentation to clarify that it is not supported to extend them.
  java/core/src/main/java/com/google/protobuf/AbstractMessage.java
  java/core/src/main/java/com/google/protobuf/AbstractMessageLite.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
  java/core/src/main/java/com/google/protobuf/Message.java
  java/core/src/main/java/com/google/protobuf/MessageLite.java
  java/core/src/main/java/com/google/protobuf/MessageLiteOrBuilder.java
  java/core/src/main/java/com/google/protobuf/MessageOrBuilder.java
Owners: @protocolbuffers/protobuf-java

Update comment at the top of message.h and message_lite.h to document that it should only be extended by gencode and not user code.
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.h
Owners: none

Update Java gencode base class documentation to clarify that it is not supported to extend them.
  java/core/src/main/java/com/google/protobuf/AbstractMessage.java
  java/core/src/main/java/com/google/protobuf/AbstractMessageLite.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
  java/core/src/main/java/com/google/protobuf/Message.java
  java/core/src/main/java/com/google/protobuf/MessageLite.java
  java/core/src/main/java/com/google/protobuf/MessageLiteOrBuilder.java
  java/core/src/main/java/com/google/protobuf/MessageOrBuilder.java
Owners: @protocolbuffers/protobuf-java

pair with josh
  protobuf_deps.bzl
  python/build_targets.bzl
  python/dist/BUILD.bazel
Owners: @protocolbuffers/protobuf-python

Clarify error text to indicate import option is for edition 2024+.
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Internal
  upb/message/promote.c
  upb/message/promote.h
Owners: none

Add upb_FindUnknownStatus_String function to convert the FindUnknownStatus to a string.
  upb/message/promote.c
  upb/message/promote.h
Owners: none

Add upb_FindUnknownStatus_String function to convert the FindUnknownStatus to a string.
  upb/message/promote.c
  upb/message/promote.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  hpb/BUILD
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
