Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Add missed assert bounds for fast decoder
  upb/wire/eps_copy_input_stream.h
Owners: none

Auto-generate files after cl/800285294
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add alias for `timestamp_upb_proto`.
  BUILD.bazel
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/wire_format.cc
Owners: none

Let IsFieldMicroString not crash or have otherwise undefined behavior.
  src/google/protobuf/generated_message_reflection.h
Owners: none

hpb: Check array is not nullptr before dereferencing it.
  hpb/backend/upb/repeated_field.h
  hpb_generator/tests/BUILD
  hpb_generator/tests/repeated_test.cc
Owners: none

Internal Change.
  src/google/protobuf/generated_message_reflection.h
Owners: none

Internal Change.
  src/google/protobuf/generated_message_reflection.h
Owners: none

pbtk: update upb to use rules_python for py_cc_headers
  WORKSPACE
  python/py_extension.bzl
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/java/generator.cc
  src/google/protobuf/compiler/java/options.h
Owners: @protocolbuffers/protobuf-java

Change which impl the cpp conformance testee uses for JSON parse/serialize.
  conformance/BUILD
  conformance/conformance_cpp.cc
  conformance/failure_list_cpp.txt
Owners: none

pbtk: update rules_python to 1.5.4
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Internal Change.
  src/google/protobuf/generated_message_reflection.h
Owners: none

Use generic Marshal.SizeOf when possible
  csharp/src/Google.Protobuf/Collections/RepeatedField.cs
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

Restore ABI compatibility for extension methods which was previously (knowingly) broken with 4.x: https://github.com/protocolbuffers/protobuf/commit/94a2a448518403341b8aa71335ab1123fbdcccd8
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java
Owners: @protocolbuffers/protobuf-java

Automated rollback of commit bd440bf93c78029ee4afe55e57a7dc16724a5248.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java
Owners: @protocolbuffers/protobuf-java

Add test when try to convert datetime to Duration, and try to convert timedelta to Timestamp. It raises AttributeError but will turn to TypeError in OSS 34.0 release.
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/internal/well_known_types_test.py
Owners: @protocolbuffers/protobuf-python

Internal change.
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Move the RepeatedPtrField capacity to the Rep, and infer capacity when empty/in SSO mode.
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Internal change
  java/util/src/main/java/com/google/protobuf/util/FieldMaskUtil.java
  java/util/src/test/java/com/google/protobuf/util/FieldMaskUtilTest.java
Owners: @protocolbuffers/protobuf-java

Add ReadMicroStringWithSize helper.
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/wire_format.cc
Owners: none

Automated Code Change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Resolve different signedness warning (#21944)
  src/google/protobuf/compiler/java/internal_helpers.cc
Owners: @protocolbuffers/protobuf-java

Move hpb off of EmitLegacy
  hpb_generator/BUILD
  hpb_generator/context.h
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_messages.cc
  hpb_generator/gen_repeated_fields.cc
Owners: none

Move the `Parse` trait out of gencode and into the runtime
  rust/codegen_traits.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

internal change
  bazel/private/bazel_java_proto_library_rule.bzl
  bazel/private/proto_library_rule.bzl
  src/google/protobuf/test_implicit_option_deps.proto
Owners: none

Add IsEmpty() function to reflection.
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/message.h
Owners: none

Restore ABI compatibility for extension methods which was previously (knowingly) broken with 4.x: https://github.com/protocolbuffers/protobuf/commit/94a2a448518403341b8aa71335ab1123fbdcccd8
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java
Owners: @protocolbuffers/protobuf-java

Remove some avoidable string copies in C++ JSON parsing.
  src/google/protobuf/json/internal/descriptor_traits.h
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser_traits.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/wire_format.cc
Owners: none

Continue separating Rust gencode from the upb API
  rust/string.rs
  rust/upb.rs
  rust/upb/lib.rs
  rust/upb/message.rs
  rust/upb/mini_table.rs
  rust/upb/sys/message/message.rs
  src/google/protobuf/compiler/rust/accessors/map.cc
  src/google/protobuf/compiler/rust/accessors/repeated_field.cc
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/message.cc
  src/google/protobuf/compiler/rust/oneof.cc
Owners: none

Internal change
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/parse_context.h
Owners: none

Internal Change.
  src/google/protobuf/arenastring.cc
Owners: none

Remove de-optimization in C++JSON parser based on trying to skip ahead based on UTF8 multibyte sequences.
  src/google/protobuf/json/internal/lexer.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
