Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change
  CMakeLists.txt
  MODULE.bazel
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_composite_container.cc
  python/google/protobuf/pyext/repeated_scalar_container.cc
  python/repeated.c
  upb/hash/common.c
  upb/hash/int_table.h
  upb/mini_descriptor/decode.c
  upb/reflection/enum_def.c
  upb/reflection/enum_value_def.c
  upb/reflection/internal/enum_value_def.h
  upb/reflection/message_def.c
Owners: @protocolbuffers/protobuf-python

Internal change
  CMakeLists.txt
  MODULE.bazel
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_composite_container.cc
  python/google/protobuf/pyext/repeated_scalar_container.cc
  python/repeated.c
  upb/hash/common.c
  upb/hash/int_table.h
  upb/mini_descriptor/decode.c
  upb/reflection/enum_def.c
  upb/reflection/enum_value_def.c
  upb/reflection/internal/enum_value_def.h
  upb/reflection/message_def.c
Owners: @protocolbuffers/protobuf-python

Internal change
  upb/mini_descriptor/decode.c
  upb/reflection/enum_value_def.c
  upb/reflection/internal/enum_value_def.h
Owners: none

Internal change
  CMakeLists.txt
  MODULE.bazel
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_composite_container.cc
  python/google/protobuf/pyext/repeated_scalar_container.cc
  python/repeated.c
  upb/hash/common.c
  upb/hash/int_table.h
  upb/reflection/enum_def.c
  upb/reflection/message_def.c
Owners: @protocolbuffers/protobuf-python

Add clear() method to repeated fields in Python.
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_composite_container.cc
  python/google/protobuf/pyext/repeated_scalar_container.cc
  python/repeated.c
Owners: @protocolbuffers/protobuf-python

Auto-generate files after cl/736203959
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal Change.
  CMakeLists.txt
  MODULE.bazel
  src/google/protobuf/message_lite.h
  src/google/protobuf/parse_context.h
  upb/hash/common.c
  upb/hash/int_table.h
  upb/reflection/enum_def.c
  upb/reflection/message_def.c
Owners: none

Handle allocation failure from upb_inttable_compact
  upb/hash/common.c
  upb/hash/int_table.h
  upb/reflection/enum_def.c
  upb/reflection/message_def.c
Owners: none

Re-add `system_python` repo alias to MODULE.bazel
  MODULE.bazel
Owners: none

fix(cmake): abseil and protobuf msvc static runtime must have the same value (#20644)
  CMakeLists.txt
Owners: none

Auto-generate files after cl/736228833
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  upb/hash/common.c
  upb/hash/int_table.h
Owners: none

Reduce overhead of inttable array
  upb/hash/common.c
  upb/hash/int_table.h
Owners: none

Auto-generate files after cl/736302546
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.h
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_main.cc
Owners: none

Add MessageToJsonStream method
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/json.cc
  src/google/protobuf/json/json.h
  src/google/protobuf/util/json_util.h
Owners: none

Test concurrent static inits
  java/core/src/test/java/com/google/protobuf/ConcurrentDescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

faster varint decoding
  src/google/protobuf/parse_context.h
Owners: none

Improve readability of test_returned_java_info (previously) test_java_info_proto_aspect
  bazel/tests/java_proto_library_tests.bzl
  bazel/tests/testdata/collect_java_info_rule.bzl
Owners: none

Improve readability of test_returned_java_info (previously) test_java_info_proto_aspect
  bazel/tests/java_proto_library_tests.bzl
  bazel/tests/testdata/collect_java_info_rule.bzl
Owners: none

Ruby | Ensure DescriptorPool reference targets the global ::Google object (#19981)
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generator.cc
Owners: @protocolbuffers/protobuf-ruby

static method need not be declared final
  src/google/protobuf/compiler/java/full/enum.cc
Owners: @protocolbuffers/protobuf-java

static method need not be final
  java/core/src/main/java/com/google/protobuf/BinaryWriter.java
Owners: @protocolbuffers/protobuf-java

Internal Change.
  src/google/protobuf/message_lite.h
  src/google/protobuf/parse_context.h
Owners: none

ruby codegen: support generation of rbs files
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal Change.
  src/google/protobuf/message_lite.h
  src/google/protobuf/parse_context.h
Owners: none

Validate that allocated size is consistent with capacity.
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal Change.
  src/google/protobuf/message_lite.h
  src/google/protobuf/parse_context.h
Owners: none

fix: contains check segfaults on empty map (#20446)
  python/google/protobuf/internal/well_known_types_test.py
  python/message.c
Owners: @protocolbuffers/protobuf-python

Update rust_keywords to Edition 2024 update.
  src/google/protobuf/compiler/rust/rust_keywords.cc
Owners: none

Internal change
  src/google/protobuf/bridge/message_set.proto
Owners: none

Pull mega slow unknown fields in map entry path into noinline function
  upb/wire/decode.c
Owners: none

Auto-generate files after cl/736567353
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Updating version.json and repo version numbers to: 30.1
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Deprecate Descriptor Label. As an alternative, add helper methods for checking whether a field is required or repeated.
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  python/BUILD.bazel
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
  python/google/protobuf/pyext/message.cc
  src/google/protobuf/descriptor.h
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Make MessageToJsonStream inline
  src/google/protobuf/json/json.h
Owners: none

Revert "static method need not be final"
  java/core/src/main/java/com/google/protobuf/BinaryWriter.java
Owners: @protocolbuffers/protobuf-java

Remove "experimental API" warnings from members in the .NET protobuf runtime.
  csharp/src/Google.Protobuf/Extension.cs
  csharp/src/Google.Protobuf/ExtensionRegistry.cs
  csharp/src/Google.Protobuf/ExtensionSet.cs
  csharp/src/Google.Protobuf/UnsafeByteOperations.cs
Owners: @protocolbuffers/protobuf-csharp

Add support for RBS, Ruby type signature
  .github/workflows/test_ruby.yml
  protobuf.bzl
  ruby/lib/google/protobuf/ffi/message.rb
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
  src/google/protobuf/compiler/ruby/rbs_generator_unittest.cc
  src/google/protobuf/compiler/ruby/ruby_generated_code.proto
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
