Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal changes
  upb/BUILD
  upb/bazel/amalgamate.py
Owners: none

Bazel 8 compatibility changes to unblock bazel 8 migration for upb in the future.
  pkg/test/BUILD.bazel
  upb/conformance/BUILD
Owners: none

Add file for use in staleness tests of the Ruby FFI bindings
  ruby/tests/golden-ruby_ffi_bindings.txt
Owners: @protocolbuffers/protobuf-ruby

Test obj-c with bazel 8
  .github/workflows/test_objectivec.yml
  objectivec/BUILD.bazel
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/io/coded_stream_unittest.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Add C# bazel 8 tests. #test-continuous
  .github/workflows/test_csharp.yml
Owners: none

hpb: more .upb.proto.h -> .hpb.h
  hpb_generator/gen_messages.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.h
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.h
  src/google/protobuf/compiler/java/lite/message.h
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.h
  src/google/protobuf/compiler/java/lite/primitive_field.h
  src/google/protobuf/compiler/java/lite/string_field.h
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Internal change
  src/google/protobuf/compiler/php/php_generator.h
Owners: @protocolbuffers/protobuf-php

Add support for RBS, Ruby type signature
  .github/workflows/test_ruby.yml
  protobuf.bzl
  ruby/lib/google/protobuf/ffi/message.rb
  src/file_lists.cmake
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
  src/google/protobuf/compiler/ruby/rbs_generator_unittest.cc
  src/google/protobuf/compiler/ruby/ruby_generated_code.proto
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

get rid of warning in zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/options.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

Add dummy Ruby files for documentation
  ruby/doc/abstract_message.rb
  ruby/doc/descriptor.rb
  ruby/doc/descriptor_pool.rb
  ruby/doc/enum.rb
  ruby/doc/enum_descriptor.rb
  ruby/doc/field_descriptor.rb
  ruby/doc/file_descriptor.rb
  ruby/doc/map.rb
  ruby/doc/method_descriptor.rb
  ruby/doc/oneof_descriptor.rb
  ruby/doc/protobuf.rb
  ruby/doc/repeated_field.rb
  ruby/doc/service_descriptor.rb
Owners: @protocolbuffers/protobuf-ruby

move to lib so it's included in the gem
  ruby/lib/doc/abstract_message.rb
  ruby/lib/doc/descriptor.rb
  ruby/lib/doc/descriptor_pool.rb
  ruby/lib/doc/enum.rb
  ruby/lib/doc/enum_descriptor.rb
  ruby/lib/doc/field_descriptor.rb
  ruby/lib/doc/file_descriptor.rb
  ruby/lib/doc/map.rb
  ruby/lib/doc/method_descriptor.rb
  ruby/lib/doc/oneof_descriptor.rb
  ruby/lib/doc/protobuf.rb
  ruby/lib/doc/repeated_field.rb
  ruby/lib/doc/service_descriptor.rb
Owners: @protocolbuffers/protobuf-ruby

add yardopts
  ruby/.yardopts
Owners: @protocolbuffers/protobuf-ruby

Add link to rubydoc.info
  ruby/README.md
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Add `local` and `export` keywords and visibility enforcement to compiler.
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Test PHP bazel 8 #test-continuous
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
Owners: none

Test ruby bazel 8 Note that cross compilation tests are still in bazel 7 while we debug b/409557730 #test-continuous
  .github/workflows/test_ruby.yml
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

fix(php): update composer.json.dist
  php/composer.json.dist
Owners: @protocolbuffers/protobuf-php

Internal change
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
Owners: @protocolbuffers/protobuf-python

Internal change
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
Owners: @protocolbuffers/protobuf-python

Add bazel 8 c++ tests Note that cross compilation tests are still in bazel 7 while we debug b/409557730 #test-continuous
  .github/workflows/test_cpp.yml
Owners: none

Automated Code Change
  hpb/internal/message_lock.h
  hpb/internal/template_help.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_enum.h
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.h
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  hpb_generator/gen_accessors.h
  hpb_generator/gen_enums.h
  hpb_generator/gen_extensions.h
  hpb_generator/gen_messages.h
  hpb_generator/gen_repeated_fields.h
  hpb_generator/gen_utils.h
  hpb_generator/keywords.h
  hpb_generator/names.h
Owners: none

move to stubs, use def instead of @!method
  ruby/lib/stubs/abstract_message.rb
  ruby/lib/stubs/descriptor.rb
  ruby/lib/stubs/descriptor_pool.rb
  ruby/lib/stubs/enum.rb
  ruby/lib/stubs/enum_descriptor.rb
  ruby/lib/stubs/field_descriptor.rb
  ruby/lib/stubs/file_descriptor.rb
  ruby/lib/stubs/map.rb
  ruby/lib/stubs/method_descriptor.rb
  ruby/lib/stubs/oneof_descriptor.rb
  ruby/lib/stubs/protobuf.rb
  ruby/lib/stubs/repeated_field.rb
  ruby/lib/stubs/service_descriptor.rb
Owners: @protocolbuffers/protobuf-ruby

hpb: stub support for multi-backend::Serialize
  hpb/backend/cpp/cpp.h
  hpb/backend/cpp/cpp_backend_test.cc
  hpb/hpb.h
Owners: none

Internal change
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util_test.py
Owners: none

Test cross-compile with bazel 8. #test-continuous
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
  MODULE.bazel
  WORKSPACE
  build_defs/BUILD.bazel
  build_defs/platforms.bzl
  toolchain/BUILD.bazel
  toolchain/toolchains.bazelrc
Owners: none
