Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/port.h
Owners: none

Internal change
  src/google/protobuf/port.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/parse_context.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/text_format.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated rollback of commit 59fec72c778e2440af90c240da980db498171d45.
  rust/cpp_kernel/repeated.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Add #[non_exhaustive] on the oneof-case enum
  src/google/protobuf/compiler/rust/oneof.cc
Owners: none

hpb: rm MoveMessage as amigo
  hpb/backend/upb/interop.h
  hpb_generator/gen_messages.cc
Owners: none

Include also ARM build of protoc in nuget package (#21568)
  csharp/Google.Protobuf.Tools.nuspec
  csharp/Google.Protobuf.Tools.targets
  csharp/build_tools.sh
Owners: @protocolbuffers/protobuf-csharp

Remove fast-path check for non-clang compilers in MessageCreator.
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: none

Simplified feature checks for the compiler.
  ruby/ext/google/protobuf_c/protobuf.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: @protocolbuffers/protobuf-ruby

Auto-generate files after cl/755027444
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix Windows path handling in build script
  rust/release_crates/protobuf/build.rs
Owners: none

Add std::path::Path import in protobuf build script
  rust/release_crates/protobuf/build.rs
Owners: none

Fix up pointer provenance for EpsCopyInputStream and aliased unknowns
  upb/message/copy.c
  upb/message/copy_test.cc
  upb/message/internal/compare_unknown_test.cc
  upb/message/internal/message.h
  upb/message/test.cc
  upb/wire/decode.c
  upb/wire/eps_copy_input_stream.h
Owners: none

Auto-generate files after cl/755185834
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

hpb: subsume protoc-gen-hpb.cc into :generator
  hpb_generator/generator.cc
  hpb_generator/generator.h
  hpb_generator/protoc-gen-hpb-bin.cc
Owners: none

Fix MSYS-built protoc CLI invokation cases where an arg is an absolute path (#21244)
  src/google/protobuf/compiler/command_line_interface.cc
Owners: none

hpb: emit backend in file warning and migrate from .EmitLegacy to .Emit
  hpb_generator/context.h
Owners: none

Replace custom path handling with std::path::absolute
  rust/release_crates/protobuf/build.rs
Owners: none

Grammar error, whoopsies
  rust/release_crates/protobuf/build.rs
Owners: none

hpb: rename protoc-gen-hpb-bin.cc back to protoc-gen-hpb.cc
  hpb_generator/protoc-gen-hpb.cc
Owners: none

Remove fast-path check for non-clang compilers in MessageCreator.
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: none

Fix incorrect merge
  src/google/protobuf/message_lite.h
Owners: none

Add absolute_path feature flag to protobuf build script
  rust/release_crates/protobuf/build.rs
Owners: none

Upgrade minimum supported Rust version to 1.79.0
  .github/workflows/test_rust.yml
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/release_crates/protobuf_macros/Cargo-template.toml
Owners: none

Fix Windows path handling in build script (#21606)
  rust/release_crates/protobuf/build.rs
Owners: none

Upgrade minimum supported Rust version to 1.79.0
  .github/workflows/test_rust.yml
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/release_crates/protobuf_macros/Cargo-template.toml
Owners: none

Fix Windows path handling in build script (#21606)
  rust/release_crates/protobuf/build.rs
Owners: none

Cherry-pick Rust fix to 31.x (#21617)
  .github/workflows/test_rust.yml
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf/build.rs
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/release_crates/protobuf_macros/Cargo-template.toml
Owners: none

Remove internal/api_implementation.Version()
  python/google/protobuf/internal/api_implementation.py
Owners: @protocolbuffers/protobuf-python

Added HWASAN support and factored ASAN/HWASAN/TSAN instrumentation into `port/sanitizers.h`
  cmake/installed_include_golden.txt
  upb/mem/arena.c
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/BUILD
  upb/port/def.inc
  upb/port/sanitizers.h
  upb/port/undef.inc
  upb/wire/decode_fast/field_message.c
  upb/wire/decode_fast/field_string.c
Owners: none
