Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Clean up usages of __cplusplus
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/stubs/port.h
  upb/port/def.inc
Owners: none

Auto-generate files after cl/788572957
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Always emit hasbit index for fields regardless of whether hasbits are used in the message.
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/descriptor.pb.cc
Owners: none

Auto-generate files after cl/788586969
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/struct.pb.cc
Owners: none

Update our compiled_edition_default's maximum_edition to 2024
  csharp/BUILD.bazel
  editions/BUILD
  java/core/BUILD.bazel
  upb/reflection/BUILD
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java

Add tests to cover `FindExtension` and `FindExtensionInfoFromFieldNumber`.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/extension_set_unittest.cc
Owners: none

Move kNoHasbit to a shared header and use in place of the -1 magic number.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/has_bits.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Internal change
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/extension_set_unittest.cc
Owners: none

Automated Code Change
  hpb/backend/upb/BUILD
  hpb/backend/upb/extension.h
Owners: none

Replace the usage of cc_info.debug_context with _debug_context
  bazel/private/cc_proto_support.bzl
Owners: none

Replace the usage of cc_info.debug_context with _debug_context
  bazel/private/cc_proto_support.bzl
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

fix: Ensure proper std::string allocation and cleanup in Arena
  commit_message.txt
  src/google/protobuf/arena.h
Owners: none

hpb: lock down message direct access in terra cpp
  hpb/backend/cpp/BUILD
  hpb/backend/cpp/interop.h
  hpb_generator/generator.cc
Owners: none

pbtk: add use_repo_rule to dependencies_generator.py
  cmake/dependencies_generator.py
Owners: none

internal change
  hpb/bazel/hpb_proto_library.bzl
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Restore compatibility of runtime with gencode created with protoc <3.21 Generated code from this range is covered by CVE-2022-3171 and potentially vulnerable to a Denial of Service issue.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
  src/google/protobuf/parse_context.h
Owners: @protocolbuffers/protobuf-java

Internal Change.
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Add instructions for documentation changes to CONTRIBUTING.md.
  CONTRIBUTING.md
Owners: none

Update our compiled_edition_default's maximum_edition to 2024
  csharp/BUILD.bazel
  csharp/src/Google.Protobuf.Test/Reflection/FeatureSetDescriptorTest.cs
  editions/BUILD
  editions/defaults_test.cc
  java/core/BUILD.bazel
  upb/reflection/BUILD
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java

Update our compiled_edition_default's maximum_edition to 2024
  csharp/BUILD.bazel
  csharp/src/Google.Protobuf.Test/Reflection/FeatureSetDescriptorTest.cs
  editions/BUILD
  editions/defaults_test.cc
  java/core/BUILD.bazel
  upb/reflection/BUILD
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java

Auto-generate files after cl/788981870
  csharp/src/Google.Protobuf/Reflection/FeatureSetDescriptor.g.cs
  java/core/src/main/java/com/google/protobuf/JavaEditionDefaults.java
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/internal/upb_edition_defaults.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/importer.h
  src/google/protobuf/compiler/importer_unittest.cc
Owners: none

This change updates the third_party/protobuf/port_def.inc to disable the protobuf weak messages feature when compiling for the WASM/emscripten environments.
  src/google/protobuf/port_def.inc
Owners: none

update staleness
  csharp/src/Google.Protobuf/Reflection/FeatureSetDescriptor.g.cs
  java/core/src/main/java/com/google/protobuf/JavaEditionDefaults.java
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/internal/upb_edition_defaults.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Update our compiled_edition_default's maximum_edition to 2024 (#22870)
  csharp/BUILD.bazel
  csharp/src/Google.Protobuf.Test/Reflection/FeatureSetDescriptorTest.cs
  csharp/src/Google.Protobuf/Reflection/FeatureSetDescriptor.g.cs
  editions/BUILD
  editions/defaults_test.cc
  java/core/BUILD.bazel
  java/core/src/main/java/com/google/protobuf/JavaEditionDefaults.java
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/BUILD
  upb/reflection/internal/upb_edition_defaults.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add conformance tests for utf8 validation.
  conformance/binary_json_conformance_suite.cc
  conformance/binary_json_conformance_suite.h
  conformance/failure_list_csharp.txt
  conformance/failure_list_java.txt
  conformance/failure_list_java_lite.txt
  conformance/failure_list_jruby.txt
  conformance/failure_list_jruby_ffi.txt
  conformance/failure_list_objc.txt
  conformance/failure_list_python.txt
  conformance/failure_list_python_cpp.txt
  conformance/failure_list_python_upb.txt
  conformance/failure_list_ruby.txt
  conformance/test_protos/test_messages_edition2023.proto
  editions/golden/test_messages_proto2_editions.proto
  src/google/protobuf/test_messages_proto2.proto
Owners: none

Automated Code Change
  hpb/backend/upb/repeated_field_iterator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/util/time_util.h
Owners: none

Test if `bounds_check_mode` is set to abort globally.
  src/google/protobuf/port.h
Owners: none

internal change
  hpb_generator/BUILD
Owners: none

Remove HasBits<> ctor with empty initializer list expectation.
  src/google/protobuf/has_bits_test.cc
Owners: none

Removed dependency from coded streams to the experimental writer/reader interfaces.
  java/core/src/main/java/com/google/protobuf/CodedInputStream.java
  java/core/src/main/java/com/google/protobuf/CodedInputStreamReader.java
  java/core/src/main/java/com/google/protobuf/CodedOutputStream.java
  java/core/src/main/java/com/google/protobuf/CodedOutputStreamWriter.java
Owners: @protocolbuffers/protobuf-java

Fix UTF-8 Validation of string extensions
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/cpp/extension.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_inl.h
  src/google/protobuf/extension_set_unittest.cc
Owners: none

Remove validate-and-log UTF-8 behavior.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/wire_format.h
  src/google/protobuf/wire_format_lite.h
  src/google/protobuf/wire_format_unittest.h
Owners: none

Internal change.
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/FieldSet.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
Owners: @protocolbuffers/protobuf-java

Internal change.
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/FieldSet.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
