Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Use remote jdk
  examples/.bazelrc
Owners: @protocolbuffers/protobuf-docs

Select java from GHA instead of Bazel
  .github/workflows/test_bazel.yml
  examples/.bazelrc
Owners: @protocolbuffers/protobuf-docs

Name java setup step
  .github/workflows/test_bazel.yml
Owners: none

Add continuous check to java setup
  .github/workflows/test_bazel.yml
Owners: none

Add more detail to the comment for GetMessageClassesForFiles
  python/google/protobuf/message_factory.py
Owners: @protocolbuffers/protobuf-python

IWYU cleanup in C++ runtime code
  editions/internal_defaults_escape.cc
  src/google/protobuf/json/internal/lexer.cc
  src/google/protobuf/json/internal/lexer.h
  src/google/protobuf/json/internal/writer.h
  src/google/protobuf/json/internal/zero_copy_buffered_stream.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/testing/googletest.cc
Owners: none

Add missing BUILD files
  bazel/private/BUILD.protoc
  bazel/private/BUILD.windows_protoc
Owners: none

Load and use prebuilt binaries
  BUILD.bazel
  MODULE.bazel
  bazel/private/prebuilt_binaries.bzl
  build_defs/BUILD.bazel
  protobuf_deps.bzl
  src/google/protobuf/compiler/BUILD.bazel
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Add Clang nullability annotations to reflection.h APIs (RepeatedFieldRef, etc)
  src/google/protobuf/reflection.h
Owners: none

Create `//rust:release` alias for building release crates
  rust/BUILD
  rust/release_crates/BUILD
  rust/release_crates/publish_release.sh
Owners: none

Add comment about java 11 pin
  .github/workflows/test_bazel.yml
Owners: none

Split maven dependencies into dev vs local (#20549)
  .github/workflows/test_bazel.yml
  MODULE.bazel
  WORKSPACE
  examples/AddPerson.java
  examples/BUILD.bazel
  examples/WORKSPACE
  java/util/BUILD.bazel
  maven_dev_install.json
  maven_install.json
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java

Split maven dependencies into dev vs local (#20549)
  .github/workflows/test_bazel.yml
  MODULE.bazel
  WORKSPACE
  examples/AddPerson.java
  examples/BUILD.bazel
  examples/WORKSPACE
  java/util/BUILD.bazel
  maven_dev_install.json
  maven_install.json
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/text_format.cc
  src/google/protobuf/text_format.h
Owners: none

Split maven dependencies into dev vs local (#20549) (#20558)
  .github/workflows/test_bazel.yml
  MODULE.bazel
  WORKSPACE
  examples/AddPerson.java
  examples/BUILD.bazel
  examples/WORKSPACE
  java/util/BUILD.bazel
  maven_dev_install.json
  maven_install.json
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java

Internal mutable changes
  java/core/src/main/java/com/google/protobuf/MessageReflection.java
  src/google/protobuf/unittest.proto
Owners: @protocolbuffers/protobuf-java

Internal pure python fixes
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Updating version.json and repo version numbers to: 30.0
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Rust: add support for importing a .proto file from another crate
  rust/release_crates/protobuf_codegen/src/lib.rs
  rust/release_crates/protobuf_example/Cargo-template.toml
  rust/release_crates/protobuf_example/build.rs
  rust/release_crates/protobuf_example/proto/proto_example/foo.proto
  rust/release_crates/protobuf_example/src/main.rs
  rust/release_crates/protobuf_well_known_types/Cargo-template.toml
  rust/release_crates/protobuf_well_known_types/src/lib.rs
Owners: none

Check for allocation failure of map table
  upb/message/map.c
Owners: none

Update to ads v19.
  WORKSPACE
  benchmarks/BUILD.googleapis
  benchmarks/benchmark.cc
Owners: none

Auto-generate files after cl/733457795
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Pacify address sanitizer on windows (#20245)
  src/google/protobuf/dynamic_message.cc
Owners: none

WIP experimenting with positional arguments
  ruby/.ruby-version
  ruby/Gemfile.lock
  ruby/bench/bench.rb
  ruby/bench/bench_messages.proto
  ruby/bench/bench_messages_pb.rb
  ruby/ext/google/protobuf_c/message.c
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

fix sha
  bazel/private/prebuilt_binaries.bzl
Owners: none

Fix up some shorten-62-to-32 warnings
  upb/mini_table/internal/enum.h
Owners: none

Loosen py_proto_library check to be on the import path instead of full directory (i.e. excluding external/module-name prefix).
  .github/workflows/test_bazel.yml
  bazel/py_proto_library.bzl
  examples/MODULE.bazel
  examples/WORKSPACE
  examples/examples_with_hyphen/BUILD.bazel
  examples/examples_with_hyphen/MODULE.bazel
  examples/examples_with_hyphen/empty.proto
Owners: @protocolbuffers/protobuf-docs

Loosen py_proto_library check to be on the import path instead of full directory (i.e. excluding external/module-name prefix).
  .github/workflows/test_bazel.yml
  bazel/py_proto_library.bzl
  examples/MODULE.bazel
  examples/WORKSPACE
  examples/examples_with_hyphen/BUILD.bazel
  examples/examples_with_hyphen/MODULE.bazel
  examples/examples_with_hyphen/empty.proto
Owners: @protocolbuffers/protobuf-docs

Auto-generate files after cl/733761364
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove a number of conversion warnings
  upb/hash/common.h
Owners: none

Automated Code Change
  rust/BUILD
  upb/hash/common.h
Owners: none

Auto-generate files after cl/733768967
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

upb: Working with inttable in most of the upb_Map functions.
  upb/message/internal/map.h
  upb/message/map.c
  upb/message/map_sorter.c
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/733786380
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

[protobuf] Use absl endian primitives instead of reimplementing them manually
  src/google/protobuf/endian.h
Owners: none

Make rules_ruby a dev-only dependency.
  BUILD.bazel
  WORKSPACE
  conformance/BUILD.bazel
  protobuf.bzl
  protobuf_deps.bzl
  ruby/BUILD.bazel
  ruby/compatibility_tests/v3.0.0/tests/BUILD.bazel
  ruby/defs.bzl
  ruby/lib/google/BUILD.bazel
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Loosen py_proto_library check to be on the import path instead of full directory (i.e. excluding external/module-name prefix). (#20569)
  .github/workflows/test_bazel.yml
  bazel/py_proto_library.bzl
  examples/MODULE.bazel
  examples/WORKSPACE
  examples/examples_with_hyphen/BUILD.bazel
  examples/examples_with_hyphen/MODULE.bazel
  examples/examples_with_hyphen/empty.proto
Owners: @protocolbuffers/protobuf-docs

Use Bazel's $(location) to determine location of conformance data dependencies
  conformance/bazel_conformance_test_runner.sh
  conformance/defs.bzl
Owners: none
