Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Remove unused import
  java/core/src/test/java/com/google/protobuf/IterableByteBufferInputStreamTest.java
Owners: @protocolbuffers/protobuf-java

Add a comment to describe `IterableByteBufferInputStreamTest.testEmptyBuffers` https://github.com/protocolbuffers/protobuf/pull/19890#discussion_r1907539083
  java/core/src/test/java/com/google/protobuf/IterableByteBufferInputStreamTest.java
Owners: @protocolbuffers/protobuf-java

Comment how `getNextByteBuffer` skips empty items https://github.com/protocolbuffers/protobuf/pull/19890#discussion_r1907535015
  java/core/src/main/java/com/google/protobuf/IterableByteBufferInputStream.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/unittest_large_oneof.proto
Owners: none

Internal changes
  editions/golden/editions_transform_noop.proto
  editions/proto/editions_transform_noop.proto
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
Owners: none

Switch BCR presubmit to testing from example module (instead of default dummy module) so we can use .bazelrc and reference @local_config_cc.
  .bcr/presubmit.yml
Owners: none

MicroString field representation for VIEW.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
  src/google/protobuf/port.cc
  src/google/protobuf/port.h
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

cleanup unused and no-op NoHeapChecker
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arena_test_util.cc
  src/google/protobuf/arena_test_util.h
  src/google/protobuf/arena_unittest.cc
Owners: none

Auto-generate files after cl/727031137
  src/file_lists.cmake
Owners: none

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
Owners: none

Move StringSpaceUsedExcludingSelfLong to port to be used by lower level libraries.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.cc
  src/google/protobuf/port.h
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Add GHA test for full_mac_build.sh and ensure it passes #test-continuous
  .github/workflows/test_objectivec.yml
  objectivec/DevTools/full_mac_build.sh
Owners: @protocolbuffers/protobuf-objc

[ObjC] Mark the 30007 test case for when it can be removed.
  objectivec/Tests/GPBMessage30007FormatTest.m
Owners: @protocolbuffers/protobuf-objc

Switch BCR presubmit to testing from example module (instead of default dummy module) so we can use .bazelrc and reference @local_config_cc.
  .bcr/presubmit.yml
Owners: none

Fix redundant clang-cl and msvc platform constraint for Bazel 8 compatibility and enable Bazel 8 presubmits in BCR.
  .bcr/presubmit.yml
  WORKSPACE
  build_defs/BUILD.bazel
Owners: none

Fix redundant clang-cl and msvc platform constraint for Bazel 8 compatibility and enable Bazel 8 presubmits in BCR.
  .bcr/presubmit.yml
  WORKSPACE
  build_defs/BUILD.bazel
Owners: none

internal change
  python/google/protobuf/proto_api.h
  python/google/protobuf/pyext/message_module.cc
Owners: @protocolbuffers/protobuf-python

Working with inttable in most of `upb_Map` functions.
  upb/hash/common.c
  upb/hash/int_table.h
  upb/hash/test.cc
  upb/message/internal/map.h
  upb/message/map.c
  upb/message/map_sorter.c
  upb/wire/encode.c
Owners: none

Internal change
  python/google/protobuf/proto_api.h
  python/google/protobuf/pyext/message_module.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Fix nullable annotations for messages in oneofs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesEdition2023.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto2.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto2Editions.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto3Editions.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/Unittest.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestIssues.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestWellKnownTypes.pb.nrt.cs
  csharp/src/Google.Protobuf.Test/Compatibility/NullabilityTest.cs
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
Owners: @protocolbuffers/protobuf-csharp

Auto-generate files after cl/728209023
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Add GHA test for full_mac_build.sh and ensure it passes #test-continuous
  .github/workflows/test_objectivec.yml
  objectivec/DevTools/full_mac_build.sh
Owners: @protocolbuffers/protobuf-objc

Reject attempts to add extensions to non-extendable messages
  upb/mini_descriptor/decode.c
Owners: none

Auto-generate files after cl/728256590
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Inline the once_flag variable in DescriptorTable.
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/message.cc
Owners: @protocolbuffers/protobuf-java

Make msgmut also support clear_and_parse()
  rust/codegen_traits.rs
  rust/test/shared/serialization_test.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Fix const incorrectness on upb C gencode map types.
  upb_generator/c/generator.cc
Owners: none

Improve error messaging when detecting and erroring out on integer overflow of byte count limit variables.
  java/core/src/main/java/com/google/protobuf/CodedInputStream.java
  java/core/src/main/java/com/google/protobuf/InvalidProtocolBufferException.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/extension_set.h
Owners: none

MicroString field representation for VIEW.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Internal Change
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Control bounds checks via BUILD flags.
  src/google/protobuf/port.h
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Remove a layer of indirection from looking up submessages.
  upb/mini_descriptor/decode.c
  upb/mini_descriptor/link.c
  upb/mini_table/internal/message.h
  upb/mini_table/internal/sub.h
  upb/wire/decode.c
  upb/wire/encode.c
  upb_generator/minitable/generator.cc
Owners: none

Internal change
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated rollback of commit 37b6652ca50351f64d03abaf27d843aef2328ef7.
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Run buildifier
  BUILD.bazel
  bazel/java_lite_proto_library.bzl
  bazel/java_proto_library.bzl
  bazel/private/toolchains/BUILD.bazel
  bazel/proto_library.bzl
  bazel/toolchains/proto_lang_toolchain.bzl
  compatibility/BUILD.bazel
  conformance/BUILD.bazel
  conformance/test_protos/BUILD.bazel
  editions/BUILD
  examples/BUILD.bazel
  java/internal/BUILD.bazel
  java/kotlin-lite/BUILD.bazel
  java/kotlin/BUILD.bazel
  java/lite/BUILD.bazel
  java/util/BUILD.bazel
  lua/BUILD.bazel
  protobuf.bzl
  python/BUILD.bazel
  ruby/lib/google/BUILD.bazel
  rust/BUILD
  rust/defs.bzl
  rust/test/cpp/interop/BUILD
  upb/bazel/BUILD
  upb/cmake/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby
