Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

pbtk: idiomatically specify python default version
  MODULE.bazel
Owners: none

Automated Code Change
  python/google/protobuf/pyext/extension_dict.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  python/google/protobuf/pyext/extension_dict.cc
Owners: @protocolbuffers/protobuf-python

[protobuf] Use absl endian primitives instead of reimplementing them manually
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/endian.h
Owners: none

Raise warnings when assign bool to enum field in Python Proto
  python/convert.c
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/port_def.inc
Owners: none

Add Python deprecation warnings for Descriptor Label.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-java

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/generated_enum_util_test.cc
Owners: none

Rename maven install back to `maven` in MODULE.bazel
  MODULE.bazel
  WORKSPACE
  examples/WORKSPACE
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java

Make public 'TextFormat::Printer::SetRedactDebugString' (#22508)
  src/google/protobuf/text_format.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/parse_context.cc
Owners: none

drop-deprecated-pkg-resources-declare (#22442)
  python/google/__init__.py
Owners: @protocolbuffers/protobuf-python

Fix warning C4141: 'inline': used more than once (#22440)
  src/google/protobuf/port_def.inc
  third_party/utf8_range/utf8_range.c
  third_party/utf8_range/utf8_range_neon.inc
  third_party/utf8_range/utf8_range_sse.inc
Owners: none

Automated rollback of commit c256302461b4223ddec008d6ecb05fc0e3b7ce01. (#22553)
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Automated rollback of commit c256302461b4223ddec008d6ecb05fc0e3b7ce01. (#22552)
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

drop-deprecated-pkg-resources-declare (#22442)
  python/google/__init__.py
Owners: @protocolbuffers/protobuf-python

Internal Change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
  java/core/src/test/java/com/google/protobuf/ProtobufToStringOutputTest.java
Owners: @protocolbuffers/protobuf-java

drop-deprecated-pkg-resources-declare (#22442) (#22594)
  python/google/__init__.py
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

refactor: Relax dependency version constraints in python/requirements.txt
  python/requirements.txt
Owners: @protocolbuffers/protobuf-python

revert: Relax dependency version constraints in python/requirements.txt
  python/requirements.txt
Owners: @protocolbuffers/protobuf-python

refactor: Remove deprecated SpaceUsed() from message.h
  commit_message.txt
  src/google/protobuf/message.h
Owners: none

Add DETAILS.md for improved documentation
  DETAILS.md
Owners: none

Automated Code Change
  hpb/BUILD
  hpb/backend/BUILD
  hpb/backend/cpp/BUILD
  hpb/backend/upb/BUILD
  hpb/internal/BUILD
  python/build_targets.bzl
  rust/cpp_kernel/BUILD
  rust/test/cpp/interop/BUILD
  rust/test/shared/utf8/BUILD
  src/google/protobuf/compiler/test_plugin_injection.bzl
Owners: @protocolbuffers/protobuf-python

Internal changes
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/unknown_field_set.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Move gltf protos to ::imp::gltf::imp_proto namespace.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  hpb/BUILD
  hpb/backend/BUILD
  hpb/backend/cpp/BUILD
  hpb/backend/upb/BUILD
  hpb/internal/BUILD
  python/build_targets.bzl
  rust/cpp_kernel/BUILD
  rust/test/cpp/interop/BUILD
  rust/test/shared/utf8/BUILD
  src/google/protobuf/compiler/test_plugin_injection.bzl
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  rust/release_crates/protobuf_macros/BUILD
Owners: none

Internal changes
  src/google/protobuf/unknown_field_set.h
Owners: none

cleanup: use Label() to construct the user-visible label
  rust/defs.bzl
Owners: none

Internal Change.
  src/google/protobuf/unittest.proto
Owners: none

Internal changes
  src/google/protobuf/unknown_field_set.h
Owners: none

pbtk: idiomatically specify python default version
  MODULE.bazel
Owners: none

Automated Code Change
  third_party/utf8_range/BUILD.bazel
Owners: none

Automated Code Change
  bazel/tests/testdata/BUILD
  editions/BUILD
  hpb_generator/BUILD
  hpb_generator/tests/BUILD
Owners: none

Automated Code Change
  benchmarks/BUILD
  benchmarks/build_defs.bzl
  python/py_extension.bzl
  upb/BUILD
  upb_generator/BUILD
  upb_generator/bootstrap_compiler.bzl
  upb_generator/common/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: @protocolbuffers/protobuf-python
