Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Optimize encoding long varints on arm64
  cmake/installed_include_golden.txt
  upb/BUILD
  upb/message/BUILD
  upb/message/test.cc
  upb/wire/BUILD
  upb/wire/encode.c
  upb/wire/writer.h
Owners: none

Auto-generate files after cl/767814597
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

CppGenerator::Generate: null-check FileDescriptor*
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
  src/google/protobuf/compiler/cpp/generator.cc
Owners: none

Split out separate options for JVM and whether OrBuilder parent types exists
  src/google/protobuf/compiler/java/options.h
  src/google/protobuf/compiler/kotlin/generator.cc
  src/google/protobuf/compiler/kotlin/message.cc
  src/google/protobuf/compiler/kotlin/message.h
Owners: @protocolbuffers/protobuf-java

Don't use the inline assembly encoder when msan is on.
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/768131870
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Make randomized tests reproducible + IWYU
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Auto-generate files after cl/768245628
  src/google/protobuf/any.pb.h
Owners: none

Add Ruby files for documentation purposes (#21212)
  ruby/.yardopts
  ruby/README.md
  ruby/Rakefile
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/map.c
  ruby/ext/google/protobuf_c/message.c
  ruby/ext/google/protobuf_c/repeated_field.c
  ruby/generate_stubs.rb
  ruby/lib/stubs/.keep
Owners: @protocolbuffers/protobuf-ruby

Fix constness of minitableextension params
  upb/mini_descriptor/decode.h
Owners: none

Auto-generate files after cl/768335300
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Make randomized tests reproducible + IWYU
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  java/core/src/test/java/com/google/protobuf/ExtensionRegistryFactoryTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
Owners: none

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/cpp/copy_unittest.cc
  src/google/protobuf/compiler/cpp/enum.cc
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Moved some code around to avoid backward reference errors in the linker.
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode_fast/dispatch.c
  upb/wire/decode_fast/dispatch.h
  upb/wire/internal/decoder.c
  upb/wire/internal/decoder.h
Owners: none

Moved some code around to avoid backward reference errors in the linker.
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode_fast/dispatch.c
  upb/wire/decode_fast/dispatch.h
  upb/wire/internal/decoder.c
  upb/wire/internal/decoder.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode_fast/dispatch.c
  upb/wire/decode_fast/dispatch.h
  upb/wire/internal/decoder.c
  upb/wire/internal/decoder.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode_fast/dispatch.c
  upb/wire/decode_fast/dispatch.h
  upb/wire/internal/decoder.c
  upb/wire/internal/decoder.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
