Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Enable hint hasbits for repeated fields.
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/port.h
Owners: none

Auto-generate files after cl/797416567
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
Owners: none

Use strong reference CPython C APIs under free-threading
  python/descriptor_containers.c
  python/message.c
  python/repeated.c
  python/unknown_fields.c
Owners: @protocolbuffers/protobuf-python

Add critical sections for Message objects.
  python/message.c
  python/protobuf.c
  python/python_api.h
Owners: @protocolbuffers/protobuf-python

Add locking for free-threading build.
  python/descriptor.c
  python/descriptor_pool.c
  python/map.c
  python/message.c
  python/protobuf.c
  python/protobuf.h
  python/repeated.c
Owners: @protocolbuffers/protobuf-python

Add PyUpb_Mutex (recursive mutex).
  python/protobuf.c
Owners: @protocolbuffers/protobuf-python

wip: hack to build for 3.14t
  python/dist/BUILD.bazel
  python/dist/dist.bzl
Owners: @protocolbuffers/protobuf-python

Add type check when convert datetime to Timestamp and convert timedelta to duration.
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/internal/well_known_types.py
  python/google/protobuf/internal/well_known_types_test.py
Owners: @protocolbuffers/protobuf-python

Automated rollback of commit 43bcf7f6865c93bae00c567900eac134278c4087.
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/port.h
Owners: none

Auto-generate files after cl/797521918
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
Owners: none

Automated rollback of commit ecf0f35e4d469788fc488287affdebdbac5c2b17.
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/port.h
Owners: none

Auto-generate files after cl/797571979
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
Owners: none

feat(protoc): Add support for building protoc on the RISC-V platform in 3.20.x branch
  protoc-artifacts/build-protoc.sh
Owners: none

feat(protoc): Add support for building protoc on the RISC-V platform
  protoc-artifacts/build-protoc.sh
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/wire_format.cc
Owners: none

Fix access to UPB_PRIVATE inside UPB_TRACING_ENABLED.
  upb/mini_descriptor/decode.c
Owners: none

Auto-generate files after cl/797935893
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Move toward a boundary between Rust generated code and the unstable upb API
  rust/upb.rs
  rust/upb/lib.rs
  rust/upb/mini_table.rs
  src/google/protobuf/compiler/rust/enum.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Move the RepeatedPtrField capacity to the Rep, and infer capacity when empty/in SSO mode.
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal Change
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Add debug asserts for bounds checking of scalar ops.
  python/unknown_fields.c
  upb/message/internal/compare_unknown.c
  upb/message/promote.c
  upb/text/internal/encode.c
  upb/wire/decode.c
  upb/wire/eps_copy_input_stream.h
  upb/wire/reader.c
  upb/wire/reader.h
  upb/wire/test_util/wire_message.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Add alias for `timestamp_upb_proto`.
  BUILD.bazel
Owners: none

Use the 'better' JSON parser on the conformance suite harness.
  conformance/binary_json_conformance_suite.cc
Owners: none

Replace IsLocked by IsLockedByCurrentThread.
  python/protobuf.c
Owners: @protocolbuffers/protobuf-python

Move "state == NULL" check into PyUpb_ObjCache_Delete
  python/protobuf.c
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Deprecate arena-enabled constructor of RepeatedPtrField.
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change.
  upb/wire/decode.c
Owners: none

Auto-generate files after cl/798404536
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Update raw_ptr_test.cc
  src/google/protobuf/raw_ptr_test.cc
Owners: none

Added tests of existing buggy upb behavior when parsing closed enum extensions.
  python/google/protobuf/internal/message_test.py
Owners: @protocolbuffers/protobuf-python

Optimize.
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_impl.h
Owners: none

Add arena ownership APIs
  hpb/arena.h
  hpb/backend/upb/extension.cc
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_generated.cc
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena.hpp
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Optimize `proto2::Reflection::ListFields` by avoiding reloads of the `destructor_` member variable.
  src/google/protobuf/generated_message_reflection.cc
Owners: none

utf8_range: Remove unused DEFAULT_VISIBILITY
  third_party/utf8_range/BUILD.bazel
Owners: none

Internal Change.
  src/google/protobuf/arenastring.cc
Owners: none

Automated rollback of commit 5abc542998b3edbf325946c6bd0a95421d696e91.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_fields.h
Owners: none

protobuf: update to Abseil LTS 20250814.0
  MODULE.bazel
  protobuf_deps.bzl
Owners: none

Fixed a parser bug where closed enums are parsed incorrectly for non-repeated extensions.
  python/google/protobuf/internal/message_test.py
  upb/wire/decode.c
Owners: @protocolbuffers/protobuf-python
