Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

upb: Split out unknown field equality and correctly compare float/double fields
  python/convert.c
  python/convert.h
  python/descriptor_pool.c
  python/map.c
  python/message.c
  upb/message/BUILD
  upb/message/compare.c
  upb/message/compare.h
  upb/message/compare_test.cc
  upb/message/compare_unknown.c
  upb/message/compare_unknown_test.cc
  upb/message/internal/compare_unknown.h
Owners: @protocolbuffers/protobuf-python

Add a bunch of optional changes to csharp code generation
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_options.h
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.h
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
Owners: @protocolbuffers/protobuf-csharp

Fix PHP 8.4 deprecation in GPBDecodeException (#21232)
  php/src/Google/Protobuf/Internal/GPBDecodeException.php
Owners: @protocolbuffers/protobuf-php

Fix link errors when building `libprotoc` using latest llvm-mingw toolchain
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change
  src/google/protobuf/util/python/README.md
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/testdata/test_messages.proto
Owners: none

Turn on MicroString on the stable experiment build.
  src/google/protobuf/compiler/cpp/options.h
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/port.h
Owners: none

fix(php): update composer.json.dist (#21217)
  php/composer.json
  php/composer.json.dist
  php/tests/ComposerJsonTest.php
Owners: @protocolbuffers/protobuf-php

Avoid including windows.h directly in time_util (#21346)
  src/google/protobuf/util/BUILD.bazel
  src/google/protobuf/util/internal_timeval.h
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util.h
  src/google/protobuf/util/time_util_test.cc
Owners: none

fix(php): update composer.json.dist (#21217)
  php/composer.json
  php/composer.json.dist
  php/tests/ComposerJsonTest.php
Owners: @protocolbuffers/protobuf-php

Avoid including windows.h directly in time_util (#21346)
  src/google/protobuf/util/BUILD.bazel
  src/google/protobuf/util/internal_timeval.h
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util.h
  src/google/protobuf/util/time_util_test.cc
Owners: none

Auto-generate files after PR #21346
  src/file_lists.cmake
Owners: none

Replace outdated select() on --cpu references with platform-compatible constraint_values.
  python/BUILD.bazel
Owners: @protocolbuffers/protobuf-python

Fix link errors when building `libprotoc` using latest llvm-mingw toolchain (#21364)
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Revert "Fix link errors when building `libprotoc` using latest llvm-mingw too…"
  src/google/protobuf/repeated_ptr_field.h
Owners: none

fix(php): do not throw deprecated warning on field getters for default values (#21033)
  php/tests/GeneratedClassTest.php
  php/tests/proto/test.proto
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Refactor wire_format_unittest.inc textual include header into a normal header with GoogleTest typed parameterized tests.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/test_util.h
  src/google/protobuf/wire_format_unittest.cc
  src/google/protobuf/wire_format_unittest.h
Owners: none

Auto-generate files after cl/749876728
  src/file_lists.cmake
Owners: none

Fix link errors when building libprotoc using latest LLVM-MinGW toolchain
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Disable staleness refresh GHA on release branches.
  .github/workflows/staleness_refresh.yml
Owners: none

Internal Change.
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Add "fast-parse" hotness category to message layout optimizers.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_probe_benchmark.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/preserve_unknown_enum_test.cc
  src/google/protobuf/proto3_arena_lite_unittest.cc
  src/google/protobuf/proto3_lite_unittest.cc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/retention_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/text_format.cc
Owners: none

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  src/google/protobuf/test_util_lite.cc
  src/google/protobuf/unknown_field_set.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Internal change
  src/google/protobuf/generated_enum_util.cc
  src/google/protobuf/generated_message_bases.h
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/drop_unknown_fields_test.cc
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/feature_resolver.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java
