Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

hpb: make ExtensionRegistry take in hpb::Arena instead of upb::Arena
  hpb/BUILD
  hpb/extension.h
Owners: none

[ObjC] Mark the generator final.
  src/google/protobuf/compiler/objectivec/generator.cc
  src/google/protobuf/compiler/objectivec/generator.h
Owners: @protocolbuffers/protobuf-objc

Internal Change.
  src/google/protobuf/unittest.proto
Owners: none

Test conformance behavior in practice in the face of duplicate keys
  conformance/binary_json_conformance_suite.cc
Owners: none

Internal change
  java/core/src/test/java/com/google/protobuf/ProtobufToStringOutputTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/wire_format.cc
  src/google/protobuf/wire_format.h
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MICRO>-<language> for clarity
  Protobuf.podspec
Owners: none

hpb: temporarily disable SetExtensionFusingFailureShouldCopy while we refactor hpb::Arena
  hpb_generator/tests/extension_test.cc
Owners: none

try hermetic python for 3.12
  MODULE.bazel
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

cleanup use_module for py
  MODULE.bazel
Owners: none

cleanup commented out blocks
  MODULE.bazel
Owners: none

cleanup python/internal.bzl
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

name module python
  MODULE.bazel
Owners: none

add 3_12 suffix for py
  MODULE.bazel
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

hpb: Introduce canonical hpb::Arena
  hpb/BUILD
  hpb/arena.h
  hpb/extension.h
  hpb/internal/internal.h
  hpb/internal/message_lock_test.cc
  hpb_generator/tests/extension_test.cc
Owners: none

Fix and refactor experimental flag.
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/cpp/options.h
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
  src/google/protobuf/port.h
  src/google/protobuf/proto3_arena_unittest.cc
Owners: none

Internal change
  src/google/protobuf/wire_format.cc
  src/google/protobuf/wire_format.h
Owners: none

Internal change
  src/google/protobuf/wire_format.cc
  src/google/protobuf/wire_format.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Internal change
  rust/BUILD
  rust/cpp_kernel/BUILD
  rust/upb/BUILD
  rust/upb/sys/BUILD
Owners: none

Faster datetime parsing
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Mark proto2::compiler::cpp::CppGenerator as final.
  src/google/protobuf/compiler/cpp/generator.h
Owners: none

Introduce denylisted_protos as a preferred replacement for blacklisted_protos attribute.
  bazel/private/proto_lang_toolchain_rule.bzl
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/test/java/com/google/protobuf/LegacyUnredactedTextFormatTest.java
Owners: @protocolbuffers/protobuf-java

get python only tests working! Thanks Sandy
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

CppGenerator: parse generator options in GenerateAll
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
  src/google/protobuf/compiler/cpp/generator.cc
  src/google/protobuf/compiler/cpp/generator.h
Owners: none

more commenting out of system_python and add current_py_cc_headers
  python/BUILD.bazel
  python/py_extension.bzl
Owners: @protocolbuffers/protobuf-python

got python/dist:linux_aarch64_local building
  python/dist/BUILD.bazel
  python/dist/dist.bzl
Owners: @protocolbuffers/protobuf-python

cleanup; rm commented out lineas
  python/BUILD.bazel
  python/dist/BUILD.bazel
  python/dist/dist.bzl
  python/py_extension.bzl
Owners: @protocolbuffers/protobuf-python

v312 not v12 lol
  python/dist/BUILD.bazel
Owners: @protocolbuffers/protobuf-python

Make tests & benchmarks in serialize_micro_benchmark_test.cc faster, especially in debug mode
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Support static assert
  upb/mem/arena.c
  upb/mini_descriptor/decode.c
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Auto-generate files after cl/773167917
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/io/coded_stream.cc
  src/google/protobuf/io/test_zero_copy_stream.h
  src/google/protobuf/io/test_zero_copy_stream_test.cc
Owners: none

Convert list to string for COMMENT argument
  cmake/protobuf-generate.cmake
Owners: none
