Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change
  java/core/src/test/proto/com/google/protobuf/large_enum_aliased.proto
Owners: @protocolbuffers/protobuf-java

Add a filegroup for Rust crates
  rust/release_crates/BUILD
Owners: none

Roll back in-place extension promotion. Keeping each unknown field in its own entry prevents merging during parse, a substantial performance optimization.
  upb/message/internal/extension.c
  upb/message/internal/extension.h
  upb/message/promote.c
Owners: none

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Auto-generate files after cl/732227851
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Warn on unused RepeatedField.
  src/google/protobuf/repeated_field.h
Owners: none

upb: improve the hash function for inttable. For a 64-bit key, XOR higher and lower 32 bits to get the hash value to reduce possibility of hashing collisions.
  upb/hash/common.c
Owners: none

Fast path for non-aliased unknown fields.
  upb/mem/arena.h
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/message/internal/message.h
  upb/message/message.c
  upb/message/message.h
  upb/message/promote.c
  upb/message/promote_test.cc
Owners: none

Auto-generate files after cl/732252827
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Change back to CodedOutputStream with SetSerializationDeterministic() and Trim() in proto_api.
  python/google/protobuf/proto_api.cc
Owners: @protocolbuffers/protobuf-python

Support deleting an interval of an unknown field.
  upb/message/message.c
  upb/message/message.h
  upb/message/promote.c
Owners: none

Auto-generate files after cl/732291683
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  conformance/BUILD.bazel
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/Gemfile.lock
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Merge consecutive unknown fields when parsing with aliasing on. This shows large improvements in benchmarks on arm64 little cores.
  upb/message/message.c
Owners: none

Auto-generate files after cl/732305859
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix / loosen py_proto_library check to be on the import path instead of full directory (i.e. excluding external/module-name prefix).
  .github/workflows/test_bazel.yml
  bazel/py_proto_library.bzl
  examples/MODULE.bazel
  examples/WORKSPACE
  examples/examples_with_hyphen/BUILD.bazel
  examples/examples_with_hyphen/MODULE.bazel
  examples/examples_with_hyphen/empty.proto
Owners: @protocolbuffers/protobuf-docs

Add Cargo packages for proc macro.
  rust/proto_proc_macro/BUILD
  rust/proto_proc_macro/proto_proc_macro_impl.rs
  rust/release_crates/BUILD
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf_macros/BUILD
  rust/release_crates/protobuf_macros/Cargo-template.toml
  rust/release_crates/protobuf_macros/README.md
  rust/release_crates/release.sh
Owners: none

Update convert.c
  python/convert.c
Owners: @protocolbuffers/protobuf-python

Update convert.c
  python/convert.c
Owners: @protocolbuffers/protobuf-python

Update convert.c
  python/convert.c
Owners: @protocolbuffers/protobuf-python

Rewrite testJavaProtoInfoAspect to Starlark
  .github/workflows/test_upb.yml
  bazel/tests/BUILD
  bazel/tests/java_proto_library_tests.bzl
  bazel/tests/testdata/my_rule_with_aspect.bzl
Owners: none

Add more oneof types for unit tests
  java/core/src/test/java/com/google/protobuf/DescriptorsTest.java
  src/google/protobuf/unittest.proto
  src/google/protobuf/util/field_mask_util_test.cc
Owners: @protocolbuffers/protobuf-java

Python 3.12 support: Simplify upb python's check with ndarray by Py_TYPE(arg)->tp_name to avoid ref leak in python 3.12. The new code will have better performance too.
  .github/workflows/test_upb.yml
  python/convert.c
Owners: @protocolbuffers/protobuf-python

Update test_upb.yml
  .github/workflows/test_upb.yml
Owners: none

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/defs.bzl
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/lib/google/BUILD.bazel
  ruby/src/main/java/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  conformance/BUILD.bazel
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/Gemfile.lock
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/src/main/java/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Internal change
  rust/proto_proc_macro/BUILD
  rust/proto_proc_macro/proto_proc_macro.rs
Owners: none

Python 3.12 support: Simplify upb python's check with ndarray by Py_TYPE(arg)->tp_name to avoid ref leak in python 3.12. The new code will have better performance too.
  .github/workflows/test_upb.yml
  python/convert.c
  python/convert.h
Owners: @protocolbuffers/protobuf-python

Remove dev_dependency = True from the Maven extension in MODULE.bazel.
  MODULE.bazel
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Internal change
  rust/bazel/aspects.bzl
Owners: none

Split maven deps and add example coverage of java utils
  MODULE.bazel
  examples/AddPerson.java
  examples/BUILD.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java

Update WORKSPACE maven setup
  WORKSPACE
  maven_dev_install.json
  maven_install.json
  protobuf_deps.bzl
Owners: none

Add util dependency for lite test too
  examples/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs

Add maven to examples WORKSPACE config
  examples/WORKSPACE
Owners: @protocolbuffers/protobuf-docs

Update rules_jvm_external to 6.7
  MODULE.bazel
Owners: none

Mark dev dependencies
  MODULE.bazel
Owners: none

Switch resolver to maven
  .github/workflows/test_bazel.yml
  MODULE.bazel
Owners: none

Upgrade to Java 11 in our examples tests
  .github/workflows/test_bazel.yml
  MODULE.bazel
  examples/.bazelrc
Owners: @protocolbuffers/protobuf-docs

Specify more java version flags
  .github/workflows/test_bazel.yml
  examples/.bazelrc
Owners: @protocolbuffers/protobuf-docs

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
