Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change.
  upb/wire/decode.c
Owners: none

Auto-generate files after cl/761263658
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Tag the api_implementation Python extension module as Python 3.13 no-GIL compatible.
  python/google/protobuf/internal/api_implementation.cc
Owners: @protocolbuffers/protobuf-python

Restore libatomic linkage workaround for 32-bit powerpc
  CMakeLists.txt
  cmake/protobuf-configure-target.cmake
  cmake/upb_generators.cmake
  pkg/BUILD.bazel
Owners: none

Auto-generate files after cl/761332521
  src/file_lists.cmake
Owners: none

Use unicode
  appveyor.bat
  appveyor.yml
  cmake/protobuf-configure-target.cmake
Owners: none

Fix tests
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
Owners: none

Automated Code Change
  java/core/src/test/java/com/google/protobuf/CodedInputStreamTest.java
Owners: @protocolbuffers/protobuf-java

Remove absl::Mutex
  cmake/abseil-cpp.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arena.cc
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring.cc
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/compiler/python/generator.h
  src/google/protobuf/compiler/python/pyi_generator.cc
  src/google/protobuf/compiler/python/pyi_generator.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/dynamic_message.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/zero_copy_stream_unittest.cc
  src/google/protobuf/map_field.cc
  src/google/protobuf/map_field.h
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/message.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/thread_safe_arena.h
  src/google/protobuf/unknown_field_set_unittest.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  upb/mem/arena_test.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Fix expected parse failures that may fail for the wrong reasons
  conformance/binary_json_conformance_suite.cc
Owners: none

Automated Code Change
  java/core/src/main/java/com/google/protobuf/FieldSet.java
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  java/core/src/main/java/com/google/protobuf/FieldSet.java
  java/core/src/main/java/com/google/protobuf/MapField.java
Owners: @protocolbuffers/protobuf-java

Enable if constexpr
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/reflection_visit_fields_test.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Optimize upb's encoding of the packed status of packable repeated fields
  upb/reflection/field_def.h
  upb/reflection/message_def.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
Owners: none

Auto-generate files after cl/761524104
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix an assertion failure with hwasan on
  upb/mem/arena.c
  upb/mem/arena_test.cc
Owners: none

Auto-generate files after cl/761539080
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add explicit default copy and move constructors
  src/google/protobuf/text_format.cc
  src/google/protobuf/text_format.h
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Manually backport recursion limit enforcement to 25.x
  python/build_targets.bzl
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/decoder_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Remove debugging code and add EOLs
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/decoder_test.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/message.cc
  src/google/protobuf/message.h
Owners: none

python pyi print "import datetime" for Duration/Timestamp field
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Change proto_api work with custom pool for upb and pure python.
  python/descriptor_pool.c
  python/google/protobuf/pyext/message_module.cc
Owners: @protocolbuffers/protobuf-python

Update Rust generator to output minidescriptors instead of C minitables
  rust/bazel/aspects.bzl
  rust/test/rust_proto_library_unit_test/rust_proto_library_unit_test.bzl
  rust/test/shared/BUILD
  rust/test/shared/simple_nested_test.rs
  rust/test/upb/BUILD
  rust/test/upb/thread_local_arena_test.rs
  rust/upb.rs
  rust/upb/BUILD
  rust/upb/associated_mini_table.rs
  rust/upb/lib.rs
  rust/upb/mini_table.rs
  rust/upb/upb_api.c
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/rust/BUILD.bazel
  src/google/protobuf/compiler/rust/context.h
  src/google/protobuf/compiler/rust/enum.cc
  src/google/protobuf/compiler/rust/enum.h
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/message.cc
  src/google/protobuf/compiler/rust/message.h
  src/google/protobuf/compiler/rust/upb_helpers.cc
  src/google/protobuf/compiler/rust/upb_helpers.h
  src/google/protobuf/compiler/scc.h
  upb_generator/bootstrap_compiler.bzl
  upb_generator/plugin.cc
  upb_generator/plugin.h
Owners: none

python pyi print "import datetime" for Duration/Timestamp field
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

Add internal-only `MessageLite::MergeFromWithClassData()`
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
Owners: none

Remove mutable-specific code from open-source.
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/lite/enum_field.cc
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
Owners: @protocolbuffers/protobuf-java

python pyi print "import datetime" for Duration/Timestamp field (#21885)
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Support size hint on apple platforms
  upb/mem/alloc.c
  upb/mem/arena.c
  upb/mem/arena_test.cc
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Ban `import weak` and `weak` field option in edition 2024 in protoc (parser and c++ runtime).
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Auto-generate files after cl/761993162
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Reflection/Descriptor.pb.cs
  php/ext/google/protobuf/php-upb.c
  php/src/Google/Protobuf/Internal/FieldOptions.php
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-php

Internal change.
  java/core/src/test/java/com/google/protobuf/AbstractMessageTest.java
  java/core/src/test/java/com/google/protobuf/MessageTest.java
  java/core/src/test/java/com/google/protobuf/TextFormatTest.java
  java/core/src/test/java/com/google/protobuf/UnknownFieldSetTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  benchmarks/benchmark.cc
  upb/mem/arena.c
  upb/mem/internal/arena.h
  upb/wire/encode.c
Owners: none
