Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Update CMakeLists.txt
  CMakeLists.txt
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Convert list to string for COMMENT argument
  cmake/protobuf-generate.cmake
Owners: none

Upgrade to Bazel 7.6.1
  .bazeliskrc
  .github/workflows/staleness_check.yml
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_php.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
  ci/push_auto_update.sh
Owners: none

Add Kotlin class name helpers to names.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/compiler/java/names.cc
  src/google/protobuf/compiler/java/names.h
Owners: @protocolbuffers/protobuf-java

Cover editions in `google.protobuf.Api` and `google.protobuf.Method`
  src/google/protobuf/api.proto
Owners: none

Auto-generate files after cl/780309418
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/WellKnownTypes/Api.pb.cs
  objectivec/GPBApi.pbobjc.h
  objectivec/GPBApi.pbobjc.m
  php/ext/google/protobuf/wkt.inc
  php/src/GPBMetadata/Google/Protobuf/Api.php
  php/src/Google/Protobuf/Api.php
  php/src/Google/Protobuf/Method.php
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php

Update raw_ptr_test.cc
  src/google/protobuf/raw_ptr_test.cc
Owners: none

only use __popcnt instrinsic on x86/x64
  upb/hash/common.c
Owners: none

Auto-generate files after cl/780548033
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

arena_fusion.md typo fix
  docs/upb/arena_fusion.md
Owners: @protocolbuffers/protobuf-docs

Internal Change.
  src/google/protobuf/generated_message_tctable_decl.h
Owners: none

pbkt: get python/decoder_test building on bazel8
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

force ci to run with dummy commit
  python/internal.bzl
Owners: @protocolbuffers/protobuf-python

Restore the long-deprecated static functions on TextFormat.
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Updating setuptools to patch CVE-2025-47273 (#22094)
  python/dist/BUILD.bazel
  python/dist/setup_wrapper.sh
  python/requirements.txt
Owners: @protocolbuffers/protobuf-python

pbtk: update rules_python to 1.4.1 for access to local python installs for toolchains
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Auto-generate files after cl/780702432
  cmake/dependencies.cmake
Owners: none

Won't submit
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Update raw_ptr_test.cc
  src/google/protobuf/raw_ptr_test.cc
Owners: none

Set hasbits for V2 TDP in helper.
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Rename maven install back to in MODULE.bazel
  MODULE.bazel
Owners: none

Add a comment
  MODULE.bazel
Owners: none

Don't change protobuf_maven_dev
  MODULE.bazel
Owners: none

Fix BUILD files
  MODULE.bazel
  WORKSPACE
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Fix example
  examples/WORKSPACE
Owners: @protocolbuffers/protobuf-docs

[ObjC] fix the pddm source check.
  objectivec/DevTools/sources_pddm_expansion_test.sh
  objectivec/GPBCodedOutputStream.m
Owners: @protocolbuffers/protobuf-objc

[ObjC] fix the pddm source check.
  objectivec/DevTools/sources_pddm_expansion_test.sh
  objectivec/GPBCodedOutputStream.m
Owners: @protocolbuffers/protobuf-objc

pbtk: rm ignore_root_user_error = True since this is now the default
  MODULE.bazel
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
