Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Restore generator headers in cmake install until the next breaking C++ release (#20749)
  cmake/installed_include_golden.txt
  csharp/src/Google.Protobuf.Test/testprotos.pb
  pkg/BUILD.bazel
  src/file_lists.cmake
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/csharp/BUILD.bazel
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/kotlin/BUILD.bazel
  src/google/protobuf/compiler/objectivec/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/ruby/BUILD.bazel
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Updating version.json and repo version numbers to: 29.4
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Internal changes
  bazel/private/bazel_java_proto_library_rule.bzl
Owners: none

Fix migration notice about py_proto_library
  protobuf.bzl
Owners: none

Internal change
  bazel/private/bazel_java_proto_library_rule.bzl
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Add volatile to featuresResolved
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Add SetInChunks for parsing.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Minor codegen fix.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/generated_message_reflection.h
Owners: none

Add volatile to featuresResolved
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Add volatile to featuresResolved
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Add Clang nullability annotations to dynamic_message.h APIs
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/dynamic_message.h
Owners: none

Add volatile to featuresResolved (#20767)
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Add volatile to featuresResolved (#20766)
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Allow the proto! proc impl to be built on bazel
  Cargo.bazel.lock
  Cargo.lock
  MODULE.bazel
  WORKSPACE
  rust/proto_proc_macro/BUILD
  rust/test/shared/BUILD
Owners: none

Add protobuf_maven artifacts to protobuf_maven_dev as well so they can still be referenced correctly using the dev namespace for dev-only targets.
  MODULE.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Removed obsolete -lm link option.
  upb_generator/reflection/BUILD
Owners: none

Add protobuf_maven artifacts to protobuf_maven_dev as well so they can still be referenced correctly using the dev namespace for dev-only targets.
  MODULE.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Add protobuf_maven artifacts to protobuf_maven_dev as well so they can still be referenced correctly using the dev namespace for dev-only targets. (#20771)
  MODULE.bazel
  java/util/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Skip very large input test in 32-bit as it might cause OOMs.
  src/google/protobuf/micro_string_test.cc
Owners: none

Replace `Output` with `io::Printer` in upb's reflection code generator.
  upb_generator/reflection/BUILD
  upb_generator/reflection/context.h
  upb_generator/reflection/generator.cc
  upb_generator/reflection/header.cc
  upb_generator/reflection/header.h
  upb_generator/reflection/names.h
  upb_generator/reflection/source.cc
  upb_generator/reflection/source.h
Owners: none

Auto-generate files after cl/738968810
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-php

Locked down visibility of rules used from aspects.
  hpb/bazel/hpb_proto_library.bzl
  pkg/BUILD.bazel
  upb/BUILD
  upb/reflection/BUILD
  upb_generator/bootstrap_compiler.bzl
  upb_generator/c/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: none

Require ProtoInfo provider instead of proto_library rule for bazel cc_proto_library deps.
  bazel/private/bazel_cc_proto_library.bzl
Owners: none

Extend error message about field number collisions by proposing the next unused field number.
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Update rake-compiler and rake-compiler-dock
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Introduce Java NestInFileClass feature in java_features.proto for Edition 2024.
  java/core/src/main/resources/google/protobuf/java_features.proto
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/739187956
  java/core/src/main/java/com/google/protobuf/JavaEditionDefaults.java
Owners: @protocolbuffers/protobuf-java

Move the 32-bit opt-out to the right test.
  src/google/protobuf/micro_string_test.cc
Owners: none

Locked down a few more targets used by aspects.
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  upb_generator/c/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
Owners: none

Internal change
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Refactored Bazel rules.
  bazel/BUILD.bazel
  bazel/private/BUILD
  bazel/private/proto_library_rule.bzl
  bazel/proto_library.bzl
Owners: none

Extract Java TextFormat.Tokenizer into new file
  java/core/src/main/java/com/google/protobuf/TextFormat.java
  java/core/src/main/java/com/google/protobuf/TxtpbTokenizer.java
Owners: @protocolbuffers/protobuf-java

Implement Protobuf Java Immutable API `nest_in_file_class` feature for Edition 2024.
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/generator.h
  src/google/protobuf/compiler/java/generator_unittest.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java

Turn on the inline buffer in 32-bit mode too.
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/test/java/com/google/protobuf/LegacyUnredactedTextFormatTest.java
Owners: @protocolbuffers/protobuf-java

Enable inline buffer for big-endian builds.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Restore JDK8 compatibility in Bazel for libraries with dependencies from Maven (e.g. //java/util)
  .github/workflows/test_java.yml
  MODULE.bazel
Owners: none

Breaking change: "Delete" deprecated `proto2::util::MessageDifferencer::AddIgnoreCriteria(IgnoreCriteria*)` and its remaining call sites (pt 5 of 5).
  src/google/protobuf/port_def.inc
  src/google/protobuf/util/message_differencer.h
Owners: none
