Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Cleanup unused, always-false log_debug_utf8_failure flag.
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Auto-generate files after cl/791779036
  src/google/protobuf/struct.pb.cc
Owners: none

Fix mishandling on JSON serialization of Timestamp with invalid negative and too-large nanos value.
  conformance/failure_list_cpp.txt
  src/google/protobuf/json/internal/unparser.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
Owners: none

Internal change
  src/google/protobuf/repeated_field.h
Owners: none

Raise warnings for float_precision from python json_format. Raise warnings for float_format/double_format from python text_format.
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Raise warnings when assign bool to int/enum field in Python Proto. This will turn into error in 34.0 release.
  python/convert.c
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/map_container.cc
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_scalar_container.cc
Owners: @protocolbuffers/protobuf-python

Fix --_BoolWarningCount to _BoolWarningCount -= 1
  python/google/protobuf/internal/type_checkers.py
Owners: @protocolbuffers/protobuf-python

Raise warnings for float_precision from python json_format. Raise warnings for float_format/double_format from python text_format.
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Add option to C++ JSON Parser/Serializer to allow customers to affirmatively disable legacy bug-compatibilty behaviors.
  src/google/protobuf/json/BUILD.bazel
  src/google/protobuf/json/internal/lexer.cc
  src/google/protobuf/json/internal/lexer.h
  src/google/protobuf/json/internal/lexer_test.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/writer.h
  src/google/protobuf/json/json.cc
  src/google/protobuf/json/json.h
  src/google/protobuf/json/json_test.cc
Owners: none

Delete declarative macro and switch to proc macro
  rust/BUILD
  rust/proto_macro.rs
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf/Cargo-template.toml
  rust/shared.rs
Owners: none

Remove the Dart-upb conformance testee.
  conformance/conformance_dart.dart
Owners: none

Migrate unittest_features.proto to edition 2024.
  java/core/src/test/java/com/google/protobuf/DescriptorsTest.java
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/unittest_features.proto
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/791866799
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestFeatures.pb.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

Changes needed for testing
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf/build.rs
  rust/test/BUILD
  rust/test/shared/BUILD
  rust/test/shared/proto_macro_test.rs
Owners: none

Remove has_presence condition on updating cached_has_bits in serialize.
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Auto-generate files after cl/791897325
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Cherry pick #22875 and #22922 which raise warnings when assign bool to int/enum (#23030)
  python/convert.c
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/map_container.cc
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_scalar_container.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/parse_context.cc
Owners: none

Support repeated fields with hasbits in message generator.
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/message_lite.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/792007698
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Owners: none

Assign hasbits to repeated fields if experiment flag is enabled, and set hasbits accordingly everywhere.
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_field_info.h
Owners: none

Assign hasbits to repeated fields if experiment flag is enabled, and set hasbits accordingly everywhere.
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_field_info.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_macros/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

pbtk: setup local toolchain for python
  MODULE.bazel
  cmake/dependencies_generator.py
Owners: none

Validate `Duration` instances produced by the static factories.
  java/util/src/main/java/com/google/protobuf/util/Durations.java
  java/util/src/test/java/com/google/protobuf/util/DurationsTest.java
Owners: @protocolbuffers/protobuf-java

Add NTA prefetch to protobuf message fields in dtors. This ensures that the fields are cached, and marked for quick invalidation from the cache.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Fix proto file.
  src/google/protobuf/sample_messages_edition.proto
Owners: none

internal change
  hpb/BUILD
  upb_generator/c/BUILD
  upb_generator/common/BUILD
  upb_generator/minitable/BUILD
Owners: none

Raise warnings for float_precision from python json_format. Raise warnings for float_format/double_format from python text_format.
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Delete the declarative `proto!` macro and fully switch over to the proc version
  rust/BUILD
  rust/proto_macro.rs
  rust/protobuf_macros/BUILD
  rust/protobuf_macros/proto_proc_macro_impl.rs
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf/build.rs
  rust/release_crates/protobuf_macros/BUILD
  rust/shared.rs
  rust/test/BUILD
  rust/test/shared/BUILD
  rust/test/shared/proto_macro_test.rs
Owners: none

Raise warnings for float_precision from python json_format. (#23042)
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Enable hint hasbits for repeated fields.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/port.h
Owners: none

Internal Change.
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  java/core/src/main/java/com/google/protobuf/ClassLoaderValues.java
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/LazySupplier.java
  java/core/src/main/java/com/google/protobuf/ProtoClassLoader.java
  java/core/src/main/java/com/google/protobuf/ProtoClassLoaderValue.java
  java/core/src/main/resources/google/protobuf/java_generated_metadata.proto
  java/core/src/test/java/com/google/protobuf/DescriptorsTest.java
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Introduce `com.google.protobuf.Descriptors.DescriptorPool`
  java/core/src/main/java/com/google/protobuf/ClassLoaderValues.java
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/LazySupplier.java
  java/core/src/main/java/com/google/protobuf/ProtoClassLoader.java
  java/core/src/main/java/com/google/protobuf/ProtoClassLoaderValue.java
  java/core/src/main/resources/google/protobuf/java_generated_metadata.proto
  java/core/src/test/java/com/google/protobuf/DescriptorsTest.java
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  java/core/src/main/java/com/google/protobuf/GeneratedExtensionRegistrySets.java
Owners: @protocolbuffers/protobuf-java

Internal Change
  hpb/internal/BUILD
  hpb/internal/message_lock_test.cc
Owners: none

Java tests for import option
  .github/workflows/test_java.yml
  cmake/tests.cmake
  java/core/BUILD.bazel
  java/core/src/test/java/com/google/protobuf/ImportOptionTest.java
  python/build_targets.bzl
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/java/file.cc
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
