Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Rewrite tests for proto_common.experimental_should_generate_code to Starlark
  bazel/tests/BUILD
  bazel/tests/proto_common_should_generate_tests.bzl
  bazel/tests/testdata/should_generate.bzl
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Remove unnecessary metadata offset. It is a member of the base class now.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/message.h
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/port.h
Owners: none

Auto-generate files after cl/726032588
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

hbp: remove genn'd forwarding header
  hpb/bazel/hpb_proto_library.bzl
  hpb_generator/names.cc
  hpb_generator/names.h
  hpb_generator/protoc-gen-hpb.cc
Owners: none

Remove rules_rust dependency from MODULE.bazel for 30.x (#20310)
  .github/workflows/test_rust.yml
  MODULE.bazel
  cmake/dependencies.cmake
Owners: none

[ObjC] Only promote known extensions in messageset
  objectivec/GPBMessage.m
  objectivec/Tests/GPBWireFormatTests.m
  objectivec/Tests/unittest_mset.proto
Owners: @protocolbuffers/protobuf-objc

Make php generator's header public for gRPC (#20320)
  cmake/installed_include_golden.txt
  pkg/BUILD.bazel
  src/file_lists.cmake
Owners: none

fix more tests
  php/src/Google/Protobuf/RepeatedField.php
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

rename repeated field and add alias in c-extension
  php/ext/google/protobuf/array.c
Owners: @protocolbuffers/protobuf-php

Test the behavior of parsing an empty string from wire.
  src/google/protobuf/message_unittest.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Treat string_view properly in tracker codegen
  src/google/protobuf/compiler/cpp/tracker.cc
Owners: none

Use `size_t` instead of `int` for loop indices.
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
Owners: none

Load py_runtime_pair from rules_python
  python/dist/system_python.bzl
Owners: @protocolbuffers/protobuf-python

Fixes -lpthread problem when building with android_arm64 config
  build_defs/cpp_opts.bzl
Owners: none

Automated Code Change
  upb/bazel/BUILD
Owners: none

hpb: refactor SetExtension to have a sole entry point
  hpb/extension.h
Owners: none

Fix PHP debug-build failure from https://github.com/protocolbuffers/protobuf/pull/12707
  .github/workflows/test_php.yml
  php/ext/google/protobuf/message.c
Owners: @protocolbuffers/protobuf-php

upb: introduce a union to upb_Map to support both string and int table.
  upb/message/internal/map.h
  upb/message/map.c
  upb/message/map_sorter.c
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/726536300
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add a conformance test case to cover the case of an empty string on wire.
  conformance/binary_json_conformance_suite.cc
  conformance/binary_json_conformance_suite.h
Owners: none

Internal change
  upb/BUILD
  upb/port/def.inc
  upb/reflection/BUILD
  upb_generator/BUILD
  upb_generator/bootstrap_compiler.bzl
Owners: none

Auto-generate files after cl/726558800
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal Change
  src/google/protobuf/arenastring_unittest.cc
Owners: none

hpb: Add support for string extensions
  hpb/extension.h
  hpb_generator/gen_utils.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_extension.proto
Owners: none

Move upb minitable code generator into protoc
  cmake/libprotoc.cmake
  pkg/BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/main.cc
  upb_generator/bootstrap_compiler.bzl
  upb_generator/minitable/BUILD
  upb_generator/minitable/generator.cc
  upb_generator/minitable/generator.h
  upb_generator/minitable/main.cc
Owners: none

Fixes -lpthread problem when building with android_arm64 config (#20337)
  build_defs/cpp_opts.bzl
Owners: none

Remove `@deprecated` from the private accessor java doc.
  src/google/protobuf/compiler/java/doc_comment.cc
  src/google/protobuf/compiler/java/doc_comment.h
  src/google/protobuf/compiler/java/lite/enum_field.cc
  src/google/protobuf/compiler/java/lite/primitive_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Enable bzlmod+workspace rust tests
  .github/workflows/test_rust.yml
Owners: none

Add notices.txt with information about our dependencies' license and add --notices flag to protoc to print the content of that file.
  CMakeLists.txt
  MODULE.bazel
  cmake/installed_include_golden.txt
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/notices.txt
Owners: none

minor: fix windows build for lite_unittest, dynamic_message_unittest
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/lite_unittest.cc
Owners: none

Internal Change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arena_test_util.cc
  src/google/protobuf/arena_test_util.h
  src/google/protobuf/arena_unittest.cc
Owners: none

Filter out empty buffers when creating a CodedInputStream
  java/core/src/main/java/com/google/protobuf/IterableByteBufferInputStream.java
  java/core/src/test/java/com/google/protobuf/IterableByteBufferInputStreamTest.java
Owners: @protocolbuffers/protobuf-java

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
