Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Updating version.json and repo version numbers to: 31.1
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Create an Android version for unredactedStringValueOf() that calls the default toString() method
  java/core/src/main/java/com/google/protobuf/android/UnredactedDebugFormatForTest.java
Owners: @protocolbuffers/protobuf-java

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

Internal Change.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_unittest.proto
Owners: none

Remove dependency between allocation region end and block list
  upb/mem/arena.c
  upb/mem/internal/arena.h
Owners: none

Auto-generate files after cl/764470808
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/java/options.h
  src/google/protobuf/compiler/kotlin/generator.cc
  src/google/protobuf/compiler/kotlin/message.cc
  src/google/protobuf/compiler/kotlin/message.h
Owners: @protocolbuffers/protobuf-java

Internal change
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Added more fine-grained decoder tests.
  upb/BUILD
  upb/message/BUILD
  upb/message/accessors.hpp
  upb/message/internal/compare_unknown_test.cc
  upb/mini_descriptor/internal/encode.hpp
  upb/wire/BUILD
  upb/wire/decode_benchmark.cc
  upb/wire/decode_fast/BUILD
  upb/wire/decode_test.cc
  upb/wire/test_util/BUILD
  upb/wire/test_util/field_types.h
  upb/wire/test_util/make_mini_table.cc
  upb/wire/test_util/make_mini_table.h
  upb/wire/test_util/wire_message.cc
  upb/wire/test_util/wire_message.h
Owners: none

Auto-generate files after cl/764546791
  src/file_lists.cmake
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Use absl 20250512
  cmake/dependencies.cmake
Owners: none

Fix rust-cpp parse FFI to use PtrAndLen instead of SerializedData
  rust/cpp.rs
  rust/cpp_kernel/message.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Introduce specific traits for getting raw messages on both cpp and upb.
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Use blanket implementations for `*GetRawMessage*` traits
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Use blanket implementations for `*GetRawMessage*` traits
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Make `.*InternalDescriptors.descriptor` private and only accessible via the public `getDescriptor()` method
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Cosmetic change, use .contains()
  src/google/protobuf/util/message_differencer.cc
Owners: none

Rewrote fixed field decoding for the fasttable parser, and enabled it.
  upb/bazel/build_defs.bzl
  upb/mini_table/internal/message.h
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode.h
  upb/wire/decode_fast/BUILD
  upb/wire/decode_fast/cardinality.h
  upb/wire/decode_fast/combinations.h
  upb/wire/decode_fast/dispatch.h
  upb/wire/decode_fast/field_fixed.c
  upb/wire/decode_fast/function_array.c
  upb/wire/decode_test.cc
  upb/wire/internal/decoder.h
  upb/wire/test_util/BUILD
  upb/wire/test_util/make_mini_table.cc
  upb/wire/test_util/make_mini_table.h
Owners: none

Auto-generate files after cl/764939946
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Backwards allocation for encode.
  upb/mem/arena.c
  upb/mem/internal/arena.h
  upb/message/test.cc
  upb/wire/encode.c
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/MapField.java
Owners: @protocolbuffers/protobuf-java

Implement Clear and ClearAndParse as blanket implementations on both cpp and upb kernels.
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Move the upb minitable generator back out of protoc
  cmake/install.cmake
  cmake/installed_bin_golden.txt
  cmake/tests.cmake
  cmake/upb_generators.cmake
  pkg/BUILD.bazel
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/release_crates/protobuf_codegen/src/lib.rs
  src/google/protobuf/compiler/BUILD.bazel
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/release/BUILD.bazel
  upb_generator/bootstrap_compiler.bzl
  upb_generator/minitable/BUILD
  upb_generator/minitable/generator.cc
  upb_generator/minitable/generator.h
  upb_generator/minitable/main.cc
Owners: none

Auto-generate files after cl/765213553
  src/file_lists.cmake
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Fixed UBSAN warning about `NULL + 0`
  upb/wire/internal/decoder.h
Owners: none

Auto-generate files after cl/765263053
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Make each gencode message proxy types hold an respectively named "inner" type, where those inner types are generic on the corresponding owned message type.
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/accessors/singular_cord.cc
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/accessors/singular_string.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Move error path into noinline function, specialize for tags
  upb/wire/decode.c
Owners: none

Auto-generate files after cl/765283652
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Cache-friendly `RepeatedPtrField`: Add unit test to exercise failure scenario
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Array utils for textformat migration
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
  java/core/src/test/java/com/google/protobuf/LegacyUnredactedTextFormatTest.java
  java/core/src/test/java/com/google/protobuf/UnredactedDebugFormatForTestTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none
