Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Auto-generate files after cl/756760709
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/io/coded_stream.h
  src/google/protobuf/message_lite.cc
Owners: @protocolbuffers/protobuf-java

Use assertThrows in ErrorTest.
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22ErrorTest.java
Owners: @protocolbuffers/protobuf-java

The MiniDescriptor parser is now capable of building fasttables at runtime.
  upb/mini_descriptor/BUILD
  upb/mini_descriptor/decode.c
  upb/mini_table/internal/message.h
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode_fast/BUILD
  upb/wire/decode_fast/bisect.sh
  upb/wire/decode_fast/combinations.h
  upb/wire/decode_fast/dispatch.h
  upb/wire/decode_fast/field_fixed.c
  upb/wire/decode_fast/field_parsers.h
  upb/wire/decode_fast/function_array.c
  upb/wire/decode_fast/select.c
  upb/wire/internal/decoder.h
Owners: none

Auto-generate files after cl/756792199
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
  upb_generator/cmake/google/protobuf/compiler/plugin.upb_minitable.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal changes
  conformance/BUILD
  conformance/test_protos/BUILD
Owners: none

Internal changes
  src/google/protobuf/descriptor.h
Owners: none

Use the proper assertThrows
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22ErrorTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Update test_upb.yml to use ubuntu-22
  .github/workflows/test_upb.yml
Owners: none

Cache the result of FieldDescriptor::is_map().
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

Fix missing trailing newline.
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22ErrorTest.java
Owners: @protocolbuffers/protobuf-java

Remove calls to Label within Protobuf Python.
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/internal/extension_dict.py
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/reflection_test.py
  python/google/protobuf/internal/unknown_fields_test.py
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Add Ruby script to generate files
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/map.c
  ruby/ext/google/protobuf_c/message.c
  ruby/ext/google/protobuf_c/repeated_field.c
  ruby/generate_stubs.rb
  ruby/lib/stubs/abstract_message.rb
  ruby/lib/stubs/descriptor.rb
  ruby/lib/stubs/descriptor_pool.rb
  ruby/lib/stubs/enum.rb
  ruby/lib/stubs/enum_descriptor.rb
  ruby/lib/stubs/field_descriptor.rb
  ruby/lib/stubs/file_descriptor.rb
  ruby/lib/stubs/map.rb
  ruby/lib/stubs/method_descriptor.rb
  ruby/lib/stubs/oneof_descriptor.rb
  ruby/lib/stubs/repeated_field.rb
  ruby/lib/stubs/service_descriptor.rb
Owners: @protocolbuffers/protobuf-ruby

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
Owners: none

Fixes and links
  ruby/ext/google/protobuf_c/defs.c
  ruby/lib/stubs/descriptor.rb
  ruby/lib/stubs/descriptor_pool.rb
  ruby/lib/stubs/enum_descriptor.rb
  ruby/lib/stubs/field_descriptor.rb
  ruby/lib/stubs/file_descriptor.rb
  ruby/lib/stubs/method_descriptor.rb
  ruby/lib/stubs/oneof_descriptor.rb
  ruby/lib/stubs/service_descriptor.rb
Owners: @protocolbuffers/protobuf-ruby

comments
  ruby/generate_stubs.rb
Owners: @protocolbuffers/protobuf-ruby

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/message_lite.cc
Owners: none

Internal change.
  java/core/src/main/java/com/google/protobuf/AbstractMessage.java
  java/core/src/main/java/com/google/protobuf/ProtobufToStringOutput.java
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Internal changes
  conformance/BUILD
  conformance/conformance_test.cc
Owners: none

Refactor conformance library
  .github/workflows/test_cpp.yml
  cmake/conformance.cmake
  conformance/BUILD
  conformance/conformance_test.h
  conformance/conformance_test_main.cc
  conformance/conformance_test_runner.cc
  conformance/failure_list_trie_node.h
  conformance/fork_pipe_runner.cc
  conformance/fork_pipe_runner.h
  conformance/test_runner.h
  pkg/BUILD.bazel
Owners: none

Auto-generate files after cl/757011936
  src/file_lists.cmake
Owners: none

Internal change
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Internal change
  upb/mem/BUILD
  upb/mem/rust/arena.rs
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Change ChangeOneof into void return type and let it initialize oneof fields.
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Internal Change.
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Fixed edge cases in PyiGenerator when using reserved keywords
  src/google/protobuf/compiler/python/helpers.cc
  src/google/protobuf/compiler/python/helpers.h
  src/google/protobuf/compiler/python/plugin_unittest.cc
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
