Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Cleanup on upb/hash/common
  upb/hash/common.c
  upb/hash/common.h
  upb/hash/int_table.h
  upb/message/internal/map_sorter.h
  upb/message/map_sorter.c
  upb/text/encode.c
  upb/wire/encode.c
Owners: none

Auto-generate files after cl/734933132
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal mutable changes
  src/google/protobuf/unittest.proto
Owners: none

Prototype of conformance test redesign
  conformance/conformance_cpp.cc
  conformance/conformance_test.h
  conformance/conformance_test_runner.cc
  conformance/failure_list_java_lite.txt
  conformance/failure_list_trie_node.h
  conformance/v2/BUILD
  conformance/v2/binary_test.cc
  conformance/v2/binary_wireformat.cc
  conformance/v2/binary_wireformat.h
  conformance/v2/conformance.bzl
  conformance/v2/failure_lists/java_lite_binary.txt
  conformance/v2/global_test_environment.h
  conformance/v2/global_test_environment_main.cc
  conformance/v2/matchers.cc
  conformance/v2/matchers.h
  conformance/v2/naming.h
  conformance/v2/params.h
  conformance/v2/test_environment.cc
  conformance/v2/test_environment.h
  conformance/v2/testee.cc
  conformance/v2/testee.h
  conformance/v2/text_test.cc
  editions/BUILD
  src/google/protobuf/test_textproto.h
Owners: none

internal exp
  java/core/src/main/resources/google/protobuf/java_features.proto
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java

Internal mutable changes
  java/core/src/main/java/com/google/protobuf/MessageReflection.java
Owners: @protocolbuffers/protobuf-java

Optimize field search during parsing, specifically for the case where we encounter unknown fields and extensions - this no longer does a full scan of the minitable for each encountered field.
  upb/wire/decode.c
Owners: none

[php][compiler] - Add predicate methods to generated well known types
  php/ext/google/protobuf/wkt.inc
  php/tests/WellKnownTest.php
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Synchronize GPBMessage internalClear to avoid potential threading issues on dealloc.
  objectivec/GPBMessage.m
Owners: @protocolbuffers/protobuf-objc

Don't maintain pointless presence bits for map entries.
  upb/message/accessors.c
  upb/message/internal/map_entry.h
  upb/mini_descriptor/decode.c
  upb/reflection/field_def.c
Owners: none

Avoid unnecessary sign extension to size_t for has bits
  upb/message/internal/accessors.h
  upb/mini_table/internal/field.h
Owners: none

Auto-generate files after cl/735610397
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

fix(cmake): abseil and protobuf msvc static runtime must have the same value
  CMakeLists.txt
Owners: none

Internal change
  rust/proto_proc_macro/proto_proc_macro_impl.rs
Owners: none

Fix UBSan error:
  objectivec/GPBArray.m
Owners: @protocolbuffers/protobuf-objc

[php][ext] - Fix isset behaviour
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Set the default key & value in upb_Message_SetMapEntry to upb_MessageValue_Zero.
  upb/message/accessors.c
Owners: none

Auto-generate files after cl/735771144
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Document backwards varint parsing implementation in unknown fields
  upb/wire/decode.c
Owners: none

Automated rollback of commit 1d4b6bac6e5d5d889bf38ecce44afa93e3cc03e2.
  java/util/src/main/java/com/google/protobuf/util/JsonFormat.java
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/735779068
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Overflow check math in build_enum.c
  upb/mini_descriptor/build_enum.c
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Auto-generate files after cl/735782107
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Optimization attempt for large repeated fixed size numbers.
  src/google/protobuf/parse_context.h
Owners: none

Prepend with ::Google so we're sure we're referencing the global Google module
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rb
  src/google/protobuf/compiler/ruby/ruby_generator.cc
Owners: @protocolbuffers/protobuf-ruby

internal exp
  java/core/src/main/resources/google/protobuf/java_features.proto
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/descriptor.cc
Owners: @protocolbuffers/protobuf-java

More overflow checks on allocations
  upb/mini_descriptor/decode.c
  upb/reflection/enum_value_def.c
  upb/reflection/internal/enum_value_def.h
Owners: none

Re-add `system_python` repo alias to MODULE.bazel
  MODULE.bazel
Owners: none

Re-add `system_python` repo alias to MODULE.bazel (#20662)
  MODULE.bazel
Owners: none

Sanity check testing pure python only with bzlmod since this shouldn't use system_python outside of //python/dist/...
  .github/workflows/test_python.yml
Owners: none

internal
  CMakeLists.txt
  MODULE.bazel
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/message.h
  python/google/protobuf/pyext/repeated_composite_container.cc
  python/google/protobuf/pyext/repeated_scalar_container.cc
  python/repeated.c
  upb/hash/common.c
  upb/hash/int_table.h
  upb/mini_descriptor/decode.c
  upb/reflection/enum_def.c
  upb/reflection/enum_value_def.c
  upb/reflection/internal/enum_value_def.h
  upb/reflection/message_def.c
Owners: @protocolbuffers/protobuf-python
