Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/util/time_util.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

internal change
  src/google/protobuf/unittest.proto
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Work around issues with C++20 in Clang 15 and older
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
Owners: none

Removed unused aliases
  lua/BUILD.bazel
  ruby/tests/golden-ruby_ffi_bindings.txt
  upb/BUILD
Owners: @protocolbuffers/protobuf-ruby

Internal change.
  .github/workflows/staleness_check.yml
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
  .github/workflows/test_yaml.yml
Owners: none

Auto-generate files after cl/773742919
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Added central registry to POM files.
  java/bom/pom.xml
  java/kotlin/pom.xml
  java/pom.xml
  java/protoc/pom.xml
  protobuf_version.bzl
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

String.format() API for TextFormat migration
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
  java/core/src/test/java/com/google/protobuf/UnredactedDebugFormatForTestTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change.
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
  java/core/src/test/java/com/google/protobuf/UnredactedDebugFormatForTestTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Upgrade Clang on Windows test runs and work around MSVC error
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
  src/google/protobuf/descriptor.cc
Owners: none

Remove forward declarations from compiler/java/context.h
  cmake/installed_include_golden.txt
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/full/BUILD.bazel
  src/google/protobuf/compiler/java/generator_common.h
  src/google/protobuf/compiler/java/lite/BUILD.bazel
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/kotlin/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/773840460
  src/file_lists.cmake
Owners: none

Removed remaining legacy aliases.
  ruby/tests/golden-ruby_ffi_bindings.txt
  upb/BUILD
Owners: @protocolbuffers/protobuf-ruby

Auto-generate files after cl/773846189
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Upgrade Abseil dependency to 20250512.1
  .github/workflows/test_cpp.yml
  MODULE.bazel
  protobuf_deps.bzl
Owners: none

Auto-generate files after cl/773854775
  cmake/dependencies.cmake
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Don't align up minitable sizes at runtime
  upb/message/internal/message.h
  upb/mini_descriptor/decode.c
  upb/mini_table/internal/message.h
  upb/port/def.inc
  upb/wire/decode_fast/field_message.c
Owners: none

Auto-generate files after cl/773865126
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix expected parse failures that may fail for the wrong reasons (#21873)
  conformance/README.md
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_csharp.txt
  conformance/failure_list_jruby_ffi.txt
  conformance/failure_list_php.txt
  conformance/failure_list_php_c.txt
  conformance/failure_list_python.txt
  conformance/failure_list_python_cpp.txt
  conformance/failure_list_python_upb.txt
  conformance/failure_list_ruby.txt
  php/README.md
  upb/conformance/conformance_upb_failures.txt
Owners: @protocolbuffers/protobuf-php

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Make randomized tests reproducible + IWYU
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
Owners: none

Automated Code Change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Use `ByteSizeLong()` i/o deprecated `ByteSize()` in well_known_types_unittest
  src/google/protobuf/well_known_types_unittest.cc
Owners: none

Internal change
  src/google/protobuf/lite_unittest.cc
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Internal change
  src/google/protobuf/port.h
Owners: none

Internal change
  src/google/protobuf/port.h
Owners: none

Internal change
  java/core/src/test/java/com/google/protobuf/ExtensionRegistryFactoryTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_macros/BUILD
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
