Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Remove all usages of std::is_trivial.
  src/google/protobuf/arena.h
  src/google/protobuf/arenastring.h
  src/google/protobuf/map.h
  src/google/protobuf/repeated_field.h
Owners: none

Internal change.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

Rename VerifyHasBitConsistency to CheckHasBitConsistency.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Protobuf Rust: Support proto2::DownCastMessage in Rust
  rust/codegen_traits.rs
  rust/test/cpp/interop/BUILD
  rust/test/cpp/interop/main.rs
  rust/test/cpp/interop/test_utils.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Auto-generate files after cl/790860983
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Restore compatibility of runtime with pre-3.22.x gencode impacted by CVE-2022-3171
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Print message name on CreateTcParseTable consistency CHECK.
  src/google/protobuf/generated_message_reflection.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/generated_enum_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Add conformance test cases for malformed nanos fields on Durations and Timestamps.
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_cpp.txt
  conformance/failure_list_php.txt
Owners: none

Manually migrate top-level protobuf unittest protos from edition 2023 to edition 2024.
  cmake/tests.cmake
  csharp/generate_protos.sh
  java/core/BUILD.bazel
  python/build_targets.bzl
  python/google/protobuf/internal/descriptor_test.py
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/edition_unittest.proto
  src/google/protobuf/internal_options.proto
  src/google/protobuf/late_loaded_option.proto
  src/google/protobuf/late_loaded_option_user.proto
  src/google/protobuf/map_proto3_unittest.proto
  src/google/protobuf/only_one_enum_test.proto
  src/google/protobuf/sample_messages_edition.proto
  src/google/protobuf/unittest_arena.proto
  src/google/protobuf/unittest_delimited.proto
  src/google/protobuf/unittest_delimited_import.proto
  src/google/protobuf/unittest_drop_unknown_fields.proto
  src/google/protobuf/unittest_lazy_dependencies.proto
  src/google/protobuf/unittest_lazy_dependencies_custom_option.proto
  src/google/protobuf/unittest_lazy_dependencies_enum.proto
  src/google/protobuf/unittest_legacy_features.proto
  src/google/protobuf/unittest_no_field_presence.proto
  src/google/protobuf/unittest_preserve_unknown_enum.proto
  src/google/protobuf/unittest_preserve_unknown_enum2.proto
  src/google/protobuf/unittest_redaction.proto
  src/google/protobuf/unittest_string_type.proto
  src/google/protobuf/unittest_string_view.proto
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Auto-generate files after cl/791221060
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestLegacyFeatures.pb.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

Add JSON conformance test that a single value provided for a repeated field should parse fail.
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_cpp.txt
  conformance/failure_list_php.txt
Owners: none

Remove validate-and-log UTF-8 behavior.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/wire_format.h
  src/google/protobuf/wire_format_lite.h
  src/google/protobuf/wire_format_unittest.h
Owners: none

Clean up some obsolete cpp_features deps since these were all migrated to use import option and option_deps
  src/google/protobuf/BUILD.bazel
Owners: none

Don't return early when encountering a numeric field with a set hasbit in VerifyHasBitConsistency, add tests.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits.h
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.h
Owners: none

Internal change
  src/google/protobuf/extension_set_heavy.cc
Owners: none

Internal change.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Support repeated fields with hasbits for MakeTypeCardForField.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Support repeated fields with hasbits in generated message reflection methods.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Support repeated fields with hasbits for MakeTypeCardForField.
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Support repeated fields in VerifyHasBitConsistency.
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
Owners: none

Internal change.
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
Owners: none

Preserve features in type resolver
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Avoid linker errors when compiling for AOT.
  csharp/src/Google.Protobuf/Collections/RepeatedField.cs
  csharp/src/Google.Protobuf/Reflection/FeatureSetDescriptor.cs
Owners: @protocolbuffers/protobuf-csharp

Update from .NET 6 to .NET 8.
  csharp/src/AddressBook/AddressBook.csproj
  csharp/src/Google.Protobuf.Conformance/Google.Protobuf.Conformance.csproj
  csharp/src/Google.Protobuf.JsonDump/Google.Protobuf.JsonDump.csproj
  csharp/src/Google.Protobuf.Test/Google.Protobuf.Test.csproj
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  global.json
Owners: @protocolbuffers/protobuf-csharp

Enable AOT if the target is new enough.
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/extension_set_heavy.cc
Owners: none

Internal change
  src/google/protobuf/extension_set_heavy.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Internal changes
  src/google/protobuf/extension_set_heavy.cc
Owners: none

Internal changes
  src/google/protobuf/extension_set_heavy.cc
Owners: none

Automated Code Change
  hpb/backend/upb/BUILD
  hpb/backend/upb/extension.h
Owners: none

Add JSON conformance tests for `Duration` and `Timestamp` with too many nano digits.
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_java.txt
  conformance/failure_list_jruby.txt
  conformance/failure_list_php.txt
  conformance/failure_list_python.txt
  conformance/failure_list_python_cpp.txt
  conformance/failure_list_python_upb.txt
Owners: none

generated_message_tctable_decl: improve portability: avoid ambiguous bool type, use uint8_t (#21815)
  src/google/protobuf/generated_message_tctable_decl.h
Owners: none

generated_message_tctable_decl: improve portability: avoid ambiguous bool type, use uint8_t (#21815)
  src/google/protobuf/generated_message_tctable_decl.h
Owners: none

hpb: remove UPB_DEFAULT_CPPOPTS
  hpb/BUILD
  hpb/backend/upb/BUILD
  hpb/internal/BUILD
Owners: none

Hold a per-object mutex when modifying PyUpb_WeakMaps
  python/protobuf.c
  python/python_api.h
Owners: @protocolbuffers/protobuf-python
