Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Add include file when using inject_field_listener_events
  src/google/protobuf/compiler/cpp/file.cc
Owners: none

Backport bumps to aarch64 runners
  .github/workflows/test_cpp.yml
  .github/workflows/test_ruby.yml
Owners: none

Remove `bts` asm instruction.
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

[ObjC] Remove the need to tracking MessageSet on extension field descriptors
  objectivec/GPBDescriptor_PackagePrivate.h
  objectivec/GPBExtensionInternals.m
  objectivec/GPBMessage.m
Owners: @protocolbuffers/protobuf-objc

Backport bumps to aarch64 runners #test-continuous
  .github/workflows/test_cpp.yml
  .github/workflows/test_ruby.yml
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field.cc
Owners: none

Auto-generate files after cl/725247849
  cmake/dependencies.cmake
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field.cc
Owners: none

Update staleness
  cmake/dependencies.cmake
Owners: none

Minor refactor to avoid lifetime bound warnings on some callers.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message.h
Owners: none

Internal Change.
  src/google/protobuf/message_unittest.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

fix
  src/google/protobuf/compiler/cpp/file.cc
Owners: none

Use `__builtin_prefetch()` in `PROTOBUF_PREFETCH_WITH_OFFSET` for flexibility & better optimization
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_test.cc
  src/google/protobuf/port_undef.inc
Owners: none

Add support for RBS, Ruby type signature
  .github/workflows/test_ruby.yml
  protobuf.bzl
  ruby/lib/google/protobuf/ffi/message.rb
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
  src/google/protobuf/compiler/ruby/rbs_generator_unittest.cc
  src/google/protobuf/compiler/ruby/ruby_generated_code.proto
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

ruby codegen: support generation of rbs files
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
Owners: @protocolbuffers/protobuf-ruby

[ObjC] Within a MessageSet parse as a normal extension also.
  conformance/failure_list_objc.txt
  objectivec/GPBMessage.m
  objectivec/Tests/GPBWireFormatTests.m
  objectivec/Tests/unittest_mset.proto
Owners: @protocolbuffers/protobuf-objc

Fix warning from unnecessary `mut` on fn arg.
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Fix warning from unnecessary `mut` on fn arg.
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Update protobuf repository to use the newest version (v4.1.1) of protobuf-ci
  .github/workflows/staleness_check.yml
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
  .github/workflows/test_yaml.yml
Owners: none

Internal change
  src/google/protobuf/wire_format_lite.h
Owners: none

New and extended unit tests for `RepeatedPtrField::MergeFrom()`
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Remove rules_rust dependency from MODULE.bazel for 30.x
  .github/workflows/test_rust.yml
  MODULE.bazel
  cmake/dependencies.cmake
Owners: none

add new file to staleness test
  php/BUILD.bazel
Owners: @protocolbuffers/protobuf-php

add more test cases
  php/tests/EncodeDecodeTest.php
Owners: @protocolbuffers/protobuf-php

Update ubuntu20 to ubuntu22
  .github/workflows/test_ruby.yml
Owners: none

Update test_cpp.yml
  .github/workflows/test_cpp.yml
Owners: none

hpb: Add support for setting extensions as aliases
  hpb/extension.cc
  hpb/extension.h
  hpb_generator/tests/extension_test.cc
Owners: none

N/A
  upb/hash/common.c
Owners: none

Auto-generate files after cl/725760779
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Draft: Import Option POC
  bazel/private/bazel_proto_library_rule.bzl
  editions/BUILD
  editions/import_option.proto
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.h
Owners: @protocolbuffers/protobuf-java

Use more compact name structure.
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Make php generator's header public for gRPC
  cmake/installed_include_golden.txt
  pkg/BUILD.bazel
Owners: none

Auto-generate files after cl/725788478
  src/file_lists.cmake
Owners: none

Make php generator's header public for gRPC
  cmake/installed_include_golden.txt
  pkg/BUILD.bazel
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
Owners: none

Update staleness files
  src/file_lists.cmake
Owners: none

[PHP] allow encoding enums as integers for json (#12707)
  php/BUILD.bazel
  php/ext/google/protobuf/config.m4
  php/ext/google/protobuf/config.w32
  php/ext/google/protobuf/message.c
  php/ext/google/protobuf/print_options.c
  php/ext/google/protobuf/print_options.h
  php/ext/google/protobuf/protobuf.c
  php/src/Google/Protobuf/Internal/CodedOutputStream.php
  php/src/Google/Protobuf/Internal/GPBJsonWire.php
  php/src/Google/Protobuf/Internal/Message.php
  php/src/Google/Protobuf/PrintOptions.php
  php/tests/EncodeDecodeTest.php
Owners: @protocolbuffers/protobuf-php

Break something and see which tests fail.
  src/google/protobuf/parse_context.cc
Owners: none

fix tests
  php/BUILD.bazel
Owners: @protocolbuffers/protobuf-php

Control bounds checks via BUILD flags.
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none
