Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Mark default instances `const`.
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/inlined_string_field.h
Owners: none

Internal change
  src/google/protobuf/arena.h
Owners: none

Automated Code Change
  python/google/protobuf/internal/python_message.py
Owners: @protocolbuffers/protobuf-python

Unify plugin and built-in generators to use request/response interface
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface.h
  src/google/protobuf/compiler/java/file.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/map.h
  src/google/protobuf/parse_context.h
Owners: none

Add another typescript protobuf plugin to the docs (#23154)
  docs/third_party.md
Owners: @protocolbuffers/protobuf-docs

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_database_unittest.cc
Owners: none

Internal change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_lite.h
  src/google/protobuf/service.cc
  src/google/protobuf/service.h
  src/google/protobuf/test_util2.h
  src/google/protobuf/text_format.cc
  src/google/protobuf/text_format.h
  src/google/protobuf/text_format_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/arena_unittest.cc
Owners: none

Delete ci directory
  ci/Linux.bazelrc
  ci/README.md
  ci/Windows.bazelrc
  ci/clang_wrapper
  ci/clang_wrapper++
  ci/common.bazelrc
  ci/macOS.bazelrc
  ci/push_auto_update.sh
  ci/python_compatibility.sh
Owners: none

Delete compatibility directory
  compatibility/BUILD.bazel
  compatibility/buf.yaml
  compatibility/v3.25.0/README.md
  compatibility/v3.25.0/lite_test_protos-speed.srcjar
  compatibility/v3.25.0/patches/001-rename_package.patch
Owners: none

Delete benchmarks directory
  benchmarks/BUILD
  benchmarks/benchmark.cc
  benchmarks/build_defs.bzl
  benchmarks/compare.py
  benchmarks/descriptor.proto
  benchmarks/descriptor_sv.proto
  benchmarks/empty.proto
  benchmarks/gen_protobuf_binary_cc.py
  benchmarks/gen_synthetic_protos.py
  benchmarks/gen_upb_binary_c.py
Owners: none

Automated Code Change
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/importer.h
  src/google/protobuf/compiler/importer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/type_resolver.h
Owners: none

Automated Code Change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_lite.h
  src/google/protobuf/service.cc
  src/google/protobuf/service.h
  src/google/protobuf/test_util2.h
  src/google/protobuf/text_format.cc
  src/google/protobuf/text_format.h
  src/google/protobuf/text_format_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/796518869
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
Owners: none

Handle conflicting macros for OpenBSD
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Convert list to string for COMMENT argument (#22316)
  cmake/protobuf-generate.cmake
Owners: none

Add @com.google.protobuf.Generated annotation to generated Kotlin code
  src/google/protobuf/compiler/kotlin/file.cc
Owners: none

Mark default instances `const`.
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/inlined_string_field.h
Owners: @protocolbuffers/protobuf-java

hpb: implement bare bones of hpb::Status and hpb::StatusOr, which we will be using as our api return types going forward.
  hpb/BUILD
  hpb/status.h
  hpb/status_test.cc
Owners: none

pbtk: update rules_python to 1.4.2
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Auto-generate files after cl/796902466
  cmake/dependencies.cmake
Owners: none

add missing `load` for `sh_binary`
  python/dist/BUILD.bazel
Owners: @protocolbuffers/protobuf-python

Fix handling of repeated extension fields in PyProto JSON
  python/google/protobuf/internal/json_format_test.py
  python/google/protobuf/json_format.py
Owners: @protocolbuffers/protobuf-python

Use ACLE __crc32cd intrinsic on Arm (#23164)
  src/google/protobuf/port.h
Owners: none

Add IsEmpty() function to reflection.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/message.h
Owners: none

Optimization: avoid calling getDescriptor() twice in a row.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Add missing `load` for `sh_binary` in `python/dist/BUILD.bazel` (#23195)
  python/dist/BUILD.bazel
Owners: @protocolbuffers/protobuf-python

Unify plugin and built-in generators to use request/response interface
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface.h
  src/google/protobuf/compiler/java/file.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.cc
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/primitive_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Handle conflicting macros for OpenBSD (#23190)
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

LLM driven swpf
  src/google/protobuf/repeated_field.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/generator.cc
  src/google/protobuf/compiler/java/options.h
Owners: @protocolbuffers/protobuf-java

Add a return statement to FieldHotnessIndex satisfy the compiler.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
