Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Move the implementation of `ProxiedInRepeated` into the C++ kernel runtime
  rust/cpp.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Use std::optional<string> instead of std::string directly in JSON parser path.
  src/google/protobuf/json/internal/lexer.cc
Owners: none

Reduced code size of hpb by removing per-message static init for hpb default instances.
  hpb/backend/upb/BUILD
  hpb/backend/upb/upb.h
  hpb_generator/BUILD
  hpb_generator/context.h
  hpb_generator/gen_messages.cc
Owners: none

Unify plugin and built-in generators to use request/response interface
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface.h
  src/google/protobuf/compiler/java/file.cc
Owners: @protocolbuffers/protobuf-java

Internal changes
  editions/codegen_tests/edition2023_import.proto
  editions/codegen_tests/edition2023_import_feature.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  java/core/src/main/java/com/google/protobuf/MapField.java
Owners: @protocolbuffers/protobuf-java

Disable symbol visibility enforcement by default in C++ runtime
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Use std::optional<string> instead of std::string directly in JSON parser path.
  src/google/protobuf/json/internal/lexer.cc
Owners: none

Remove de-optimization in C++JSON parser based on trying to skip ahead based on UTF8 multibyte sequences.
  src/google/protobuf/json/internal/lexer.cc
Owners: none

pbtk: try rules_python-1.6.0-rc0
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Internal
  src/google/protobuf/message_lite.h
Owners: none

[WIP] hpb: introduce hpb::StatusOr<T> parse that takes in hpb::ParseOptions
  hpb/BUILD
  hpb/backend/upb/BUILD
  hpb/backend/upb/upb.h
  hpb/hpb.h
  hpb/options.h
  hpb_generator/tests/BUILD
  hpb_generator/tests/test_generated.cc
Owners: none

Special case BufferAtLeast(1) as an optimization.
  src/google/protobuf/json/internal/lexer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.h
Owners: none

add missing load statements to `system_python.bzl`'s generated BUILD file
  python/dist/system_python.bzl
Owners: @protocolbuffers/protobuf-python

Removed special-case Bazel code for specifying the C++ toolchain type.
  bazel/private/upb_proto_library_internal/cc_library_func.bzl
Owners: none

fix system python for MODULE.bazel; addresses #18750
  MODULE.bazel
Owners: none

Move the implementation of `ProxiedInRepeated` into the C++ kernel runtime
  rust/cpp.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

internal change
  hpb_generator/BUILD
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_extensions.h
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/gen_repeated_fields.h
  hpb_generator/gen_utils.cc
  hpb_generator/gen_utils.h
  hpb_generator/generator.cc
  hpb_generator/generator.h
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Continue separating Rust gencode from the upb API
  rust/string.rs
  rust/upb.rs
  rust/upb/lib.rs
  rust/upb/message.rs
  rust/upb/mini_table.rs
  rust/upb/sys/message/message.rs
  src/google/protobuf/compiler/rust/accessors/map.cc
  src/google/protobuf/compiler/rust/accessors/repeated_field.cc
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/message.cc
  src/google/protobuf/compiler/rust/oneof.cc
Owners: none

Make a fast path loop in the JSON ParseUTF8.
  src/google/protobuf/json/BUILD.bazel
  src/google/protobuf/json/internal/lexer.cc
  src/google/protobuf/json/internal/lexer.h
  src/google/protobuf/json/json_test.cc
Owners: none

Add comments to upb_Message_IsEmpty API
  upb/message/compare.c
  upb/message/compare.h
Owners: none

Removed copts rule from hpb.
  hpb/BUILD
  hpb/bazel/hpb_proto_library.bzl
Owners: none

Add construction support for datetime/timedelta in repeated Timestamp/Duration
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/internal/well_known_types_test.proto
  python/google/protobuf/internal/well_known_types_test.py
  python/google/protobuf/pyext/message.cc
  python/message.c
Owners: @protocolbuffers/protobuf-python

Internal Change.
  src/google/protobuf/arenastring.cc
Owners: none

add missing `strip_import_prefix` parameter to `addressbook_proto` in `examples/BUILD`
  examples/BUILD.bazel
Owners: @protocolbuffers/protobuf-docs

internal change
  src/google/protobuf/compiler/java/name_resolver.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  bazel/private/bazel_java_proto_library_rule.bzl
Owners: none

Add python tests for import option
  python/google/protobuf/internal/import_test.py
Owners: @protocolbuffers/protobuf-python

Automated rollback of commit ccb418f8324a1fdb891c78d0da20e8b1d06e25b0.
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_fields.h
Owners: none

typo: throw InvalidProtocolBufferException instead of RuntimeException.
  java/util/src/main/java/com/google/protobuf/util/JsonFormat.java
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Automated rollback of commit ccb418f8324a1fdb891c78d0da20e8b1d06e25b0.
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/wire_format.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
Owners: none

Automated Code Change
  src/google/protobuf/arena_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_lite.h
  src/google/protobuf/service.cc
  src/google/protobuf/service.h
  src/google/protobuf/test_util2.h
  src/google/protobuf/text_format.cc
Owners: none

Automated Code Change
  src/google/protobuf/map.h
  src/google/protobuf/parse_context.h
Owners: none

Restrict the ability to extend `com.google.protobuf.ExtensionRegistry`
  java/core/src/main/java/com/google/protobuf/ExtensionRegistry.java
Owners: @protocolbuffers/protobuf-java
