Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Changed `message_benchmark` to `cc_binary()`.
  upb/mini_table/BUILD
Owners: none

Cache-friendly `RepeatedPtrField`: Add unit test to exercise failure scenario
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: none

Annotate generated oneof enum.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/metadata_test.cc
Owners: none

[numpy] Fix breakage in users of Python protobufs under NumPy 2.3rc1.
  python/convert.c
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

rules_python: 1.0.0 -> 1.1.0 (#22078)
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Generate .pyi files in py_proto_library (#10366)
  bazel/py_proto_library.bzl
Owners: none

Propagate .pyi files via direct_pyi_files and transitive_pyi_files
  bazel/py_proto_library.bzl
Owners: none

Make upb's bootstrap binaries use the system malloc
  upb_generator/bootstrap_compiler.bzl
Owners: none

Fix SpaceAllocated not getting updated by allocations that occurred during decode. This was introduced with a fix for race conditions in `SpaceAllocated`.
  upb/mem/arena.c
  upb/message/test.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Auto-generate files after cl/766964997
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/lazily_build_dependencies_test.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Split out separate options for JVM and whether OrBuilder parent types exists
  src/google/protobuf/compiler/java/options.h
  src/google/protobuf/compiler/kotlin/message.cc
  src/google/protobuf/compiler/kotlin/message.h
Owners: @protocolbuffers/protobuf-java

Automated rollback of commit df3e55156c1fbbd002d4855d5775bbb256c5f88a.
  src/google/protobuf/compiler/java/options.h
  src/google/protobuf/compiler/kotlin/message.cc
  src/google/protobuf/compiler/kotlin/message.h
Owners: @protocolbuffers/protobuf-java

Updating setuptools to patch CVE-2025-47273
  python/requirements.txt
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_inl.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
Owners: none

Fix warning about implicit capture of 'this' with '='
  src/google/protobuf/map.cc
Owners: none

Better debugging diagnostic in `DownCastMessage()`
  src/google/protobuf/message.h
Owners: none

Add upb_Message_SetExtensionMessage as a helper for setting a extension field that is a message. This is the extension equivalent of upb_Message_SetBaseFieldMessage.
  upb/message/accessors.h
  upb/message/internal/accessors.h
Owners: none

Auto-generate files after cl/767253667
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fix warning about implicit capture of 'this' with '=' (#22083)
  src/google/protobuf/map.cc
Owners: none

Resolve different signedness warning
  src/google/protobuf/compiler/java/internal_helpers.cc
Owners: @protocolbuffers/protobuf-java

Introduce types MessagePtr<T> and MiniTableFieldPtr<T>
  rust/cpp.rs
  rust/upb.rs
  rust/upb/BUILD
  rust/upb/lib.rs
  rust/upb/message.rs
  rust/upb/mini_table.rs
  rust/upb/wire.rs
  src/google/protobuf/compiler/rust/accessors/singular_cord.cc
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/accessors/singular_string.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Array utils for textformat migration
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
  java/core/src/test/java/com/google/protobuf/LegacyUnredactedTextFormatTest.java
  java/core/src/test/java/com/google/protobuf/UnredactedDebugFormatForTestTest.java
Owners: @protocolbuffers/protobuf-java

Fasttable: Added support for repeated fixed fields.
  upb/message/BUILD
  upb/message/accessors.hpp
  upb/message/array.h
  upb/message/internal/array.h
  upb/message/test.cc
  upb/mini_descriptor/decode.c
  upb/port/sanitizers.h
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/decode_fast/BUILD
  upb/wire/decode_fast/cardinality.h
  upb/wire/decode_fast/combinations.h
  upb/wire/decode_fast/dispatch.h
  upb/wire/decode_fast/field_fixed.c
  upb/wire/decode_test.cc
  upb/wire/test_util/field_types.h
  upb/wire/test_util/wire_message.cc
  upb/wire/test_util/wire_message.h
Owners: none

Ignore non proto dependencies in upb/hpb aspects.
  bazel/private/upb_proto_library_internal/aspect.bzl
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  hpb/bazel/hpb_proto_library.bzl
Owners: none

Auto-generate files after cl/767326576
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Rust: implement ProxiedInRepeated with a blanket implementation for upb
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal change
  src/google/protobuf/duration.proto
Owners: none

Add nodiscard to several extension accessor APIs.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/descriptor.pb.h
Owners: none

Automated rollback of commit 50e90bb84add455170e315e9a7f075274b8e0ada.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/descriptor.pb.h
Owners: none

Fix for Ruby 3.1
  ruby/generate_stubs.rb
Owners: @protocolbuffers/protobuf-ruby
