Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal
  src/google/protobuf/arenaz_sampler.h
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Disable blank github issues. All filed issues should use our defined templates.
  .github/ISSUE_TEMPLATE/config.yml
  src/google/protobuf/arenaz_sampler.h
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Disable blank github issues. All filed issues should use our defined templates.
  .github/ISSUE_TEMPLATE/config.yml
  src/google/protobuf/arenaz_sampler.h
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Automated Code Change
  src/google/protobuf/arenaz_sampler.h
Owners: none

Add on-demand construction of enum validation data for dynamic messages.
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Disable blank github issues. All filed issues should use our defined templates.
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

Add standalone plugins to installed_bin_golden.txt
  cmake/installed_bin_golden.txt
Owners: none

Update Rust version checking logic to handle release candidates
  rust/release_crates/protobuf_codegen/src/lib.rs
  src/google/protobuf/compiler/rust/generator.cc
Owners: none

Move `previous_release` dependency out of `WORKSPACE.bzlmod` and into `MODULE.bazel`
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  patches/protobuf_v29/0001-Update-module-name.patch
  protobuf_version.bzl
Owners: none

Auto-generate files after cl/743211189
  cmake/dependencies.cmake
Owners: none

Use std::variant (#20889)
  cmake/abseil-cpp.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/printer.cc
  src/google/protobuf/io/printer.h
  src/google/protobuf/json/BUILD.bazel
  src/google/protobuf/json/internal/lexer_test.cc
  src/google/protobuf/json/internal/unparser_traits.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/zero_copy_buffered_stream.h
  src/google/protobuf/map_field.h
  src/google/protobuf/port.cc
  upb/message/BUILD
  upb/message/internal/compare_unknown_test.cc
Owners: none

Removed redundant final keyword from the static method generation of Java Enum (#20676)
  src/google/protobuf/compiler/java/full/enum.cc
Owners: @protocolbuffers/protobuf-java

Parser changes for import option.
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Cleanup endian-ness handling.
  cmake/installed_include_golden.txt
  conformance/BUILD.bazel
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_cpp.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/endian.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/coded_stream.cc
  src/google/protobuf/io/coded_stream.h
  src/google/protobuf/parse_context.h
  src/google/protobuf/port.h
  src/google/protobuf/wire_format_lite.cc
  src/google/protobuf/wire_format_lite.h
Owners: none

Deprecate Descriptor Label. As an alternative, add helper methods for checking whether a field is required or repeated. This is for PHP and Ruby.
  php/ext/google/protobuf/def.c
  php/src/Google/Protobuf/FieldDescriptor.php
  php/src/Google/Protobuf/Internal/FieldDescriptor.php
  php/src/Google/Protobuf/Internal/Message.php
  php/tests/DescriptorsTest.php
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/message.c
  ruby/lib/google/protobuf/ffi/field_descriptor.rb
  upb/reflection/field_def.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Auto-generate files after cl/743308499
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add support for a full debug build
  ruby/ext/google/protobuf_c/extconf.rb
Owners: @protocolbuffers/protobuf-ruby

Fix warning of deprecated method
  src/google/protobuf/generated_message_reflection.cc
Owners: none

Remove unused code
  src/google/protobuf/any.cc
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any_lite.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/arena.cc
  src/google/protobuf/arena_align.cc
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/arenaz_sampler.cc
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser_traits.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
  src/google/protobuf/message.cc
Owners: none

Automated Code Change
  java/core/src/main/java/com/google/protobuf/DescriptorMessageInfoFactory.java
  java/core/src/main/java/com/google/protobuf/DynamicMessage.java
  java/core/src/main/java/com/google/protobuf/ExtensionSchemaFull.java
Owners: @protocolbuffers/protobuf-java

Fix readability-uppercase-literal-suffix clang-tidy warning in generated sources
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
Owners: none

Regenerated proto files
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Regenerated proto files
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/type.pb.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Switch to the proc macro impl of proto! macro
  rust/BUILD
  rust/proto_proc_macro/BUILD
  rust/shared.rs
  rust/test/shared/BUILD
  rust/test/shared/proto_proc_macro_test.rs
Owners: none

Cleanup warning for GeneratedMessage
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

hpb: emit both .upb.proto.h and .hpb.h - temporary while we fully transition to .hpb.h
  hpb/bazel/hpb_proto_library.bzl
  hpb_generator/names.cc
  hpb_generator/names.h
  hpb_generator/protoc-gen-hpb.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/repeated_test.cc
  hpb_generator/tests/test_generated.cc
  hpb_generator/tests/test_hpb_bzl_alias.cc
Owners: none

Add MessageToJsonStream method (#20545)
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/json.cc
  src/google/protobuf/json/json.h
Owners: none

Make `//rust/...` buildable with Bazel 8
  Cargo.bazel.lock
  Cargo.lock
  MODULE.bazel
  WORKSPACE
  csharp/BUILD.bazel
  rust/release_crates/BUILD
  upb/cmake/BUILD.bazel
Owners: @protocolbuffers/protobuf-csharp

Auto-generate files after cl/743595863
  cmake/dependencies.cmake
Owners: none

This is a just a test
  java/core/src/main/java/com/google/protobuf/ArrayDecoders.java
  java/core/src/main/java/com/google/protobuf/ExtensionRegistryLite.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
Owners: @protocolbuffers/protobuf-java

Slightly refactored and expanded comments for arena list fusing.
  upb/mem/arena.c
Owners: none

Auto-generate files after cl/743607808
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Update `ProtocolStringList` class docs, plus minor touch-ups to `LazyStringArrayList`.
  java/core/src/main/java/com/google/protobuf/LazyStringArrayList.java
  java/core/src/main/java/com/google/protobuf/ProtocolStringList.java
Owners: @protocolbuffers/protobuf-java

Upgrade rules_fuzzing to prepare for bazel 8.
  MODULE.bazel
  WORKSPACE
  third_party/rules_fuzzing.patch
Owners: none

Add MicroString support for DynamicMessage types.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.h
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/port.h
Owners: none

Introduce `FastParseTableBuilder` class template.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/fast_parse_table_builder.cc
  src/google/protobuf/fast_parse_table_builder.h
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

Auto-generate files after cl/743664714
  cmake/dependencies.cmake
Owners: none
