Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

hpb: make ExtensionRegistry backend-aware
  hpb/BUILD
  hpb/extension.h
Owners: none

hpb/oss: rm unused dep base from protoc-gen-hpb
  hpb_generator/BUILD
Owners: none

Use strong reference CPython C APIs under free-threading
  python/descriptor_containers.c
  python/google/protobuf/pyext/descriptor_containers.cc
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/repeated_composite_container.cc
  python/google/protobuf/pyext/repeated_scalar_container.cc
  python/message.c
  python/repeated.c
  python/unknown_fields.c
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.proto
  upb/util/def_to_proto_fuzz_test.cc
Owners: none

Expand `embed_edition_defaults` encoding to byte types.
  editions/BUILD
  editions/defaults.bzl
  editions/defaults_test.cc
  editions/defaults_test_embedded_decimal_array.h.template
  editions/defaults_test_embedded_hex_array.h.template
  editions/internal_defaults_escape.cc
Owners: none

Move deep_copy onto the upb-rust API instead of using the sys_upb C API directly.
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal change
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.proto
  upb/util/def_to_proto_fuzz_test.cc
Owners: none

Test long paths with MSVC
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/field_chunk.cc
  src/google/protobuf/compiler/cpp/field_chunk_abcdefghijklmnopqrstuvwxyz_abcdefghijklmnopqrstuvwxyz.h
  src/google/protobuf/compiler/cpp/field_chunk_test.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/BUILD.bazel
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/immutable/BUILD.bazel
  src/google/protobuf/compiler/java/immutable/enum.cc
  src/google/protobuf/compiler/java/immutable/enum.h
  src/google/protobuf/compiler/java/immutable/enum_field.cc
  src/google/protobuf/compiler/java/immutable/enum_field.h
  src/google/protobuf/compiler/java/immutable/extension.cc
  src/google/protobuf/compiler/java/immutable/extension.h
  src/google/protobuf/compiler/java/immutable/field_generator.h
  src/google/protobuf/compiler/java/immutable/generator_factory.cc
  src/google/protobuf/compiler/java/immutable/generator_factory.h
  src/google/protobuf/compiler/java/immutable/make_field_gens.cc
  src/google/protobuf/compiler/java/immutable/make_field_gens.h
  src/google/protobuf/compiler/java/immutable/map_field.cc
  src/google/protobuf/compiler/java/immutable/map_field.h
  src/google/protobuf/compiler/java/immutable/message.cc
  src/google/protobuf/compiler/java/immutable/message.h
  src/google/protobuf/compiler/java/immutable/message_builder.cc
  src/google/protobuf/compiler/java/immutable/message_builder.h
  src/google/protobuf/compiler/java/immutable/message_field.cc
  src/google/protobuf/compiler/java/immutable/message_field.h
  src/google/protobuf/compiler/java/immutable/primitive_field.cc
  src/google/protobuf/compiler/java/immutable/primitive_field.h
  src/google/protobuf/compiler/java/immutable/service.cc
  src/google/protobuf/compiler/java/immutable/service.h
  src/google/protobuf/compiler/java/immutable/string_field.cc
  src/google/protobuf/compiler/java/immutable/string_field.h
  src/google/protobuf/compiler/java/lite/BUILD.bazel
  src/google/protobuf/compiler/java/lite/generator_factory.cc
  src/google/protobuf/compiler/kotlin/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Inline calls to Guava's `Int/LongMath.checkedFoo()` (use `Math.fooExact()` instead).
  java/util/src/main/java/com/google/protobuf/util/Durations.java
  java/util/src/main/java/com/google/protobuf/util/Timestamps.java
Owners: @protocolbuffers/protobuf-java

Make it so gencode can make default-instance Views without it using needing to handle pointers from ScratchSpace directly.
  rust/upb.rs
  rust/upb/message.rs
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Fix a typo in ruby ffi backend
  ruby/lib/google/protobuf/ffi/message.rb
Owners: @protocolbuffers/protobuf-ruby

Make ScratchSpace not part of the upb runtime exposed api, now that it isn't used by gencode.
  rust/upb.rs
Owners: none

Make protobuf codebase compatible with `--incompatible_config_setting_private_default_visibility`
  ci/common.bazelrc
  python/dist/BUILD.bazel
  ruby/BUILD.bazel
  upb/BUILD
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Encapsulate the `hasbits |= ...` idiom in an inline method.
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Make protobuf codebase compatible with `--incompatible_config_setting_private_default_visibility`
  ci/common.bazelrc
  python/dist/BUILD.bazel
  ruby/BUILD.bazel
  upb/BUILD
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Make protobuf codebase compatible with `--incompatible_config_setting_private_default_visibility` (#22745)
  ci/common.bazelrc
  python/dist/BUILD.bazel
  ruby/BUILD.bazel
  upb/BUILD
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_util.cc
Owners: none

Automated Code Change
  src/google/protobuf/message_unittest.inc
Owners: none

Fix JsonLexer offset tracking in Take and TakeWhile operations
  src/google/protobuf/json/internal/lexer.h
Owners: none

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

hpb: rename ExtensionRegistry::EmptyRegistry() to ExtensionRegistry::empty_registry()
  hpb/extension.h
  hpb/hpb.h
Owners: none

Rollback parts of cl/786407535, which accidentally had a behavior change --- it added validity checks to some `Duration` static factories.
  java/util/src/main/java/com/google/protobuf/util/Durations.java
  java/util/src/test/java/com/google/protobuf/util/DurationsTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.proto
  upb/util/def_to_proto_fuzz_test.cc
Owners: none

hpb: move out upb related chunks to hpb/backend/upb/repeated_field.h
  hpb/BUILD
  hpb/backend/upb/BUILD
  hpb/backend/upb/repeated_field.h
  hpb/repeated_field.h
Owners: none

Move upb gencode debug_string to use MessagePtr instead of RawMessage + MiniTable*
  rust/upb/text.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.proto
  upb/util/def_to_proto_fuzz_test.cc
Owners: none

Move upb codegen's flow MsgMut::from_parent to hold MessagePtr<T> all the way through.
  rust/upb.rs
  rust/upb/message.rs
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

Remove all usages of std::is_trivial.
  src/google/protobuf/arena.h
  src/google/protobuf/arenastring.h
  src/google/protobuf/map.h
  src/google/protobuf/repeated_field.h
Owners: none

Rust: remove `DEP_UPB_VERSION` check in codegen crate
  rust/release_crates/protobuf/build.rs
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Enable more `--incompatible` flags that are enforced by the BCR presubmit
  ci/common.bazelrc
Owners: none

Rust: remove `DEP_UPB_VERSION` check in codegen crate
  rust/release_crates/protobuf/build.rs
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Internal change.
  java/core/src/main/java/com/google/protobuf/CodedOutputStream.java
Owners: @protocolbuffers/protobuf-java

Refactored `CodedOutputStream` to remove dependency on `MutableMessageLite`.
  java/core/src/main/java/com/google/protobuf/CodedOutputStream.java
Owners: @protocolbuffers/protobuf-java
