Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Depend on upb targets directly instead of going through aliases.
  upb/reflection/BUILD
  upb_generator/BUILD
  upb_generator/bootstrap_compiler.bzl
  upb_generator/c/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: none

Use CRC32 for proto map hashing since we only need 32 bits of hash.
  src/google/protobuf/map.h
  src/google/protobuf/port.h
Owners: none

Drop windows-2019 runners from CI
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Drop windows-2019 runners from CI
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Drop windows-2019 runners from CI
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Drop windows-2019 runners from CI
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Drop windows-2019 runners from CI
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

[ObjC] Ensure the version check is anchored for matches.
  objectivec/DevTools/check_version_stamps.sh
Owners: @protocolbuffers/protobuf-objc

Internal change.
  objectivec/DevTools/check_version_stamps.sh
Owners: @protocolbuffers/protobuf-objc

Updating Bazel to 7.4.0
  .bazeliskrc
  ci/push_auto_update.sh
Owners: none

hpb: introduce GetArenaHandle
  hpb/backend/upb/interop.h
  hpb/internal/internal.h
Owners: none

Drop windows-2019 runners from CI (#22188)
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Drop windows-2019 runners from CI (#22185)
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Drop windows-2019 runners from CI (#22186)
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_upb.yml
Owners: none

Bump ubuntu 20 to 22
  .github/workflows/test_cpp.yml
  .github/workflows/test_ruby.yml
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/port.h
Owners: none

Automated rollback of commit b05f8e0bb204f5ebf3e4a32d083697711fbb8ddb.
  src/google/protobuf/map.h
  src/google/protobuf/port.h
Owners: none

Drop windows-2019 runners from CI (#22187)
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_upb.yml
Owners: none

Revert changes to workflow and disable .NET 8 usage for now
  .github/workflows/test_csharp.yml
  csharp/generate_protos.sh
  csharp/install_dotnet_sdk.ps1
  csharp/src/AddressBook/AddressBook.csproj
  csharp/src/AddressBook/Nrt/Addressbook.pb.nrt.cs
  csharp/src/Google.Protobuf.Conformance/Google.Protobuf.Conformance.csproj
  csharp/src/Google.Protobuf.Conformance/Nrt/Conformance.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Google.Protobuf.Test.TestProtos.csproj
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/MapUnittestProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesEdition2023.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto2.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto2Editions.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/TestMessagesProto3Editions.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/Unittest.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestCustomOptionsProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestFeatures.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestImport.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestImportProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestImportPublic.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestImportPublicProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestIssue6936A.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestIssue6936B.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestIssue6936C.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestIssues.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestLegacyFeatures.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestProto3.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestProto3Optional.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestRetention.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestSelfreferentialOptions.pb.nrt.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Nrt/UnittestWellKnownTypes.pb.nrt.cs
  csharp/src/Google.Protobuf.Test/Google.Protobuf.Test.csproj
  global.json
Owners: @protocolbuffers/protobuf-csharp

Move most rust-upb accessors to use MessagePtr fns
  rust/upb.rs
  rust/upb/BUILD
  rust/upb/message.rs
  src/google/protobuf/compiler/rust/accessors/repeated_field.cc
  src/google/protobuf/compiler/rust/accessors/singular_cord.cc
  src/google/protobuf/compiler/rust/accessors/singular_message.cc
  src/google/protobuf/compiler/rust/accessors/singular_scalar.cc
  src/google/protobuf/compiler/rust/accessors/singular_string.cc
  src/google/protobuf/compiler/rust/accessors/with_presence.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

[ObjC] Remove the C++ version check in the test.
  objectivec/Tests/GPBObjectiveCPlusPlusTest.mm
Owners: @protocolbuffers/protobuf-objc

Internal Change.
  bazel/private/BUILD
  google3/third_party/protobuf/bazel/flags/BUILD
  objectivec/Tests/GPBObjectiveCPlusPlusTest.mm
Owners: @protocolbuffers/protobuf-objc

Internal.
  editions/BUILD
Owners: none

Add test to check that the ReflectionOps::IsInitialized function handles map fields correctly.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/compiler/cpp/unittest.inc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/unittest.proto
Owners: none

py/bzl: try local toolchain
  MODULE.bazel
Owners: none

Automated rollback of commit f154e1dd3fed7feaa382fedef34d2d5c95072955.
  src/google/protobuf/map.h
  src/google/protobuf/port.h
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/internal_options.proto
Owners: none

Fixed asserts that could SEGV during shutdown.
  python/descriptor_containers.c
Owners: @protocolbuffers/protobuf-python

Add `ConstMapIterator` for iterating over proto map fields.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/map_field.cc
  src/google/protobuf/map_field.h
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_ops.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/text_format.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/wire_format.cc
Owners: none

Resolve testing python library deprecation warnings
  python/google/protobuf/internal/reflection_test.py
Owners: @protocolbuffers/protobuf-python

Add `ConstMapIterator` for iterating over proto map fields.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/map_field.cc
  src/google/protobuf/map_field.h
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_ops.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/text_format.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/wire_format.cc
Owners: none

Add `option_deps` to `proto_library` for `import option`.
  bazel/private/proto_info.bzl
  bazel/private/proto_library_rule.bzl
Owners: none

Add `option_deps` to `proto_library` for `import option`.
  bazel/private/proto_info.bzl
  bazel/private/proto_library_rule.bzl
Owners: none

Automated Code Change
  bazel/private/proto_info.bzl
  bazel/private/proto_library_rule.bzl
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Add TSAN checks to the map reflection API.
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/map.h
Owners: none

Update MessageExtensions.cs
  csharp/src/Google.Protobuf/MessageExtensions.cs
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
