Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/map.h
Owners: none

Added a constexpr check for "force split fields" compile-time option.
  src/google/protobuf/port.h
Owners: none

Fix handling of optional dependencies in java generator.
  java/core/src/main/java/com/google/protobuf/ExtensionRegistry.java
  java/core/src/test/java/com/google/protobuf/ImportOptionTest.java
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/file.h
Owners: @protocolbuffers/protobuf-java

Stop forcing linker array entries to be retained. They will now be GC'd like normal, but will be iterable if retained.
  upb/port/def.inc
Owners: none

Auto-generate files after cl/803130581
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Fold `hasInferredLegacyProtoFeatures()` into `inferLegacyProtoFeatures()`
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

Optimize gencode `<clinit>` handling of `FileDescriptorProto` and extensions
  java/core/src/main/java/com/google/protobuf/BuiltinExtensionRegistry.java
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/ExtensionRegistry.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/MessageOrBuilder.java
  java/core/src/main/java/com/google/protobuf/UnknownFieldSet.java
  src/google/protobuf/compiler/java/generator.cc
  src/google/protobuf/compiler/java/options.h
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

hpb/oss: remove obsolete UPB_DEFAULT_COPTS from hpb_generator/tests/BUILD
  hpb_generator/tests/BUILD
Owners: none

hpb/oss: make hpb upb interop visible to hpb_generator
  hpb/backend/upb/BUILD
Owners: none

Fold `hasInferredLegacyProtoFeatures()` into `inferLegacyProtoFeatures()`
  java/core/src/main/java/com/google/protobuf/Descriptors.java
Owners: @protocolbuffers/protobuf-java

internal change
  .github/workflows/test_hpb.yml
  .github/workflows/test_runner.yml
Owners: none

Restore ABI compatibility for extension methods which was previously (knowingly) broken with 4.x: https://github.com/protocolbuffers/protobuf/commit/94a2a448518403341b8aa71335ab1123fbdcccd8
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java
Owners: @protocolbuffers/protobuf-java

Optimize `isInitialized()` for messages without required fields.
  src/google/protobuf/compiler/java/full/message.cc
Owners: @protocolbuffers/protobuf-java

Add upb_CType_IsValid function for bounds checking upb_CType.
  upb/base/descriptor_constants.h
Owners: none

No more arena ptrs.
  src/google/protobuf/arena.h
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/implicit_weak_message.h
  src/google/protobuf/internal_visibility.h
  src/google/protobuf/io/printer.h
  src/google/protobuf/map_field.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/type_resolver.h
Owners: none

Update strtod.c
  upb/lex/strtod.c
Owners: none

Restore Protobuf Java extension modifiers in gencode that were previously removed in https://github.com/protocolbuffers/protobuf/commit/7bff169d32710b143951ec6ce2c4ea9a56e2ad24
  src/google/protobuf/compiler/java/full/message_builder.cc
Owners: @protocolbuffers/protobuf-java

Rust: allow configuring protoc path
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Use `RawMiniTable` instead of raw pointers to `upb_MiniTable`
  rust/upb.rs
  rust/upb/associated_mini_table.rs
  rust/upb/lib.rs
  rust/upb/sys/message/message.rs
  rust/upb/sys/mini_table/mini_table.rs
  rust/upb/sys/text/text.rs
  rust/upb/sys/wire/wire.rs
  src/google/protobuf/compiler/rust/enum.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

allow setting protoc path
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Migrate repeated message and group fields to use bit field to track presence instead of using it to indicate the field mutability to potentially skip work on the field during build operations.
  java/core/src/main/java/com/google/protobuf/ProtobufArrayList.java
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_field.cc
Owners: @protocolbuffers/protobuf-java

Allow configuring protoc path
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/unittest.proto
  src/google/protobuf/wire_format.cc
Owners: @protocolbuffers/protobuf-java

Internal Change.
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Fix handling of repeated extension fields in PyProto JSON
  python/google/protobuf/internal/json_format_test.py
  python/google/protobuf/json_format.py
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/java/generator.cc
  src/google/protobuf/compiler/java/options.h
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/parse_context.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/arena_unittest.cc
Owners: none

Auto-generate files after cl/803558174
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Refactor GenerateFastFieldEntries in protoc to use io::Printer and Emit.
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Add some conformance tests for JSON with WKT extensions.
  conformance/binary_json_conformance_suite.cc
  conformance/binary_json_conformance_suite.h
  conformance/failure_list_java.txt
  conformance/test_protos/BUILD
  conformance/test_protos/test_messages_edition2023.proto
Owners: none

Factored out logic for undefing/restoring OS macros so it can be reused by hpb.
  hpb/BUILD
  hpb/bazel/hpb_proto_library.bzl
  hpb/internal/BUILD
  hpb/internal/os_macros_restore.inc
  hpb/internal/os_macros_undef.inc
  hpb_generator/generator.cc
  hpb_generator/tests/naming_conflict.proto
  src/google/protobuf/os_macros_restore.inc
  src/google/protobuf/os_macros_undef.inc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Internal changes
  src/google/protobuf/compiler/java/name_resolver_test.cc
Owners: @protocolbuffers/protobuf-java

Internal changes
  src/google/protobuf/compiler/java/name_resolver_test.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Introduce edition 2024 transform
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/arena_unittest.cc
Owners: none

Ship all option dependencies to plugins along with regular ones.
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/java/file.cc
Owners: @protocolbuffers/protobuf-java
