Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  rust/upb/sys/BUILD
  upb/base/BUILD
  upb/conformance/BUILD
  upb/hash/BUILD
  upb/io/BUILD
  upb/json/BUILD
  upb/lex/BUILD
  upb/mem/BUILD
  upb/message/BUILD
  upb/mini_descriptor/BUILD
  upb/mini_table/BUILD
  upb/port/BUILD
  upb/reflection/BUILD
  upb/test/BUILD
  upb/text/BUILD
  upb/util/BUILD
  upb/wire/BUILD
  upb/wire/decode_fast/BUILD
  upb/wire/test_util/BUILD
  upb_generator/c/BUILD
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

Don't check hasbits in serialize/clear/bytesizelong for very likely present repeated fields.
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/unknown_field_set.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

pbtk: abrogate system_python headers with rules_python cc headers
  MODULE.bazel
  WORKSPACE
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

Update `google.protobuf.Type` handling in `protobuf/json` to support editions
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/feature_resolver.h
  src/google/protobuf/internal_feature_helper.h
  src/google/protobuf/json/internal/descriptor_traits.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/util/type_resolver_util.cc
Owners: none

Internal Change
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
Owners: none

hpb: Add support for initial block sizes when initting an hpb::arena. This allows us to re-enable the extension_test that disallows fusing.
  hpb/arena.h
  hpb_generator/tests/extension_test.cc
Owners: none

hpb: push down types to backend/upb/types and backend/cpp/types
  hpb/BUILD
  hpb/arena.h
  hpb/backend/BUILD
  hpb/backend/cpp/BUILD
  hpb/backend/cpp/types.h
  hpb/backend/types.h
  hpb/backend/upb/BUILD
  hpb/backend/upb/types.h
Owners: none

Expose lite runtime as `//java/lite:lite_nowkt`
  java/core/BUILD.bazel
  java/lite/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

hpb: push down Parse(...) to hpb::backend
  hpb/backend/cpp/BUILD
  hpb/backend/cpp/cpp.h
  hpb/backend/upb/BUILD
  hpb/backend/upb/upb.h
  hpb/hpb.h
Owners: none

Break dependency on python/dist from python/BUILD.bazel
  python/build_targets.bzl
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/service.h
Owners: none

hpb: start re-housing upb-specific components from hpb/extension.h to hpb/backend/upb/extension.h
  hpb/BUILD
  hpb/backend/upb/BUILD
  hpb/backend/upb/extension.cc
  hpb/backend/upb/extension.h
  hpb/extension.cc
  hpb/extension.h
Owners: none

Remove the flag requirement for Bazel+MSVC users.
  .github/workflows/test_cpp.yml
  examples/.bazelrc
  examples/BUILD.bazel
  examples/MODULE.bazel
  examples/WORKSPACE
  src/google/protobuf/stubs/BUILD.bazel
  src/google/protobuf/stubs/port.h
Owners: @protocolbuffers/protobuf-docs

hpb: move all hpb::internal{...} bits from hpb/extension.h to hpb/backend/upb/extension.h
  hpb/backend/upb/BUILD
  hpb/backend/upb/extension.h
  hpb/extension.h
Owners: none

Verify message hasbits in debug/sanitizer builds.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Verify message hasbits in debug/sanitizer builds.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

hpb/oss: tweak copybara hpbgencode path to point to toplvl hpb_generator.
  hpb/backend/upb/interop_test.cc
  hpb/internal/message_lock_test.cc
  hpb/internal/template_help_test.cc
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_accessors.h
  hpb_generator/gen_enums.cc
  hpb_generator/gen_enums.h
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_extensions.h
  hpb_generator/gen_messages.cc
  hpb_generator/gen_messages.h
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/gen_repeated_fields.h
  hpb_generator/gen_utils.cc
  hpb_generator/generator.cc
  hpb_generator/keywords.cc
  hpb_generator/names.cc
  hpb_generator/names.h
  hpb_generator/protoc-gen-hpb.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/multibackend_test.cc
  hpb_generator/tests/repeated_test.cc
  hpb_generator/tests/test_generated.cc
  hpb_generator/tests/test_hpb_bzl_alias.cc
Owners: none

Auto-generate files after cl/783855798
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

hpb: move all hpb::internal{...} bits from hpb/extension.h to hpb/backend/upb/extension.h
  hpb/backend/upb/BUILD
  hpb/backend/upb/extension.h
  hpb/extension.h
Owners: none

hpb: move repeated_field_iterator and repeated_field_iterator_test to hpb/backend/upb
  hpb/BUILD
  hpb/backend/upb/BUILD
  hpb/backend/upb/repeated_field_iterator.h
  hpb/backend/upb/repeated_field_iterator_test.cc
  hpb/repeated_field.h
Owners: none

Internal changes
  src/google/protobuf/parse_context.h
Owners: none

hpb/oss: restore all targets in hpb_generator/tests/BUILD
  hpb_generator/tests/BUILD
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
