Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_probe_benchmark.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/preserve_unknown_enum_test.cc
  src/google/protobuf/proto3_arena_lite_unittest.cc
  src/google/protobuf/proto3_lite_unittest.cc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/retention_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/test_util_lite.cc
  src/google/protobuf/unknown_field_set.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Automated Code Change
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/test_zero_copy_stream_test.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/drop_unknown_fields_test.cc
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/feature_resolver.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  bazel/upb_proto_reflection_library.bzl
Owners: none

Internal change
  bazel/private/upb_proto_library_internal/aspect.bzl
Owners: none

Cache `FieldDescriptor::cpp_string_type` to avoid the runtime costs.
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
Owners: none

[php][compiler][ext] - Add missing has* methods and other well known types (#20636)
  php/ext/google/protobuf/wkt.inc
  php/tests/WellKnownTest.php
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Internal changes
  php/ext/google/protobuf/wkt.inc
  php/tests/WellKnownTest.php
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

[php][ext] - Fix isset behaviour
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

[php][ext] - Remove duplicate assertion
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

[php][ext] - Fix isset behaviour when field doesn't have presence (repeated fields, map fields, etc.)
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Internal change
  upb/wire/internal/decoder.h
Owners: none

Removed fasttable specialization for sub-message size.
  upb/wire/decode_fast/combinations.h
  upb/wire/decode_fast/field_message.c
  upb/wire/decode_fast/select.c
Owners: none

Auto-generate files after cl/756439207
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
  upb_generator/cmake/google/protobuf/compiler/plugin.upb_minitable.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Make `upb_MiniTable_Build()` non-inline
  upb/mini_descriptor/decode.c
  upb/mini_descriptor/decode.h
Owners: none

Add Python deprecation warnings for Descriptor Label. Also, minimize calls to Label within Protobuf.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/internal/extension_dict.py
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/reflection_test.py
  python/google/protobuf/internal/unknown_fields_test.py
  python/google/protobuf/json_format.py
  python/google/protobuf/pyext/descriptor.cc
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Add Python deprecation warnings for Descriptor Label. Also, minimize calls to Label within Protobuf.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/internal/extension_dict.py
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/reflection_test.py
  python/google/protobuf/internal/unknown_fields_test.py
  python/google/protobuf/json_format.py
  python/google/protobuf/pyext/descriptor.cc
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Internal
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Weaken vulnerable gencode poison pill to a warning by default.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix tests for warning/error poison pills
  java/core/BUILD.bazel
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22ErrorTest.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22WarningDisabledTest.java
Owners: @protocolbuffers/protobuf-java

Fix missing logger member definition.
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Fix missing edit to GeneratedMessageTest for weakened poison pills.
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Fix GeneratedMessageTest to check for log warning instead of exception.
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
Owners: @protocolbuffers/protobuf-java

Correct package name in test import.
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22ErrorTest.java
Owners: @protocolbuffers/protobuf-java

Fix types on tests to properly match GeneratedMessageV3
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22ErrorTest.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessagePre22WarningDisabledTest.java
Owners: @protocolbuffers/protobuf-java

Remove obsolete declaration of `upb_utf8_offsets`.
  upb/wire/internal/decoder.h
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
