Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Internal change.
  java/core/src/main/java/com/google/protobuf/FieldSet.java
Owners: @protocolbuffers/protobuf-java

Upgrade rules_rust to 0.63.0 so that we can build with Bazel 9 prereleases
  MODULE.bazel
  WORKSPACE
Owners: none

Auto-generate files after cl/792307568
  cmake/dependencies.cmake
Owners: none

Internal change
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Refactor `RuntimeAssertInBounds` to remove repeated logic and make `Get`/`Mutable` easier to follow.
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Use `number` instead of recomputing it.
  java/core/src/main/java/com/google/protobuf/MessageSchema.java
Owners: @protocolbuffers/protobuf-java

Set up Rust crates as members of a workspace
  rust/BUILD
  rust/release_crates/BUILD
  rust/release_crates/Cargo.toml
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf_codegen/BUILD
  rust/release_crates/protobuf_example/BUILD
  rust/release_crates/protobuf_macros/BUILD
  rust/release_crates/protobuf_well_known_types/BUILD.bazel
Owners: none

Don't promote repeated fields to the fast parse group with hint hasbits for repeated fields enabled.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Don't assign hasbits to likely-present repeated fields with hasbits for repeated fields enabled.
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Automated Code Change
  src/google/protobuf/map.h
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Port proto_library tests to Starlark
  MODULE.bazel
  WORKSPACE
  bazel/private/proto_bazel_features.bzl
  bazel/tests/BUILD
  bazel/tests/bazel_proto_library_tests.bzl
  protobuf_deps.bzl
Owners: none

Port proto_library tests to Starlark
  MODULE.bazel
  WORKSPACE
  bazel/private/proto_bazel_features.bzl
  bazel/tests/BUILD
  bazel/tests/bazel_proto_library_tests.bzl
  protobuf_deps.bzl
Owners: none

Auto-generate files after cl/792567553
  cmake/dependencies.cmake
Owners: none

Fix thread safety issues when sharing `Message` objects across threads
  python/message.c
  python/python_api.h
Owners: @protocolbuffers/protobuf-python

Remove redundant verify-and-log utf8 parser methods.
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message_unittest_legacy_apis.inc
Owners: none

Removed dependency `CodedOutputStream` -> `LazyFieldLite`.
  java/core/src/main/java/com/google/protobuf/CodedOutputStream.java
  java/core/src/main/java/com/google/protobuf/FieldSet.java
  java/core/src/main/java/com/google/protobuf/LazyFieldLite.java
  java/core/src/main/java/com/google/protobuf/SchemaUtil.java
Owners: @protocolbuffers/protobuf-java

ruby codegen: support generation of rbs files (#15633)
  .github/workflows/test_ruby.yml
  protobuf.bzl
  ruby/lib/google/protobuf/ffi/message.rb
  src/file_lists.cmake
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
  src/google/protobuf/compiler/ruby/rbs_generator_unittest.cc
  src/google/protobuf/compiler/ruby/ruby_generated_code.proto
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Fix `DynamicMessage.Builder.setField` to clear repeated fields when appropriate
  java/core/src/main/java/com/google/protobuf/DynamicMessage.java
  java/core/src/test/java/com/google/protobuf/DynamicMessageTest.java
  java/core/src/test/java/com/google/protobuf/GeneratedMessageTest.java
  java/core/src/test/java/com/google/protobuf/TestUtil.java
Owners: @protocolbuffers/protobuf-java

Set up Rust crates as members of a Cargo workspace
  .github/workflows/test_rust.yml
  MODULE.bazel
  rust/BUILD
  rust/release_crates/BUILD
  rust/release_crates/Cargo.toml
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf_codegen/BUILD
  rust/release_crates/protobuf_example/BUILD
  rust/release_crates/protobuf_macros/BUILD
  rust/release_crates/protobuf_well_known_types/BUILD.bazel
Owners: none

Enable fast-path parsing for repeated Cord fields.
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Use Rust 1.79 for Bazel and nightly for Cargo
  .github/workflows/test_rust.yml
  MODULE.bazel
Owners: none

Cleanup unused kRawString enum.
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Fix `mismatched_lifetime_syntaxes` errors
  .github/workflows/test_rust.yml
  MODULE.bazel
  rust/map.rs
  rust/release_crates/cargo_test.sh
  rust/repeated.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Add Windows test run exercising the Cargo build
  .github/workflows/test_rust.yml
  MODULE.bazel
  rust/BUILD
  rust/release_crates/BUILD
  rust/release_crates/Cargo.toml
  rust/release_crates/cargo_test.sh
  rust/release_crates/protobuf/BUILD
  rust/release_crates/protobuf_codegen/BUILD
  rust/release_crates/protobuf_example/BUILD
  rust/release_crates/protobuf_macros/BUILD
  rust/release_crates/protobuf_well_known_types/BUILD.bazel
Owners: none

Add arena ownership APIs
  hpb/arena.h
  hpb/backend/upb/extension.cc
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/tests/test_generated.cc
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena.hpp
  upb/mem/arena_test.cc
  upb/port/BUILD
  upb/port/def.inc
  upb/port/thread.h
Owners: none

Add text_format.MessageToString(print_full_name=True) option
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Move string field hasbit setter to public mutable_* method.
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
Owners: none

Automated Code Change
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Move string field hasbit setter to public mutable_* method.
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
Owners: none

Auto-generate files after cl/792909628
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/plugin.cc
  src/google/protobuf/compiler/zip_writer.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_lite.h
  src/google/protobuf/service.cc
  src/google/protobuf/service.h
  src/google/protobuf/test_util2.h
  src/google/protobuf/text_format.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/importer.h
  src/google/protobuf/compiler/importer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/time_util.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/type_resolver.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.cc
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/primitive_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/text_format.h
  src/google/protobuf/text_format_unittest.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
