Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Require ProtoInfo provider instead of proto_library rule for bazel cc_proto_library deps.
  bazel/private/bazel_cc_proto_library.bzl
Owners: none

hpb: refactor arena to support dual backend
  hpb/arena.h
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Load py_runtime_pair from rules_python for Bazel 8.
  python/dist/system_python.bzl
Owners: @protocolbuffers/protobuf-python

Replace outdated select() on --cpu with platform API equivalent.
  python/BUILD.bazel
Owners: @protocolbuffers/protobuf-python

Internal change.
  bazel/private/upb_proto_library_internal/aspect.bzl
Owners: none

Internal change.
  bazel/private/upb_proto_library_internal/aspect.bzl
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Rewrite ProtoLangToolchain unit test to Starlark.
  bazel/tests/BUILD
  bazel/tests/proto_lang_toolchain_tests.bzl
Owners: none

hpb: [multibackend] in this CL, we elide the generation of upb gencode if backend=cpp is detected. In that case, generator.cc will now generate a hpb(cpp) impl with message stubs.
  hpb/backend/cpp/cpp.h
  hpb/hpb.h
  hpb_generator/generator.cc
  hpb_generator/tests/multibackend_test.cc
Owners: none

Add missing include.
  src/google/protobuf/descriptor.cc
Owners: none

hpb: migrate generator.cc from .EmitLegacy to .Emit
  hpb_generator/generator.cc
Owners: none

Fix silent failure of `rb_test` rules to run test
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Add untriaged label when issues are commented on after being marked stale.
  .github/workflows/janitor.yml
Owners: none

Removed upb_Decoder's stateful, bespoke logic for field lookup.
  upb/mini_table/internal/message.h
  upb/mini_table/message.c
  upb/mini_table/message.h
  upb/wire/decode.c
Owners: none

Auto-generate files after cl/758304268
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add recursion depth limits to pure python
  python/google/protobuf/internal/decoder.py
  python/google/protobuf/internal/decoder_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/self_recursive.proto
Owners: @protocolbuffers/protobuf-python

Use `DescriptorDatabase` overridden virtual methods to use `StringViewArg` alias.
  src/google/protobuf/compiler/importer.cc
Owners: none

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/field_chunk.cc
  src/google/protobuf/compiler/cpp/field_chunk.h
  src/google/protobuf/compiler/cpp/field_chunk_test.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
Owners: none

Fix silent failure of `rb_test` rules to run test (#21733)
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Fix silent failure of `rb_test` rules to run test (#21733)
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Internal change
  conformance/fork_pipe_runner.cc
Owners: none

Fix silent failure of `rb_test` rules to run test (#21733)
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Remove fast-path check for non-clang compilers in MessageCreator.
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: none

Add missing include.
  src/google/protobuf/descriptor.cc
Owners: none

hpb: refactor multibackend constants to hpb/multibackend.h
  hpb/hpb.h
  hpb/multibackend.h
Owners: none

Updating version.json and repo version numbers to: 31.0
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Clean up redundant internal `_direct_proto_sources`, `_transitive_proto_sources`, and `_exported_sources` (sort-of).
  bazel/common/proto_common.bzl
  bazel/private/proto_info.bzl
  bazel/private/proto_lang_toolchain_rule.bzl
  bazel/private/proto_library_rule.bzl
Owners: none

Add reference leak check to Python timestamp_test and duration_test. Fix a refleak bug when assign datetime/duration to Timestamp/Duration
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/pyext/message.cc
  python/message.c
Owners: @protocolbuffers/protobuf-python

Internal change
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/message_lite.cc
Owners: none

Automated Code Change
  upb/message/BUILD
Owners: none

Removed old Python bug workaround now that we have dropped Python <3.8.
  python/message.c
  python/protobuf.h
Owners: @protocolbuffers/protobuf-python

code review fixes and updates
  ruby/.yardopts
  ruby/Rakefile
  ruby/ext/google/protobuf_c/message.c
  ruby/generate_stubs.rb
  ruby/lib/stubs/.keep
  ruby/lib/stubs/abstract_message.rb
  ruby/lib/stubs/descriptor.rb
  ruby/lib/stubs/descriptor_pool.rb
  ruby/lib/stubs/enum.rb
  ruby/lib/stubs/enum_descriptor.rb
  ruby/lib/stubs/field_descriptor.rb
  ruby/lib/stubs/file_descriptor.rb
  ruby/lib/stubs/map.rb
  ruby/lib/stubs/method_descriptor.rb
  ruby/lib/stubs/oneof_descriptor.rb
  ruby/lib/stubs/protobuf.rb
  ruby/lib/stubs/repeated_field.rb
  ruby/lib/stubs/service_descriptor.rb
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/io/coded_stream.h
Owners: none

Internal change
  src/google/protobuf/io/coded_stream.h
Owners: none

Include a conformance test for timestamps without colon in time zone.
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_php.txt
Owners: none

hpb: introduce hpb::interop::upb::UnwrapArena, which calls internal::PrivateAccess::GetInternalUPBArena
  hpb/backend/upb/interop.h
  hpb/internal/internal.h
Owners: none
