Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

hpb: Introduce canonical hpb::Arena
  hpb/arena.h
  hpb/backend/upb/interop.h
  hpb/backend/upb/upb.h
  hpb/internal/internal.h
  hpb_generator/gen_messages.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_generated.cc
Owners: none

hpb: update gen_messages.cc and upb.h to use hpb::interop::upb::UnwrapArena
  hpb/backend/upb/upb.h
  hpb_generator/gen_messages.cc
Owners: none

Automated rollback of commit 7620bbf3c6d4e10df7dad9ceee1bd7cfccef9f63.
  hpb/BUILD
  hpb/backend/cpp/BUILD
  hpb/backend/upb/BUILD
  hpb/bazel/BUILD
  hpb/internal/BUILD
  hpb_generator/BUILD
  hpb_generator/tests/BUILD
Owners: none

Internal change
  src/google/protobuf/compiler/code_generator.cc
  src/google/protobuf/compiler/code_generator.h
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
  src/google/protobuf/compiler/cpp/generator.cc
  src/google/protobuf/compiler/cpp/generator.h
Owners: none

Add test
  csharp/src/Google.Protobuf.Test/MessageExtensionsTest.cs
Owners: @protocolbuffers/protobuf-csharp

Fix visibility for message_lock
  hpb/internal/BUILD
Owners: none

Fix and refactor experimental flag.
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/compiler/cpp/file.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/cpp/options.h
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/message_unittest_legacy_apis.inc
  src/google/protobuf/port.h
Owners: none

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/arenaz_sampler_test.cc
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/generated_message_tctable_lite_test.cc
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_unittest.cc
Owners: none

Treat warnings encountered in chromium builds as errors.
  src/google/protobuf/port_def.inc
Owners: none

Remove redundant `break`
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

Internal change.
  rust/bazel/aspects.bzl
  rust/cpp.rs
  src/google/protobuf/compiler/rust/message.cc
  src/google/protobuf/compiler/rust/naming.cc
  src/google/protobuf/compiler/rust/naming.h
Owners: none

Internal change
  rust/bazel/aspects.bzl
  rust/cpp.rs
  src/google/protobuf/compiler/rust/message.cc
  src/google/protobuf/compiler/rust/naming.cc
  src/google/protobuf/compiler/rust/naming.h
Owners: none

Fix visibility for message_lock
  hpb/internal/BUILD
Owners: none

Add Python deprecation warnings for Descriptor Label.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Internal change.
  src/google/protobuf/compiler/rust/naming.cc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

Add rules_jvm_external 6.7 to protobuf_deps.bzl
  protobuf_deps.bzl
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
Owners: none

Internal Change.
  src/google/protobuf/unittest.proto
Owners: none

mark IterableByteBufferInputStream final and format
  java/core/src/main/java/com/google/protobuf/IterableByteBufferInputStream.java
Owners: @protocolbuffers/protobuf-java

Adjust hpb include paths
  hpb/backend/cpp/cpp.h
  hpb/backend/upb/interop.h
  hpb/backend/upb/interop_test.cc
  hpb/backend/upb/upb.h
  hpb/extension.cc
  hpb/extension.h
  hpb/hpb.h
  hpb/internal/message_lock.cc
  hpb/internal/message_lock_test.cc
  hpb/internal/template_help.h
  hpb/internal/template_help_test.cc
  hpb/repeated_field.h
  hpb/repeated_field_iterator.h
  hpb/repeated_field_iterator_test.cc
  hpb/status.cc
  hpb_generator/generator.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/multibackend_test.cc
  hpb_generator/tests/repeated_test.cc
  hpb_generator/tests/test_generated.cc
  hpb_generator/tests/test_hpb_bzl_alias.cc
Owners: none

Internal Change
  hpb/BUILD
  hpb/status.cc
  hpb/status.h
Owners: none

Add rules_jvm_external 6.7 to protobuf_deps.bzl (#22225)
  protobuf_deps.bzl
Owners: none

Resolve testing python library deprecation warnings (#22200)
  python/google/protobuf/internal/reflection_test.py
Owners: @protocolbuffers/protobuf-python

Fix bazel builds
  protobuf_deps.bzl
Owners: none

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Internal change
  src/google/protobuf/message_unittest.inc
Owners: none

Remove redundant `break` (#22218)
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  java/core/src/test/java/com/google/protobuf/ExtensionRegistryFactoryTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Internal change
  hpb/BUILD
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
