Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Support allowing late injection of language feature set defaults from FeatureSet extensions while getting feature set extension values.
  editions/generated_files_test.cc
  python/google/protobuf/pyext/descriptor.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/code_generator.h
  src/google/protobuf/compiler/code_generator_unittest.cc
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/extension.cc
  src/google/protobuf/compiler/java/generator.h
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/feature_resolver.cc
  src/google/protobuf/feature_resolver.h
  src/google/protobuf/internal_feature_helper.h
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-java

Reduce cost of symbol lookup.
  src/google/protobuf/descriptor_database.cc
Owners: none

Bug fix for `FieldMask.MergeFrom()` with unset fields.
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/test_util.py
Owners: @protocolbuffers/protobuf-python

Reduce cost of symbol lookup.
  src/google/protobuf/descriptor_database.cc
Owners: none

Add weak attribute to GetClassData to speed up clang builds.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/746158016
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Move test_util.inc logic into test_util.h as templates.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/any_test.cc
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/compiler/cpp/copy_unittest.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/unittest.cc
  src/google/protobuf/dynamic_message_unittest.cc
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message_unittest.cc
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/repeated_field_reflection_unittest.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/test_util.h
  src/google/protobuf/test_util.inc
  src/google/protobuf/unknown_field_set_unittest.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/wire_format_unittest.cc
  src/google/protobuf/wire_format_unittest.inc
Owners: none

Auto-generate files after cl/746174459
  src/file_lists.cmake
Owners: none

Update warning about no syntax identifier to tell users to use editions instead of legacy syntax.
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Remove unused vector.
  src/google/protobuf/descriptor.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/descriptor_traits.h
  src/google/protobuf/json/internal/untyped_message.h
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/AbstractMessage.java
Owners: @protocolbuffers/protobuf-java

Fix PHP 8.4 deprecation in GPBDecodeException
  php/src/Google/Protobuf/Internal/GPBDecodeException.php
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  hpb/repeated_field.h
  hpb/repeated_field_iterator.h
  hpb/requires.h
Owners: none

Internal change
  src/google/protobuf/util/python/field_mask_util_test.py
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Internal change
  java/util/src/main/java/com/google/protobuf/util/FieldMaskUtil.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/nested.proto
Owners: none

Rewrite tests for proto_common.declare_generated_files
  bazel/tests/BUILD
  bazel/tests/proto_common_declare_generated_files_tests.bzl
Owners: none

[php][ext] Support NULL values conversion
  php/ext/google/protobuf/convert.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

[php][ext] Prevent Seg fault if constructor is not called
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Move map_test_util.inc logic into map_test_util.h as templates.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_lite_test_util.cc
  src/google/protobuf/map_lite_test_util.h
  src/google/protobuf/map_test.cc
  src/google/protobuf/map_test_util.h
  src/google/protobuf/map_test_util.inc
  src/google/protobuf/map_test_util_impl.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Update php/tests/GeneratedClassTest.php
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

More efficient prefetching in `Arena::CopyConstruct()`
  src/google/protobuf/arena.h
  src/google/protobuf/port.h
  src/google/protobuf/port_test.cc
Owners: none

CS: the other classes in this class place their opening parenthesis on a new line
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Add explanation on why/how the segfault happens
  php/ext/google/protobuf/message.c
  php/tests/GeneratedClassTest.php
Owners: @protocolbuffers/protobuf-php

Fix an eagerly evaluated preconditions string
  java/util/src/main/java/com/google/protobuf/util/FieldMaskUtil.java
Owners: @protocolbuffers/protobuf-java

fix protoc cli invokation cases where an arg is an absolute path and the binary was built inside msys but is being called outside from the native windows cmd shell
  src/google/protobuf/compiler/command_line_interface.cc
Owners: none

Fully qualify java.lang.Override
  src/google/protobuf/compiler/java/internal_helpers.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  third_party/utf8_range/fuzz/BUILD.bazel
  third_party/utf8_range/fuzz/utf8_validity_fuzzer.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/text_format.cc
Owners: none

Internal change
  python/google/protobuf/pyext/descriptor_database.cc
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Internal change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none
