Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Automated Code Change
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  hpb_generator/BUILD
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Automated Code Change
  rust/cpp_kernel/map.cc
Owners: none

Automated Code Change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
Owners: none

Automated Code Change
  src/google/protobuf/generated_enum_util_test.cc
Owners: none

Update text_format.cc
  src/google/protobuf/text_format.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Add generated message reflection unittest for `import option` and `option_deps` test proto in edition 2024.
  bazel/tests/protobuf_test_proto_library.bzl
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/unittest_custom_options_unlinked.proto
  src/google/protobuf/unittest_import_option.proto
Owners: none

Automated Code Change
  bazel/private/upb_proto_library_internal/aspect.bzl
  bazel/private/upb_proto_library_internal/cc_library_func.bzl
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  bazel/upb_proto_reflection_library.bzl
  build_defs/cc_proto_blacklist_test.bzl
  build_defs/compiler_config_setting.bzl
  hpb/bazel/hpb_proto_library.bzl
  pkg/cc_dist_library.bzl
  rust/bazel/aspects.bzl
  toolchain/cc_toolchain_config.bzl
Owners: none

Auto-generate files after cl/788038187
  src/file_lists.cmake
Owners: none

compile_edition_defaults rule should default to release protoc.
  editions/BUILD
  editions/defaults.bzl
Owners: none

Internal Change
  editions/BUILD
Owners: none

Migrates some Java test protos using java_features.proto to edition 2024
  bazel/tests/protobuf_test_proto_library.bzl
  java/core/BUILD.bazel
  java/core/src/test/proto/com/google/protobuf/large_open_enum.proto
  java/core/src/test/proto/com/google/protobuf/test_check_utf8.proto
Owners: @protocolbuffers/protobuf-java

hpb: cleanup hpb.h #includes
  hpb/hpb.h
Owners: none

Internal change.
  java/core/src/main/java/com/google/protobuf/FieldSetMutable.java
Owners: @protocolbuffers/protobuf-java

Don't assign hasbits to likely-present repeated fields.
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits.h
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Automated Code Change
  hpb/BUILD
  hpb/extension.h
Owners: none

Avoid copying `String` data when possible
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/test/java/com/google/protobuf/DescriptorsTest.java
Owners: @protocolbuffers/protobuf-java

Add UPB_XSAN_MEMBER to port/undef.inc
  upb/port/undef.inc
Owners: none

Add UPB_XSAN_MEMBER to port/undef.inc
  upb/port/undef.inc
Owners: none

Internal change
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.proto
  upb/util/def_to_proto_fuzz_test.cc
Owners: none

Auto-generate files after cl/788507505
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Reflection/Descriptor.pb.cs
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  upb/message/internal/accessors.h
Owners: none

Refactor GenerateClassSpecificMergeImpl to use modern printer API.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Refactor cmake/README.md to be workflow-oriented.
  cmake/README.md
Owners: none

Refactor GenerateClassSpecificMergeImpl to use modern printer API.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/788554734
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  java/core/src/main/java/com/google/protobuf/UnknownFieldSet.java
Owners: @protocolbuffers/protobuf-java
