Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/copy_unittest.cc
  src/google/protobuf/compiler/cpp/enum.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  hpb_generator/BUILD
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Restore the long-deprecated static functions on TextFormat.
  java/core/src/main/java/com/google/protobuf/TextFormat.java
Owners: @protocolbuffers/protobuf-java

Update github major version tags to be formatted v<MAJOR>.<MINOR>.<MI… (#22358)
  Protobuf-C++.podspec
  Protobuf.podspec
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/generated_enum_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

internal change
  src/google/protobuf/compiler/code_generator.h
  src/google/protobuf/compiler/command_line_interface_tester.cc
  src/google/protobuf/compiler/command_line_interface_tester.h
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/cpp/generator.cc
  src/google/protobuf/compiler/cpp/generator_unittest.cc
  src/google/protobuf/compiler/plugin.proto
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Fix to consider repeated_field_comparison AS_SET as it is still ok to use the default comparator in AS_SET case.
  src/google/protobuf/util/message_differencer.cc
Owners: none

Store the field offset normally for oneof entries.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/message.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Auto-generate files after cl/775677914
  src/google/protobuf/struct.pb.cc
Owners: none

Change PROTOBUF_MUSTTAIL to affirmatively use the musttail annotation only on our primary target platforms where we know it does what we want.
  src/google/protobuf/port_def.inc
Owners: none

Internal Change.
  src/google/protobuf/generated_message_tctable_decl.h
Owners: none

Migrate rust protobuf test matchers from `empty` to `is_empty`.
  Cargo.bazel.lock
  Cargo.lock
  WORKSPACE
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/test/shared/accessors_map_test.rs
  rust/test/shared/accessors_proto3_test.rs
  rust/test/shared/accessors_repeated_test.rs
  rust/test/shared/accessors_test.rs
  rust/test/shared/child_parent_test.rs
  rust/test/shared/simple_nested_test.rs
Owners: none

Migrate rust protobuf test matchers from `empty` to `is_empty`.
  Cargo.bazel.lock
  Cargo.lock
  WORKSPACE
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/test/shared/accessors_map_test.rs
  rust/test/shared/accessors_proto3_test.rs
  rust/test/shared/accessors_repeated_test.rs
  rust/test/shared/accessors_test.rs
  rust/test/shared/child_parent_test.rs
  rust/test/shared/simple_nested_test.rs
Owners: none

Refactor how inline string fields are tracked for donation.
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/field.h
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/inlined_string_field.cc
  src/google/protobuf/inlined_string_field.h
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/message_unittest_legacy_apis.inc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/message_unittest.cc
Owners: none

Adds source file and line number to Printer::Outdent error message
  src/google/protobuf/io/printer.cc
  src/google/protobuf/io/printer.h
Owners: none

Fix case where `Allocate(0)` returns null if we have not allocated any memory yet.
  src/google/protobuf/arena.h
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/serial_arena.h
Owners: none

Use `ByteSizeLong()` i/o deprecated `ByteSize()` in well_known_types_unittest
  src/google/protobuf/well_known_types_unittest.cc
Owners: none

Add Python deprecation warnings for Descriptor Label.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

update
  objectivec/GPBDictionary.h
Owners: @protocolbuffers/protobuf-objc

Automated rollback of commit 2471bd804afe3f2e190dd0f92464d69a9f2e6d4f.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/port_def.inc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
