Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

#PDProto analyze_profile_proto_main: Reduce noisiness of logging
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_main.cc
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/lazily_build_dependencies_test.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

`ABSL_DEPRECATE_AND_INLINE` Proto Descriptor `is_optional` to use `is_required` and `is_repeated` instead.
  src/google/protobuf/descriptor.h
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Disable cpp extension on GraalPy
  python/google/protobuf/internal/api_implementation.py
Owners: @protocolbuffers/protobuf-python

Refactor ExtensionSet to grant template access to the extension content instead of named accessors.
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/extension_set_inl.h
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/wire_format_lite.h
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Remove dead code in `GenerateSerializeWithCachedSizesToArray`.
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Testing absl::string_view nullptr check
  src/google/protobuf/arenastring.h
Owners: none

Support allowing late injection of language feature set defaults from FeatureSet extensions while getting feature set extension values.
  editions/generated_files_test.cc
  python/google/protobuf/pyext/descriptor.cc
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/code_generator.h
  src/google/protobuf/compiler/code_generator_unittest.cc
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/extension.cc
  src/google/protobuf/compiler/java/generator.h
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/feature_resolver.cc
  src/google/protobuf/feature_resolver.h
  src/google/protobuf/feature_resolver_test.cc
  src/google/protobuf/internal_feature_helper.cc
  src/google/protobuf/internal_feature_helper.h
  src/google/protobuf/internal_feature_helper_test.cc
Owners: @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-java

Internal change
  rust/BUILD
  src/google/protobuf/compiler/rust/BUILD.bazel
  src/google/protobuf/compiler/rust/main.cc
Owners: none

Fix cmake staleness test
  src/file_lists.cmake
Owners: none

flip flag
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Created a proper `cc_dist_library()` for upb.
  cmake/tests.cmake
  pkg/BUILD.bazel
  upb/BUILD
  upb/util/BUILD
Owners: none

Changed function array so that disabled functions are not populated.
  upb/wire/decode_fast/combinations.h
  upb/wire/decode_fast/field_fixed.c
  upb/wire/decode_fast/function_array.c
  upb/wire/decode_fast/select_test.cc
Owners: none

Auto-generate files after cl/763877244
  src/file_lists.cmake
Owners: none

Updating version.json and repo version numbers to: 25.8
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java

Updating version.json and repo version numbers to: 25.9-dev
  CMakeLists.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite/pom.xml
  java/pom.xml
  java/protoc/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Split out test util for constructing wire payloads so it can be reused in other modules.
  upb/BUILD
  upb/message/BUILD
  upb/message/internal/compare_unknown.c
  upb/message/internal/compare_unknown_test.cc
  upb/test/BUILD
  upb/wire/BUILD
  upb/wire/test_util/BUILD
  upb/wire/test_util/wire_message.cc
  upb/wire/test_util/wire_message.h
Owners: none

Add missing `copts` attribute
  src/google/protobuf/compiler/java/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/763892424
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add allow(dead_code) to map entry impl.
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Add missing `copts` attribute
  src/google/protobuf/compiler/java/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Disable the optimization for fixed_address_empty_string for MSVC. The definition for MSVC/C++20/DEBUG build breaks our assumptions.
  src/google/protobuf/port.h
Owners: none

Add missing `copts` attribute (#21982)
  src/google/protobuf/compiler/java/BUILD.bazel
Owners: @protocolbuffers/protobuf-java

Split upb/rust into an inner upb/rust/sys (which has only extern-C definitions) and then the pure Rust API around it.
  rust/BUILD
  rust/upb/BUILD
  rust/upb/arena.rs
  rust/upb/associated_mini_table.rs
  rust/upb/lib.rs
  rust/upb/sys/BUILD
  rust/upb/sys/base/ctype.rs
  rust/upb/sys/base/mod.rs
  rust/upb/sys/base/string_view.rs
  rust/upb/sys/lib.rs
  rust/upb/sys/mem/arena.rs
  rust/upb/sys/mem/mod.rs
  rust/upb/sys/message/array.rs
  rust/upb/sys/message/map.rs
  rust/upb/sys/message/message.rs
  rust/upb/sys/message/message_value.rs
  rust/upb/sys/message/mod.rs
  rust/upb/sys/mini_table/extension_registry.rs
  rust/upb/sys/mini_table/mini_table.rs
  rust/upb/sys/mini_table/mod.rs
  rust/upb/sys/opaque_pointee.rs
  rust/upb/sys/test_helpers.rs
  rust/upb/sys/text/mod.rs
  rust/upb/sys/text/text.rs
  rust/upb/sys/upb_api.c
  rust/upb/sys/wire/mod.rs
  rust/upb/sys/wire/wire.rs
  rust/upb/text.rs
  rust/upb/wire.rs
Owners: none

Optimize encoding long varints on arm64
  upb/wire/encode.c
Owners: none

Updated table-filling logic to use the same "ISENABLED()" macro.
  upb/wire/decode_fast/select.c
Owners: none

Make C++ code generation use protoc_minimal
  BUILD.bazel
  bazel/private/proto_library_rule.bzl
  src/google/protobuf/compiler/cpp/BUILD.bazel
Owners: none

Internal Change.
  .bcr/metadata.template.json
Owners: none

Add additional map types for unit testing.
  src/google/protobuf/arena.h
  src/google/protobuf/map.h
  src/google/protobuf/map_test_util.h
  src/google/protobuf/map_unittest.proto
Owners: none

Internal change
  java/core/src/main/java/com/google/protobuf/android/UnredactedDebugFormatForTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Updating version.json and repo version numbers to: 29.5
  MODULE.bazel
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  python/google/protobuf/runtime_version.py
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/compiler/versions.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.cc
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/runtime_version.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
  version.json
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_util.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
Owners: none

[numpy] Fix breakage in users of Python protobuf users under NumPy 2.3rc1.
  python/convert.c
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python
