Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/java/full/primitive_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.h
  src/google/protobuf/compiler/csharp/csharp_enum.h
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_helpers.h
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_options.h
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.h
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.h
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  hpb/hpb.h
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/message.cc
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto.cc
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  hpb/repeated_field.h
  hpb/repeated_field_iterator.h
  hpb/requires.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/accessors/default_value.h
  src/google/protobuf/compiler/rust/accessors/generator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  conformance/binary_json_conformance_suite.h
  conformance/conformance_test.h
  conformance/text_format_conformance_suite.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/objectivec/extension.h
  src/google/protobuf/compiler/objectivec/nsobject_methods.h
Owners: @protocolbuffers/protobuf-objc

Automated Code Change
  src/google/protobuf/compiler/versions.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/extension.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
  src/google/protobuf/compiler/java/full/string_field.cc
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java

Automated Code Change
  java/core/src/main/java/com/google/protobuf/BinaryReader.java
  java/core/src/main/java/com/google/protobuf/CodedInputStreamReader.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
  java/core/src/main/java/com/google/protobuf/LazyFieldLite.java
  java/core/src/main/java/com/google/protobuf/MessageSchema.java
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Internal changes
  bazel/private/bazel_java_proto_library_rule.bzl
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Internal change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

fix(php): do not throw deprecated warning on field getters for default values (#17788)
  php/tests/GeneratedClassTest.php
  php/tests/proto/test.proto
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Refactor type family layout optimization to message_layout_helper.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

Hold a pointer to the message descriptor in MessageLayoutHelper.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

Remove protobuf v25 dep from WORKSPACE.bzlmod
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  cmake/dependencies_generator.py
  compatibility/BUILD.bazel
  patches/protobuf_v25/0001-Add-MODULE.bazel.patch
  patches/protobuf_v25/0002-Examples-MODULE.bazel.patch
  patches/protobuf_v25/0003-relative-labels.patch
  patches/protobuf_v25/0004-Add-utf8_range-dependency.patch
  patches/protobuf_v25/0005-Make-rules_ruby-a-dev-only-dependency.patch
  patches/protobuf_v25/0006-Add-repo_name.patch
Owners: none

Use tmp/protoc-out as the tmpdir for protoc to keep things better organized.
  ruby/Rakefile
Owners: @protocolbuffers/protobuf-ruby

Auto-generate files after cl/742781509
  cmake/dependencies.cmake
Owners: none

Replace `ABSL_ATTRIBUTE_UNUSED` with `[[maybe_unused]]` (#20840)
  src/google/protobuf/repeated_field.h
Owners: none

Use std::variant
  cmake/abseil-cpp.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/printer.cc
  src/google/protobuf/io/printer.h
  src/google/protobuf/json/BUILD.bazel
  src/google/protobuf/json/internal/lexer_test.cc
  src/google/protobuf/json/internal/unparser_traits.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/zero_copy_buffered_stream.h
  src/google/protobuf/map_field.h
  src/google/protobuf/port.cc
  upb/message/BUILD
  upb/message/internal/compare_unknown_test.cc
Owners: none

Use std::visit
  src/google/protobuf/json/internal/untyped_message.h
Owners: none

Add <variant>
  src/google/protobuf/json/internal/lexer_test.cc
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.h
Owners: none

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
  src/google/protobuf/json/internal/descriptor_traits.h
  src/google/protobuf/json/internal/untyped_message.h
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/descriptor_legacy.h
Owners: none

Remove unused attribute warnings
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_util.h
  src/google/protobuf/inlined_string_field.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: none

Add static_casts to silence msvc compiler warning C4267
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/map.h
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal
  src/google/protobuf/arenaz_sampler.h
Owners: none

Internal
  src/google/protobuf/arenaz_sampler.h
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
