Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Fix python codegen crash when C++ features are used.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/compiler/python/plugin_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-python

Fix python codegen crash when C++ features are used.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/compiler/python/plugin_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-python

Auto-generate files after cl/733885839
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

Use `StringViewArg` alias instead of `const std::string&` for consistency with migration
  src/google/protobuf/descriptor_unittest.cc
Owners: none

Add class alias for `SqlFlumeDescriptorDatabase` string argument migration.
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: none

Fix csharp test
  .github/workflows/test_csharp.yml
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Bump the references to 25.x to a commit that includes a backport that decouples `rules_ruby`
  WORKSPACE
  WORKSPACE.bzlmod
Owners: none

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/defs.bzl
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/lib/google/BUILD.bazel
  ruby/src/main/java/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Add `bundle_fetch`
  cmake/dependencies_generator.py
Owners: none

Handle differences in behavior for env between macOS and linux
  conformance/conformance_ruby.rb
Owners: none

Update handling of ruby binaries by conformance tests to reflect that they're no longer automatically wrapped in a shell script.
  conformance/conformance_ruby.rb
Owners: none

Tweak Gemfile.lock and gemspec
  ruby/Gemfile.lock
  ruby/google-protobuf.gemspec
Owners: @protocolbuffers/protobuf-ruby

Workaround for https://github.com/bazel-contrib/rules_ruby/issues/216
  Disable_bundle_install.patch
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
Owners: none

Add `dev_dependency` to `use_extension`
  MODULE.bazel
Owners: none

Switch `rules_ruby` to the supported version from `bazel-contrib`
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  conformance/BUILD.bazel
  protobuf.bzl
  ruby/BUILD.bazel
  ruby/Gemfile.lock
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/src/main/java/BUILD.bazel
  ruby/tests/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Fix ruby_binary for conformance test
  conformance/BUILD.bazel
  conformance/conformance_ruby.rb
Owners: none

Replace `gemspec` directive in `Gemfile` with explicit gem dependencies in order to avoid conflicts between JRuby and CRuby.
  ruby/Gemfile
  ruby/Gemfile.lock
Owners: @protocolbuffers/protobuf-ruby

Revert spurious change
  ruby/Gemfile.lock
Owners: @protocolbuffers/protobuf-ruby

Switch `rules_ruby` to the supported version from `bazel-contrib`
  protobuf.bzl
Owners: none

Switch `rules_ruby` to the supported version from `bazel-contrib`
  WORKSPACE.bzlmod
  protobuf.bzl
Owners: none

Workaround for https://github.com/bazel-contrib/rules_ruby/issues/216
  WORKSPACE.bzlmod
Owners: none

Warn on unused RepeatedPtrField.
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Allow the `register_toolchains` stub to accept keyword args like the real thing
  cmake/dependencies_generator.py
Owners: none

Mark ruby_toolchains as a dev dependency
  MODULE.bazel
Owners: none

Fix python codegen crash when C++ features are used. (#20577)
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/python/BUILD.bazel
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/compiler/python/plugin_unittest.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
Owners: @protocolbuffers/protobuf-python

Add a time-j2kt-native target.
  java/util/src/main/java/com/google/protobuf/util/Durations.java
  java/util/src/main/java/com/google/protobuf/util/Timestamps.java
Owners: @protocolbuffers/protobuf-java

Add a TODO pointing to https://github.com/bazel-contrib/rules_ruby/issues/219
  conformance/conformance_ruby.rb
Owners: none

Upgrade to protobuf-ci v4
  .github/workflows/staleness_check.yml
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
  .github/workflows/test_yaml.yml
Owners: none

Upgrade to protobuf-ci v4
  .github/workflows/staleness_check.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
Owners: none

Temporarily disable broken aarch64 test runs.
  .github/workflows/test_cpp.yml
  .github/workflows/test_php.yml
  .github/workflows/test_ruby.yml
Owners: none

Upgrade to protobuf-ci v4 (#20584)
  .github/workflows/staleness_check.yml
  .github/workflows/test_bazel.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
  .github/workflows/test_yaml.yml
Owners: none

Rewrite testJavaProtoInfoAspect to Starlark
  .github/workflows/test_upb.yml
  bazel/tests/BUILD
  bazel/tests/java_proto_library_tests.bzl
  bazel/tests/testdata/my_rule_with_aspect.bzl
Owners: none

Small cleanup of GenerateThunksCC
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Test out 2.2.1, which won't need a PR
  .github/workflows/staleness_check.yml
  .github/workflows/test_cpp.yml
  .github/workflows/test_csharp.yml
  .github/workflows/test_java.yml
  .github/workflows/test_objectivec.yml
  .github/workflows/test_php.yml
  .github/workflows/test_php_ext.yml
  .github/workflows/test_python.yml
  .github/workflows/test_ruby.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_upb.yml
Owners: none

hpb: Add support for string extensions
  hpb/extension.h
  hpb_generator/gen_utils.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_extension.proto
Owners: none

Make rules_ruby a dev-only dependency. (#20575)
  BUILD.bazel
  WORKSPACE
  conformance/BUILD.bazel
  protobuf.bzl
  protobuf_deps.bzl
  ruby/BUILD.bazel
  ruby/compatibility_tests/v3.0.0/tests/BUILD.bazel
  ruby/defs.bzl
  ruby/lib/google/BUILD.bazel
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/BUILD.bazel
Owners: @protocolbuffers/protobuf-ruby

Introduce the descriptor changes for edition 2024 proto message/enum visibility.
  src/google/protobuf/cpp_edition_defaults.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/feature_resolver.cc
  src/google/protobuf/feature_resolver_test.cc
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.h
Owners: none

The refleaks checker now calls `sys._clear_type_cache()` to get more consistent results.
  python/google/protobuf/internal/testing_refleaks.py
Owners: @protocolbuffers/protobuf-python

Update Rust release script to publish `protobuf_well_known_types` crate
  rust/release_crates/publish_release.sh
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
