Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Auto-generate files after cl/768652830
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Automated Code Change
  conformance/BUILD
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Automated Code Change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/test_zero_copy_stream_test.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

fix grammar
  src/google/protobuf/parse_context.h
Owners: none

faster varint decoding
  src/google/protobuf/parse_context.h
Owners: none

fix clang codegen
  src/google/protobuf/parse_context.h
Owners: none

use valuebarrier instead
  src/google/protobuf/parse_context.h
Owners: none

fix issues
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
Owners: none

Fix default value initialization for split MicroString fields.
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/micro_string.h
Owners: none

Internal change.
  upb/reflection/BUILD
Owners: none

hpb: update repeated_field_iterator_test.cc to use hpb::interop::upb::UnwrapArena
  hpb/repeated_field_iterator_test.cc
Owners: none

Implement CopyFrom, MoveFrom, and TakeFrom as blanket implementations
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

[GPBTestUtil] Fix test with initialization of bytes with null characters
  objectivec/Tests/GPBTestUtilities.m
Owners: @protocolbuffers/protobuf-objc

rules_python: 1.0.0 -> 1.1.0 (#22078) (#22079)
  MODULE.bazel
  examples/MODULE.bazel
  protobuf_deps.bzl
Owners: @protocolbuffers/protobuf-docs

Auto-generate files after PR #22079
  cmake/dependencies.cmake
Owners: none

[numpy] Fix breakage in users of Python protobufs under NumPy 2.3rc1.
  python/convert.c
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

[numpy] Fix breakage in users of Python protobufs under NumPy 2.3rc1.
  python/convert.c
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

Bump PHP to 8.3 to fix non-hermetic macos failure
  .github/workflows/test_php.yml
Owners: none

Bump setup-php pin instead of PHP version
  .github/workflows/test_php.yml
Owners: none

Depend on upb targets directly instead of going through aliases.
  benchmarks/BUILD
  python/BUILD.bazel
  rust/upb/sys/BUILD
  upb/BUILD
  upb/base/BUILD
  upb/conformance/BUILD
  upb/hash/BUILD
  upb/io/BUILD
  upb/json/BUILD
  upb/lex/BUILD
  upb/mem/BUILD
  upb/message/BUILD
  upb/mini_descriptor/BUILD
  upb/mini_table/BUILD
  upb/reflection/BUILD
  upb/test/BUILD
  upb/text/BUILD
  upb/util/BUILD
  upb/wire/BUILD
  upb/wire/decode_fast/BUILD
  upb/wire/test_util/BUILD
  upb_generator/common/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  java/core/src/main/java/com/google/protobuf/CodedOutputStreamWriter.java
  java/core/src/main/java/com/google/protobuf/ExtensionRegistryLite.java
Owners: @protocolbuffers/protobuf-java

[numpy] Fix breakage in users of Python protobufs under NumPy 2.3rc1. (#22172)
  .github/workflows/test_php.yml
  python/convert.c
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

[numpy] Fix breakage in users of Python protobufs under NumPy 2.3rc1. (#22171)
  python/convert.c
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

[ruby] Optionally link ASAN
  ruby/README.md
  ruby/ext/google/protobuf_c/extconf.rb
Owners: @protocolbuffers/protobuf-ruby

Exit with an error if PROTOBUF_CONFIG is set incorrectly
  ruby/ext/google/protobuf_c/extconf.rb
Owners: @protocolbuffers/protobuf-ruby

Depend on upb targets directly instead of going through aliases.
  upb/reflection/BUILD
  upb_generator/BUILD
  upb_generator/bootstrap_compiler.bzl
  upb_generator/c/BUILD
  upb_generator/minitable/BUILD
  upb_generator/reflection/BUILD
Owners: none
