Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
Owners: none

Internal change
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/message_serialization.h
  src/google/protobuf/compiler/java/message_serialization_unittest.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/generated_enum_util.cc
  src/google/protobuf/generated_message_bases.h
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/test_util_lite.cc
  src/google/protobuf/unknown_field_set.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  conformance/binary_json_conformance_suite.cc
  conformance/conformance_test.cc
  conformance/conformance_test_runner.cc
  conformance/text_format_conformance_suite.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/drop_unknown_fields_test.cc
  src/google/protobuf/edition_message_unittest.cc
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/feature_resolver.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/printer_death_test.cc
  src/google/protobuf/io/printer_unittest.cc
  src/google/protobuf/io/test_zero_copy_stream_test.cc
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_sink.cc
  src/google/protobuf/io/zero_copy_sink.h
  src/google/protobuf/io/zero_copy_sink_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_lite_test_util.cc
  src/google/protobuf/map_probe_benchmark.cc
  src/google/protobuf/map_test.cc
  src/google/protobuf/micro_string.cc
  src/google/protobuf/preserve_unknown_enum_test.cc
  src/google/protobuf/proto3_arena_lite_unittest.cc
  src/google/protobuf/proto3_lite_unittest.cc
  src/google/protobuf/reflection_ops_unittest.cc
  src/google/protobuf/reflection_tester.cc
  src/google/protobuf/reflection_tester.h
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/retention_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Internal change
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/nested.proto
Owners: none

Internal change
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/nested.proto
Owners: none

Automated Code Change
  src/google/protobuf/text_format.cc
Owners: none

Automated Code Change
  src/google/protobuf/arena.h
Owners: none

Internal change
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/nested.proto
Owners: none

Add `upb_proto_reflection_library` rules for some well known protobuf types
  BUILD.bazel
  src/google/protobuf/BUILD.bazel
Owners: none

Automated rollback of commit aba61e1f8f1fab2e7ad55a148ce40b24dd32a6dd.
  BUILD.bazel
  src/google/protobuf/BUILD.bazel
Owners: none

Automated rollback of commit 76ef2b24779f28243af4dbfd3f5766c38ab2a60a.
  BUILD.bazel
  src/google/protobuf/BUILD.bazel
Owners: none

-Add '+' and '-' annotations for Timestamp and Duration in Python -Add support for "Duration - Duration" and "Duration - timedelata" in Python
  python/google/protobuf/internal/duration_test.py
  python/google/protobuf/internal/timestamp_test.py
  python/google/protobuf/internal/well_known_types.py
Owners: @protocolbuffers/protobuf-python

Address some fuzz testing findings to prevent reaching unreachable statements in Symbol. Defensively short-circuit visiblity checks whenever the Symbol cannot have visibility (aka !Symbol::IsType)
  src/google/protobuf/descriptor.cc
Owners: none

Fixes https://github.com/protocolbuffers/protobuf/issues/21213
  editions/golden/test_messages_proto3_editions.proto
  src/google/protobuf/compiler/kotlin/field.cc
  src/google/protobuf/test_messages_proto3.proto
Owners: none

Auto-generate files after cl/747529134
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto3Editions.pb.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

Automated rollback of commit 0315700d758054ab03078fc6a9c04d4a7e1e3d34.
  java/core/src/test/java/com/google/protobuf/TextFormatTest.java
Owners: @protocolbuffers/protobuf-java
