Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/compiler/mock_code_generator.cc
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none

Internal change
  python/google/protobuf/pyext/map_container.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Use std::variant
  cmake/abseil-cpp.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/dynamic_message.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/io/BUILD.bazel
  src/google/protobuf/io/printer.cc
  src/google/protobuf/io/printer.h
  src/google/protobuf/json/BUILD.bazel
  src/google/protobuf/json/internal/lexer_test.cc
  src/google/protobuf/json/internal/unparser_traits.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/zero_copy_buffered_stream.h
  src/google/protobuf/map_field.h
  src/google/protobuf/port.cc
  upb/message/BUILD
  upb/message/internal/compare_unknown_test.cc
Owners: none

Use std::visit
  src/google/protobuf/json/internal/untyped_message.h
Owners: none

Internal change
  src/google/protobuf/compiler/objectivec/message_field.cc
  src/google/protobuf/compiler/objectivec/primitive_field.cc
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Internal change
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/text_format.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/mock_code_generator.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/helpers.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/java/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  java/core/src/test/java/com/google/protobuf/TextFormatTest.java
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/wire_format_unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/io/zero_copy_sink.h
Owners: none

Automated Code Change
  src/google/protobuf/arenaz_sampler.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/full/enum.h
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.h
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.h
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

use UnityEngine.SerializeField instead
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/java/lite/message.cc
  src/google/protobuf/compiler/java/lite/primitive_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/java/generator_common.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  python/google/protobuf/internal/python_protobuf.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/descriptor_database_unittest.cc
Owners: none

Automated Code Change
  hpb_generator/tests/extension_test.cc
Owners: none
