Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

upb: Add more tests for upb Map: clone and enum values.
  upb/hash/test.cc
  upb/message/copy_test.cc
Owners: none

Move remaining common functionality between layout optimizers to message_layout_helper.
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/fast_parse_table_builder.cc
  src/google/protobuf/fast_parse_table_builder.h
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
Owners: none

Define ::Google::Protobuf::VALUE_NOT_PROVIDED sentinel value
  ruby/ext/google/protobuf_c/message.c
  ruby/tests/message_test.rb
Owners: @protocolbuffers/protobuf-ruby

Add a test to confirm AbstractMessage.create still works with non-sequential field numbers.
  ruby/ext/google/protobuf_c/message.c
  ruby/tests/message_test.proto
  ruby/tests/message_test.rb
  ruby/tests/message_test_pb.rb
Owners: @protocolbuffers/protobuf-ruby

Add a check to ensure we don't get more arguments than the field count. This prevents a segfault.
  ruby/ext/google/protobuf_c/message.c
  ruby/tests/message_test.rb
Owners: @protocolbuffers/protobuf-ruby

Define a new AbstractMessage.create which allows us to initialize instances with positional arguments
  ruby/Rakefile
  ruby/ext/google/protobuf_c/message.c
  ruby/tests/message_test.proto
  ruby/tests/message_test.rb
  ruby/tests/message_test_pb.rb
Owners: @protocolbuffers/protobuf-ruby

Modify pkg.gem_spec.files in place
  ruby/Rakefile
Owners: @protocolbuffers/protobuf-ruby

Update the Ruby README with debug build instructions.
  ruby/README.md
Owners: @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/message_lite.h
Owners: none

Use auto
  src/google/protobuf/compiler/code_generator_lite.cc
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/objectivec/generator.cc
  src/google/protobuf/compiler/rust/crate_mapping_unittest.cc
  src/google/protobuf/io/zero_copy_stream.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/util/field_mask_util.cc
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc

Revert some changes
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/repeated_test.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Make C++ always serialize tag-delimited messages
  conformance/binary_json_conformance_suite.cc
  conformance/test_protos/test_messages_edition2023.proto
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
  java/core/src/main/java/com/google/protobuf/MessageSchema.java
  python/google/protobuf/internal/python_message.py
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/java/full/field_generator.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/generator_common.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/wire_format.cc
  upb/wire/decode.c
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Add Python deprecation warnings for Descriptor Label. Also, minimize calls to Label within Protobuf.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/internal/extension_dict.py
  python/google/protobuf/internal/field_mask.py
  python/google/protobuf/internal/field_mask_test.py
  python/google/protobuf/internal/message_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/reflection_test.py
  python/google/protobuf/internal/unknown_fields_test.py
  python/google/protobuf/json_format.py
  python/google/protobuf/pyext/descriptor.cc
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
Owners: none

Add support for RBS, Ruby type signature
  .github/workflows/test_ruby.yml
  protobuf.bzl
  ruby/lib/google/protobuf/ffi/message.rb
  src/file_lists.cmake
  src/google/protobuf/compiler/main.cc
  src/google/protobuf/compiler/ruby/BUILD.bazel
  src/google/protobuf/compiler/ruby/rbs_generator.cc
  src/google/protobuf/compiler/ruby/rbs_generator.h
  src/google/protobuf/compiler/ruby/rbs_generator_unittest.cc
  src/google/protobuf/compiler/ruby/ruby_generated_code.proto
  src/google/protobuf/compiler/ruby/ruby_generated_code_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_code_proto2_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_legacy_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_explicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generated_pkg_implicit_pb.rbs
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Enable inline buffer for big-endian builds.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
  src/google/protobuf/port.h
Owners: none

fix deprecation_trigger generation
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Clone the bad identifies file for editions.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/test_bad_identifiers_editions.proto
  src/google/protobuf/compiler/cpp/test_bad_identifiers_proto2.proto
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Auto-generate files after cl/743972447
  src/file_lists.cmake
Owners: none

fix: contains check segfaults on empty map (#20446) (#21034)
  python/google/protobuf/internal/well_known_types_test.py
  python/message.c
Owners: @protocolbuffers/protobuf-python

Test rust with bazel 8.
  .github/workflows/test_rust.yml
  ci/common.bazelrc
Owners: none

Support allowing late injection of language feature set defaults from FeatureSet extensions while getting feature set values.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message.cc
Owners: none

Internal change
  objectivec/GPBUtilities.m
Owners: @protocolbuffers/protobuf-objc

Internal change
  src/google/protobuf/parse_context.cc
Owners: none

Make java builds bazel 8 compatible.
  .github/workflows/test_java.yml
  MODULE.bazel
  java/BUILD.bazel
  java/kotlin-lite/BUILD.bazel
  java/kotlin/BUILD.bazel
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin

Auto-generate files after cl/744076994
  cmake/dependencies.cmake
Owners: none

Add "fast-parse" hotness category to message layout optimizers.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/file_unittest.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/unittest.proto
Owners: none

Internal changes
  src/google/protobuf/compiler/command_line_interface_unittest.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Internal change
  python/google/protobuf/pyext/descriptor_database.cc
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  third_party/utf8_range/fuzz/BUILD.bazel
  third_party/utf8_range/fuzz/utf8_validity_fuzzer.cc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/text_format.cc
  src/google/protobuf/unknown_field_set_unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/arena.h
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
