Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Java tests for import option
  java/core/src/test/java/com/google/protobuf/ImportOptionTest.java
Owners: @protocolbuffers/protobuf-java

Internal change
  bazel/private/proto_library_rule.bzl
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.h
  src/google/protobuf/descriptor.proto
Owners: none

Raise warnings for float_precision from python json_format. Raise warnings for float_format/double_format from python text_format.
  python/google/protobuf/json_format.py
  python/google/protobuf/text_format.py
Owners: @protocolbuffers/protobuf-python

Move the store to arena_stats_ after the store to head_
  src/google/protobuf/arena.cc
Owners: none

Support repeated fields in VerifyHasBitConsistency.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Internal change.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Internal change.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Use container matchers in map field tests.
  src/google/protobuf/map_test.inc
Owners: none

Enable hint hasbits for repeated fields.
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Assign hasbits to repeated fields if experiment flag is enabled, and set hasbits accordingly everywhere.
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/field_generators/enum_field.cc
  src/google/protobuf/compiler/cpp/field_generators/map_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/primitive_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_size_unittest.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/kotlin/generator.cc
Owners: none

Don't reset field reordering on empty field hotness families.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
Owners: none

Define experimental feature flag for repeated field hasbits.
  src/google/protobuf/port.h
Owners: none

Place fast-parse layout partition before repeated fields if hasbits for repeated fields are enabled.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
Owners: none

Automated Code Change
  src/google/protobuf/arena_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/message_unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/wire_format_unittest.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/file.cc
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/python/generator.cc
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
Owners: @protocolbuffers/protobuf-csharp

Don't return early when encountering a numeric field with a set hasbit in VerifyHasBitConsistency.
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Add VerifyHasBitConsistency, which returns a status on a failed hasbits check.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Test VerifyHasBitConsistency with negative examples.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Internal change.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: @protocolbuffers/protobuf-java

Support repeated fields with hasbits in message generator.
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: @protocolbuffers/protobuf-java

Support repeated fields with hasbits in generated message reflection methods.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: @protocolbuffers/protobuf-java

Rename VerifyHasBitConsistency to CheckHasBitConsistency.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
Owners: @protocolbuffers/protobuf-java

Support repeated fields with hasbits for MakeTypeCardForField.
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/cpp/message.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/generated_message_reflection_unittest.cc
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/has_bits_test.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection_visit_fields.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/bootstrap_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  hpb/backend/upb/repeated_field_iterator_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
