Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

protobuf: update to Abseil LTS 20250814.0
  MODULE.bazel
  protobuf_deps.bzl
Owners: none

Fixed a parser bug where closed enums are parsed incorrectly for non-repeated extensions.
  python/google/protobuf/internal/message_test.py
  upb/wire/decode.c
Owners: @protocolbuffers/protobuf-python

Auto-generate files after cl/799202921
  php/ext/google/protobuf/php-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Internal change
  src/google/protobuf/arena.cc
  src/google/protobuf/generated_message_reflection.cc
  src/google/protobuf/message.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/serial_arena.h
  src/google/protobuf/thread_safe_arena.h
Owners: none

Internal Change.
  src/google/protobuf/arenastring.cc
Owners: none

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/wire_format.cc
Owners: none

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/wire_format.cc
Owners: none

Internal change
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/reflection_visit_fields.h
  src/google/protobuf/wire_format.cc
Owners: none

Added support for new symbol visibility fields in descriptor.proto.
  upb/reflection/enum_def.c
  upb/reflection/enum_def.h
  upb/reflection/message_def.c
  upb/reflection/message_def.h
  upb/util/def_to_proto.c
  upb/util/def_to_proto_test.cc
Owners: none

Auto-generate files after cl/799375762
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

utf8_range: Remove unused DEFAULT_VISIBILITY
  third_party/utf8_range/BUILD.bazel
Owners: none

include sha256 in rules_proto http_archive
  protobuf_deps.bzl
Owners: none

Use the 'better' JSON parser on the conformance suite harness.
  conformance/binary_json_conformance_suite.cc
Owners: none

Use the 'better' JSON parser on the conformance suite harness.
  conformance/binary_json_conformance_suite.cc
Owners: none

Internal Change.
  src/google/protobuf/arenastring.cc
  src/google/protobuf/arenastring.h
Owners: none

hpb: implement bare bones of hpb::Status and hpb::StatusOr, which we will be using as our api return types going forward.
  hpb/BUILD
  hpb/backend/BUILD
  hpb/backend/types.h
  hpb/backend/upb/BUILD
  hpb/backend/upb/error.h
  hpb/status.h
  hpb/status_test.cc
Owners: none

Automated Code Change
  bazel/private/upb_proto_library_internal/aspect.bzl
  bazel/private/upb_proto_library_internal/cc_library_func.bzl
  bazel/upb_c_proto_library.bzl
  bazel/upb_minitable_proto_library.bzl
  bazel/upb_proto_reflection_library.bzl
  build_defs/cc_proto_blacklist_test.bzl
  build_defs/compiler_config_setting.bzl
  hpb/bazel/hpb_proto_library.bzl
  pkg/cc_dist_library.bzl
  rust/bazel/aspects.bzl
  toolchain/cc_toolchain_config.bzl
Owners: none

Improve Java gencode static initialization to avoid unnecessary temporaries
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/helpers.cc
Owners: @protocolbuffers/protobuf-java

hpb/oss: rm UPB_DEFAULT_CPPOPTS from hpb_generator
  hpb_generator/BUILD
Owners: none

Move implementation of UpbTypeConversions from gencode into the runtime
  rust/cpp.rs
  rust/upb.rs
  src/google/protobuf/compiler/rust/enum.cc
  src/google/protobuf/compiler/rust/message.cc
Owners: none

hpb/oss: expand namespace in gen_utils and names
  hpb_generator/gen_utils.cc
  hpb_generator/gen_utils.h
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Add arena ownership APIs
  hpb/arena.h
  hpb/backend/upb/extension.cc
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/tests/extension_test.cc
  hpb_generator/tests/test_generated.cc
  upb/mem/arena.c
  upb/mem/arena.h
  upb/mem/arena.hpp
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Auto-generate files after cl/799699199
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Remove the JSON Performance conformance tests.
  conformance/binary_json_conformance_suite.cc
  conformance/binary_json_conformance_suite.h
Owners: none

Move toward a clean separation between Rust generated code and the unstable upb API
  rust/upb.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Automated rollback of commit b68b6731776bc65d47d874c78322e58b985b4f1d.
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/helpers.cc
Owners: @protocolbuffers/protobuf-java

Automated rollback of commit 493f2fa8a0d477c94d92ba0f631763d769357348.
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
  java/core/src/main/java/com/google/protobuf/RuntimeVersion.java
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/helpers.cc
Owners: @protocolbuffers/protobuf-java

Move the implementation of the `Serialize` trait into the runtime
  rust/cpp.rs
  rust/upb.rs
  rust/upb/wire.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_accessors.h
  hpb_generator/gen_enums.cc
  hpb_generator/gen_enums.h
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_extensions.h
  hpb_generator/gen_messages.cc
  hpb_generator/gen_messages.h
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/gen_repeated_fields.h
  hpb_generator/generator.cc
  hpb_generator/generator.h
  hpb_generator/keywords.cc
Owners: none

Improve Java gencode static initialization to avoid unnecessary temporaries again
  src/google/protobuf/compiler/java/full/extension.cc
Owners: @protocolbuffers/protobuf-java

internal delta
  hpb/bazel/BUILD
Owners: none

Update text_format to report missing required fields in case of AnyProto.
  src/google/protobuf/text_format.cc
Owners: none

Internal change
  src/google/protobuf/message_lite.h
Owners: none

hpb: move T for hpb::StatusOr
  hpb/status.h
  hpb/status_test.cc
Owners: none

internal change
  hpb_generator/context.h
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_heavy.cc
  src/google/protobuf/reflection_visit_fields.h
Owners: none

Add debug asserts for bounds checking of scalar ops.
  python/unknown_fields.c
  upb/message/internal/compare_unknown.c
  upb/message/promote.c
  upb/text/internal/encode.c
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/eps_copy_input_stream.h
  upb/wire/internal/reader.h
  upb/wire/reader.c
  upb/wire/reader.h
  upb/wire/test_util/make_mini_table.cc
  upb/wire/test_util/wire_message.cc
Owners: @protocolbuffers/protobuf-python

Auto-generate files after cl/800215822
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Optimize `proto2::Reflection::ListFields` by avoiding reloads of the `descriptor_` and `descriptor_->fields_` member variables.
  src/google/protobuf/descriptor.h
  src/google/protobuf/generated_message_reflection.cc
Owners: none

include sha256 in rules_proto http_archive (#23237)
  protobuf_deps.bzl
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
