Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Optimize codegen for clearing oneofs.
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/generated_message_util.h
Owners: none

Removed `wrap_memcpy.c` compatibility shim for pre-2.14 glibc
  ruby/ext/google/protobuf_c/BUILD.bazel
  ruby/ext/google/protobuf_c/extconf.rb
  ruby/ext/google/protobuf_c/wrap_memcpy.c
Owners: @protocolbuffers/protobuf-ruby

Remove unused variables
  src/google/protobuf/compiler/php/names.cc
Owners: @protocolbuffers/protobuf-php

Extend gencode compatibility support back to 3.20.0
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
  python/google/protobuf/descriptor.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/runtime_version_test.py
  python/google/protobuf/runtime_version.py
Owners: @protocolbuffers/protobuf-python

Extend gencode compatibility support back to 3.20.0
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
  python/google/protobuf/descriptor.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/runtime_version_test.py
  python/google/protobuf/runtime_version.py
Owners: @protocolbuffers/protobuf-python

Extend gencode compatibility support back to 3.20.0
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
Owners: none

Remove 26.x and 30.x
  .github/workflows/test_upb.yml
Owners: none

Remove continuous testing tags which didn't exist in 25.x
  .github/workflows/test_upb.yml
Owners: none

Remove 30.x parameterization
  .github/workflows/test_upb.yml
Owners: none

Fix requirements install
  .github/workflows/test_upb.yml
Owners: none

Fix requirements install
  .github/workflows/test_upb.yml
Owners: none

pin to bazel 6.3.0
  ci/python_compatibility.sh
Owners: none

Desynchronize upb/pure tests
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
Owners: none

Desynchronize upb/pure tests
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
Owners: none

Testing something out.
  conformance/binary_json_conformance_suite.cc
  editions/golden/test_messages_proto2_editions.proto
  src/google/protobuf/test_messages_proto2.proto
Owners: none

Remove missing test proto from hardcoded list
  ci/python_compatibility.sh
Owners: none

Use python 11 for 25.x
  .github/workflows/test_upb.yml
Owners: none

Cast GetCachedTID() to unsigned to prevent left-shifting a negative number.
  src/google/protobuf/arenaz_sampler.cc
Owners: none

Run tests independently to avoid contamination of global state between generator/descriptor tests
  ci/python_compatibility.sh
Owners: none

Add target_compatible_with parameter to proto_toolchain in Bazel rules
  bazel/toolchains/proto_toolchain.bzl
Owners: none

Update comment
  .github/workflows/test_upb.yml
Owners: none

Update comment
  .github/workflows/test_upb.yml
Owners: none

Extend gencode compatibility support back to 3.20.0 (#22423)
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
  python/google/protobuf/descriptor.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/internal/runtime_version_test.py
  python/google/protobuf/runtime_version.py
Owners: @protocolbuffers/protobuf-python

Extend gencode compatibility support back to 3.20.0 (#22424)
  .github/workflows/test_upb.yml
  ci/python_compatibility.sh
Owners: none

Fixes `nest_in_file_class` to be RETENTION_RUNTIME.
  java/core/src/main/resources/google/protobuf/java_features.proto
  java/core/src/test/proto/com/google/protobuf/test_check_utf8.proto
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
Owners: @protocolbuffers/protobuf-java

Internal change
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
Owners: @protocolbuffers/protobuf-java

Templatize `GetClassData()` + Directly return `ClassData` of concrete T's i/o virtual `T::GetClassData()` calls
  src/google/protobuf/extension_set.cc
  src/google/protobuf/extension_set.h
  src/google/protobuf/extension_set_inl.h
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message_lite.cc
  src/google/protobuf/message_lite.h
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Fix `enum_name_uses_string_view` to `RETENTION_RUNTIME`
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/cpp_features.proto
Owners: none

Enable edition 2024 support in protoc and language generators for cpp, hpb, java, kotlin, objectivec, php, python, pyi, rust.
  hpb_generator/generator.h
  src/google/protobuf/compiler/code_generator.h
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/cpp/generator.h
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/java/generator.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/kotlin/generator.h
  src/google/protobuf/compiler/objectivec/generator.h
  src/google/protobuf/compiler/php/php_generator.h
  src/google/protobuf/compiler/python/generator.h
  src/google/protobuf/compiler/python/pyi_generator.h
  src/google/protobuf/compiler/ruby/ruby_generator.h
  src/google/protobuf/compiler/rust/generator.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

Cover editions in `google.protobuf.Api` and `google.protobuf.Method`
  src/google/protobuf/api.proto
Owners: none

More fixes
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_visitor_test.cc
Owners: none

Apply modernize-type-traits fix
  src/google/protobuf/any.pb.h
  src/google/protobuf/arena.h
  src/google/protobuf/arenastring.h
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/parser.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_visitor_test.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_decl.h
  src/google/protobuf/io/coded_stream.h
  src/google/protobuf/io/printer.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/writer.h
  src/google/protobuf/lite_unittest.cc
  src/google/protobuf/map.h
  src/google/protobuf/map_entry.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/parse_context.h
  src/google/protobuf/port.h
  src/google/protobuf/reflection.h
  src/google/protobuf/reflection_visit_field_info.h
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_field_unittest.cc
  src/google/protobuf/repeated_ptr_field.h
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/callback.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/unknown_field_set.h
  src/google/protobuf/varint_shuffle.h
  src/google/protobuf/wire_format_lite.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

[PHP] add missing reserved words: mixed, never and object
  php/src/Google/Protobuf/Internal/GPBUtil.php
  php/tests/GeneratedClassTest.php
  php/tests/proto/test_reserved_enum_lower.proto
  php/tests/proto/test_reserved_enum_upper.proto
  php/tests/proto/test_reserved_enum_value_lower.proto
  php/tests/proto/test_reserved_enum_value_upper.proto
  php/tests/proto/test_reserved_message_lower.proto
  php/tests/proto/test_reserved_message_upper.proto
  src/google/protobuf/compiler/php/names.cc
Owners: @protocolbuffers/protobuf-php

Newer and better prefetching in `Arena::CopyConstruct()`
  src/google/protobuf/arena.h
Owners: none

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_ptr_field_unittest.cc
  src/google/protobuf/string_view_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/map.h
  src/google/protobuf/message_unittest.inc
  src/google/protobuf/parse_context.h
Owners: none

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby
