Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Internal change
  hpb/hpb.h
  upb/mem/arena.hpp
Owners: none

Internal
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
Owners: @protocolbuffers/protobuf-java

Internal
  java/core/src/main/java/com/google/protobuf/LegacyUnredactedTextFormat.java
  java/core/src/main/java/com/google/protobuf/UnredactedDebugFormatForTest.java
Owners: @protocolbuffers/protobuf-java

Internal mutable change
  java/core/src/main/resources/google/protobuf/java_features.proto
  java/core/src/main/resources/google/protobuf/java_mutable_features.proto
  src/google/protobuf/compiler/cpp/extension.cc
  src/google/protobuf/compiler/java/generator_unittest.cc
  src/google/protobuf/compiler/java/helpers.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/name_resolver.cc
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/name_resolver_test.cc
  src/google/protobuf/compiler/java/names.cc
  src/google/protobuf/descriptor.proto
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/750739913
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

Add fast parsers for MicroString fields.
  src/google/protobuf/generated_message_tctable_gen.cc
  src/google/protobuf/generated_message_tctable_gen.h
  src/google/protobuf/generated_message_tctable_impl.h
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none

Internal change
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/arenastring_unittest.cc
  src/google/protobuf/lite_arena_unittest.cc
  src/google/protobuf/map_test.inc
Owners: none

Internal change
  src/google/protobuf/util/python/README.md
  src/google/protobuf/util/python/field_mask_util.clif
  src/google/protobuf/util/python/field_mask_util.py
  src/google/protobuf/util/python/field_mask_util_clif_aux.cc
  src/google/protobuf/util/python/field_mask_util_clif_aux.h
  src/google/protobuf/util/python/field_mask_util_test.py
  src/google/protobuf/util/python/testdata/test_messages.proto
Owners: none

get rid of warning in zero_copy_stream_impl_lite.cc (#21414)
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

hpb: cleanup extraneous hpb:: prefixes in upb.h y cpp.h
  hpb/backend/cpp/cpp.h
  hpb/backend/upb/upb.h
Owners: none

Represent conditional fasttable dep explicitly in the build graph.
  upb/BUILD
  upb/bazel/amalgamate.py
  upb/generated_code_support.h
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/internal/decode_fast.c
  upb/wire/internal/decode_fast.h
  upb/wire/internal/decoder.h
Owners: none

Auto-generate files after cl/751088268
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

draft cl
  hpb/arena.h
  hpb/backend/upb/upb.h
  hpb/extension.cc
  hpb/extension.h
  hpb/hpb.h
  hpb_generator/gen_messages.cc
  hpb_generator/tests/extension_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/tokenizer_unittest.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Owners: none

Internal change
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
Owners: @protocolbuffers/protobuf-csharp

Internal change
  src/google/protobuf/compiler/java/lite/message.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/util/time_util.h
Owners: none

Add link to the read source in the protobuf-example crate readme.
  rust/release_crates/protobuf_example/README.md
Owners: none

Automated rollback of commit adbb4cc8aa4a48a5c6508d7c9ff219fcb04dc2a4.
  upb/BUILD
  upb/bazel/amalgamate.py
  upb/generated_code_support.h
  upb/wire/BUILD
  upb/wire/decode.c
  upb/wire/internal/decode_fast.c
  upb/wire/internal/decode_fast.h
  upb/wire/internal/decoder.h
Owners: none

Add link to the read source in the protobuf-example crate readme.
  rust/release_crates/protobuf_example/README.md
Owners: none

Split off LazilyBuildDependenciesTest into a separate file and binary
  cmake/tests.cmake
  pkg/BUILD.bazel
  src/file_lists.cmake
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/lazily_build_dependencies_test.cc
Owners: none

Add hwasan support to arenas
  upb/mem/arena.c
  upb/mem/arena_test.cc
  upb/mem/internal/arena.h
  upb/port/def.inc
  upb/port/undef.inc
Owners: none

Internal Change.
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
Owners: none

Refactor GenerateFieldEntries to use Emit.
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/parse_function_generator.cc
  src/google/protobuf/compiler/cpp/parse_function_generator.h
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/751535329
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/field_mask.pb.cc
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/struct.pb.cc
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Owners: none

Protoc csharp add IMessage Clear method
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
Owners: none

Automated Code Change
  python/google/protobuf/pyext/descriptor_database.cc
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf_codegen/BUILD
Owners: none

Automated Code Change
  rust/release_crates/protobuf/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/extension_set_unittest.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/map_test.inc
  src/google/protobuf/no_field_presence_map_test.cc
  src/google/protobuf/no_field_presence_test.cc
  src/google/protobuf/repeated_field_unittest.cc
Owners: none
