Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Auto-generate files after cl/755596066
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  src/file_lists.cmake
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Implemented a newly-designed scheme for enumerating fasttable function combinations.
  cmake/installed_include_golden.txt
  cmake/libupb.cmake
  pkg/BUILD.bazel
  upb/port/def.inc
  upb/wire/decode.c
  upb/wire/decode_fast/BUILD
  upb/wire/decode_fast/bisect.sh
  upb/wire/decode_fast/bisect_helper.cc
  upb/wire/decode_fast/cardinality.h
  upb/wire/decode_fast/combinations.h
  upb/wire/decode_fast/data.h
  upb/wire/decode_fast/dispatch.h
  upb/wire/decode_fast/field_fixed.c
  upb/wire/decode_fast/field_generic.c
  upb/wire/decode_fast/field_message.c
  upb/wire/decode_fast/field_parsers.h
  upb/wire/decode_fast/field_string.c
  upb/wire/decode_fast/field_varint.c
  upb/wire/decode_fast/function_array.c
  upb/wire/decode_fast/function_array.h
  upb/wire/decode_fast/select.c
  upb/wire/decode_fast/select.cc
  upb/wire/decode_fast/select.h
  upb/wire/decode_fast/select_test.cc
  upb/wire/internal/decoder.h
  upb_generator/minitable/generator.cc
Owners: none

Auto-generate files after cl/755606670
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  src/file_lists.cmake
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
  upb_generator/cmake/google/protobuf/compiler/plugin.upb_minitable.c
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Add Message_parse_dont_enforce_required to Rust C++ proto wrapper.
  rust/cpp.rs
  rust/cpp_kernel/message.cc
Owners: none

Add decode_with_options to Rust upb.
  rust/upb/wire.rs
  upb/wire/decode.h
Owners: none

Auto-generate files after cl/755783937
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add [clear_and_]parse_dont_enforce_required() to Rust protobuf.
  rust/codegen_traits.rs
  rust/test/shared/serialization_test.rs
  rust/upb/wire.rs
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Support passing protobuf instances by value from C++ for Rust
  rust/cpp.rs
Owners: none

hpb: push down CloneMessage to backend::
  hpb/backend/cpp/cpp.h
  hpb/backend/upb/upb.h
  hpb/hpb.h
Owners: none

Automated Code Change
  hpb/bazel/hpb_proto_library.bzl
Owners: none

Internal Change.
  src/google/protobuf/compiler/cpp/helpers.cc
Owners: none

Use `DescriptorDatabase` overridden virtual methods to use `StringViewArg` alias.
  python/google/protobuf/pyext/message_module.cc
Owners: @protocolbuffers/protobuf-python

Removed tracing from upb core.
  upb/mem/arena.c
  upb/mem/arena.h
  upb/message/internal/message.c
  upb/message/internal/message.h
  upb/message/message.h
  upb/mini_descriptor/decode.c
  upb/mini_table/internal/message.h
  upb_generator/minitable/generator.cc
Owners: none

Use `DescriptorDatabase` overridden virtual methods to use `StringViewArg` alias.
  python/google/protobuf/pyext/descriptor_database.cc
Owners: @protocolbuffers/protobuf-python

Change Python .pyi stubs to generated _Optional[] for bool fields same with other fields.
  src/google/protobuf/compiler/python/pyi_generator.cc
Owners: @protocolbuffers/protobuf-python

Make ExtensionRegistry reject field numbers that are out of range.
  upb/mini_table/extension.h
  upb/mini_table/extension_registry.c
  upb/mini_table/extension_registry.h
  upb/mini_table/internal/extension.h
  upb/mini_table/internal/message.h
  upb/mini_table/message.h
Owners: none

Auto-generate files after cl/755989392
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Owners: @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Add a conformance test for text-format parsing of reserved field names.
  conformance/BUILD.bazel
  conformance/binary_json_conformance_suite.cc
  conformance/binary_json_conformance_suite.h
  conformance/conformance_test.cc
  conformance/text_format_conformance_suite.cc
  conformance/text_format_failure_list_java.txt
  conformance/text_format_failure_list_python.txt
  conformance/text_format_failure_list_python_cpp.txt
  conformance/text_format_failure_list_python_upb.txt
  editions/golden/test_messages_proto2_editions.proto
  editions/golden/test_messages_proto3_editions.proto
  python/build_targets.bzl
  src/google/protobuf/test_messages_proto2.proto
  src/google/protobuf/test_messages_proto3.proto
Owners: @protocolbuffers/protobuf-python

Auto-generate files after cl/755999188
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto2.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto2Editions.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto3Editions.pb.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
Owners: @protocolbuffers/protobuf-csharp

When two Compared messages are the same object, only reflect once over the data.
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Let ParseContext APIs fail on negative size.
  src/google/protobuf/parse_context.cc
  src/google/protobuf/parse_context.h
Owners: none

Tell the compiler that src and dst protobuf do not alias in MergeImpl
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Owners: @protocolbuffers/protobuf-java

Fix typos
  src/google/protobuf/compiler/cpp/helpers.cc
  upb/bazel/build_defs.bzl
Owners: none

Internal change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
  src/google/protobuf/compiler/cpp/unittest.cc
Owners: none

Internal change
  src/google/protobuf/compiler/ruby/ruby_generator.h
Owners: @protocolbuffers/protobuf-ruby

Internal change
  hpb_generator/gen_accessors.cc
  hpb_generator/gen_enums.cc
  hpb_generator/gen_extensions.cc
  hpb_generator/gen_repeated_fields.cc
  hpb_generator/names.cc
  hpb_generator/names.h
Owners: none

Internal change
  src/google/protobuf/compiler/python/plugin_unittest.cc
Owners: @protocolbuffers/protobuf-python

Internal change
  python/google/protobuf/pyext/descriptor_database.h
Owners: @protocolbuffers/protobuf-python

Internal change
  src/google/protobuf/compiler/java/name_resolver.h
  src/google/protobuf/compiler/java/plugin_unittest.cc
  src/google/protobuf/compiler/java/shared_code_generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/any_test.cc
  src/google/protobuf/arenastring_unittest.cc
Owners: none

Internal change
  src/google/protobuf/implicit_weak_message.cc
  src/google/protobuf/internal_message_util_unittest.cc
Owners: none

Internal change
  rust/cpp_kernel/map.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Internal change
  src/google/protobuf/generated_enum_util.cc
  src/google/protobuf/generated_message_bases.h
  src/google/protobuf/generated_message_tctable_gen.cc
Owners: none

Internal change
  src/google/protobuf/compiler/annotation_test_util.cc
  src/google/protobuf/compiler/annotation_test_util.h
Owners: none

Internal change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Internal change
  hpb/extension.h
  hpb/repeated_field_iterator_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/java/lite/enum.cc
  src/google/protobuf/compiler/java/lite/enum_field.h
  src/google/protobuf/compiler/java/lite/extension.cc
  src/google/protobuf/compiler/java/lite/extension.h
  src/google/protobuf/compiler/java/lite/map_field.cc
  src/google/protobuf/compiler/java/lite/message_builder.cc
  src/google/protobuf/compiler/java/lite/message_builder.h
  src/google/protobuf/compiler/java/lite/message_field.cc
  src/google/protobuf/compiler/java/lite/string_field.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp
