Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

bazel: Remove hardcoded dependency on `//:protoc` from language runtimes (#19679)
  protobuf.bzl
Owners: none

Automated Code Change
  src/google/protobuf/compiler/zip_writer.h
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.inc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
Owners: none

Automated Code Change
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/extension_set.h
Owners: none

Automated Code Change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer.h
  src/google/protobuf/io/zero_copy_stream.h
  src/google/protobuf/io/zero_copy_stream_impl.h
  src/google/protobuf/io/zero_copy_stream_impl_lite.cc
  src/google/protobuf/io/zero_copy_stream_impl_lite.h
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Document that `RepeatedPtrField` guarantees pointer stability
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Add Clang nullability annotations to descriptor_database.h APIs
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
Owners: none

Introduce first set of descriptor changes for edition 2024 proto message/enum visibility. This adds a new FeatureSet for visibility and the type enum SymbolVisibility, but does not yet use it.
  editions/generated_files_test.cc
  php/internal_generated_files.bzl
  src/google/protobuf/compiler/code_generator_unittest.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/cpp_edition_defaults.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/feature_resolver.cc
  src/google/protobuf/feature_resolver_test.cc
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.h
Owners: @protocolbuffers/protobuf-php

Auto-generate files after cl/739955430
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Reflection/Descriptor.pb.cs
  csharp/src/Google.Protobuf/Reflection/FeatureSetDescriptor.g.cs
  java/core/src/main/java/com/google/protobuf/JavaEditionDefaults.java
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  php/src/GPBMetadata/Google/Protobuf/Internal/Descriptor.php
  php/src/Google/Protobuf/Internal/FeatureSet.php
  php/src/Google/Protobuf/Internal/FeatureSet/VisibilityFeature.php
  php/src/Google/Protobuf/Internal/FeatureSet/VisibilityFeature/DefaultSymbolVisibility.php
  php/src/Google/Protobuf/Internal/SymbolVisibility.php
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.h
  upb/reflection/internal/upb_edition_defaults.h
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

Check with fallback descriptorDB for FindExtensionByNumber()/FindAllExtensions in UPB python pool.
  python/descriptor_pool.c
  python/google/protobuf/descriptor_pool.py
  python/google/protobuf/internal/descriptor_pool_test.py
  python/google/protobuf/pyext/descriptor_database.cc
Owners: @protocolbuffers/protobuf-python

Removed redundant final keyword from the static method generation of Java Enum (#20676)
  src/google/protobuf/compiler/java/full/enum.cc
Owners: @protocolbuffers/protobuf-java

This part will be removed after diffbase CL submitted
  python/google/protobuf/internal/text_format_test.py
  upb/text/internal/encode.h
Owners: @protocolbuffers/protobuf-python

Add EnclosingContext case for map (key, value) tuples to support key, message literals in proto_proc_macro
  rust/proto_proc_macro/proto_proc_macro_impl.rs
  rust/test/shared/proto_proc_macro_test.rs
Owners: none

Fix upb to escape DefinitelyNeedsEscape (like " and ') for bytes field
  python/google/protobuf/internal/text_format_test.py
  upb/text/internal/encode.h
Owners: @protocolbuffers/protobuf-python

Add `option_dependency` to `descriptor.proto` which will support `import option`.
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/descriptor.proto
  upb/reflection/stage0/google/protobuf/descriptor.upb.c
  upb/reflection/stage0/google/protobuf/descriptor.upb.h
Owners: none

Auto-generate files after cl/740057668
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Reflection/Descriptor.pb.cs
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  php/src/GPBMetadata/Google/Protobuf/Internal/Descriptor.php
  php/src/Google/Protobuf/Internal/FileDescriptorProto.php
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb.h
  upb/reflection/cmake/google/protobuf/descriptor.upb_minitable.c
Owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-ruby

support to add flags for unity serialization
  src/file_lists.cmake
  src/google/protobuf/annotations.pb.cc
  src/google/protobuf/annotations.pb.h
  src/google/protobuf/annotations.proto
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
Owners: @protocolbuffers/protobuf-csharp

Classify split repeated fields as `OTHER` in padding optimizer.
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
Owners: none

Only lock database mutex on first call to FindAllExtensions
  src/google/protobuf/descriptor.cc
Owners: none

Extract field classification to message_layout_helper for field order optimization.
  src/google/protobuf/compiler/cpp/BUILD.bazel
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
  src/google/protobuf/compiler/cpp/padding_optimizer.h
Owners: none

Auto-generate files after cl/740140848
  src/file_lists.cmake
Owners: none

Deprecate Descriptor Label. As an alternative, add helper methods for checking whether a field is required or repeated. This is for C++, Java, and Python.
  java/core/src/main/java/com/google/protobuf/Descriptors.java
  python/BUILD.bazel
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/internal/descriptor_test.py
  python/google/protobuf/internal/python_message.py
  python/google/protobuf/pyext/descriptor.cc
  python/google/protobuf/pyext/message.cc
  src/google/protobuf/descriptor.h
Owners: @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-python

Move FieldGroup to message_layout_helper.
  src/google/protobuf/compiler/cpp/message_layout_helper.cc
  src/google/protobuf/compiler/cpp/message_layout_helper.h
  src/google/protobuf/compiler/cpp/padding_optimizer.cc
Owners: none

Rename MessageToJsonStream to MessageToJson
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/json.cc
  src/google/protobuf/json/json.h
  src/google/protobuf/util/json_util.h
Owners: none

Better warning message for deprecated label property.
  python/google/protobuf/descriptor.py
Owners: @protocolbuffers/protobuf-python

Automated rollback of commit 5bd7d02ed87cf95fb33d0eda11acd10896769d0c.
  python/descriptor.c
  python/google/protobuf/descriptor.py
  python/google/protobuf/pyext/descriptor.cc
Owners: @protocolbuffers/protobuf-python

Deprecate `proto2::util::MessageDifferencer::AddIgnoreCriteria(IgnoreCriteria*)`
  src/google/protobuf/port_def.inc
  src/google/protobuf/util/message_differencer.h
Owners: none

Streamline creation of new elements in `RepeatedPtrField` (redux)
  rust/cpp_kernel/repeated.cc
  src/google/protobuf/extension_set.cc
  src/google/protobuf/generated_message_tctable_lite.cc
  src/google/protobuf/message.cc
  src/google/protobuf/repeated_ptr_field.cc
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Internal change
  src/google/protobuf/descriptor.cc
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Add some missing operations used by the codegen.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Fix test for some 32-bit platforms.
  src/google/protobuf/micro_string_test.cc
Owners: none

[ObjC] Deprecate `GPBFieldDescriptor.isOptional`.
  objectivec/GPBDescriptor.h
  objectivec/GPBDescriptor.m
  objectivec/GPBDescriptor_PackagePrivate.h
  objectivec/GPBMessage.m
  objectivec/Tests/GPBMessage30007FormatTest.m
  objectivec/Tests/GPBMessage40310FormatTest.m
Owners: @protocolbuffers/protobuf-objc

Validate that allocated size is consistent with capacity.
  src/google/protobuf/repeated_ptr_field.h
Owners: none

Enable inline buffer for big-endian builds.
  src/google/protobuf/micro_string.cc
  src/google/protobuf/micro_string.h
  src/google/protobuf/micro_string_test.cc
Owners: none

Lower minimum supported Rust version to 1.63
  rust/release_crates/protobuf/Cargo-template.toml
  rust/release_crates/protobuf_codegen/Cargo-template.toml
  rust/release_crates/protobuf_macros/Cargo-template.toml
Owners: none

Eliminate an signed/unsigned arithmetic footgun in enum range validation.
  src/google/protobuf/generated_message_tctable_lite.cc
Owners: none
