Repository protocolbuffers/protobuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protocolbuffers/protobuf-csharp, @protocolbuffers/protobuf-docs, @protocolbuffers/protobuf-java, @protocolbuffers/protobuf-kotlin, @protocolbuffers/protobuf-objc, @protocolbuffers/protobuf-php, @protocolbuffers/protobuf-python, @protocolbuffers/protobuf-ruby

.github/CODEOWNERS:

/csharp/ @protocolbuffers/protobuf-csharp
/src/google/protobuf/compiler/csharp/ @protocolbuffers/protobuf-csharp

/docs/ @protocolbuffers/protobuf-docs
/examples/ @protocolbuffers/protobuf-docs

/java/ @protocolbuffers/protobuf-java
/src/google/protobuf/compiler/java/ @protocolbuffers/protobuf-java

/java/kotlin-lite/ @protocolbuffers/protobuf-kotlin
/java/kotlin/ @protocolbuffers/protobuf-kotlin

/objectivec/ @protocolbuffers/protobuf-objc
/src/google/protobuf/compiler/objectivec/ @protocolbuffers/protobuf-objc

/php/ @protocolbuffers/protobuf-php
/src/google/protobuf/compiler/php/ @protocolbuffers/protobuf-php

/python/ @protocolbuffers/protobuf-python
/src/google/protobuf/compiler/python/ @protocolbuffers/protobuf-python

/ruby/ @protocolbuffers/protobuf-ruby
/src/google/protobuf/compiler/ruby/ @protocolbuffers/protobuf-ruby

Added a fuzz test that upb's "dynamic mode" for UTF-8 round trips.
  upb/text/BUILD
  upb/text/encode_test.cc
  upb/text/encode_test.proto
Owners: none

Added tests to verify Java "full" behavior for invalid UTF-8.
  java/core/src/test/java/com/google/protobuf/MessageTest.java
Owners: @protocolbuffers/protobuf-java

Migrates some Java test protos using java_features.proto to edition 2024
  bazel/tests/protobuf_test_proto_library.bzl
  java/core/src/test/proto/com/google/protobuf/large_open_enum.proto
  java/core/src/test/proto/com/google/protobuf/test_check_utf8.proto
Owners: @protocolbuffers/protobuf-java

Rust: remove `DEP_UPB_VERSION` check in codegen crate (#22764)
  rust/release_crates/protobuf/build.rs
  rust/release_crates/protobuf_codegen/src/lib.rs
Owners: none

Wrap hasbit checks in inline functions.
  editions/golden/compare_cpp_codegen_failure.txt
  editions/golden/compare_cpp_codegen_failure.xml
  src/google/protobuf/compiler/cpp/field.cc
  src/google/protobuf/compiler/cpp/field_generators/message_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/java/java_features.pb.cc
  src/google/protobuf/compiler/java/java_features.pb.h
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/cpp_features.pb.cc
  src/google/protobuf/cpp_features.pb.h
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/message_lite.h
Owners: @protocolbuffers/protobuf-java

Auto-generate files after cl/786826500
  src/google/protobuf/any.pb.cc
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.cc
  src/google/protobuf/api.pb.h
  src/google/protobuf/duration.pb.cc
  src/google/protobuf/duration.pb.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/timestamp.pb.cc
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.cc
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.cc
  src/google/protobuf/wrappers.pb.h
Owners: none

hpb/oss: update BUILD files to point to hpb_generator
  hpb/backend/upb/BUILD
  hpb/internal/BUILD
Owners: none

Fix string/string_view copy construction hasbit checks.
  src/google/protobuf/compiler/cpp/field_generators/string_field.cc
  src/google/protobuf/compiler/cpp/field_generators/string_view_field.cc
Owners: none

Internal change
  src/google/protobuf/parse_context.h
Owners: none

Expose an iterator for `GeneratedMessage.ExtendableMessage.extensions`
  java/core/src/main/java/com/google/protobuf/GeneratedMessage.java
Owners: @protocolbuffers/protobuf-java

Internal change
  conformance/BUILD
  conformance/naming_test.cc
  conformance/testee_test.cc
Owners: none

Internal change
  src/google/protobuf/compiler/rust/message.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/field_comparator.h
  src/google/protobuf/util/message_differencer_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/service.h
Owners: none

Replace the usage of cc_info.debug_context() with _debug_context
  bazel/private/cc_proto_support.bzl
Owners: none

Internal change
  src/google/protobuf/io/gzip_stream.cc
  src/google/protobuf/io/gzip_stream.h
Owners: none

Warn on unused Arenas.
  src/google/protobuf/arena.h
Owners: none

Add a DCHECK that ArenaStringPtr::Set(char*, Arena*) is not called with a null char* argument.
  src/google/protobuf/arenastring.h
Owners: none

Automated rollback of commit 95b1763938b8e9719b26cea65c4d0e6557b831a9.
  src/google/protobuf/arenastring.h
Owners: none

Remove special case for message-valued maps in CloneFromOther.
  src/google/protobuf/map.h
Owners: none

Automated Code Change
  hpb/backend/upb/repeated_field_iterator_test.cc
Owners: none

Automated Code Change
  rust/release_crates/protobuf_example/BUILD
Owners: none

Automated Code Change
  src/google/protobuf/io/zero_copy_stream_impl.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/field_generators/cord_field.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/retention.cc
  src/google/protobuf/compiler/retention_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/parser_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/php/names.cc
  src/google/protobuf/compiler/php/php_generator.cc
Owners: @protocolbuffers/protobuf-php

Automated Code Change
  src/google/protobuf/json/json.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/metadata_test.cc
  src/google/protobuf/compiler/cpp/move_unittest.cc
  src/google/protobuf/compiler/cpp/plugin_unittest.cc
  src/google/protobuf/compiler/cpp/service.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/csharp/csharp_doc_comment.cc
  src/google/protobuf/compiler/csharp/csharp_enum.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_field_base.cc
  src/google/protobuf/compiler/csharp/csharp_field_base.h
  src/google/protobuf/compiler/csharp/csharp_generator.cc
  src/google/protobuf/compiler/csharp/csharp_generator.h
  src/google/protobuf/compiler/csharp/csharp_generator_unittest.cc
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.cc
  src/google/protobuf/compiler/csharp/csharp_map_field.h
  src/google/protobuf/compiler/csharp/csharp_message.cc
  src/google/protobuf/compiler/csharp/csharp_message.h
  src/google/protobuf/compiler/csharp/csharp_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_message_field.h
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_enum_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_message_field.h
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.cc
  src/google/protobuf/compiler/csharp/csharp_repeated_primitive_field.h
  src/google/protobuf/compiler/csharp/csharp_source_generator_base.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.cc
  src/google/protobuf/compiler/csharp/csharp_wrapper_field.h
  src/google/protobuf/compiler/csharp/names.cc
Owners: @protocolbuffers/protobuf-csharp

Automated Code Change
  src/google/protobuf/compiler/java/full/enum_field.cc
  src/google/protobuf/compiler/java/full/enum_field.h
  src/google/protobuf/compiler/java/full/extension.cc
  src/google/protobuf/compiler/java/full/map_field.h
  src/google/protobuf/compiler/java/full/message.cc
  src/google/protobuf/compiler/java/full/message.h
  src/google/protobuf/compiler/java/full/message_builder.cc
  src/google/protobuf/compiler/java/full/message_builder.h
  src/google/protobuf/compiler/java/full/message_field.cc
  src/google/protobuf/compiler/java/full/message_field.h
  src/google/protobuf/compiler/java/full/primitive_field.cc
  src/google/protobuf/compiler/java/full/primitive_field.h
  src/google/protobuf/compiler/java/full/service.cc
  src/google/protobuf/compiler/java/full/string_field.cc
  src/google/protobuf/compiler/java/full/string_field.h
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/json/internal/message_path.cc
  src/google/protobuf/json/internal/parser.cc
  src/google/protobuf/json/internal/parser.h
  src/google/protobuf/json/internal/unparser.cc
  src/google/protobuf/json/internal/unparser.h
  src/google/protobuf/json/internal/untyped_message.cc
  src/google/protobuf/json/internal/untyped_message.h
  src/google/protobuf/json/internal/writer.cc
  src/google/protobuf/json/internal/zero_copy_buffered_stream.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/java/context.cc
  src/google/protobuf/compiler/java/context.h
  src/google/protobuf/compiler/java/field_common.cc
  src/google/protobuf/compiler/java/field_common.h
  src/google/protobuf/compiler/java/generator.cc
Owners: @protocolbuffers/protobuf-java

Automated Code Change
  src/google/protobuf/compiler/cpp/copy_unittest.cc
  src/google/protobuf/compiler/cpp/enum.cc
Owners: none

Automated Code Change
  src/google/protobuf/util/delimited_message_util.cc
  src/google/protobuf/util/delimited_message_util_test.cc
  src/google/protobuf/util/field_comparator.cc
  src/google/protobuf/util/field_mask_util.cc
  src/google/protobuf/util/field_mask_util_test.cc
  src/google/protobuf/util/message_differencer.cc
  src/google/protobuf/util/message_differencer_unittest.cc
  src/google/protobuf/util/time_util.cc
  src/google/protobuf/util/time_util_test.cc
  src/google/protobuf/util/type_resolver_util.cc
  src/google/protobuf/util/type_resolver_util_test.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/rust/generator.cc
  src/google/protobuf/compiler/rust/generator.h
  src/google/protobuf/compiler/rust/naming_test.cc
  src/google/protobuf/compiler/rust/relative_path_test.cc
Owners: none

Automated Code Change
  python/google/protobuf/proto_api.h
Owners: @protocolbuffers/protobuf-python

Automated Code Change
  src/google/protobuf/varint_shuffle_test.cc
  src/google/protobuf/wire_format_unittest.cc
Owners: none

Automated Code Change
  src/google/protobuf/compiler/cpp/tools/analyze_profile_proto_test.cc
Owners: none
