Repository protocolbuffers/protobuf, pull requests merged in 2019-08, with the labels that each got.

#6441 compatibility test between last released and current for java python php
  csharp/compatibility_tests/v3.0.0/test.sh
  java/compatibility_tests/v2.5.0/test.sh
  php/tests/compatibility_test.sh
  python/compatibility_tests/v2.5.0/test.sh
  tests.sh
  update_compatibility_version.py
Labels: cla: yes, release notes: no, testing

#6447 Conformance packed
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_js.txt
  conformance/failure_list_objc.txt
  conformance/failure_list_php.txt
  conformance/failure_list_php_c.txt
  conformance/failure_list_ruby.txt
  conformance/failure_list_ruby_mac.txt
  src/google/protobuf/test_messages_proto2.proto
  src/google/protobuf/test_messages_proto3.proto
Labels: cla: yes, conformance tests, release notes: no

#6468 Revert "Fixed JS parsing of default map values"
  js/map.js
  src/google/protobuf/compiler/js/js_generator.cc
Labels: cla: yes, javascript, release notes: no

#6471 No need to update version in generated code
  update_version.py
Labels: cla: yes, release notes: no, testing

#6472 Update protobuf version
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/bom/pom.xml
  java/core/pom.xml
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  js/package.json
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: cla: yes, release notes: no

#6464 Override CocoaPods module to lowercase
  Protobuf.podspec
  objectivec/GPBProtocolBuffers.h
  objectivec/GPBWellKnownTypes.h
  objectivec/google/protobuf/Any.pbobjc.h
  objectivec/google/protobuf/Any.pbobjc.m
  objectivec/google/protobuf/Api.pbobjc.h
  objectivec/google/protobuf/Api.pbobjc.m
  objectivec/google/protobuf/Duration.pbobjc.h
  objectivec/google/protobuf/Duration.pbobjc.m
  objectivec/google/protobuf/Empty.pbobjc.h
  objectivec/google/protobuf/Empty.pbobjc.m
  objectivec/google/protobuf/FieldMask.pbobjc.h
  objectivec/google/protobuf/FieldMask.pbobjc.m
  objectivec/google/protobuf/SourceContext.pbobjc.h
  objectivec/google/protobuf/SourceContext.pbobjc.m
  objectivec/google/protobuf/Struct.pbobjc.h
  objectivec/google/protobuf/Struct.pbobjc.m
  objectivec/google/protobuf/Timestamp.pbobjc.h
  objectivec/google/protobuf/Timestamp.pbobjc.m
  objectivec/google/protobuf/Type.pbobjc.h
  objectivec/google/protobuf/Type.pbobjc.m
  objectivec/google/protobuf/Wrappers.pbobjc.h
  objectivec/google/protobuf/Wrappers.pbobjc.m
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
Labels: cla: yes, objective-c, release notes: yes

#6481 [bazel] Load python rules from @rules_python
  BUILD
  WORKSPACE
  examples/BUILD
  protobuf.bzl
  protobuf_deps.bzl
Labels: cla: yes, release notes: no

#6483 No free when construct was not done
  php/ext/google/protobuf/message.c
  php/tests/generated_class_test.php
Labels: cla: yes, php, release notes: no

#6505 Reinstall wget on mac
  kokoro/macos/prepare_build_macos_rc
Labels: cla: yes, release notes: no, ruby

#6502 Optimized away the creation of empty string objects.
  ruby/ext/google/protobuf_c/protobuf.c
  ruby/ext/google/protobuf_c/protobuf.h
  ruby/ext/google/protobuf_c/storage.c
Labels: cla: yes, kokoro:run, release notes: yes, ruby

#5866 Roll forward Ruby upb changes now that protobuf Ruby build is fixed
  ruby/compatibility_tests/v3.0.0/tests/basic.rb
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/encode_decode.c
  ruby/ext/google/protobuf_c/extconf.rb
  ruby/ext/google/protobuf_c/map.c
  ruby/ext/google/protobuf_c/message.c
  ruby/ext/google/protobuf_c/protobuf.c
  ruby/ext/google/protobuf_c/protobuf.h
  ruby/ext/google/protobuf_c/repeated_field.c
  ruby/ext/google/protobuf_c/storage.c
  ruby/ext/google/protobuf_c/upb.c
  ruby/ext/google/protobuf_c/upb.h
  ruby/lib/google/protobuf.rb
  ruby/tests/basic.rb
  ruby/tests/basic_proto2.rb
  ruby/tests/common_tests.rb
Labels: cla: yes, release notes: yes, ruby

#6495 add Map forward declaration in arena.h
  src/google/protobuf/arena.h
Labels: c++, cla: yes, release notes: no

#6520 Fixed some lint errors seen in google3.
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
  src/google/protobuf/compiler/csharp/csharp_reflection_class.cc
  src/google/protobuf/compiler/php/php_generator.cc
Labels: c#, cla: yes, php, release notes: no

#6491 Accept string for int64 wrappers
  conformance/failure_list_php_c.txt
  php/ext/google/protobuf/upb.c
  php/tests/encode_decode_test.php
Labels: cla: yes, php, release notes: no

#6521 Optimized layout_mark() for Ruby
  ruby/ext/google/protobuf_c/encode_decode.c
  ruby/ext/google/protobuf_c/message.c
  ruby/ext/google/protobuf_c/protobuf.h
  ruby/ext/google/protobuf_c/storage.c
Labels: cla: yes, release notes: yes, ruby

#6541 Fix for race in lazy initialization of handlers.
  ruby/ext/google/protobuf_c/defs.c
Labels: cla: yes, release notes: no, ruby

#6552 Remove stale comment
  conformance/binary_json_conformance_suite.cc
Labels: cla: yes, conformance tests, release notes: no

#6466 Add source code URI to the Ruby gemspec file
  ruby/google-protobuf.gemspec
Labels: cla: yes, release notes: no, ruby

#6533 Fix for GC of Ruby map frames.
  ruby/ext/google/protobuf_c/encode_decode.c
Labels: cla: yes, release notes: yes, ruby

#6555 No need to have a separate ruby conformance test on Mac
  conformance/Makefile.am
  conformance/failure_list_ruby_mac.txt
  ruby/travis-test.sh
Labels: cla: yes, conformance tests, release notes: no, ruby

#6544 [javalite] Fix bzl and BUILD files by running buildifier
  .gitignore
  BUILD
  WORKSPACE
  gmock.BUILD
  protobuf.bzl
  six.BUILD
  util/python/BUILD
Labels: cla: yes, cleanup, kokoro:force-run, release notes: no

#6542 Update to Truth 1.0
  java/pom.xml
Labels: cla: yes, java, release notes: no

#6524 Fix order of export and capability macros on WrappedMutex
  src/google/protobuf/stubs/mutex.h
Labels: cla: yes, release notes: no

#6516 clang-cl requires fully qualified name for friend class declarations
  src/google/protobuf/map_field.h
Labels: c++, cla: yes, kokoro:run, release notes: no

#6515 Add override keyword for overriden functions
  src/google/protobuf/util/internal/default_value_objectwriter.h
  src/google/protobuf/util/internal/json_objectwriter.h
Labels: c++, cla: yes, release notes: no

#6553 Test singular fields are encoded in canonical way
  conformance/binary_json_conformance_suite.cc
  conformance/failure_list_objc.txt
  conformance/failure_list_php.txt
  conformance/failure_list_php_c.txt
  conformance/failure_list_python.txt
  conformance/failure_list_ruby.txt
Labels: cla: yes, conformance tests, release notes: no

#6559 Removed ByteCountInt64. This is a transitional typedef that should n…
  src/google/protobuf/io/zero_copy_stream.h
Labels: c++, cla: yes, release notes: no

#6557 Update versions to 3.9.1
  java/README.md
Labels: cla: yes, java, release notes: no

#6547 Optimization for layout_init()
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/encode_decode.c
  ruby/ext/google/protobuf_c/map.c
  ruby/ext/google/protobuf_c/message.c
  ruby/ext/google/protobuf_c/protobuf.h
  ruby/ext/google/protobuf_c/repeated_field.c
  ruby/ext/google/protobuf_c/storage.c
Labels: cla: yes, release notes: yes, ruby

#6585 bazel: Change zlib URL to GitHub
  protobuf_deps.bzl
Labels: cla: yes, release notes: no

#6588 Fix issues for php map when parsing missing key/value
  php/src/Google/Protobuf/Internal/MapEntry.php
  php/src/Google/Protobuf/Internal/MapFieldIter.php
Labels: cla: yes, conformance tests, php, release notes: no

#6578 Fix #6548: add check for null pointer in encode_decode.c
  php/ext/google/protobuf/encode_decode.c
Labels: cla: yes, php, release notes: no

#6591 Add an explicit test using secure coding for added safety.
  objectivec/Tests/GPBMessageTests.m
Labels: cla: yes, objective-c, release notes: no

#6598 Fix typo that snuck in with last commit.
  objectivec/Tests/GPBMessageTests.m
Labels: cla: yes, objective-c, release notes: no

#6597 Update version number
  java/lite.md
Labels: cla: yes, java, release notes: no

#6592 Fix the issue for parsing zero length message
  php/src/Google/Protobuf/Internal/CodedInputStream.php
Labels: cla: yes, php, release notes: no

#6576 Updated issue templates to remove question form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: cla: yes, release notes: no

#6558 adding protoc support for s390x
  kokoro/release/protoc/linux/build.sh
  protoc-artifacts/README.md
  protoc-artifacts/build-protoc.sh
  protoc-artifacts/build-zip.sh
  protoc-artifacts/pom.xml
Labels: cla: yes, release notes: no

#6568 Java: Add Automatic-Module-Name entries to the Manifest
  java/core/pom.xml
  java/lite/pom.xml
  java/util/pom.xml
Labels: cla: yes, java, release notes: yes
