Repository protocolbuffers/protobuf, pull requests merged in 2020-01, with the labels that each got.

#6805 Remove the section for uploading protoc packages to the GitHub release page
  protoc-artifacts/README.md
Labels: cla: yes, java, release notes: no

#7021 Fix mergeable docs to be consistent with checks
  .github/mergeable.yml
Labels: cla: yes, release notes: no

#7065 Blacklist .proto source files if Bazel allows us to
  BUILD
Labels: bazel, cla: yes, release notes: no

#7054 deps: update guava to 28.2-android
  java/pom.xml
Labels: cla: yes, java, release notes: no

#7073 Correcting the s390x Arch name
  kokoro/release/protoc/linux/build.sh
  protoc-artifacts/README.md
  protoc-artifacts/build-protoc.sh
  protoc-artifacts/build-zip.sh
  protoc-artifacts/pom.xml
Labels: cla: yes, release notes: no

#7087 bug: #7076 adds OUT and OPTIONAL to windows portability files
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Labels: c++, cla: yes, release notes: yes

#7088 bug: #7076 adds OUT and OPTIONAL to windows portability files
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
Labels: c++, cla: yes, release notes: yes

#7096 [bazel] Fix blacklisted_protos in cc_toolchain and add test
  BUILD
  WORKSPACE
  cc_proto_blacklist_test.bzl
  kokoro/linux/bazel/build.sh
  protobuf_deps.bzl
Labels: bazel, cla: yes, release notes: no

#7075 [bazel] Fix blacklisted_protos in cc_toolchain and add test
  BUILD
  WORKSPACE
  cc_proto_blacklist_test.bzl
  kokoro/linux/bazel/build.sh
  protobuf_deps.bzl
Labels: bazel, cla: yes, release notes: no

#7026 [objc] Use references to Obj C classes instead of names in descriptors.
  Makefile.am
  objectivec/GPBDescriptor.m
  objectivec/GPBDescriptor_PackagePrivate.h
  objectivec/GPBRuntimeTypes.h
  objectivec/ProtocolBuffers_OSX.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_iOS.xcodeproj/project.pbxproj
  objectivec/ProtocolBuffers_tvOS.xcodeproj/project.pbxproj
  objectivec/Tests/GPBMessageTests+ClassNames.m
  objectivec/google/protobuf/Any.pbobjc.m
  objectivec/google/protobuf/Api.pbobjc.m
  objectivec/google/protobuf/Duration.pbobjc.m
  objectivec/google/protobuf/Empty.pbobjc.m
  objectivec/google/protobuf/FieldMask.pbobjc.m
  objectivec/google/protobuf/SourceContext.pbobjc.m
  objectivec/google/protobuf/Struct.pbobjc.m
  objectivec/google/protobuf/Timestamp.pbobjc.m
  objectivec/google/protobuf/Type.pbobjc.m
  objectivec/google/protobuf/Wrappers.pbobjc.m
  src/google/protobuf/compiler/objectivec/objectivec_extension.cc
  src/google/protobuf/compiler/objectivec/objectivec_extension.h
  src/google/protobuf/compiler/objectivec/objectivec_field.cc
  src/google/protobuf/compiler/objectivec/objectivec_field.h
  src/google/protobuf/compiler/objectivec/objectivec_file.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
  src/google/protobuf/compiler/objectivec/objectivec_map_field.cc
  src/google/protobuf/compiler/objectivec/objectivec_map_field.h
  src/google/protobuf/compiler/objectivec/objectivec_message.cc
  src/google/protobuf/compiler/objectivec/objectivec_message.h
  src/google/protobuf/compiler/objectivec/objectivec_message_field.cc
  src/google/protobuf/compiler/objectivec/objectivec_message_field.h
Labels: cla: yes, objective-c, release notes: yes

#7102 Fix up parameter name so decl matches defn
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
Labels: cla: yes, objective-c, release notes: no

#7101 Clean up use of size() > 0 to !empty()
  src/google/protobuf/compiler/objectivec/objectivec_file.cc
Labels: cla: yes, objective-c, release notes: no

#7082 [cleanup] Cleanup the RPC Implementations section
  docs/third_party.md
Labels: cla: yes, release notes: no

#7089 Correct @return in Any.unpack docblock
  php/src/Google/Protobuf/Any.php
Labels: cla: yes, php, release notes: yes

#7110 Maven requires https connection
  csharp/compatibility_tests/v3.0.0/test.sh
  php/tests/compatibility_test.sh
  python/compatibility_tests/v2.5.0/test.sh
  ruby/compatibility_tests/v3.0.0/test.sh
Labels: cla: yes, integration, release notes: no

#7106 Change Objective C class references to using macros.
  objectivec/GPBRuntimeTypes.h
  objectivec/GPBUtilities_PackagePrivate.h
  objectivec/google/protobuf/Api.pbobjc.m
  objectivec/google/protobuf/Struct.pbobjc.m
  objectivec/google/protobuf/Type.pbobjc.m
  src/google/protobuf/compiler/objectivec/objectivec_extension.cc
  src/google/protobuf/compiler/objectivec/objectivec_file.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
  src/google/protobuf/compiler/objectivec/objectivec_map_field.cc
  src/google/protobuf/compiler/objectivec/objectivec_message.cc
  src/google/protobuf/compiler/objectivec/objectivec_message_field.cc
Labels: cla: yes, objective-c, release notes: no

#7112 Update pddm to work with clang-format
  Makefile.am
  objectivec/.clang-format
  objectivec/DevTools/pddm.py
  objectivec/DevTools/pddm_tests.py
  objectivec/GPBArray.h
  objectivec/GPBArray.m
  objectivec/GPBArray_PackagePrivate.h
  objectivec/GPBCodedOutputStream.h
  objectivec/GPBCodedOutputStream.m
  objectivec/GPBDictionary.h
  objectivec/GPBDictionary.m
  objectivec/GPBDictionary_PackagePrivate.h
  objectivec/GPBMessage.m
  objectivec/GPBUtilities.h
  objectivec/GPBUtilities.m
  objectivec/GPBUtilities_PackagePrivate.h
  objectivec/Tests/GPBArrayTests.m
  objectivec/Tests/GPBDictionaryTests+Bool.m
  objectivec/Tests/GPBDictionaryTests+Int32.m
  objectivec/Tests/GPBDictionaryTests+Int64.m
  objectivec/Tests/GPBDictionaryTests+String.m
  objectivec/Tests/GPBDictionaryTests+UInt32.m
  objectivec/Tests/GPBDictionaryTests+UInt64.m
  objectivec/Tests/GPBMessageTests+Merge.m
  objectivec/Tests/GPBMessageTests+Runtime.m
  objectivec/Tests/GPBMessageTests+Serialization.m
Labels: cla: yes, objective-c, release notes: no

#7077 Call register_class before getClass from desc
  php/ext/google/protobuf/def.c
  php/tests/descriptors_test.php
Labels: cla: yes, php, release notes: no

#7118 Clean up some warning messages.
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_message.cc
Labels: cla: yes, objective-c, release notes: no

#7114 Maven requires https connection (#7110)
  csharp/compatibility_tests/v3.0.0/test.sh
  php/tests/compatibility_test.sh
  python/compatibility_tests/v2.5.0/test.sh
  ruby/compatibility_tests/v3.0.0/test.sh
Labels: cla: yes, release notes: no

#7121 Make the unittest proto file generation handle additions better.
  objectivec/DevTools/compile_testing_protos.sh
Labels: cla: yes, objective-c, release notes: no

#7126 Move a few more `size() > 0` calls over to `!empty()`.
  src/google/protobuf/compiler/objectivec/objectivec_file.cc
Labels: cla: yes, objective-c, release notes: no

#7129 Move min Xcode version to 10.3
  objectivec/README.md
Labels: cla: yes, objective-c, release notes: no

#7124 Block subclassing
  objectivec/GPBBootstrap.h
  objectivec/Tests/GPBMessageTests+ClassNames.m
  objectivec/google/protobuf/Any.pbobjc.h
  objectivec/google/protobuf/Api.pbobjc.h
  objectivec/google/protobuf/Duration.pbobjc.h
  objectivec/google/protobuf/Empty.pbobjc.h
  objectivec/google/protobuf/FieldMask.pbobjc.h
  objectivec/google/protobuf/SourceContext.pbobjc.h
  objectivec/google/protobuf/Struct.pbobjc.h
  objectivec/google/protobuf/Timestamp.pbobjc.h
  objectivec/google/protobuf/Type.pbobjc.h
  objectivec/google/protobuf/Wrappers.pbobjc.h
  src/google/protobuf/compiler/objectivec/objectivec_file.cc
  src/google/protobuf/compiler/objectivec/objectivec_message.cc
Labels: cla: yes, objective-c, release notes: yes

#7125 deps: update errorprone to 2.3.4
  java/util/pom.xml
Labels: cla: yes, java, release notes: no

#7149 Update JUnit and Truth
  java/pom.xml
Labels: cla: yes, java, release notes: no

#7151 Update GOOGLE_PROTOBUF_OBJC_VERSION to 30003
  objectivec/GPBBootstrap.h
  objectivec/google/protobuf/Any.pbobjc.h
  objectivec/google/protobuf/Api.pbobjc.h
  objectivec/google/protobuf/Duration.pbobjc.h
  objectivec/google/protobuf/Empty.pbobjc.h
  objectivec/google/protobuf/FieldMask.pbobjc.h
  objectivec/google/protobuf/SourceContext.pbobjc.h
  objectivec/google/protobuf/Struct.pbobjc.h
  objectivec/google/protobuf/Timestamp.pbobjc.h
  objectivec/google/protobuf/Type.pbobjc.h
  objectivec/google/protobuf/Wrappers.pbobjc.h
  src/google/protobuf/compiler/objectivec/objectivec_file.cc
Labels: cla: yes, objective-c, release notes: no

#7153 Add continuous test for php7.4 on mac
  kokoro/macos/php7.4_mac/build.sh
  kokoro/macos/php7.4_mac/continuous.cfg
  kokoro/macos/php7.4_mac/presubmit.cfg
  tests.sh
Labels: cla: yes, integration, php, release notes: no

#7144 Install RubyGem bundler version specified in Gemfile.lock to fix release failure
  kokoro/release/ruby/linux/ruby/ruby_build_environment.sh
Labels: cla: yes, release notes: no, ruby

#7147 Refactored ulong to zend_ulong for php7.4 compatibility
  php/ext/google/protobuf/protobuf.h
Labels: cla: yes, php, release notes: no

#7157 Update errorprone
  java/util/pom.xml
Labels: cla: yes, java, release notes: no

#7156 Install RubyGem bundler version specified in Gemfile.lock to fix release failure
  kokoro/release/ruby/linux/ruby/ruby_build_environment.sh
Labels: cla: yes, release notes: no, ruby

#7143 Update the version number to 3.11.3
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/bom/pom.xml
  java/core/pom.xml
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  js/package.json
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: cla: yes, integration, kokoro:run, release notes: no
