Repository protocolbuffers/protobuf, pull requests merged in 2021-01, with the labels that each got.

#8136 Fix PhpDoc comments for message accessors to include "|null".
  php/ext/google/protobuf/message.c
  php/src/Google/Protobuf/Api.php
  php/src/Google/Protobuf/Enum.php
  php/src/Google/Protobuf/Internal/DescriptorProto.php
  php/src/Google/Protobuf/Internal/DescriptorProto/ExtensionRange.php
  php/src/Google/Protobuf/Internal/EnumDescriptorProto.php
  php/src/Google/Protobuf/Internal/EnumValueDescriptorProto.php
  php/src/Google/Protobuf/Internal/FieldDescriptorProto.php
  php/src/Google/Protobuf/Internal/FileDescriptorProto.php
  php/src/Google/Protobuf/Internal/MethodDescriptorProto.php
  php/src/Google/Protobuf/Internal/OneofDescriptorProto.php
  php/src/Google/Protobuf/Internal/ServiceDescriptorProto.php
  php/src/Google/Protobuf/Option.php
  php/src/Google/Protobuf/Type.php
  php/src/Google/Protobuf/Value.php
  src/google/protobuf/compiler/php/php_generator.cc
Labels: cla: yes, php, release notes: yes

#8170 js/binary/utils.js: Fix jspb.utils.joinUnsignedDecimalString to work with negative bitsLow and low but non-zero bitsHigh parameter.
  js/binary/decoder_test.js
  js/binary/utils.js
Labels: cla: yes, javascript, release notes: yes

#8195 [Ruby] Fix: (SIGSEGV) gRPC-Ruby issue on Windows. memory alloc infinite recursion/run out of memory
  ruby/ext/google/protobuf_c/upb.c
Labels: cla: yes, release notes: yes, ruby

#8187 fix: convert native PHP floats to single precision
  php/src/Google/Protobuf/Internal/GPBUtil.php
Labels: cla: yes, php, release notes: yes

#8205 stubs/mutex: Fix compilation by initializing variable in WrappedMutex class (backport to 3.14.x)
  src/google/protobuf/stubs/mutex.h
Labels: cla: yes, release notes: no

#8184 Ported Ruby extension to upb_msg
  Makefile.am
  conformance/Makefile.am
  conformance/conformance_ruby.rb
  conformance/failure_list_ruby.txt
  kokoro/linux/dockerfile/test/ruby/Dockerfile
  kokoro/linux/ruby30/build.sh
  kokoro/linux/ruby30/continuous.cfg
  kokoro/linux/ruby30/presubmit.cfg
  kokoro/macos/prepare_build_macos_rc
  kokoro/macos/ruby30/build.sh
  kokoro/macos/ruby30/continuous.cfg
  kokoro/macos/ruby30/presubmit.cfg
  kokoro/release/ruby/macos/ruby/ruby_build_environment.sh
  ruby/Rakefile
  ruby/compatibility_tests/v3.0.0/tests/basic.rb
  ruby/ext/google/protobuf_c/convert.c
  ruby/ext/google/protobuf_c/convert.h
  ruby/ext/google/protobuf_c/defs.c
  ruby/ext/google/protobuf_c/defs.h
  ruby/ext/google/protobuf_c/encode_decode.c
  ruby/ext/google/protobuf_c/extconf.rb
  ruby/ext/google/protobuf_c/map.c
  ruby/ext/google/protobuf_c/map.h
  ruby/ext/google/protobuf_c/message.c
  ruby/ext/google/protobuf_c/message.h
  ruby/ext/google/protobuf_c/protobuf.c
  ruby/ext/google/protobuf_c/protobuf.h
  ruby/ext/google/protobuf_c/repeated_field.c
  ruby/ext/google/protobuf_c/repeated_field.h
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  ruby/ext/google/protobuf_c/storage.c
  ruby/ext/google/protobuf_c/upb.c
  ruby/google-protobuf.gemspec
  ruby/tests/basic.rb
  ruby/tests/basic_proto2.rb
  ruby/tests/basic_test.proto
  ruby/tests/common_tests.rb
  ruby/travis-test.sh
  src/google/protobuf/compiler/ruby/ruby_generator.cc
  tests.sh
  third_party/wyhash/wyhash.h
Labels: cla: yes, release notes: yes, ruby

#8143 Optimize MapField serialization by removing MessageAdapter
  csharp/src/Google.Protobuf.Test/Collections/MapFieldTest.cs
  csharp/src/Google.Protobuf/Collections/MapField.cs
  csharp/src/Google.Protobuf/ParsingPrimitivesMessages.cs
Labels: c#, cla: yes, release notes: yes

#8235 Fixed PHP to support field numbers >=2**28.
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  php/src/Google/Protobuf/Internal/GPBWire.php
  php/tests/EncodeDecodeTest.php
  php/tests/proto/test.proto
Labels: cla: yes, php, release notes: yes

#8149 Optimize writing small strings
  csharp/src/Google.Protobuf.Test/CodedOutputStreamTest.cs
  csharp/src/Google.Protobuf/WritingPrimitives.cs
Labels: c#, cla: yes, release notes: yes

#8223 feat: add support for deprecated fields to PHP compiler
  php/tests/GeneratedClassTest.php
  php/tests/GeneratedPhpdocTest.php
  php/tests/proto/test.proto
  src/google/protobuf/compiler/php/php_generator.cc
Labels: cla: yes, php, release notes: yes
