Repository protocolbuffers/protobuf, pull requests merged in 2021-10, with the labels that each got.

#9040 Add Xcode 13 to the build/test script.
  objectivec/DevTools/full_mac_build.sh
Labels: cla: yes, objective-c, release notes: no

#9042 Fix spacing in message (missing a space between words from line split)
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
Labels: cla: yes, objective-c, release notes: no

#9039 ObjC: Test the simple parse helper and fix an edge case with errors in the final line
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
  src/google/protobuf/compiler/objectivec/objectivec_helpers_unittest.cc
Labels: cla: yes, objective-c, release notes: no

#9043 Avoid installing anything from Homebrew in test runs
  kokoro/macos/objectivec_cocoapods_integration/build.sh
  kokoro/macos/prepare_build_macos_rc
  kokoro/macos/ruby23/build.sh
  kokoro/macos/ruby24/build.sh
  kokoro/macos/ruby25/build.sh
  kokoro/macos/ruby26/build.sh
  kokoro/macos/ruby27/build.sh
  kokoro/macos/ruby30/build.sh
Labels: cla: yes, release notes: no

#9050 Update changelog for 3.18.1
  CHANGES.txt
Labels: cla: yes, release notes: no

#9052 Change include messages to match docker
  toolchain/BUILD
Labels: cla: yes, bazel, release notes: no

#9051 Update protobuf version to 3.18.1
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  js/package.json
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: cla: yes, release notes: no

#9047 Adopt pure ruby DSL implementation for JRuby
  Makefile.am
  conformance/failure_list_jruby.txt
  ruby/Rakefile
  ruby/compatibility_tests/v3.0.0/test.sh
  ruby/lib/google/protobuf.rb
  ruby/pom.xml
  ruby/src/main/java/com/google/protobuf/jruby/RubyBuilder.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyDescriptorPool.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyEnumBuilderContext.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyEnumDescriptor.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyFieldDescriptor.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyFileBuilderContext.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyMap.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessageBuilderContext.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyOneofBuilderContext.java
  ruby/src/main/java/com/google/protobuf/jruby/Utils.java
  ruby/src/main/java/google/ProtobufJavaService.java
  ruby/tests/basic.rb
  ruby/tests/common_tests.rb
  ruby/tests/stress.rb
  ruby/travis-test.sh
  src/google/protobuf/compiler/ruby/ruby_generator.cc
  update_version.py
Labels: cla: yes, ruby, release notes: yes

#9060 Changing toolchain names
  toolchain/BUILD
  toolchain/toolchains.bazelrc
Labels: cla: yes, bazel, release notes: no

#9008 Stop using EasyMock classextension
  WORKSPACE
  java/core/BUILD
  java/core/pom.xml
  java/core/src/test/java/com/google/protobuf/ServiceTest.java
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
Labels: cla: yes, java, release notes: no

#9061 Merge 3.18.x into master
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  js/package.json
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: cla: yes, release notes: no

#9171 Remove unittest2 imports
  python/google/protobuf/internal/_parameterized.py
  python/google/protobuf/internal/generator_test.py
  python/google/protobuf/internal/proto_builder_test.py
Labels: cla: yes, python, release notes: no
