Repository protocolbuffers/protobuf, pull requests merged in 2022-02, with the labels that each got.

#9459 Update package.xml
  php/ext/google/protobuf/package.xml
Labels: php, release notes: no

#9460 Fix checking Windows platform with preprocessor
  src/google/protobuf/io/zero_copy_stream_unittest.cc
Labels: c++, windows, release notes: no

#9178 Use matching soname when building with CMake as Makefile
  cmake/libprotobuf.cmake
  update_version.py
Labels: cla: yes, cmake, release notes: no

#7123 Add cmake option `protobuf_INSTALL` to not install files
  cmake/CMakeLists.txt
Labels: cla: yes, cmake, release notes: yes

#9370 fixing php 8.1 deprecation warnings
  kokoro/linux/dockerfile/test/php80/Dockerfile
  php/ext/google/protobuf/array.c
  php/ext/google/protobuf/map.c
  php/ext/google/protobuf/protobuf.h
  php/src/Google/Protobuf/Internal/GPBUtil.php
  php/src/Google/Protobuf/Internal/GPBWire.php
  php/src/Google/Protobuf/Internal/MapField.php
  php/src/Google/Protobuf/Internal/MapFieldIter.php
  php/src/Google/Protobuf/Internal/RepeatedField.php
  php/src/Google/Protobuf/Internal/RepeatedFieldIter.php
  tests.sh
Labels: php, release notes: no

#9263 [cleanup] Msvc warnings
  BUILD
  cmake/CMakeLists.txt
  cmake/README.md
  cmake/tests.cmake
  src/google/protobuf/descriptor.cc
  src/google/protobuf/io/io_win32_unittest.cc
  src/google/protobuf/stubs/int128.cc
Labels: cla: yes, c++, release notes: no

#9418 Match service argument names to abstract interface
  CONTRIBUTORS.txt
  python/google/protobuf/service_reflection.py
Labels: python, release notes: no

#9193 add test for clone of non-empty message
  csharp/src/Google.Protobuf.Test/UnknownFieldSetTest.cs
Labels: cla: yes, c#, release notes: no

#9307 [CMAKE] `protobuf::libprotoc` and `protobuf::protoc` should be optional in legacy `protobuf-module.cmake` when crossing compiling.
  cmake/protobuf-module.cmake.in
Labels: cmake, release notes: no

#9160 for ios shared library export api visibility
  cmake/libprotobuf-lite.cmake
  cmake/libprotobuf.cmake
Labels: cla: yes, c++, ios, cmake, release notes: no

#8737 Enable testing via CTest
  cmake/CMakeLists.txt
  cmake/README.md
  cmake/tests.cmake
Labels: cla: yes, c++, cmake, release notes: yes

#8736 Add option to use external GTest in CMake
  cmake/README.md
  cmake/tests.cmake
Labels: cla: yes, c++, cmake, release notes: yes

#9476 objective-c: Add `objc_class_prefix` generation option.
  objectivec/README.md
  src/google/protobuf/compiler/objectivec/objectivec_generator.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
Labels: objective-c, release notes: yes

#9480 Dropped support for Python < 3.7
  kokoro/linux/dockerfile/test/java_stretch/Dockerfile
  kokoro/linux/python36/build.sh
  kokoro/linux/python36/continuous.cfg
  kokoro/linux/python36/presubmit.cfg
  kokoro/linux/python36_cpp/build.sh
  kokoro/linux/python36_cpp/continuous.cfg
  kokoro/linux/python36_cpp/presubmit.cfg
  kokoro/release/python/windows/build_artifacts.bat
  kokoro/release/python/windows/build_single_artifact.bat
  python/README.md
  python/setup.py
  python/tox.ini
  tests.sh
Labels: python, release notes: yes

#9218 [Ruby] Message.decode/encode: Add max_recursion_depth option
  ruby/ext/google/protobuf_c/message.c
  ruby/lib/google/protobuf.rb
  ruby/lib/google/protobuf/message_exts.rb
  ruby/src/main/java/com/google/protobuf/jruby/RubyMap.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/tests/encode_decode_test.rb
Labels: enhancement, cla: yes, ruby, wait for user action, release notes: yes

#9485 Ignore Eclipse metafiles
  .gitignore
Labels: java, release notes: no

#9486 Ruby: rename max_recursion_depth to recursion_limit
  ruby/ext/google/protobuf_c/message.c
  ruby/src/main/java/com/google/protobuf/jruby/RubyMap.java
  ruby/src/main/java/com/google/protobuf/jruby/RubyMessage.java
  ruby/tests/common_tests.rb
  ruby/tests/encode_decode_test.rb
Labels: ruby, release notes: yes

#9462 fix: use E_USER_ERROR for trigger_error calls
  php/src/Google/Protobuf/Internal/DescriptorPool.php
  php/src/Google/Protobuf/Internal/Message.php
Labels: bug, php, release notes: no

#9458 fix: [PHP] add missing reserved classnames
  php/ext/google/protobuf/names.c
  php/src/Google/Protobuf/Internal/GPBUtil.php
  php/tests/GeneratedClassTest.php
  php/tests/proto/test_reserved_enum_lower.proto
  php/tests/proto/test_reserved_enum_upper.proto
  php/tests/proto/test_reserved_enum_value_lower.proto
  php/tests/proto/test_reserved_enum_value_upper.proto
  php/tests/proto/test_reserved_message_lower.proto
  php/tests/proto/test_reserved_message_upper.proto
  src/google/protobuf/compiler/php/php_generator.cc
Labels: php, release notes: yes

#9493 Added Embedded Proto to options.md
  docs/options.md
Labels: release notes: no

#9342 Fix conversion of singleton classes in Ruby
  ruby/ext/google/protobuf_c/convert.c
  ruby/tests/basic.rb
Labels: ruby, release notes: yes

#9301 #9293 - incompatible return type php 8.1
  php/src/Google/Protobuf/Internal/MapField.php
  php/src/Google/Protobuf/Internal/MapFieldIter.php
  php/src/Google/Protobuf/Internal/RepeatedField.php
  php/src/Google/Protobuf/Internal/RepeatedFieldIter.php
Labels: php, release notes: no

#6307 Add an option to preserve proto names in JsonFormatter
  csharp/src/Google.Protobuf.Test/JsonFormatterTest.cs
  csharp/src/Google.Protobuf/JsonFormatter.cs
Labels: cla: yes, c#, release notes: yes

#9497 Fix the benchmark job and delete old Python configs
  kokoro/linux/benchmark/build.sh
  kokoro/linux/benchmark/run.sh
  kokoro/linux/dockerfile/test/java_stretch/Dockerfile
  kokoro/linux/dockerfile/test/python35/Dockerfile
  kokoro/linux/dockerfile/test/python36/Dockerfile
  kokoro/linux/python27/build.sh
  kokoro/linux/python27/continuous.cfg
  kokoro/linux/python27/presubmit.cfg
  kokoro/linux/python27_cpp/build.sh
  kokoro/linux/python27_cpp/continuous.cfg
  kokoro/linux/python27_cpp/presubmit.cfg
  kokoro/linux/python35/build.sh
  kokoro/linux/python35/continuous.cfg
  kokoro/linux/python35/presubmit.cfg
  kokoro/linux/python35_cpp/build.sh
  kokoro/linux/python35_cpp/continuous.cfg
  kokoro/linux/python35_cpp/presubmit.cfg
Labels: release notes: no

#9494 Fixing Kotlin tests
  BUILD
  java/kotlin/BUILD
  java/kotlin/generate-sources-build.xml
  src/google/protobuf/compiler/java/java_message.cc
  src/google/protobuf/compiler/java/java_message_field.cc
  src/google/protobuf/compiler/java/java_message_field_lite.cc
  src/google/protobuf/compiler/java/java_message_lite.cc
Labels: release notes: no, kotlin

#9505 Add protoc-gen-fieldmask to third-party doc
  docs/third_party.md
Labels: release notes: no

#9508 Use internal kotlin gen rule
  BUILD
  Makefile.am
  java/kotlin-lite/BUILD
  java/kotlin-lite/src/test/proto/com/google/protobuf/evil_names_proto2.proto
  java/kotlin-lite/src/test/proto/com/google/protobuf/evil_names_proto3.proto
  java/kotlin-lite/src/test/proto/com/google/protobuf/multiple_files_proto3.proto
  java/kotlin/BUILD
  protobuf.bzl
Labels: release notes: no, kotlin

#9518 Add test scope to kotlin-test for protobuf-kotlin-lite
  java/kotlin-lite/pom.xml
Labels: release notes: yes, kotlin

#9525 Integrate from Piper for C++, Java, and Python
  CHANGES.txt
  src/google/protobuf/any.pb.cc
  src/google/protobuf/api.pb.cc
  src/google/protobuf/arenastring.h
  src/google/protobuf/compiler/cpp/cpp_string_field.cc
  src/google/protobuf/compiler/plugin.pb.cc
  src/google/protobuf/descriptor.pb.cc
  src/google/protobuf/descriptor_database.cc
  src/google/protobuf/descriptor_database.h
  src/google/protobuf/descriptor_database_unittest.cc
  src/google/protobuf/map_field.h
  src/google/protobuf/map_type_handler.h
  src/google/protobuf/message_lite.h
  src/google/protobuf/port.h
  src/google/protobuf/source_context.pb.cc
  src/google/protobuf/type.pb.cc
  src/google/protobuf/wrappers.pb.cc
Labels: release notes: no, sync

#9528 Integrate from Piper for C++, Java, and Python
  CHANGES.txt
  cmake/extract_includes.bat.in
  java/core/src/test/java/com/google/protobuf/TestSchemas.java
  python/google/protobuf/internal/type_checkers.py
  python/google/protobuf/pyext/message.cc
  python/google/protobuf/pyext/scoped_pyobject_ptr.h
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/command_line_interface_unittest.cc
  src/google/protobuf/compiler/importer.cc
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/repeated_field.cc
  src/google/protobuf/repeated_field.h
  src/google/protobuf/repeated_field_unittest.cc
Labels: release notes: no, sync

#9532 Revert "objective-c: Add `default_objc_class_prefix` generation option."
  objectivec/README.md
  src/google/protobuf/compiler/objectivec/objectivec_generator.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
Labels: objective-c, release notes: no

#9529 cmake: Set correct sonames for libprotobuf-lite.so and libprotoc.so (#8635)
  cmake/libprotobuf-lite.cmake
  cmake/libprotobuf.cmake
  cmake/libprotoc.cmake
  update_version.py
Labels: c++, release notes: yes

#9498 Add prefix_to_proto_package_mappings_path ObjC option.
  objectivec/README.md
  src/google/protobuf/compiler/objectivec/objectivec_generator.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
Labels: objective-c, release notes: yes

#9544 Rename ExpectedPrefixesCollector to PackageToPrefixesCollector
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
Labels: objective-c, release notes: no

#9543 Make the ObjC support conditional to darwin.
  configure.ac
Labels: objective-c, release notes: no

#9537 Fix package naming rule
  protobuf_release.bzl
Labels: bazel, release notes: no

#9552 [ObjC] Rename `proto_package_to_prefix_mappings_path` to `package_to_prefix_mappings_path`.
  objectivec/README.md
  src/google/protobuf/compiler/objectivec/objectivec_generator.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.cc
  src/google/protobuf/compiler/objectivec/objectivec_helpers.h
Labels: objective-c, protoc, release notes: yes

#9553 Make protoc executable names consistent
  protobuf_release.bzl
Labels: bazel, release notes: no

#9549 Update JRuby 9.2.19.0 -> 9.2.20.1 and 9.3.0.0 to 9.3.3.0.
  kokoro/linux/dockerfile/test/ruby/Dockerfile
  ruby/pom.xml
  tests.sh
Labels: ruby, release notes: no, jruby

#9554 Fix update_version.py script
  update_version.py
Labels: release notes: no

#9555 chore: gitignore ephemeral files that clangd uses
  .gitignore
Labels: release notes: no

#9558 Change toolchain artifact name patterns
  toolchain/cc_toolchain_config.bzl
Labels: bazel, release notes: no
