Repository protocolbuffers/protobuf, pull requests merged in 2022-10, with the labels that each got.

#10693 Fixed spelling error and removed patch from upb.
  protobuf_deps.bzl
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
  upb.patch
Labels: release notes: no

#10694 Added staleness test to keep PHP copy of upb in sync with the upb repo
  conformance/failure_list_php_c.txt
  php/BUILD.bazel
  php/ext/google/protobuf/message.c
  php/ext/google/protobuf/php-upb.c
  php/ext/google/protobuf/php-upb.h
  protobuf_deps.bzl
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Labels: release notes: no

#10595 [PHP] Fix empty message serialization for Any
  php/src/Google/Protobuf/Internal/Message.php
  php/tests/EncodeDecodeTest.php
  php/tests/proto/test.proto
Labels: php, release notes: yes

#10594 [PHP] allow dynamic properties in Message
  php/src/Google/Protobuf/Internal/Message.php
Labels: php, release notes: yes

#10703 Update build-protoc.sh
  kokoro/release/protoc/build-protoc.sh
Labels: packaging & distribution, release notes: no

#10707 Pin Bazel to 5.1.0 for Windows builds
  kokoro/windows/bazel/build.bat
Labels: windows, testing, release notes: no

#10712 Update package.xml release notes with github link
  php/ext/google/protobuf/package.xml
Labels: php, release notes: no

#10710 Update package.xml release notes with github link
  php/ext/google/protobuf/package.xml
Labels: php, release notes: no

#10709 Update package.xml release notes with github link
  php/ext/google/protobuf/package.xml
Labels: php, release notes: no

#10715 Force uninstall protobuf in python macos builds
  kokoro/release/python/macos/build_artifacts.sh
Labels: python, packaging & distribution, release notes: no, platform related

#10717 Fix spelling errors
  .github/workflows/codespell.yml
  conformance/conformance_test.h
  objectivec/GPBCodedInputStream.h
  python/google/protobuf/internal/message_test.py
  src/google/protobuf/descriptor.h
  src/google/protobuf/text_format.cc
  update_version.py
Labels: release notes: no

#10713 Force uninstall protobuf in python macos builds
  kokoro/release/python/macos/build_artifacts.sh
Labels: python, mac, packaging & distribution, release notes: no

#10720 Add the new compiler/objectivec:line_consumer target.
  pkg/BUILD.bazel
Labels: release notes: no

#10722 Add numpy_test.py and numpy dep to python opensource
  WORKSPACE
  kokoro/linux/aarch64/python_run_tests_with_qemu_aarch64.sh
  python/BUILD.bazel
  python/google/protobuf/internal/numpy_test.py
  python/requirements.txt
Labels: python, testing, release notes: no

#10724 Add upb to test_messages_proto2_proto/test_messages_proto3_proto visibility
  src/google/protobuf/BUILD.bazel
Labels: bazel, release notes: no

#10689 [PHP]Added missing files and fix phpext_protobuf_ptr export in pecl version
  php/ext/google/protobuf/package.xml
Labels: packaging & distribution, php, release notes: yes

#10706 Add sanitized builds to Kokoro
  .bazelrc
  WORKSPACE
  kokoro/linux/bazel.sh
  kokoro/linux/bazel/common.cfg
  protobuf_deps.bzl
  src/google/protobuf/BUILD.bazel
  src/google/protobuf/compiler/parser.cc
  src/google/protobuf/io/zero_copy_stream_unittest.cc
  src/google/protobuf/map_field_test.cc
  src/google/protobuf/parse_context.h
  src/google/protobuf/stubs/bytestream.cc
Labels: testing, release notes: no

#10721 Merge pull request #10200 from tonydnewell/bugfix/protobuf-7474
  src/google/protobuf/compiler/subprocess.cc
Labels: windows, protoc, release notes: yes

#10726 Upgrade kokoro to Xcode 14
  kokoro/macos/prepare_build_macos_rc
Labels: mac, testing, release notes: no

#10725 [ObjC] Fix up clang-format directives in generate files.
  objectivec/GPBAny.pbobjc.h
  objectivec/GPBAny.pbobjc.m
  objectivec/GPBApi.pbobjc.h
  objectivec/GPBApi.pbobjc.m
  objectivec/GPBDuration.pbobjc.h
  objectivec/GPBDuration.pbobjc.m
  objectivec/GPBEmpty.pbobjc.h
  objectivec/GPBEmpty.pbobjc.m
  objectivec/GPBFieldMask.pbobjc.h
  objectivec/GPBFieldMask.pbobjc.m
  objectivec/GPBSourceContext.pbobjc.h
  objectivec/GPBSourceContext.pbobjc.m
  objectivec/GPBStruct.pbobjc.h
  objectivec/GPBStruct.pbobjc.m
  objectivec/GPBTimestamp.pbobjc.h
  objectivec/GPBTimestamp.pbobjc.m
  objectivec/GPBType.pbobjc.h
  objectivec/GPBType.pbobjc.m
  objectivec/GPBWrappers.pbobjc.h
  objectivec/GPBWrappers.pbobjc.m
  src/google/protobuf/compiler/objectivec/file.cc
Labels: objective-c, release notes: no

#10733 Upgrade kokoro to Xcode 14
  kokoro/macos/prepare_build_macos_rc
Labels: mac, testing, release notes: no

#10734 Upgrade kokoro to Xcode 14
  kokoro/macos/prepare_build_macos_rc
Labels: mac, testing, release notes: no

#10737 Upgrade to kotlin 1.6
  java/kotlin-lite/pom.xml
  java/kotlin-lite/pom_template.xml
  java/kotlin/pom.xml
  java/kotlin/pom_template.xml
Labels: release notes: no, kotlin

#10736 Upgrade to Kotlin 1.6
  java/kotlin-lite/pom.xml
  java/kotlin-lite/pom_template.xml
  java/kotlin/pom.xml
  java/kotlin/pom_template.xml
Labels: release notes: no, kotlin

#10752 Cleanup issues with internal sync
  protobuf.bzl
  python/BUILD.bazel
  python/mox.py
  python/stubout.py
Labels: cleanup, release notes: no, sync

#10732 Upgrade kokoro to Xcode 14
  kokoro/macos/prepare_build_macos_rc
  objectivec/DevTools/full_mac_build.sh
Labels: mac, testing, release notes: no

#10753 Fix mac builds
  objectivec/DevTools/full_mac_build.sh
  objectivec/Tests/CocoaPods/run_tests.sh
Labels: mac, release notes: no

#10755 Upgrading simulator version
  kokoro/macos/prepare_build_macos_rc
  kokoro/release/python/macos/build_artifacts.sh
  objectivec/DevTools/full_mac_build.sh
  objectivec/Tests/CocoaPods/run_tests.sh
Labels: objective-c, mac, testing, release notes: no

#10735 Upgrade kokoro to Xcode 14
  kokoro/macos/prepare_build_macos_rc
  kokoro/release/python/macos/build_artifacts.sh
  objectivec/DevTools/full_mac_build.sh
  objectivec/Tests/CocoaPods/run_tests.sh
Labels: mac, testing, release notes: no

#10744 3.20.x No longer define no_threadlocal on OpenBSD
  src/google/protobuf/stubs/platform_macros.h
Labels: c++, release notes: yes

#10745 3.19.x No longer define no_threadlocal on OpenBSD
  src/google/protobuf/stubs/platform_macros.h
Labels: c++, release notes: yes

#10757 protoc: accept capital X to indicate hex escape in string literals
  src/google/protobuf/descriptor_unittest.cc
  src/google/protobuf/io/tokenizer.cc
  src/google/protobuf/io/tokenizer_unittest.cc
Labels: protoc, release notes: yes

#10754 Adding c++14 flag to msvc builds
  build_defs/cpp_opts.bzl
Labels: windows, bazel, release notes: no

#10743 21.x No longer define no_threadlocal on OpenBSD
  src/google/protobuf/stubs/platform_macros.h
Labels: c++, release notes: yes

#10770 Mark default instance as immutable first to avoid race during static initialization of default instances.
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
Labels: java, release notes: yes

#10763 Auto capitalize enums name in Ruby (#10454)
  ruby/compatibility_tests/v3.0.0/tests/basic.rb
  ruby/ext/google/protobuf_c/message.c
  ruby/src/main/java/com/google/protobuf/jruby/RubyEnumDescriptor.java
  ruby/tests/basic_test.proto
  ruby/tests/basic_test_proto2.proto
  ruby/tests/common_tests.rb
  ruby/tests/generated_code.proto
  ruby/tests/generated_code_proto2.proto
  ruby/tests/repeated_field_test.rb
Labels: ruby, release notes: yes

#10771 Merge pull request #10770 from protocolbuffers/googleberg-cl-480629524
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
Labels: java, release notes: yes

#10766 Edit toolchain to work with absl dep
  toolchain/BUILD.bazel
Labels: packaging & distribution, release notes: no, platform related

#10772 Cherrypick toolchain changes
  toolchain/BUILD.bazel
Labels: packaging & distribution, release notes: no, platform related

#10777 Fix bazel builds
  pkg/BUILD.bazel
Labels: packaging & distribution, release notes: no

#10779 Bump upb version
  protobuf_deps.bzl
  ruby/ext/google/protobuf_c/ruby-upb.c
  ruby/ext/google/protobuf_c/ruby-upb.h
Labels: integration, release notes: no

#10773 Do not force C++14
  build_defs/cpp_opts.bzl
  src/google/protobuf/stubs/common.h
Labels: c++, release notes: no

#10783 Bump upb 21.x
  protobuf_deps.bzl
Labels: integration, release notes: no

#10767 Add remote caching to bazel builds
  kokoro/common/bazel_flags.sh
  kokoro/common/bazel_wrapper.sh
  kokoro/linux/bazel.sh
  kokoro/macos/cpp/build.sh
  kokoro/macos/cpp/common.cfg
  kokoro/macos/objectivec_ios_debug/common.cfg
  kokoro/macos/objectivec_ios_release/common.cfg
  kokoro/macos/objectivec_osx/common.cfg
  kokoro/macos/php74/common.cfg
  kokoro/macos/php80/common.cfg
  kokoro/macos/python/build.sh
  kokoro/macos/python/common.cfg
  kokoro/macos/python_cpp/build.sh
  kokoro/macos/python_cpp/common.cfg
  kokoro/macos/ruby25/common.cfg
  kokoro/macos/ruby26/common.cfg
  kokoro/macos/ruby27/common.cfg
  kokoro/macos/ruby30/common.cfg
  kokoro/macos/ruby31/common.cfg
  kokoro/macos/test_php.sh
  kokoro/windows/bazel/build.bat
  kokoro/windows/bazel/common.cfg
  objectivec/DevTools/full_mac_build.sh
  ruby/travis-test.sh
Labels: testing, release notes: no

#10785 21.x 202210180838
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/README.md
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite.md
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
  version.json
Labels: release notes: no

#10784 C# release fixes
  csharp/build_release.sh
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
Labels: c#, packaging & distribution, release notes: no

#10787 21.x 202210181433
  version.json
Labels: integration, release notes: no

#10788 Merge 21.8 into main
  .github/workflows/codespell.yml
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto2.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/README.md
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite.md
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: integration, release notes: no

#10718 Add serialVersionUID to ByteString and subclasses
  java/core/src/main/java/com/google/protobuf/ByteString.java
Labels: java, release notes: yes

#10786 Update zlib to 1.2.13.
  protobuf_deps.bzl
Labels: bazel, release notes: yes, dependencies

#10795 Fix C# Builds
  csharp/build_release.sh
Labels: c#, packaging & distribution, release notes: no

#10807 Target macOS 10.9 (#10802)
  toolchain/BUILD.bazel
Labels: python, release notes: yes

#10808 Reserve extension id 1156 for perfetto
  docs/options.md
Labels: release notes: no

#10801 Rename C# files to indicate generated code
  csharp/.gitignore
  csharp/BUILD.bazel
  csharp/generate_protos.sh
  csharp/src/AddressBook/Addressbook.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/MapUnittestProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto2.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/TestMessagesProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/Unittest.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestCustomOptionsProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestImport.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestImportProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestImportPublic.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestImportPublicProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestIssue6936A.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestIssue6936B.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestIssue6936C.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestIssues.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestProto3.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestProto3Optional.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestSelfreferentialOptions.pb.cs
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestWellKnownTypes.pb.cs
  csharp/src/Google.Protobuf/Compiler/Plugin.pb.cs
  csharp/src/Google.Protobuf/Reflection/Descriptor.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Any.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Api.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Duration.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Empty.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/FieldMask.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/SourceContext.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Struct.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Timestamp.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Type.pb.cs
  csharp/src/Google.Protobuf/WellKnownTypes/Wrappers.pb.cs
Labels: c#, release notes: no

#10811 Replace libc strdup usage with internal impl to restore musl compat.
  ruby/ext/google/protobuf_c/message.c
Labels: ruby, release notes: yes, platform related

#10818 Replace libc strdup usage with internal impl to restore musl compat
  ruby/ext/google/protobuf_c/message.c
Labels: ruby, release notes: yes, sync

#10819 Update zlib to 1.2.13
  protobuf_deps.bzl
Labels: bazel, release notes: yes, dependencies

#10821 Clean up the dotnet test output
  csharp/src/Google.Protobuf.Test/RefStructCompatibilityTest.cs
Labels: c#, release notes: no

#10823 Update changelog and versions for 21.9 release
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/README.md
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite.md
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
  version.json
Labels: release notes: no

#10829 Merge 21.x into main
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/README.md
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite.md
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: release notes: no
