Repository protocolbuffers/protobuf, pull requests merged in 2022-07, with the labels that each got.

#10180 Remove autotools protoc scripts
  protoc-artifacts/Dockerfile
  protoc-artifacts/README.md
  protoc-artifacts/build-protoc.sh
  protoc-artifacts/build-zip.sh
Labels: autotools, release notes: no

#10201 Avoid INT_MIN in obj-c codegen
  src/google/protobuf/compiler/objectivec/objectivec_enum.cc
Labels: objective-c, release notes: no

#10200 Fix for grpc.tools #17995 & protobuf #7474 (handle UTF-8 paths in argumentfile)
  src/google/protobuf/compiler/subprocess.cc
Labels: windows, protoc, release notes: yes

#10216 Disabling broken mac php tests
  kokoro/macos/php7.0_mac/build.sh
  kokoro/macos/php7.3_mac/build.sh
Labels: php, testing, release notes: no

#10217 Disabling broken mac php tests
  kokoro/macos/php7.0_mac/build.sh
  kokoro/macos/php7.3_mac/build.sh
Labels: php, testing, release notes: no

#10218 Disabling broken mac php tests
  kokoro/macos/php7.0_mac/build.sh
  kokoro/macos/php7.3_mac/build.sh
Labels: php, testing, release notes: no

#10219 Disabling broken mac php tests
  kokoro/macos/php7.0_mac/build.sh
  kokoro/macos/php7.3_mac/build.sh
Labels: php, testing, release notes: no

#10202 Fix maven pom files
  java/protoc/pom.xml
  java/util/pom_template.xml
Labels: java, bazel, release notes: no

#10126 Fix Timestamps.fromDate to correctly handle java.sql.Timestamps before unix epoch
  java/util/src/main/java/com/google/protobuf/util/Timestamps.java
  java/util/src/test/java/com/google/protobuf/util/TimestampsTest.java
Labels: java, release notes: yes

#10220 Slightly prettier way to express int min
  src/google/protobuf/compiler/objectivec/objectivec_enum.cc
Labels: objective-c, release notes: no

#10224 Cherry-pick composer fix
  kokoro/linux/dockerfile/test/php_32bit/Dockerfile
  php/composer.json
Labels: php, testing, release notes: no

#10225 Cherry-pick composer fix
  kokoro/linux/dockerfile/test/php_32bit/Dockerfile
  php/composer.json
Labels: php, testing, release notes: no

#10226 Cherry-pick composer fix
  kokoro/linux/dockerfile/test/php_32bit/Dockerfile
  php/composer.json
Labels: php, testing, release notes: no

#10227 Cherry-pick composer fix
  kokoro/linux/dockerfile/test/php_32bit/Dockerfile
  php/composer.json
Labels: php, testing, release notes: no

#10232 "Fixed" Visual Studio constinit errors
  src/google/protobuf/port_def.inc
Labels: c++, release notes: no

#10188 Add explicit abort() at the end of AlignFail
  src/google/protobuf/generated_message_tctable_impl.h
Labels: c++, release notes: no

#10243 Adding Github Action to keep CMake generated file lists up to date
  .github/workflows/generated_cmake.yml
  BUILD.bazel
  Makefile.am
  build_files_updated_unittest.sh
  cmake/update_file_lists.sh
  pkg/BUILD.bazel
  src/google/protobuf/util/BUILD.bazel
Labels: cmake, release notes: no

#10206 [SUGGESTED FIX] Fix conformance tests failing due to unexpected const qualifier
  conformance/conformance_cpp.cc
Labels: c++, release notes: no

#10241 Add bazel rule to build C# release artifacts
  Makefile.am
  csharp/BUILD.bazel
  csharp/build_release.sh
  kokoro/linux/bazel_distcheck/build.sh
Labels: c#, bazel, release notes: no

#10244 Expose plugin protos for C#
  Makefile.am
  csharp/generate_protos.sh
  csharp/src/Google.Protobuf/Compiler/Plugin.cs
  src/google/protobuf/compiler/plugin.proto
Labels: c#, release notes: yes

#10254 Integrate from Piper for C++, Java, and Python
  CHANGES.txt
  benchmarks/java/src/main/java/com/google/protobuf/ProtoCaliperBenchmark.java
  java/core/src/test/java/com/google/protobuf/LiteEqualsAndHashTest.java
  python/google/protobuf/internal/descriptor_test.py
  python/google/protobuf/internal/message_test.py
  src/google/protobuf/arena.cc
  src/google/protobuf/arena.h
  src/google/protobuf/arena_unittest.cc
  src/google/protobuf/compiler/command_line_interface.cc
  src/google/protobuf/compiler/cpp/helpers.cc
  src/google/protobuf/compiler/cpp/helpers.h
  src/google/protobuf/compiler/cpp/message.cc
  src/google/protobuf/compiler/subprocess.cc
  src/google/protobuf/io/coded_stream.h
  src/google/protobuf/map.h
  src/google/protobuf/map_test.inc
  src/google/protobuf/port_def.inc
  src/google/protobuf/port_undef.inc
  src/google/protobuf/repeated_field.h
  src/google/protobuf/util/json_util.h
  src/google/protobuf/util/json_util_test.cc
Labels: release notes: no

#10259 Remove final modifier on private methods. It's useless.
  java/core/src/main/java/com/google/protobuf/BinaryWriter.java
  java/core/src/main/java/com/google/protobuf/GeneratedMessageLite.java
Labels: java, release notes: no

#10041 Add "readonly" as a keyword for PHP and add previous classnames to descriptor pool
  Makefile.am
  php/BUILD.bazel
  php/composer.json
  php/ext/google/protobuf/def.c
  php/ext/google/protobuf/names.c
  php/ext/google/protobuf/names.h
  php/ext/google/protobuf/protobuf.c
  php/src/Google/Protobuf/Internal/Descriptor.php
  php/src/Google/Protobuf/Internal/DescriptorPool.php
  php/src/Google/Protobuf/Internal/EnumDescriptor.php
  php/src/Google/Protobuf/Internal/GPBUtil.php
  php/tests/GeneratedClassTest.php
  php/tests/PreviouslyGeneratedClassTest.php
  php/tests/generated_previous/GPBMetadata/ProtoPrevious/TestPreviouslyUnreservedMessage.php
  php/tests/generated_previous/Previous/readonly.php
  php/tests/proto/test_reserved_enum_lower.proto
  php/tests/proto/test_reserved_enum_upper.proto
  php/tests/proto/test_reserved_enum_value_lower.proto
  php/tests/proto/test_reserved_enum_value_upper.proto
  php/tests/proto/test_reserved_message_lower.proto
  php/tests/proto/test_reserved_message_upper.proto
  php/tests/proto_previous/test_previously_unreserved_message.proto
  src/google/protobuf/compiler/php/php_generator.cc
Labels: php, release notes: yes

#10261 Cygwin: error: ‘constinit’ variable ‘google::protobuf::_Struct_default_instance_’ does not have a constant initializer #9562
  src/google/protobuf/port_def.inc
Labels: c++, release notes: no

#10267 Add tests for C# behavior around invalid UTF-8
  csharp/src/Google.Protobuf.Test/ParsingPrimitivesTest.cs
  csharp/src/Google.Protobuf.Test/WritingPrimitivesTest.cs
Labels: c#, release notes: no

#10264 Update UPB version
  protobuf_deps.bzl
Labels: release notes: no, dependencies

#10265 Pick up upb cherry-picks for 21.x release.
  protobuf_deps.bzl
Labels: python, release notes: yes

#10272 Fix distribution test failures
  Makefile.am
Labels: c#, kokoro:run, kokoro:force-run, release notes: no

#10271 Fix #9947: make the ABI identical between debug and non-debug builds
  src/google/protobuf/message_lite.cc
  src/google/protobuf/metadata_lite.h
Labels: c++, release notes: yes

#10273 Cherry-pick fixes for upcoming 21.3 release
  CHANGES.txt
  Protobuf-C++.podspec
  protobuf_deps.bzl
  src/google/protobuf/message_lite.cc
  src/google/protobuf/metadata_lite.h
  src/google/protobuf/port_def.inc
Labels: release notes: no

#10275 Update version.json to: 21.3-dev
  version.json
Labels: release notes: no

#10276 Update comment generator to apply to maps
  src/google/protobuf/compiler/objectivec/objectivec_field.cc
Labels: objective-c, release notes: no

#10286 Upgrade upb and update CHANGES.txt
  CHANGES.txt
  protobuf_deps.bzl
Labels: release notes: no

#10165 Add __unused to variable to silence unused-variable warning
  objectivec/GPBUtilities.m
Labels: objective-c, release notes: no

#10269 Disambiguate generated properties in C#
  csharp/protos/unittest_issues.proto
  csharp/src/Google.Protobuf.Test.TestProtos/UnittestIssues.cs
  csharp/src/Google.Protobuf.Test/testprotos.pb
  src/google/protobuf/compiler/csharp/csharp_helpers.cc
Labels: c#, release notes: yes

#10290 Upgrade to com.google:google:5 for protoc artifact
  java/protoc/pom.xml
  protoc-artifacts/pom.xml
Labels: java, release notes: no

#10295 Update the release date in package.xml
  php/ext/google/protobuf/package.xml
Labels: php, release notes: no

#10297 Update developer username in package.xml
  php/ext/google/protobuf/package.xml
Labels: php, release notes: no

#10299 Update version.json to: 21.4-dev
  version.json
Labels: release notes: no

#10298 Reduce the required alignment of ArenaString from 8 to 4
  src/google/protobuf/arenastring.cc
Labels: c++, release notes: yes

#10313 Merge 21.4 version update and changelog
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/README.md
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite.md
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
  version.json
Labels: release notes: no

#10306 Implement cmake linux tests
  CMakeLists.txt
  Makefile.am
  cmake/conformance.cmake
  cmake/examples.cmake
  cmake/extract_includes.bat.in
  cmake/install.cmake
  cmake/tests.cmake
  kokoro/linux/cmake/build.sh
  kokoro/linux/cmake/continuous.cfg
  kokoro/linux/cmake/presubmit.cfg
  kokoro/linux/cmake_install/build.sh
  kokoro/linux/cmake_install/continuous.cfg
  kokoro/linux/cmake_install/presubmit.cfg
Labels: linux, cmake, release notes: no

#9391 Support indented JSON formatting in C#
  Makefile.am
  csharp/src/Google.Protobuf.Test/JsonFormatterSettingsTest.cs
  csharp/src/Google.Protobuf.Test/JsonFormatterTest.cs
  csharp/src/Google.Protobuf/JsonFormatter.cs
Labels: enhancement, c#, release notes: yes

#10293 CMake: use add_compile_options instead of add_definitions for compile options
  CMakeLists.txt
Labels: c++, cmake, release notes: yes

#10316 Fix CMake build of test common
  cmake/tests.cmake
Labels: cmake, release notes: no

#10317 Update version.json to: 21.5-dev
  version.json
Labels: release notes: no

#10318 Merge 21.x into main
  CHANGES.txt
  Protobuf-C++.podspec
  Protobuf.podspec
  configure.ac
  csharp/Google.Protobuf.Tools.nuspec
  csharp/src/Google.Protobuf/Google.Protobuf.csproj
  java/README.md
  java/bom/pom.xml
  java/core/pom.xml
  java/kotlin-lite/pom.xml
  java/kotlin/pom.xml
  java/lite.md
  java/lite/pom.xml
  java/pom.xml
  java/util/pom.xml
  php/ext/google/protobuf/package.xml
  php/ext/google/protobuf/protobuf.h
  protobuf_version.bzl
  protoc-artifacts/pom.xml
  python/google/protobuf/__init__.py
  ruby/google-protobuf.gemspec
  ruby/pom.xml
  src/Makefile.am
  src/google/protobuf/any.pb.h
  src/google/protobuf/api.pb.h
  src/google/protobuf/arenastring.cc
  src/google/protobuf/compiler/plugin.pb.h
  src/google/protobuf/descriptor.pb.h
  src/google/protobuf/duration.pb.h
  src/google/protobuf/empty.pb.h
  src/google/protobuf/field_mask.pb.h
  src/google/protobuf/port_def.inc
  src/google/protobuf/source_context.pb.h
  src/google/protobuf/struct.pb.h
  src/google/protobuf/stubs/common.h
  src/google/protobuf/timestamp.pb.h
  src/google/protobuf/type.pb.h
  src/google/protobuf/wrappers.pb.h
Labels: release notes: no

#10322 Create placeholders for windows cmake builds
  kokoro/windows/cmake/build.bat
  kokoro/windows/cmake/continuous.cfg
  kokoro/windows/cmake/presubmit.cfg
  kokoro/windows/cmake_install/build.bat
  kokoro/windows/cmake_install/continuous.cfg
  kokoro/windows/cmake_install/presubmit.cfg
  kokoro/windows/cmake_nmake/build.bat
  kokoro/windows/cmake_nmake/continuous.cfg
  kokoro/windows/cmake_nmake/presubmit.cfg
Labels: cmake, release notes: no

#10324 Update python/release.sh to handle delay between twine upload and pip install
  python/release.sh
Labels: release notes: no

#10326 Remove distcheck and dist_install Kokoro tests
  kokoro/linux/bazel_distcheck/build.sh
  kokoro/linux/bazel_distcheck/common.cfg
  kokoro/linux/bazel_distcheck/continuous.cfg
  kokoro/linux/bazel_distcheck/presubmit.cfg
  kokoro/linux/cmake_distcheck/build.sh
  kokoro/linux/cmake_distcheck/continuous.cfg
  kokoro/linux/cmake_distcheck/presubmit.cfg
  kokoro/linux/cpp_distcheck/build.sh
  kokoro/linux/cpp_distcheck/continuous.cfg
  kokoro/linux/cpp_distcheck/presubmit.cfg
  kokoro/linux/dist_install/build.sh
  kokoro/linux/dist_install/continuous.cfg
  kokoro/linux/dist_install/presubmit.cfg
  kokoro/macos/cpp_distcheck/build.sh
  kokoro/macos/cpp_distcheck/continuous.cfg
  kokoro/macos/cpp_distcheck/presubmit.cfg
  tests.sh
Labels: release notes: no
